.icon-picker-wrapper {
  width: 225px;
}

.icon-collection {
  display: flex;
  margin-left: 5px;
  width: 230px;
  flex-wrap: wrap;
}
.icon-collection-title {
  text-align: center;
  color: rgba(127, 135, 157, .45);
  font-weight: bold;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.icon-title {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .selected-icon-background {
    width: 34px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF1FF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }

}

.search {
  display: flex;
  margin: 10px 0 10px 0;

}

.icon-container {
  margin: 7px;
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  width: 30px;
  height: 30px;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.greyIcon {
  filter: brightness(.5);
}
