<div class="icon-picker-wrapper">
  <div class="icon-title" [ngStyle]="{'color': !!selectedIconLocalUrl ? '#1F195E' : showError ? '#E32C66' : '#8e8e93'}">
    <div>
      <span>Icon</span>
    </div>
    <div class="selected-icon-background">
      <!--{{selectedIconPicker | json}}-->
      <img draggable="false" *ngIf="selectedIconLocalUrl" class="search-icon" (click)="unselectIcon()" [src]="selectedIconLocalUrl | resolveAsset" alt="">
    </div>
  </div>
  <div class="search">
    <app-round-input
            [type]="'text'"
            [placeholder]="'Search icons'"
            [focused]="false"
            [minWidth]="'0'"
            [closeIcon]="true"
            (ontextupdate)="search($event)"
    ></app-round-input>
  </div>
  <div class="ds-mt-15 icon-collection-title" *ngIf="iconCollectionTitle">{{iconCollectionTitle}}</div>
  <div class="icon-collection ds-mt-5" *ngIf="icons.length; else empty">
    <div class="icon-container" *ngFor="let icon of icons" (click)="changeIcon(icon)">
      <div class="icon-wrapper" [customToolTip]="iconTooltipText(icon)">
        <img draggable="false" class="icon"  [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 1 : 0}" [src]="icon.active_icon">
        <img draggable="false" class="icon greyIcon" [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 0 : 1}" [src]="icon.inactive_icon">
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="empty-state">
      <img [src]="'./assets/emptyStates/icons-empty.svg' | resolveAsset" alt="Empty">
    </div>
  </ng-template>
</div>
