.icon-collection {
  display: flex;
  padding: 16px;
  width: 294px;
  flex-wrap: wrap;
}

.icon-title {
  font-size: 20px;
  color: #8e8e93;
  font-weight: bolder;
  margin-bottom: 10px;
}

.icon-container {
  margin: 11px;
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  width: 30px;
  height: 30px;
}
.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.greyIcon {
  filter: brightness(.5);
}
