<div class="icon-picker-wrapper">
  <div class="icon-title" [ngStyle]="{'color': selectedIconId ? '#1F195E' : '#8e8e93'}">
    Icon
    <img class="search-icon" (click)="openSearchInput()" [src]="'./assets/Search Eye (Navy).svg' | resolveAsset" alt="">
  </div>
  <div class="search" *ngIf="showSearchInput">
    <app-round-input
            [type]="'text'"
            [placeholder]="'Search icons'"
            [focused]="true"
            [closeIcon]="true"
            [minWidth]="'235px'"
            (ontextupdate)="search($event)"
    ></app-round-input>
  </div>
  <div class="icon-collection">
    <div class="icon-container" *ngFor="let icon of icons$ | async" (click)="changeIcon(icon)">
      <div class="icon-wrapper" matTooltipClass="tooltip" [matTooltip]="icon.id">
        <img class="icon"  [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 1 : 0}" [src]="icon.active_icon">
        <img class="icon greyIcon" [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 0 : 1}" [src]="icon.inactive_icon">
      </div>
    </div>
  </div>
</div>
