<div class="icon-picker-wrapper">
  <div class="icon-title">Icon</div>
  <div class="icon-collection">
    <div class="icon-container" *ngFor="let icon of icons$ | async" (click)="changeIcon(icon)">
      <div class="icon-wrapper">
        <img class="icon"  [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 1 : 0}" [src]="icon.active_icon">
        <img class="icon greyIcon" [ngStyle]="{'opacity': selectedIconId === icon.id && icon.active ? 0 : 1}" [src]="icon.inactive_icon">
      </div>
    </div>
  </div>
</div>
