.icon-picker-wrapper {
  width: 225px;
}

.icon-collection {
  display: flex;
  margin-left: 5px;
  width: 230px;
  flex-wrap: wrap;
}

.icon-title {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  .search-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.search {
  display: flex;
  margin: 10px 0 10px 0;

}

.icon-container {
  margin: 7px;
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  width: 30px;
  height: 30px;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.greyIcon {
  filter: brightness(.5);
}
