<div class="select-profile-wrapper" *ngIf="stayHere$ | async">
  <div class="page-top">
    <div class="page-top_logo">
      <app-smartpass-logo [scale]="1.2"></app-smartpass-logo>
    </div>
    <div class="page-top_title">
      <img draggable="false" [src]="'./assets/Profile Switch (Navy).svg' | resolveAsset" alt="Profile Switch (Navy).svg">
      <span class="">Select profile</span>
    </div>
  </div>
  <div class="page-center">
    <div class="card-wrapper" *ngFor="let profile of availableProfiles">
      <app-display-card
        [title]="profile.title"
        [hasDivider]="true"
        [backgroundColor]="'#FFFFFF'"
        [fontSize]="'26px'"
        [icon]="profile.icon"
        [headerBottomSpace]="'15px'"
        [iconSize]="'40px'">
        <div class="button-container">
          <app-gradient-button
            [size]="'medium'"
            [width]="'160px'"
            [minHeight]="'60px'"
            [cursor]="'pointer'"
            (buttonClick)="showSpinner[profile.title] = true; switchTo(profile.redirectPath)"
          >
            {{(showSpinner[profile.title] ? null : 'Open')}}<mat-spinner *ngIf="showSpinner[profile.title]" [color]="'accent'" [diameter]="'30'"></mat-spinner>
          </app-gradient-button>
        </div>
      </app-display-card>
    </div>
  </div>
  <div class="page-bottom">
    <div class="page-bottom_user-name">
      <span>{{currentUser.display_name}}</span>
    </div>
    <div class="page-bottom_sign-out">
      <span (click)="signOut()">Sign Out</span>
    </div>
  </div>
</div>
