@import '../../sp-colors.scss';

:host {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #F8FAFF;
  .select-profile-wrapper {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    .page-top {
      .page-top_logo {
        padding-left: 15px;
      }
      .page-top_title{
        color: $navy;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 45px 0 90px 0;
        img {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        };
        span {
          font-size: 2em;
          font-weight: bold;
        }
      }
    }
    .page-center {
      display: flex;
      align-items: center;
      justify-content: center;
      .card-wrapper {
        margin: 0 20px;
        .button-container {
          width: 100%;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .page-bottom {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1 1 auto;
      .page-bottom_user-name {
        font-size: 1.5em;
        font-weight: bold;
        color: $navy;
      }
      .page-bottom_sign-out {
        margin-top: 15px;
        color: #999999;
        font-size: 1.1em;
        cursor: pointer;
      }
    }
  }
}
