@import '../../../sp-colors';

.wrapper {
  background-color: #050411;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  text-align: left;
  width: 300px;
  box-shadow: 0 5px 26px rgba(0, 0, 0, 0.15);


  .new {
    width: 46px;
    height: 20px;
    background-color: $jade;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
  }

  .info {
    color: #FFFFFF;
    margin: 20px 0;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
