<div class="pass-config-wrapper">
  <div class="pass-config-header">
      <div class="school-title">
          <img class="school-icon" src="../../../assets/School (Blue).png">
          <div class="school-name">Springfield High School</div>
      </div>
      <div class="header-settings">
          <img class="settings-icon" src="../../../assets/Gear (Blue).png">
          <div class="settings-actions">
              <div class="action-top">
                  <span class="settings-action-top-title">Future Passes</span>
                  <span>
                      <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                          <label class="onoffswitch-label" for="myonoffswitch"></label>
                      </div>
                  </span>
              </div>
              <div class="settings-divider"></div>
              <div class="action-bottom">
                  <span class="settings-action-bottom-title">Default Pass Time</span>
                  <span><input type="text" class="settings-input"></span>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="new-room-button">
  <app-gradient-button [minWidth]="'170px'"
                       [minHeight]="'60px'"
                       [hoverColor]="'#00b476'"
                       [fontSize]="'20px'"
                       [cursor]="'pointer'"
                       [leftIcon]="'./assets/Create (White).png'"
                       [leftImageWidth]="'25px'"
                       [leftImageHeight]="'25px'"
                       (click)="newRoom($event)">
    New Room
  </app-gradient-button>
</div>

<div class="data-table">
  <app-data-table [width]="'100%'" [isCheckbox]="true" [data]="data" [height]="'400px'"></app-data-table>
</div>

<div class="travel-picker">
  <app-traveltype-picker (onSelect)="choiceTravel($event)" [choices]="['unrestricted', 'restricted']" [width]="'220px'" [height]="'35px'" [altColor]="'#1f195e'" [border]="'#1f195e'"></app-traveltype-picker>
</div>
<div class="overlay" style="display: flex">
  <div class="color-picker">
      <app-color-pallet-picker></app-color-pallet-picker>
  </div>
  <div class="icon-picker">
    <app-icon-picker></app-icon-picker>
  </div>
</div>