<div class="pass-config-wrapper">
  Pass Config Works
</div>

<div class="new-room-button">
  <app-gradient-button [minWidth]="'170px'"
                       [minHeight]="'60px'"
                       [hoverColor]="'#00b476'"
                       [fontSize]="'20px'"
                       [cursor]="'pointer'"
                       [leftIcon]="'./assets/Create (White).png'"
                       [leftImageWidth]="'25px'"
                       [leftImageHeight]="'25px'"
                       (click)="newRoom($event)">
    New Room
  </app-gradient-button>
</div>
<div class="data-table">
  <app-data-table [width]="'100%'" [isCheckbox]="true" [data]="data" [height]="'400px'"></app-data-table>
</div>
<div class="travel-picker">
  <app-traveltype-picker (onSelect)="choiceTravel($event)" [choices]="['unrestricted', 'restricted']" [width]="'220px'" [height]="'35px'" [altColor]="'#1f195e'" [border]="'#1f195e'"></app-traveltype-picker>
</div>
<div class="color-picker">
    <app-color-pallet-picker></app-color-pallet-picker>
</div>