.pass-config-wrapper {
}

:host {
  width: 100%;
}

.new-room-button {
  width: 170px;
}

.travel-picker {
  margin: 30px;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.icon-picker {
  width: 50%;
}
