<div class="host" appSafariScroll>
  <div class="pass-config-wrapper">

    <div class="pass-config-container">

      <div class="pass-config-header" [style.background-color]="darkTheme.getBackground('high', true)">

        <div class="school-logo">
          <div class="school-title">
            <img class="school-icon" [src]="darkTheme.getIcon({
              iconName: './assets/School (Navy).svg',
              darkFill: 'White',
              lightFill: 'Navy'
            }) | resolveAsset">
            <div class="school-name" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ schoolName }}</div>
          </div>

          <div class="header-settings">
            <app-gradient-button
              [size]="'large'"
              [leftIcon]="'./assets/Settings (Navy).svg'"
              [gradient]="'#FFFFFF, #FFFFFF'"
              [textColor]="'#1F195E'"
              [hoverColor]="'#F5F5F5'"
              (click)="openSettings()"
            >
              <div>School <br> Settings</div>
            </app-gradient-button>
          </div>


        </div>
      </div>
    </div>
    <div class="pass-config-content">
      <div class="pinnables">
        <app-pinnable-collection [pinnables]="pinnables" [resetBulkSelect$]="pinnableCollectionBlurEvent$" (orderChangedEvent)="updatePinnablesOrder($event)" (roomEvent)="selectPinnable($event)"></app-pinnable-collection>
      </div>
    </div>
  </div>
</div>
