@import "../../../design-system";

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .host {
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     padding: 40px;
     background-color: #FBFEFF;
     overflow-y: scroll;
     .getting-started-wrapper{
       min-width: 830px;
       width: 100%;
       height: 100%;
       .accounts{
         div:first-child{
           flex-basis: 30%
         }
         div:last-child{
         }
       }
       .card-container{
         display: flex;
         &_row{
           flex: 1 0 400px;
         }
       }
     }
     .card {
       @extend .ds-flex-start-between;
       @extend .ds-flex-column;
       box-sizing: border-box;
       border-radius: 12px;
       font-size: 17px;
       color: #7F879D;
       -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
       -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
       box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);    background-color: #FFFFFF;
       overflow: hidden;
       padding: 35px;
       &_header{
         display: flex;
         align-items: center;
         font-size: 20px;
         font-weight: bold;
         color: #3D396B;
         white-space: nowrap;
         img {
           width: 27px;
           height: 27px;
         }
         span {
           padding-left: 10px;
         }
       }
       &_content {
         max-height: 155px;
         padding: 20px 30px 20px 30px;
       }
       &_title {
         margin: 0;
         font-size: 16px;
         color: #7F879D;
         display: flex;
         align-items: center;
         img {
           width: 15px;
           height: 15px;
           margin-right: 10px;
         }
       }
       &_explore-item {
         @extend .ds-flex-start-center;
         width: 40px;
         height: 40px;
         position: absolute;
         top: 30px;
         right: 30px;
         margin: auto 0;
         cursor: pointer;
         .go, .passed {
           transition: background-color .25s ease, opacity .25s ease;
           right: 0px;
         }
         .go {
           position: absolute;
           opacity: 0;
         }
         .passed {
           opacity: 1;
           position: absolute;
         }
       }
       &__tour-item {
         position: relative;
         width: 350px;
         min-height: 75px;
         margin: 20px 0 0 0;
         transition: box-shadow .25s ease;
         font-size: 14px;
         .tour-item_image {
           width: 27px;
           height: 27px;
         }
         &:hover {
           //box-shadow: 0 1px 17px rgba(0, 0, 0, .2);
         }
         &:hover > .card_explore-item > .go {
           opacity: 1;
         }
         &:hover > .card_explore-item > .passed {
           opacity: 0;
         }
         &:active {
           outline: none;
         }
         &:focus {
           outline: none;
         }
       }
     }
   }
}


.tooltip-container {
  position: relative;
  height: 100%;
  .arrow-down-container{
    opacity: 0;
    transition: .25s ease;
    position: absolute;
    bottom: -8px;
    width: 25px;
    height: 10px;
    margin-left: 5px;
    overflow: hidden;
    .arrow-down {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 4px;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.gs-banner {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 190px;
  transition: all 1s ease;
  -webkit-animation: gsBanner 1s ease 2.5s 1 forwards;
  -o-animation: gsBanner 1s ease 2.5s 1 forwards;
  animation: gsBanner 1s ease 2.5s 1 forwards;
}

@keyframes gsBanner {
  0% {
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  75% {
    opacity: 0;
    height: 0px;
    display: flex;
  }
  100% {
    margin-top: 0;
    opacity: 0;
    height: 0px;
  }
}

#TourProgressSvg {
  position: absolute;
  left: 0;
  top: 0;
}

.progress {
  width: 50px;
  height: 50px;
  fill: transparent;
}

::ng-deep .tooltip {
  padding: 15px;
  color: #7f879d !important;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
