<div class="host" appSafariScroll>
<div class="header-container">
  <div class="get-started-header">
    <div class="card ds-flex-center-between ds-flex-row" style="width: 100%; height: 100px; box-sizing: border-box">
      <div class="ds-flex-center-between ds-w-100 ds-h-100">
        <div style="font-size: 24px; font-weight: bold" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">
          SmartPass Sign-up
        </div>
        <div class="ds-flex-center-center">
          <div class="ds-mr-25">
            <span>{{OnboardProgres.progress}}</span><span>% Completed</span>
          </div>
          <div style="position: relative; width: 50px;height: 50px; transform: rotate(-90deg)">
            <svg
              id="TourProgressSvg"
              viewBox="0 0 50 50"
              class="progress">
              <circle class="circle" r="20" cx="25" cy="25" stroke-width="5" stroke="rgba(127, 135, 157, .3)"></circle>
            </svg>
            <svg
              id="TourProgressSvg"
              viewBox="0 0 50 50"
              stroke-dasharray="140"
              class="progress">
              <circle r="20" cx="25" cy="25" stroke="#00B476" stroke-width="5" [attr.stroke-dashoffset]="OnboardProgres.offset"></circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="getting-started-wrapper">
    <div *ngIf="bannerVisibility" class="gs-banner" #gsBanner>
      <div style="color: #1F195E; font-size: 55px; font-weight: bold; white-space: nowrap">
        <span [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">
          The hallway will <br>
          never be the same
        </span>
      </div>
      <div>
        <img [src]="'./assets/SP Hero.svg' | resolveAsset" alt="SP Hero.svg">
      </div>
    </div>
    <div class="tour-items">
        <div class="card card__tour-item">
          <div class="image">
            <img class="tour-item_image" [src]="'./assets/Tour (Red).svg' | resolveAsset" alt="">
          </div>

          <div class="card-container">
            <div class="card_header">
              <span [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Take a Tour</span>
            </div>
            <div class="ds-mt-10">
              Explore features with tutorial videos and learn the best way how SmartPass can work for your school.
            </div>
            <div class="ds-mt-5">
            <span>
              <a style="color: #7f879d; margin-right: 5px; text-decoration: underline; cursor: pointer" (click)="goMeetting($event)" >Schedule a call with us to walk you through set-up</a>
            </span>
              <img width="12" height="15" [src]="'./assets/External Link (Blue-Gray).svg' | resolveAsset" alt="">
            </div>
          </div>

          <div class="card_explore-item" (click)="markItem(['admin', 'gettingstarted', 'takeTour'], 'take_a_tour:start')">
            <div class="go">
              <app-icon-button
                [size]="20"
                [srcString]="'Chevron Right'"
                [eventBubbling]="true"
              >
              </app-icon-button>
            </div>
            <div class="passed">
              <img width="35"
                   *ngIf="OnboardProgres?.take_a_tour?.start.value && OnboardProgres?.take_a_tour?.end.value && OnboardProgres?.take_a_tour?.create_accounts.value"
                   [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
          </div>
        </div>
      <div class="bottom-block">

        <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Set-Up</div>

        <div class="card card__tour-item">
          <div class="image">
            <img class="tour-item_image" [src]="OnboardProgres?.setup_rooms?.start.value && OnboardProgres?.setup_rooms?.end.value ? './assets/Room (Jade).svg' : './assets/Room (Blue-Gray).svg' | resolveAsset" alt="">
          </div>
          <div class="card-container" [ngClass]="{'ds-jade': OnboardProgres?.setup_rooms?.start.value && OnboardProgres?.setup_rooms?.end.value}">
            <div class="card_header">
              <span [style.color]="OnboardProgres?.setup_rooms?.start.value && OnboardProgres?.setup_rooms?.end.value ? '#00B476' : darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">Rooms</span>
            </div>
            <div class="ds-mt-10">
              Add rooms with lots of customized options.
            </div>
          </div>

          <div class="card_explore-item" (click)="markItem(['admin', 'passconfig'], 'setup_rooms:start')">
            <div class="go">
              <app-icon-button
                [size]="20"
                [srcString]="'Chevron Right'"
                [eventBubbling]="true"
              >
              </app-icon-button>
            </div>
            <div class="passed">
              <img width="35" *ngIf="OnboardProgres?.setup_rooms?.start.value && OnboardProgres?.setup_rooms?.end.value" [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
          </div>

        </div>
        <div class="card card__tour-item">
          <div class="image">
            <img class="tour-item_image" [src]="OnboardProgres?.setup_accounts?.start.value && OnboardProgres?.setup_accounts?.end.value ? './assets/Users (Jade).svg' : './assets/Users (Blue-Gray).svg' | resolveAsset" alt="">
          </div>
          <div class="card-container" [ngClass]="{'ds-jade': OnboardProgres?.setup_accounts?.start.value && OnboardProgres?.setup_accounts?.end.value}">
            <div class="card_header">
              <span [style.color]="OnboardProgres?.setup_accounts?.start.value && OnboardProgres?.setup_accounts?.end.value ? '#00B476' : darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">Accounts</span>
            </div>
            <div class="ds-mt-10">
              Add all user accounts with an integration sync.
            </div>
          </div>

          <div class="card_explore-item" (click)="markItem(['admin', 'accounts'], 'setup_accounts:start')">
            <div class="go">
              <app-icon-button
                [size]="20"
                [srcString]="'Chevron Right'"
                [eventBubbling]="true"
              >
              </app-icon-button>
            </div>
            <div class="passed">
              <img width="35" *ngIf="OnboardProgres?.setup_accounts?.start.value && OnboardProgres?.setup_accounts?.end.value" [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
          </div>

        </div>
        <div class="card card__tour-item">
          <div class="image">
            <img class="tour-item_image" [src]="OnboardProgres?.launch_day_prep?.start.value && OnboardProgres?.launch_day_prep?.end.value ? './assets/Launch (Jade).svg' : './assets/Launch (Blue-Gray).svg' | resolveAsset" alt="">
          </div>
          <div class="card-container" [ngClass]="{'ds-jade': OnboardProgres?.launch_day_prep?.start.value && OnboardProgres?.launch_day_prep?.end.value}">
            <div class="card_header">
              <span [style.color]="OnboardProgres?.launch_day_prep?.start.value && OnboardProgres?.launch_day_prep?.end.value ? '#00B476' : darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">Prepare for Launch</span>
            </div>
            <div class="ds-mt-10">
              Launch checklists, poster print-outs, and more.
            </div>
          </div>

          <div class="card_explore-item" (click)="markItem(['admin', 'myschool'], 'launch_day_prep:start')">
            <div class="go">
              <app-icon-button
                [size]="20"
                [srcString]="'Chevron Right'"
                [eventBubbling]="true"
              >
              </app-icon-button>
            </div>
            <div class="passed">
              <img width="35" *ngIf="OnboardProgres?.launch_day_prep?.start.value && OnboardProgres?.launch_day_prep?.end.value" [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
