<div class="referral-page">
	<div class="left">
		<h1 class="ds-big-heading referral-heading"><span class="ds-blue">Get $250</span> for <span class="underline">each</span> school you refer</h1>
		<p class="referral-text">
			You will earn a $250 cash payment per referral for any school who signs up with your link, <strong>with no upper limit!</strong>
		</p>

		<h2 class="ds-big-heading referral-subheading">3 Steps to Start Earning</h2>
		<section class="referral-earning-steps">
			<div class="icon-square">
				<img [src]="'./assets/paper-plane.svg' | resolveAsset" alt="Apply to the program" />
			</div>
			<p class="referral-text">Apply to the program.</p>

			<div class="icon-square" style="align-self: start">
				<img [src]="'./assets/chain-links.svg' | resolveAsset" alt="Receive Referral Link" />
			</div>
			<p class="referral-text">If accepted, you will receive a unique referral link to share with your network!</p>

			<div class="icon-square" style="align-self: start">
				<img [src]="'./assets/cash-stack.svg' | resolveAsset" alt="Get cash on Referral" />
			</div>
			<p class="referral-text">When a referral (school) has a demo and purchases SmartPass, <strong>you'll get a $250 cash payment.</strong></p>
		</section>

		<h2 class="ds-big-heading referral-subheading">Additional Program Perks</h2>
		<section class="referral-perks">
			<div class="perk-card">
				<img style="height: 64px; width: 64px" [src]="'./assets/Gift (Alt).svg' | resolveAsset" alt="Gift" />
				<p class="referral-text">10 referrals: Bonus $500-value swag bag</p>
			</div>

			<div class="perk-card">
				<img [src]="'./assets/Group-Talk.svg' | resolveAsset" alt="People" />
				<p class="referral-text">School Leaders and Staff Community</p>
			</div>

			<div class="perk-card">
				<div class="social-icons">
					<img [src]="'./assets/Facebook.svg' | resolveAsset" alt="Facebook Icon" />
					<img [src]="'./assets/Twitter.svg' | resolveAsset" alt="Twitter Icon" />
					<img [src]="'./assets/Instagram.svg' | resolveAsset" alt="Instagram Icon" />
					<img [src]="'./assets/LinkedIn.svg' | resolveAsset" alt="LinkedIn" />
				</div>
				<p class="referral-text">Get Featured on our Social Media</p>
			</div>
		</section>

		<h2 class="ds-big-heading referral-subheading">Terms</h2>
		<section class="referral-terms">
			<ul style="width: 400px">
				<li class="referral-text">Digital ads bidding (PPC, social media) on the SmartPass brand name is not allowed</li>
				<li class="referral-text">
					<strong>Payouts will not apply in the following situations:</strong> For any sign ups who are already in an opportunity stage with
					SmartPass, or for any sign ups who have completed a demo within the last 6 months
				</li>
				<li class="referral-text">See all <span class="underline">Terms & Conditions</span></li>
			</ul>
		</section>
	</div>
	<div class="right">
		<section class="referral-sign-up" style="text-align: center">
			<h2 class="referral-subheading">TO-DO S-907</h2>
		</section>
	</div>
</div>
