<div class="referral-page">
	<div class="left">
		<h1 class="ds-big-heading referral-heading"><span class="ds-blue">Get $100</span> for <span class="underline">each</span> friend you refer</h1>
		<p class="referral-text">
			You will earn a $100 Amazon Gift Card per referral for any school who signs up with your link, <strong>with no upper limit!</strong>
		</p>

		<h2 class="ds-big-heading referral-subheading">3 Steps to Start Earning</h2>
		<section class="referral-earning-steps">
			<div class="icon-square">
				<img [src]="'./assets/paper-plane.svg' | resolveAsset" alt="Apply to the program" />
			</div>
			<p class="referral-text">Apply to the program.</p>

			<div class="icon-square" style="align-self: start">
				<img [src]="'./assets/chain-links.svg' | resolveAsset" alt="Receive Referral Link" />
			</div>
			<p class="referral-text">If accepted, you will receive a unique referral link to share with your network!</p>

			<div class="icon-square" style="align-self: start">
				<img [src]="'./assets/cash-stack.svg' | resolveAsset" alt="Get cash on Referral" />
			</div>
			<p class="referral-text">When a referral (school) has a demo and purchases SmartPass, you'll get a $100 Amazon Gift Card.</p>
		</section>

		<h2 class="ds-big-heading referral-subheading">Additional Program Perks</h2>
		<section class="referral-perks">
			<div class="perk-card">
				<div class="social-icons">
					<a href="https://www.facebook.com/smartpass" target="_blank">
						<img [src]="'./assets/Facebook.svg' | resolveAsset" alt="Facebook Icon" />
					</a>
					<a href="https://twitter.com/smartpassco" target="_blank">
						<img [src]="'./assets/Twitter.svg' | resolveAsset" alt="Twitter Icon" />
					</a>
					<a href="https://www.instagram.com/smartpasshq" target="_blank">
						<img [src]="'./assets/Instagram.svg' | resolveAsset" alt="Instagram Icon" />
					</a>
					<a href="https://www.linkedin.com/company/smartpassco" target="_blank">
						<img [src]="'./assets/LinkedIn.svg' | resolveAsset" alt="LinkedIn" />
					</a>
				</div>
				<p class="referral-text">Get Featured on our Social Media</p>
			</div>

			<div class="perk-card">
				<img [src]="'./assets/Group-Talk.svg' | resolveAsset" alt="People" />
				<p class="referral-text">School Leaders and Staff Community</p>
			</div>

			<div class="perk-card wide">
				<img style="height: 64px; width: 64px" [src]="'./assets/Gift (Alt).svg' | resolveAsset" alt="Gift" />
				<p class="referral-text">After 10 referrals, you’ll get the Ultimate Gift Bag</p>
			</div>
		</section>

		<h2 class="ds-big-heading referral-subheading">Terms</h2>
		<section class="referral-terms">
			<ul style="width: 400px">
				<li class="referral-text">Digital ads bidding (PPC, social media) on the SmartPass brand name is not allowed</li>
				<li class="referral-text">
					<strong>Payouts will not apply in the following situations:</strong> For any sign ups who are already in an opportunity stage with
					SmartPass, or for any sign ups who have completed a demo within the last 6 months
				</li>
				<li class="referral-text">
					See all <a class="underline terms" href="https://www.smartpass.app/referral-program-terms" target="_blank">Terms & Conditions</a>
				</li>
			</ul>
		</section>
	</div>
	<div class="right">
		<sp-referral-join></sp-referral-join>
	</div>
</div>
