:host{
  width: 100%;
  background-color: #F8FAFF;
  .account-wrapper{
    .accounts{
      div:first-child{
        flex-basis: 30%
      }
      div:last-child{
        flex-basis: 40%;
      }
    }
    //padding: 25px;
    .card-container{
      display: flex;
    }
    &_row{
      flex: 1 1 0;
    }
  }
  .card{
    box-sizing: border-box;
    padding: 16px 33px 20px 33px ;
    background-color: #fff;
    border-radius: 10px;
    font-size: 17px;
    color: #1F195E;
    -webkit-box-shadow: 0px 0px 5px 1px #ddd;
    -moz-box-shadow:  0px 0px 5px 1px #ddd;
    box-shadow:  0px 0px 5px 1px #ddd;
    &_header{
      font-size: 24px;
      color: #3D396B;
      white-space: nowrap;
    }
    &_title{
      font-size: 14px;
      color: #7F879D;
    }
    &__top-bar{
      display: flex;
      justify-content: center;
      align-items: center;
      .accounts, .g-suite{
        flex: 1 1 0;
      }
    }
    &__role{
      height: 200px;
      margin: 20px 0 0 0;

    }
    &__mp-btn{
      display: block;
      box-sizing: border-box;
      width: 121px;
      height: 74px;
      color: #fff;
      cursor: pointer;
      text-transform: capitalize;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: radial-gradient(circle at 73% 71%, rgb(96, 105, 129), rgb(172, 180, 193))}
  }

  @mixin flexLayout($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }

  .flex-center-between{
    @include flexLayout(center, space-between);
  }
  .flex-ceter-around{
    @include flexLayout(center, space-around);
  }
  .flex-center-center{
    @include flexLayout(center, center);
  }
  .flex-center-start{
    @include flexLayout(center, flex-start);
  }
  .flex-center-end{
    @include flexLayout(center, flex-end);
  }

  .p{
    padding: 10px;
  }
  .px{
    padding: 0 10px ;
  }
  .py{
    padding: 10px 0;
  }
  .pt { padding-top: 10px}
  .pb { padding-bottom: 10px}
  .pl { padding-left: 10px}
  .pr { padding-right: 10px}

  .m{
    margin: 10px;
  }
  .mx{
    margin: 0 10px;
  }
  .my{
    margin: 10px 0;
  }
  .mt{ margin-top: 10px}
  .mb{ margin-bottom: 10px}
  .ml{ margin-left: 10px}
  .mr{ margin-right: 10px}
}


