<div class="step-1-container">
  <div class="header">
    <div class="header_back-button" (click)="back()">
      <img class="" [src]="'./assets/Combined Shape.svg' | resolveAsset">
    </div>
    <div class="header_title">
      <img class="header_icon" [src]="'./assets/Search (Blue).png' | resolveAsset">
      <div class="header_text">Select students(s)</div>
    </div>
  </div>
  <div class="content">
    <div class="content-left">
      <div class="content-left_wrapper">
        <div>
          <div class="content-left_header">Student Groups</div>
        </div>
        <div class="content-left_groups" (click)="selectGroup(null, $event)">
          <div  class="goups-container">
            <div class="content-left_placeholder" *ngIf="groups && !groups.length">
              <div class="no-groups-dummy-image">
                <img  [src]="'./assets/emptyStates/undraw_group_selfie_ijc6.svg'" alt="undraw_group_selfie_ijc6.svg">
              </div>
              <div class="no-groups-dummy-text">
                <span>No student groups</span>
              </div>
            </div>
            <div *ngIf="groups && groups.length">
              <mat-list>
                <div *ngFor="let group of groups">
                  <mat-list-item (click)="selectGroup(group, $event)" class="group"
                                 [ngClass]="{'group_selected' : ( selectedGroup && (selectedGroup.id === group.id))}">
                    <div class="group-name">
                      <span>{{group.title}}</span>
                      <img class="group-icon"
                           [style.transform]="selectedGroup && (selectedGroup.id === group.id) ? 'rotate(-90deg)' : 'none'"
                           [src]="( selectedGroup && (selectedGroup.id === group.id)
                                    ?
                                    './assets/Disclosure Indicator (Blue).png'
                                    :
                                    './assets/Disclosure Indicator (Grey).png') | resolveAsset"
                           alt="Disclosure Indicator (Grey).png">
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </div>
              </mat-list>
            </div>
          </div>
          <div class="shadow-hint-container">
            <div class="shadow-hint"></div>
          </div>
        </div>
        <div class="content-left_create-group" *ngIf="!selectedGroup">
          <app-gradient-button
            [minHeight]="'45px'"
            [fontSize]="'14px'"
            [width]="'180px'"
            [hoverColor]="'#FFFFFF'"
            [gradient]="'#FFFFFF,#FFFFFF'"
            [textColor]="'#1F195E'"
            [leftIcon]="'./assets/Create (Blue).png'"
            [leftImageHeight]="'13px'"
            [leftImageWidth]="'13px'"
            [cursor]="'pointer'"
            [subtitle]=" selectedStudents.length ? 'with selected students' : null "
            (buttonClick)="createGroup()"
          >
            <div class="create-button">
              <div>

                <span class="create-button_title">New Student Group</span>
              </div>
            </div>
          </app-gradient-button>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-right_sudent-search">
        <div class="seach-wrapper">
          <app-student-search
            [focused]="true"
            (onUpdate)="updateInternalData($event)" [selectedStudents]="selectedStudents"
          ></app-student-search>
        </div>
      </div>
      <div class="content-right_next" *ngIf="selectedStudents && selectedStudents.length">
        <div *ngIf="selectedGroup" [style.padding-right]="'20px'" class="button-shadow">
          <app-gradient-button
            [width]="'120px'"
            [minHeight]="'35px'"
            [fontSize]="'14px'"
            [gradient]="'#022F68,#2F66AB'"
            [hoverColor]="'#022F68'"
            [cursor]="'pointer'"
            (buttonClick)="editGroup(selectedGroup)"
          >Edit Group</app-gradient-button>
        </div>
        <div class="button-shadow">
          <app-gradient-button
            [width]="'105px'"
            [minHeight]="'35px'"
            [fontSize]="'14px'"
            [cursor]="'pointer'"
            (buttonClick)="nextStep()"
          >Next ({{selectedStudents.length}})</app-gradient-button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<pre>{{selectedGroup | json}}</pre>-->

