<div [ngClass]=" isIOSTablet ? 'ios-step-1-container' : 'step-1-container'">
  <div class="header">
    <div class="header-background"
         [attr.data-motion-opacity]="(frameMotion$ | async).direction"
         [style.background-image]="'radial-gradient(circle at 98% 97%, #FFFFFF, #FFFFFF)'"></div>
    <div class="header_back-button ">
      <div [ngClass]=" isIOSTablet ? 'ios-back-btn-top' : 'back-btn-top'"  class="header_back-button-icon">
        <app-icon-button (clickEvent)="back()" [srcString]="'Back Button (Blue-White).svg '" [size]="28" [onDarkShade]="false" [blueWhite]="true" [hasShadow]="false"></app-icon-button>
      </div>
    </div>

    <div class="header_title"  [attr.data-motion-translate]="(frameMotion$ | async).direction">
      <img class="header_icon" [src]="'./assets/Search Eye (Navy).svg' | resolveAsset">
      <div class="header_text ds-dialog-title">Select students(s)</div>
    </div>
  </div>
  <div class="content" [attr.data-motion-translate]="(frameMotion$ | async).direction">
    <div class="content-left">
      <div class="content-left_wrapper">
        <div class="student-group-name-wrapper">
          <div class="ds-dialog-subtitle student-group-name">Student Groups</div>
        </div>
        <div class="content-left_groups" (click)="selectGroup(null, $event)">
          <div  class="goups-container" [style.overflow]="groups.length > 0 ? 'auto' : 'hidden'">
            <div *ngIf="isLoadingGroups$ | async" class="loading-theme_blue-gray spinner ds-flex-center-center">
              <mat-spinner [diameter]="50" [color]="'primary'"></mat-spinner>
            </div>
            <div class="content-left_placeholder" *ngIf="groups && !groups.length && !(isLoadingGroups$ | async)">
              <div class="no-groups-dummy-image">
                  <img  [src]="'./assets/emptyStates/undraw_group_selfie_ijc6.svg'" alt="undraw_group_selfie_ijc6.svg">
              </div>
              <div class="no-groups-dummy-text">
                  <span>No student groups</span>
              </div>
            </div>
            <div *ngIf="groups?.length && isLoadedGroups$ | async" class="list-of-groups">
              <mat-list>
                <div *ngFor="let group of groups"
                >
                  <mat-list-item
                    class="group"
                    (click)="selectGroup(group, $event)"
                    (mouseenter)="_item.hovered = true"
                    (mouseleave)="_item.hovered = false"
                    (mousedown)="_item.pressed = true"
                    (mouseup)="_item.pressed = false"
                    [style.background-color]="getBackground(_item, group)"
                    #_item
                    [ngClass]="{'group_selected' : ( selectedGroup && (selectedGroup.id === group.id))}"
                  >
                    <div class="group-name">
                      <span>{{group.title}}</span>
                      <img class="group-icon" draggable="false"
                           [src]="( selectedGroup && (selectedGroup.id === group.id)
                                    ?
                                    './assets/Chevron Right (Navy).svg'
                                    :
                                    './assets/Chevron Right (Blue-Gray).svg') | resolveAsset"
                           alt="Chevron Right.svg">
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </div>
              </mat-list>
            </div>
          </div>
          <div class="shadow-hint-container">
            <div class="shadow-hint"></div>
          </div>
        </div>
        <div class="content-left_create-group" *ngIf="!selectedGroup">
          <div class="new-student-group-btn">
            <app-gradient-button
              [minHeight]="'45px'"
              [fontSize]="'14px'"
              [width]="'180px'"
              [hoverColor]="'#F4F4F4'"
              [gradient]="'#F4F4F4, #F4F4F4'"
              [textColor]="'#1F195E'"
              [leftIcon]="'./assets/Plus (Navy).svg'"
              [leftImageHeight]="'13px'"
              [leftImageWidth]="'13px'"
              [cursor]="'pointer'"
              [subtitle]=" selectedStudents?.length > 1 ? 'with selected students' : null "
              (buttonClick)="createGroup()"
            >
              <div class="create-button">
                <div>

                  <span class="create-button_title">New Student Group</span>
                </div>
              </div>
            </app-gradient-button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-right_sudent-search">
        <div class="search-wrapper">
          <app-sp-search
            [width]="'280px'"
            [listMaxHeight]="'unset'"
            [focused]="true"
            [selectedOptions]="selectedStudents"
            (isOpenedOptions)="isOpenedSearchOptions = $event"
            (onUpdate)="updateInternalData($event)"
          ></app-sp-search>
        </div>
      </div>
      <div class="content-right_next" *ngIf="selectedStudents">
        <div *ngIf="selectedGroup" [style.margin-right]="'20px'" class="button-shadow edit-group-btn">
          <app-gradient-button
            [width]="'120px'"
            [minHeight]="'35px'"
            [fontSize]="'14px'"
            [gradient]="'#022F68, #2F66AB'"
            [hoverColor]="'#022F68'"
            [cursor]="'pointer'"
            (buttonClick)="editGroup(selectedGroup)"
          >Edit Group</app-gradient-button>
        </div>
        <div class="button-shadow next-btn-desktop" *ngIf="selectedStudents.length">
          <app-gradient-button
            [width]="'105px'"
            [minHeight]="'35px'"
            [fontSize]="'14px'"
            [cursor]="'pointer'"
            (buttonClick)="nextStep()"
          >Next ({{selectedStudents.length}})</app-gradient-button>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="isIOSTablet ? 'ios-back-btn-bottom' : 'back-btn-bottom'">
    <app-icon-button (clickEvent)="back()" [srcString]="'Back Button'" [size]="28" [onDarkShade]="false" [blueWhite]="true" [hasShadow]="false"></app-icon-button>
  </div>

  <div class="button-shadow next-btn-mobile" *ngIf="selectedStudents.length">
    <app-gradient-button
      [width]="'105px'"
      [minHeight]="'35px'"
      [fontSize]="'14px'"
      [cursor]="'pointer'"
      (click)="nextStep()"
    >Next ({{selectedStudents.length}})
    </app-gradient-button>
  </div>
</div>

<!--<pre>{{selectedGroup | json}}</pre>-->

