@import '../../../sp-colors';


:host {
  //box-sizing: border-box;
  position: relative;
  font-size: 14px;
  color: $blue-gray;
  .columns-config-container {
    //width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 14px 24px 24px;
    box-sizing: border-box;
    &_header {
      //color: #1F195E;
      //padding-bottom: 10px;
      //font-size: 20px;
      //font-weight: bold;
    }
    //box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
  }
  .pointer-wrapper{
    width: 100px;
    height: 19px;
    overflow: hidden;
    position: absolute;
    left: 165px;
    top: -19px;
  }

  .pointer{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: relative;
    top: 21px;
    background-color: rgba(255, 255, 255, 1);
  }
}
