<div class="background">
    
  <img 
    class="head-icon"
    [src]="'./assets/Eye (Green-White).svg' | resolveAsset"
    alt="Room Visibility"
  />

  <div class="label">Visibility</div>
  <img 
    class="support-icon"
    [src]="'./assets/Support (Gray).svg' | resolveAsset"
    alt="Support"
    [customToolTip]="this.tooltipText"
  />

  <span 
    #opener
    [ngClass]="classname"
    (click)="handleOpenClose($event)"
  >
    {{ modeText }}
  </span>

    <ul>
      <li
        *ngFor="let entry of modes | keyvalue"
        (click)="handleOptionSelected(entry)"
      >
        {{entry.value}}
      </li>
    </ul>

</div>
