<div class="passes-wrapper">
  <div class="main-page-left">
    <div class="current-pass">
      Left Content
      </div>
    </div>
  <div class="main-page-right">
    <app-display-card [title]="'Reported Students'" [hasDivider]="false" [fontSize]="'15pt'" [icon]="'./assets/Report (Red).png'" [subtitle_fontSize]="'10pt'" [subtitle]="'5 Reported Student Today'" [righttext]="'ab'" [righticon]="'./assets/Hallway (Blue).png'">
        <div style="padding-left:16px;padding-top:16px;">
          Data Comes here later on...
        </div>
    </app-display-card>
</div>
</div>