<div class="host" appSafariScroll>
  <div class="hallmonitor-wrapper">
    <div class="hallpass-box">
      <div class="hall-monitor-top">
        <app-round-input
          [type]="'text'"
          [width]="'260px'"
          [placeholder]="'Search'"
          [closeIcon]="true"
          (ontextupdate)="onSearch($event)">

        </app-round-input>
      </div>
      <div class="hall-monitor-bottom">
        <app-pass-collection
          [hasSort]="true"
          [isActive]="true"
          [showEmptyHeader]="true"
          [columnViewIcon]="false"
          [forStaff]="true"
          [forMonitor]="true"
          [style.width]="'600px'"
          [passProvider]="activePassProvider"
          [title]="'Active Passes'"
          [icon]="'./assets/Walking (Navy).svg'"
          [columns]="4">
        </app-pass-collection>
        <div *ngIf="!(hasPasses | async) && (passesLoaded | async)">
          <div class="empty-container" *ngIf="searchQuery$.value != ''">
            <img class="empty-svg" [src]="'./assets/emptyStates/emptyHallSearch.svg' | resolveAsset" alt="empty-svg">
            <div class="big-text" [style.margin]="'10px 0'">Nothing to See Here</div>
            <div class="small-text">Search again or click the report button</div>
          </div>
          <div class="empty-container" *ngIf="searchQuery$.value == ''" >
            <img class="empty-svg" [src]="'./assets/emptyStates/emptyHall.svg' | resolveAsset" alt="empty-svg">
            <div class="big-text" [style.margin]="'10px 0'" [style.color]="darkTheme.getColor({white: '#767676', dark: '#FFFFFF'})">Take the Day Off</div>
            <div class="small-text" [style.color]="darkTheme.getColor({white: '#767676', dark: '#FFFFFF'})">There aren't any active passes now</div>
          </div>
        </div>
      </div>
    </div>
    <div class="reported-students">
      <div class="reported-students-internal">
        <div class="reported-students-header">
          <div class="report-text">
            <img draggable="false" [src]="'./assets/Report (Red).svg' | resolveAsset" class="report-icon">
            <div class="text" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Reported Students</div>
          </div>
          <div class="calendar-icon-container" [ngClass]="{'active-calendar-icon': activeCalendar}">
            <img draggable="false" [src]="calendarIcon | resolveAsset" class="calendar-icon" (click)="openDateDialog($event)">
          </div>
        </div>
        <h3 style="text-align: center; margin: 15px; color: #134482" *ngIf="!studentreport.length">{{reportsDate | date : 'MMM. d' }}</h3>
        <div class="reports">
          <div *ngIf="studentreport.length">

            <div *ngFor="let reportGroup of studentreport" class="report-group">
              <h3 class="report-group-header" *ngIf="reportGroup.date" [style.color]="darkTheme.getColor({white: '#767676', dark: '#FFFFFF'})">{{reportGroup.date}}</h3>
              <div *ngFor="let report of reportGroup.reports">
                <div class="divider"></div>
                <app-display-report-cell
                  [student_name]="report.student_name"
                  [issuer]="report.issuer"
                  [created]="report.created"
                  [message]="report.message || 'empty'"
                  [hasDivider]="true"
                  [righticon]="'./assets/Print (Blue-Gray).svg'"></app-display-report-cell>
              </div>
            </div>
          </div>
          <div *ngIf="!studentreport.length" >
            <div class="divider"></div>
            <p [style.color]="darkTheme.getColor({white: '#767676', dark: '#FFFFFF'})" [style.text-align]="'center'">
              No Reported Students for the selected date
            </p>
          </div>
        </div>
      </div>
      <div class="bottom-shadow" #bottomShadow></div>
    </div>

  </div>
</div>
