/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #f8faff;
  overflow-y: scroll;
}

.hallmonitor-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f8faff;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 55%;
  //min-width: 470px;
  align-items: center;
  margin: 30px 40px 0 0px;

  .hall-monitor-bottom {
    width: 100%;
    margin-top: 60px;
  }
}

.right-content {
  margin: 30px 0px 0px 0px;
  min-width: 450px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 2px darkgrey;
  background-color: white;
  overflow: hidden;
  .right-content-internal{
    height: calc(100% - 10px);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
    overflow-y: auto;
    .right-content-header {
      display: flex;
      //width: 90%;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 0 10px 15px 10px;
      .report-text {
        display: flex;
        align-items: center;

        .report-icon {
          width: 39px;
          height: 39px;
        }

        .text {
          font-size: 25px;
          margin: 0 18px;
          font-weight: bold;
          color: #1F195E;
        }
      }
      .calendar-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      .calendar-icon-container {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .active-calendar-icon {
        background-color: rgb(228, 235, 255);
        animation: active-calenar .2s ease forwards;
      }
      @keyframes active-calenar{
        0%{
          box-shadow: 0 0 0 0px rgb(228, 235, 255);
        }
        100%{
          box-shadow: 0 0 0 10px rgb(228, 235, 255);
        }
      }
    }


    .reports {
      //width: 95%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .divider {
        width: 100%;
        height: 1px;
        background: darkgray;
        margin-bottom: 20px;
      }
    }
  }


}

.passes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.main-page-left {
  display: flex;
  flex-direction: column;
  width:70%;
}

.current-pass {
  margin-bottom: 40px;
}

.pass-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  justify-content: space-between;
  width: 258px;
}

.future-passes, .past-passes, .active-passes {
  width: 400px;
}

.main-page-right {
  margin-left: 10%;
  width: 30%;
}

.inbox-content {
  margin: 0 25px;
}

.hallmoniter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width:150%
}
