/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #f8faff;
  //overflow-y: scroll;
}

.hallmonitor-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f8faff;
  overflow: hidden;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 55%;
  //min-width: 470px;
  align-items: center;
  margin: 30px 40px 0 0px;

  .hall-monitor-bottom {
    width: 100%;
    margin-top: 60px;
  }
  .small-text {
    color: #767676;
  }

  .big-text {
    @extend .small-text;
    font-size: 16pt;
  }

  .empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-svg {
    margin: 20px 0;
    width: 250px;
  }

}

.right-content {
  margin: 5px;
  min-width: 450px;
  height: calc(100% - 10px);
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 2px darkgrey;
  background-color: white;
  position: relative;
  overflow: hidden;
  .bottom-shadow {
    position: absolute;
    bottom: 0px;
    height: 16px;
    width: 100%;
    background-color: #ffffFF;
    box-shadow: 0px -5px 25px 10px rgba(255, 255, 255, 1);
  }
  .right-content-internal{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    position: relative;
    overflow: auto;

    .right-content-header {
      display: flex;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 0 10px 15px 10px;
      .report-text {
        display: flex;
        align-items: center;

        .report-icon {
          width: 39px;
          height: 39px;
        }

        .text {
          font-size: 25px;
          margin: 0 18px;
          font-weight: bold;
          color: #1F195E;
        }
      }
      .calendar-icon-container {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        .calendar-icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
      .active-calendar-icon {
        background-color: rgb(228, 235, 255);
        animation: active-calenar .2s ease forwards;
      }
      @keyframes active-calenar{
        0%{
          box-shadow: 0 0 0 0px rgb(228, 235, 255);
        }
        100%{
          box-shadow: 0 0 0 10px rgb(228, 235, 255);
        }
      }
    }


    .reports {
      //width: 95%;
      //height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding-bottom: 15px;


      .divider {
        width: 100%;
        height: 1px;
        background: darkgray;
        margin-bottom: 20px;
      }
      .report-group {
        .report-group-header {
          text-align: center;
          margin: 15px 0px;
          padding: 15px 0 5px 0;
          color: #1F195E;
          position: sticky;
          top: 0;
          box-shadow: 0px 5px 25px 10px rgba(255, 255, 255, 1);
          background: #ffffff;
        }
      }
    }
  }


}

.passes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.main-page-left {
  display: flex;
  flex-direction: column;
  width:70%;
}

.current-pass {
  margin-bottom: 40px;
}

.pass-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  justify-content: space-between;
  width: 258px;
}

.future-passes, .past-passes, .active-passes {
  width: 400px;
}

.main-page-right {
  margin-left: 10%;
  width: 30%;
}

.inbox-content {
  margin: 0 25px;
}

.hallmoniter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width:150%
}
