<!--<div class="host" appSafariScroll>-->
<!--  <div class="take-tour-wrapper">-->
<!--    <div class="header" [style.background-color]="darkTheme.getBackground('high', true)">-->
<!--      <app-icon-button [size]="17" [srcString]="'Chevron Left'" (clickEvent)="router.navigate(['admin', 'gettingstarted'])"></app-icon-button>-->
<!--      &lt;!&ndash;<img class="close-icon" [src]="'./assets/Back Button (Light-Gray).svg' | resolveAsset" alt="Cmb" (click)="router.navigate(['admin', 'gettingstarted'])">&ndash;&gt;-->
<!--      <div class="header-content">-->
<!--        <img [src]="'./assets/Video (Red).svg' | resolveAsset" alt="">-->
<!--        <div class="text" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Take a Tour</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="content">-->
<!--      <div class="top">-->
<!--        <div class="info-block">-->
<!--          <img [src]="'./assets/admin-images/take-a-tour.svg' | resolveAsset" alt="">-->
<!--          <div class="info-text">-->
<!--            <div class="text-header" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Easy as π</div>-->
<!--            <div class="small-text" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">You’ll be a SmartPass pro in no time.</div>-->
<!--          </div>-->
<!--        </div>-->

<!--&lt;!&ndash;        <div class="video-block" [style.background-color]="darkTheme.getBackground('high', true)">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="video-header" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Watch Intro Video</div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="video"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="call-block" [style.background-color]="darkTheme.getBackground('high', true)">-->
<!--          <div class="ds-w-100 call-header" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Schedule a call</div>-->
<!--          <div class="ds-mt-15 ds-mb-25">-->
<!--            Schedule a personalized call with us to walk you through set-up.-->
<!--            We’ll explain to you how SmartPass features can work best for your school.-->
<!--          </div>-->
<!--          <div class="ds-flex-center-center">-->
<!--            <app-gradient-button-->
<!--              [size]="'medium'"-->
<!--              [padding]="'15px 40px'"-->
<!--              [buttonLink]="'https://www.smartpass.app/meeting'"-->
<!--              [linkType]="'_blank'"-->
<!--              [text]="'Find a time'"-->
<!--            >-->
<!--            </app-gradient-button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="bottom">-->
<!--        <div class="user-block" [style.background-color]="darkTheme.getBackground('high', true)">-->
<!--          <div class="user-title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Student</div>-->
<!--          <div class="user-info">-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Name:</span>-->
<!--              <span class="info-value">{{student?.name}}</span>-->
<!--            </div>-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Username:</span>-->
<!--              <span class="info-value">{{student?.username}}</span>-->
<!--            </div>-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Password:</span>-->
<!--              <span class="info-value">{{student?.password}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="user-block" [style.background-color]="darkTheme.getBackground('high', true)">-->
<!--          <div class="user-title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Teacher</div>-->
<!--          <div class="user-info">-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Name:</span>-->
<!--              <span class="info-value">{{teacher?.name}}</span>-->
<!--            </div>-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Username:</span>-->
<!--              <span class="info-value">{{teacher?.username}}</span>-->
<!--            </div>-->
<!--            <div class="name" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              <span class="info-name">Password:</span>-->
<!--              <span class="info-value">{{teacher?.password}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="bottom-info">-->
<!--          <div class="info">-->
<!--            <img width="28" height="28" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">-->
<!--            <div class="text" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7f879d'})">-->
<!--              We created demo student and teacher sign-ins for you so you can get started right away.-->

<!--              <div class="buttons">-->
<!--                <img style="cursor: pointer" width="107" height="32" (click)="openUrl('https://apps.apple.com/us/app/smartpass-mobile/id1387337686')" [src]="'./assets/admin-images/download-app-store-apple.svg' | resolveAsset" alt="AS">-->
<!--                <img style="margin-left: 5px; cursor: pointer" width="121" height="46.5" (click)="openUrl('https://play.google.com/store/apps/details?id=app.smartpass.smartpass')" [src]="'./assets/admin-images/google-play-badge.png' | resolveAsset" alt="GP">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
