@import '../../sp-colors';


.host {
}
.student-wrapper {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  animation: fadeIn .4s forwards;
  background-color: #FFFFFF;
  border-radius: 13px;
  //margin-top: 26px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  //overflow: auto;

  &:hover {
    .open {
      background-color: #F4F4F4;
      border-radius: 50%;
    }
  }

  &.out {
    animation: fadeOut .5s forwards;
  }


  .header-container {
    position: fixed;
    width: 335px;
    z-index: 21;
    border-radius: 13px;
    overflow: hidden;
    .header {
      background-color: #FFFFFF;
      z-index: 20;
      padding: 15px 0;
      .profile-info {
        display: flex;
        align-items: center;
        padding: 0 17px;
        .profile-image {
          border-radius: 50%;
          margin-right: 12px;
          overflow: hidden;
        }
        .title {
          .full-name {
            color: $navy;
            font-size: 22px;
            font-weight: bold;
          }
          .email {
            color: $blue-gray;
            font-size: 14px;
            margin-top: 6px;
          }
        }
      }

    }
  }

  .open {
    right: 14px;
    top: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 0 17px;
    margin-top: 90px;

    .student-info {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
  }

  .collection-wrapper {
    background-color: #FBFEFF;

    .collection {
      padding: 17px;

      .title {
        display: flex;
        align-items: center;
        color: $navy;
        font-size: 20px;
        font-weight: bold;
      }

      .passes {
        display: grid;
        grid-gap: 10px;
        margin-top: 15px;
        grid-template-columns: repeat(auto-fill, 144px);

        .fake-pass {
          width: 143px;
          height: 86.5px;
          border-radius: 12.75px;
          background-color: #F4F4F4;
        }
      }

      .emptyState {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .empty-title {
          font-size: 17px;
          color: $blue-gray;
        }
      }
    }
  }
}

.animate {
  animation : shimmer 3s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(5%);
  }
}
