@import "../../../../design-system";

.add-school-popup-title p {
  @include textSize(20px, bold, $navy);
  margin: 18px;
}

.add-school-popup-title hr {
  border-top: 1px solid $light-gray;
}

form {
  margin: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 425px) {
    width: 380px;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.confirm-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
