:host {
	display: flex;
	justify-content: center;
}

.review-text {
	width: 90%;
}

.recommend-it {
	height: 50px;
	background-color: #e5f7f1;
	color: #00b476;
	align-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	border-radius: 999px;
	font-size: 1.1vw;
	justify-content: center;
}

.valuable-tool {
	height: 50px;
	background-color: #fdf8e5;
	color: #4e5d74;
	align-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	border-radius: 999px;
	font-size: 1.1vw;
	justify-content: center;
}

.thumbs {
	display: flex;
	height: 1.5vw;
	margin-right: 15px;
	margin-bottom: 4px;
}

.cool {
	display: flex;
	height: 2vw;
	margin-right: 15px;
}

.testimonial {
	margin: 0 0 0 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 14px;
}
