<div class="accounts-setup">
  <div class="g-header">
    <img [src]="'./assets/google/GG4L-logo.svg' | resolveAsset">
    <div class="g-header-title">
      <div class="g-title">Accounts sync</div>
      <div class="g-subtitle">Set up all of your SmartPass accounts with GG4L.</div>
    </div>
  </div>
  <div class="g-content">
    <div class="left-side">
      <div class="first-block">
        <div class="option">
          <div class="option-number">
            <span>1</span>
          </div>
        </div>
        <div class="content">
          <div class="header">
            <div class="title">Add SmartPass in GG4L</div>
            <div class="subtitle">You’ll need to be a GG4L admin to add an application.</div>
          </div>
          <div class="buttons">
            <app-gradient-button
              [size]="'editable'"
              [fontSize]="'15px'"
              [fontWeight]="'normal'"
              [width]="'176px'"
              [minHeight]="'50px'"
              [gradient]="'#FFFFFF, #7F879D'"
              [linkType]="'_blank'"
              [buttonLink]="'https://www.smartpass.app/gg4l'"
              [text]="'We don’t use GG4L'">
            </app-gradient-button>
            <app-gradient-button
              [size]="'editable'"
              [width]="'176px'"
              [fontSize]="'15px'"
              [fontWeight]="'normal'"
              [minHeight]="'50px'"
              [gradient]="'#484CE6, #484CE6'"
              [rightIcon]="'./assets/Chevron Right (White).svg'"
              [linkType]="'_blank'"
              [buttonLink]="'https://www.smartpass.app/gg4l-goto'"
              [text]="'Go to GG4L'">
            </app-gradient-button>
          </div>
        </div>
      </div>
      <div class="second-block">
        <div class="option">
          <div class="option-number">
            <span>2</span>
          </div>
        </div>
        <div class="content">
          <div class="header">
            <div class="title">Sit Back and Relax</div>
            <div class="subtitle">It might take a few hours to process your data activation request. We’ll send you an email once accounts are synced.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="privacy">
        <app-privacy-card
          [title]="'What is GG4L?'"
          [infoText]="'GG4L syncs all of your accounts to SmartPass from your existing SIS.'"
          [leftIcon]="'./assets/GG4L Icon.svg'"
          [buttonColor]="'#484CE6, #484CE6'"
          [buttonLink]="'https://www.smartpass.app/gg4l'"
          [buttonText]="'More info'"
          [rightLogo]="true"
        ></app-privacy-card>
      </div>
      <div class="privacy" style="margin-top: 25px">
        <app-privacy-card
          [title]="'Note on Privacy'"
          [infoText]="'We take student privacy very seriously, continuously working with schools to make sure student data is kept safe and secure.'"
          [leftIcon]="'./assets/Shield (Blue-Gray).svg'"
          [buttonColor]="'#FFFFFF, #7F879D'"
          [buttonLink]="'https://www.smartpass.app/privacy'"
        ></app-privacy-card>
      </div>
    </div>
  </div>
</div>
