<div class="wrapper">
  <div class="spinner-container" [style.right]="showPrintButtons ? '45px' : 0" *ngIf="loading$ | async">
    <div class="sceleton-container">
      <div class="sceleton-item" *ngFor="let item of generateFakeItems(); first as isFirst; last as isLast">
        <div class="sceleton-item-container" [style.height]="itemSize + 'px'">
          <div class="sceleton-item-checkbox" *ngIf="isCheckbox | async">
            <mat-checkbox [style.color]="'#7f879d'"></mat-checkbox>
          </div>
          <div class="sceleton-item-content" [style.height]="itemSize + 'px'">
            <div class="first-col" *ngIf="currentPage === 'pass_search'" [style.width]="currentPage === 'pass_search' ? '80px' : 'auto'">
              <div class="pass-icon animate" [style.background]="'#F4F4F4'"></div>
            </div>
            <div class="columns">
              <div class="fake-sceleton animate"></div>
            </div>
          </div>
        </div>
        <mat-divider *ngIf="!isLast" [style.color]="'#7f879d'"></mat-divider>
      </div>
    </div>
<!--    <div class="loading-theme_blue-gray spinner ds-flex-center-center">-->
<!--      <mat-spinner [diameter]="50" [color]="'primary'"></mat-spinner>-->
<!--    </div>-->
  </div>
  <div class="empty-state" *ngIf="showEmptyState">
    <div class="empty-content">
      <img width="135" style="opacity: 0.2" [src]="emptyIcon | resolveAsset" alt="Empty">
      <div class="empty-description">
        <span *ngIf="emptyText">{{ emptyText }}</span>
      </div>
    </div>
  </div>
    <cdk-virtual-scroll-viewport class="example-viewport" [style.height]="height" [itemSize]="itemSize">
      <table class="table" mat-table [dataSource]="dataSource" [multiTemplateDataRows]="true">
        <ng-container matColumnDef="select" *ngIf="isCheckbox | async" sticky>
          <th mat-header-cell *matHeaderCellDef style="padding: 0 15px;">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selectedHasValue() && isAllSelected()"
                          [style.color]="selectedHasValue() ? '#1F195E' : '#7F879D'"
                          [indeterminate]="selectedHasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="padding: 0 15px;" (click)="$event.stopPropagation(); select(row)">
            <mat-checkbox (click)="$event.stopPropagation();"
                          (change)="$event ? select(row) : null"
                          [checked]="isSelected(row)"
                          [style.color]="isSelected(row) ? '#1F195E' : '#7F879D'"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; last as isLast; first as isFirst" [sticky]="isFirst">
          <ng-container *ngIf="column !== 'Pass' && column !== 'Passes'; else passNoSort">
            <th
              [style.border-right]="'0.5pt solid #B0B4C0'"
              style="cursor: pointer"
              [style.background-color]="sort && sort === 'asc' && sortColumn === column || sort && sort === 'desc' && sortColumn === column ? '#e5e6eb' : '#D3D6DE'"
              [ngClass]="{'noCheckbox': !(isCheckbox | async)}"
              mat-header-cell
              *matHeaderCellDef
              (click)="sortHeader(column)"
            >
              {{ column }}
              <div class="loading-theme_blue-gray spinner ds-flex-center-center sort-spinner" *ngIf="(sortLoading$ | async) && sortColumn === column; else sortIcon">
                <mat-spinner [diameter]="15" [color]="'primary'"></mat-spinner>
              </div>
              <ng-template #sortIcon>
                <div class="sort-icon" [style.right]="!showPrintButtons && isLast ? '55px' : '25px'">
                  <mat-icon class="icon" [ngStyle]="{'color': sort && sort === 'asc' && sortColumn === column ? '#666D81' : '#B1B6C3'}">arrow_drop_up</mat-icon>
                  <mat-icon class="icon" [ngStyle]="{'color': sort && sort === 'desc' && sortColumn === column ? '#666D81' : '#B1B6C3'}">arrow_drop_down</mat-icon>
                </div>
              </ng-template>
            </th>
          </ng-container>

          <ng-template #passNoSort>
            <th
              style="padding-left: 10px; padding-right: 15px"
              [style.border-right]="!isLast ? '1px solid #7E879D' : 'none'"
              mat-header-cell
              *matHeaderCellDef>
              {{ column }}
            </th>
          </ng-template>

            <td
              mat-cell
              [ngClass]="{'fake-container': !element[column], noCheckbox: !(isCheckbox | async)}"
              [style.height]="!element[column] ? itemSize + 'px' : 'auto'"
              [style.opacity]="!element[column] && !isLast ? 0 : 1"
              [style.padding]="column === 'Pass' ? '0 15px 0 10px' : ''"
              [style.border-right]="isFirst ? '1px solid #7E879D' : 'none'"
              *matCellDef="let element"
              [innerHTML]="element[column] ? element[column] : fakeTemplate">
            </td>

        </ng-container>

        <tr class="header" mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
            #rowCont
            [style.height]="itemSize + 'px'"
            (mouseenter)="rowCont.hover = true"
            (mouseleave)="rowCont.hover = false"
            [style.background-color]="isSelected(row) ? '#ECF1FF' : rowCont.hover && isRowClick && !row.isFake ? '#F1F2F4' : '#FFFFFF'"
            [style.cursor]="isRowClick && !row.isFake ? 'pointer' : 'default'"
            appCrossPointerEventTarget (pointerClickEvent)="isRowClick && !row.isFake ? rowOnClick(row) : null">
        </tr>
      </table>
    </cdk-virtual-scroll-viewport>

  <div class="table-options-screen" *ngIf="showPrintButtons" [ngClass]="{'shadow': hasHorizontalScroll}">
    <div class="buttons">
      <div class="button" appCrossPointerEventTarget (pointerClickEvent)="openOption(option.action, $event)" *ngFor="let option of tableOptionButtons; first as isFirst" [style.margin-top]="isFirst ? 0 : '25px'">
        <div *ngIf="loadingCSV$ | async; else image" class="loading-theme_blue-gray spinner ds-flex-center-center">
          <mat-spinner [diameter]="25" [color]="'primary'"></mat-spinner>
        </div>
        <ng-template #image>
          <img width="20" [src]="'./assets/' + option.icon + ' ('+ (!isFirst ? 'Navy' : 'Blue-Gray') +').svg' | resolveAsset">
        </ng-template>
      </div>
    </div>
  </div>
  <div class="column-button" *ngIf="!showPrintButtons" appCrossPointerEventTarget (pointerClickEvent)="openOption('column', $event)">
    <div class="button-content">
      <img width="20" [src]="'./assets/Columns (Blue-Gray).svg'" alt="Columns">
    </div>
  </div>

</div>

