.card{
    width: inherit;
    height: 62px;
    padding-top: 8.9px;
    border-radius: 7px;
    background: radial-gradient(at bottom right, white, white);
    color: white;
    text-align: center;
    box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif
}

.icon{
    width: 28.5px;
    height: 29.5px;
}

.title{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.3px;
}

/* .overlay{

} */

.lock{
    position: relative;
    width: 12px;
    height: 11px;
    top: -53px;
    right: -48px;
}

.clickRipple{
    width: 120px;
    border-radius: 7px;
}

.mat-button{
    line-height: inherit;
    padding: 0px;
    font-family: inherit;
}