.card {
  width: inherit;
  height: 62px;
  padding-top: 8.9px;
  border-radius: 7px;
  color: white;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  overflow: hidden;
}

.icon {
  width: 28.5px;
  height: 29.5px;
}

.title-bar{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
}

.category-icon{
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.overlay-container {
  position: absolute;
  top: 0;
  right: 0;
}

.overlay-container .overlay {
  width: 50px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
  background: rgba(255, 255, 255, 0.3);
}

.overlay-container .lock {
  position: relative;
  width: 12px;
  height: 11px;
  top: -1px;
  right: 3px;
}

.clickRipple {
  width: 120px;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 3.5px 13px 4px rgba(0, 0, 0, 0.1);
}

.mat-button {
  line-height: inherit;
  padding: 0px;
  font-family: inherit;
}