<div class="groups-container">
  <div *ngIf="currentState == states.SelectStudents">
    <app-groups-step1
      [selectedGroup]="FORM_STATE.data.selectedGroup"
      [groups]="groups"
      (stateChangeEvent)="onStateChange($event)">
    </app-groups-step1>
  </div>
  <!--<br>-->
  <div *ngIf="currentState == states.CreateGroup">
    <app-groups-step2
      [selectedStudents]="selectedStudents"
      [form]="groupDTO"
      (stateChangeEvent)="onStateChange($event)">

    </app-groups-step2>
  </div>
  <!--<br>-->
  <div *ngIf="currentState === states.EditGroup">
    <app-groups-step3
      [editGroup]="selectedGroup"
      [form]="groupDTO"
      (stateChangeEvent)="onStateChange($event)">
    </app-groups-step3>
  </div>
</div>
