<div class="step-1-container">
  <div class="header">
    <div class="header_back-button back-btn-top" (click)="back(editGroup)">
      <img  *ngIf="!form.get('title').dirty && !form.get('users').dirty"
            class="header_back-button-icon" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset">
      <span *ngIf="form.get('title').dirty || form.get('users').dirty">Cancel</span>
    </div>
    <div class="header_title">
      <!--<img class="header_icon" [src]="'./assets/Search (Blue).png' | resolveAsset">-->
      <div class="header_text ds-dialog-title">{{editGroup.title}}</div>
      <span  *ngIf="editGroup.users && editGroup.users.length ">{{editGroup.users.length}} student<span *ngIf="editGroup.users.length > 1">s</span></span>
    </div>
    <div class="header_save">
      <div *ngIf="allowToSave && form.get('title').value && (editGroup.users && editGroup.users.length)">
        <app-gradient-button
          [width]="'105px'"
          [minHeight]="'35px'"
          [fontSize]="'14px'"
          [cursor]="'pointer'"
          (buttonClick)="updateGroup()"
        >Save</app-gradient-button>
      </div>
      <div *ngIf="(form.get('title').value || (editGroup.users.length)) && !(form.get('title').value && (editGroup.users.length))" class="incomplete">
        <span [style.user-select]="'none'">Incomplete</span>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="content-left">
      <div class="content-left_wrapper">
        <div>
          <div>
            <div class="ds-dialog-subtitle student-group-name ">Student Group Name</div>
            <app-input
              [controlName]="form.get('title')"
              [formGroup]="form"
              [input_value]="editGroup.title"
              [padding]="'4px'"
              [width]="'200px'"
              [isFocus]="false"
            ></app-input>
          </div>
          <div class="content-left_upload">
            <div *ngIf="uploadedStudents" class="content-left_uploaded">
              <div style="font-weight: bold">
                <span>{{uploadedStudents.existingStudents.length}} </span><span>students added</span>
              </div>
              <div *ngIf="uploadedStudents.unknown.length">
                <div style="white-space: nowrap">
                  <span>{{uploadedStudents.unknown.length}} students not added, email error:</span>
                </div>
                <div *ngFor="let anonimus of uploadedStudents.unknown">
                  <span>{{anonimus}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="!uploadedStudents">
              <app-gradient-button
                [gradient]="'#022F68,#2F66AB'"
                [hoverColor]="'#022F68'"
                [minHeight]="'35px'"
                [width]="'120px'"
                [fontSize]="'13px'"
                [cursor]="'pointer'"
                (buttonClick)="studentEmails.click(); loadingIndicator = true"
              >
                <div *ngIf="loadingIndicator" class="loading-theme_white spinner flex-center-left pt">
                  <mat-spinner [color]="'white'" [diameter]="'25'"></mat-spinner>
                </div>
                <span *ngIf="!loadingIndicator" >
                Upload File
              </span>
              </app-gradient-button>
            </div>
            <input type="file" #studentEmails hidden>

          </div>
        </div>
        <div *ngIf="!uploadedStudents" class="content-left_groups">
          <div>
            <div class="content-left_placeholder">
              Upload an Excel spreadsheet of student <strong>email address</strong>
              to quickly select students.
            </div>
          </div>
        </div>
        <div class="content-left_delete-group">
          <app-gradient-button
            [minHeight]="'32px'"
            [fontSize]="'14px'"
            [width]="'130px'"
            [hoverColor]="'#DA2370'"
            [gradient]="'#DA2370,#FB434A'"
            [textColor]="'#FFFFFF'"
            [leftImageHeight]="'13px'"
            [leftImageWidth]="'13px'"
            [cursor]="'pointer'"
            (buttonClick)="removeGroup()"
          >
          <div class="delete-button">
            <span class="create-button_title">Delete Group</span>
          </div>
          </app-gradient-button>
        </div>
      </div>
    </div>

    <div class="content-right">
      <div class="content-right_sudent-search">
        <div class="seach-wrapper" *ngIf="editGroup && editGroup.users">
          <app-sp-search
            [width]="'280px'"
            [listMaxHeight]="'unset'"
            (onUpdate)="updateUsers($event)" [focused]="false" [selectedStudents]="editGroup.users"
          ></app-sp-search>
        </div>
      </div>

    </div>
  </div>
</div>
