<div class="wrapper">
  <div class="card-header">
    <div class="background-header"></div>
    <div class="back-button ds-flex-center-center">
      <span>Cancel</span>
    </div>
    <div class="ds-flex-center-center ds-dialog-title" style="z-index: 10">
<!--      <img class="role-icon" [src]="'./assets/'" alt="header-icon">-->
      <span>{{ selectedUsers.length }} users selected</span>

    </div>
    <div class="status-button">
      <app-gradient-button>Save</app-gradient-button>
    </div>
  </div>
</div>
