<mat-card class="dialog">
  <mat-card-header [style.box-shadow]="'0 0 5px 3px #ddd'" [style.background]="palette">
    <div class="flex-center-center py" [style.width]="'100%'">
      <div>
        <p class="card_header">{{header}}</p>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-content flex-start-between">
    <div class="flex-center-between flex-column h-100 w-100" [ngSwitch]="layout">
      <div class="flex-start-between w-100"  *ngSwitchCase="'restrictions'">
        <div class="card-content_left">
          <div>
            Modifying {{data.selectedUsers.length}} profile<span *ngIf="data.selectedUsers.length > 1">s</span>:
          </div>
          <div [style.color]="'#aaa'">
            <div *ngFor="let user of data.selectedUsers">
                {{user.Name}}({{user['Account Email']}})
            </div>
          </div>
          <pre>{{form.value | json}}</pre>
        </div>
        <div class="card-content_right">
          <form [formGroup]="form">
            <h3 style="margin-top: 0">Mock restriction object</h3>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'dashboard_access'" [controlLabel]="'Access to Dashboard'"></app-toggle-input>
            </div>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'hall_monitor_access'" [controlLabel]="'Access to Hall Monitor'"></app-toggle-input>
            </div>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'search_access'" [controlLabel]="'Access to Search'"></app-toggle-input>
            </div>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'accounts_access'" [controlLabel]="'Access to Accounts & Profiles'"></app-toggle-input>
            </div>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'pass_config_access'" [controlLabel]="'Access to Pass Configuration'"></app-toggle-input>
            </div>
            <div class="pl" [style.border-bottom]="'1px solid #ccc'">
              <app-toggle-input class="" [style.border-bottom]="'1px solid #ccc'" [form]="form" [controlName]="'school_setting_access'" [controlLabel]="'Access to School Settings'"></app-toggle-input>
            </div>
          </form>
          <!--<pre>{{form.value | json}}</pre>-->
        </div>
      </div>
      <div *ngSwitchCase="'remove'">
        <h1>Are you sure you want delete this user<span *ngIf="data.selectedUsers.length > 1">s</span>?</h1>
        <div [style.color]="'#aaa'">
          <div *ngFor="let user of data.selectedUsers">
            {{user.Name}}({{user['Account Email']}})
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'rooms'">
        <h1>Rooms layout</h1>
        <div [style.color]="'#aaa'">
          <div *ngFor="let user of data.selectedUsers">
            {{user.Name}}({{user['Account Email']}})
          </div>
        </div>
      </div>
      <div class="w-100 flex-center-center" [style.margin]="'40px auto'">
        <app-gradient-button [gradient]="buttonColor" [minHeight]="'36px'" (buttonClick)="closeDialog()">
          <span style="font-weight: normal; font-size: 16px; padding: 7px 35px;">{{buttonText}}</span>
        </app-gradient-button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
