<div class="display-card-wrapper" [style.min-height]="(inbox?'500px':'')" [style.background-color]="backgroundColor">
  <div class="display-card-header justify-content"  [style.margin-bottom]="headerBottomSpace">
    <div class="flexCls">
      <img *ngIf="!!icon && !inbox" class="display-card-header-icon" [src]="icon | resolveAsset" [style.height]="iconSize" [style.width]="iconSize">

      <div *ngIf="(!!icon && inbox) || mock" class="inbox-wrapper">
        <img class="inbox-icon" [src]="'./assets/Inbox Full (Blue).png' | resolveAsset">
        <div class="inbox-modifiers" *ngIf="(notificationBadge$ | async) > 0 || mock">
          <img class="inbox-badge" [src]="'./assets/Inbox Number.png' | resolveAsset">
          <div class="inbox-number">{{ (notificationBadge$ | async) || mock }}</div>
          <img class="inbox-front" [src]="'./assets/Inbox Front (Blue).png' | resolveAsset">
        </div>
      </div>

      <div class="display-card-header-title" [style.font-size]="fontSize">
        {{title}}
      </div>
    </div>

      <img *ngIf="!!righticon" class="display-card-header-icon righticon" [src]="righticon | resolveAsset"  [style.height]="iconSize" [style.width]="iconSize">
    <div *ngIf="!!righttext && !righticon" class="display-card-header-icon righticon" >{{righttext}}</div>


  </div>
  <div [style.background-color]="(hasDivider?'#B5B7BA':'#FFF')" class="display-card-divider"></div>
  <div *ngIf="subtitle!=null" [style.font-size]="subtitle_fontSize" class="subtitlecls">
      {{subtitle}}
  </div>
    <ng-content [style.left]="'35px'" [style.position]="'relative'"></ng-content>
</div>
