.display-card-wrapper{
    min-width: 308px;
    padding: 25px 0;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7.5px 13px 5px rgba(0, 0, 0, 0.1);
}

.display-card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    left: 25px;
    position: relative;
}

.display-card-header-icon{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.display-card-header-title{
    color: #3D396B;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.display-card-divider{
    width: 258px;
    height: 1px;
    margin-bottom: 12px;
    left: 25px;
    position: relative;
}

.display-card-content{
    left: 25px;
    position: relative;
}