@import "../../sp-colors";

@media all and (max-width: 940px) {
  img.nav-button-icon {
    margin-bottom: 5px;
  }

  div.nav-button-text{
    font-size: 10px;
    margin-left: 0;
    margin-top: 5px;
  }

  div.nav-button-wrapper{
    background-color: transparent !important;
    flex-direction: column;
  }
}

@media all and (max-width: 375px) {
  div.nav-button-wrapper{
      //width: 110px;
  }
}

.nav-button-wrapper{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 122px;
  height: 64px;
  //width: 135px;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;
  //touch-action: none;
}

.nav-button-icon{
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.nav-button-text{
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.selected-tab-pointer {
  transition: all 0.4s ease;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 122px;
  border-radius: 2px 2px 0 0;
  background-color: $jade;
}
