@media all and (max-width: 1024px) {
  div.nav-button-wrapper{
    background-color: transparent !important;
  }

  img.nav-button-icon {
    margin-bottom: 5px;
  }
}

@media all and (max-width: 475px) {
  div.nav-button-text{
    font-size: 10px;
  }

  div.nav-button-wrapper{
    background-color: transparent !important;
    flex-direction: column;
  }
}

@media all and (max-width: 375px) {
  div.nav-button-wrapper{
    height: 38px;
  }
}

.nav-button-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 45px;
  padding: 5px 15px;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.nav-button-icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.nav-button-text{
  font-size: 17px;
  margin-left: 11px;
}
