@media all and (max-width: 940px) {
  img.nav-button-icon {
    margin-bottom: 5px;
  }

  div.nav-button-text{
    font-size: 10px;
    margin-left: 0;
    margin-top: 5px;
  }

  div.nav-button-wrapper{
    background-color: transparent !important;
    flex-direction: column;
  }
}

@media all and (max-width: 375px) {
  div.nav-button-wrapper{
      //width: 110px;
  }
}

.nav-button-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 45px;
  //width: 135px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  align-items: center;
  //touch-action: none;
}

.nav-button-icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.nav-button-text{
  font-size: 17px;
  font-weight: 500;
  margin-left: 11px;
}
