<div class="next-release-container" (scroll)="onScroll($event)">
  <div class="close" (click)="markAsSeen()">
    <img draggable="false" [src]="'./assets/Close Input (Grey).svg' | resolveAsset" alt="Close Input (Grey).svg">
  </div>
  <div class="ds-flex-center-center ds-pt-25">
    <img [src]="'./assets/balloons.svg'" alt="balloons.svg">
  </div>
  <div class="release-version" #stickHeader>
    <h2 class="release-version_heading">What's New</h2>
  </div>
  <div class="release-items">
    <div *ngFor="let item of whatsNewItems; let i = index;">
      <div class="release-items_item" [ngStyle]="{'border-bottom-color': i === whatsNewItems.length - 1 ? 'transparent' : 'rgba(31, 25, 94, .4)'}">
        <div class="right-side">
          <div class="ds-flex-start-start">
            <div class="item_title">
              <div><span>{{item.updateName}}</span></div>
            </div>
            <div class="item_type" [style.background]="item.updateColor">{{item.updateType}}</div>
          </div>
          <div class="item_description">
            <span>{{item.description}}</span>
            <span style="white-space: nowrap; padding-left: 10px;" [style.color]="item.updateColor">{{item.link}}</span>
          </div>
          <div class="item_date"><span>{{item.updateLaunchDate | date}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
