@import '../../design-system';

:host {
  .next-release-container {
    position: relative;
    width: 425px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 14px;
    overflow: auto;
    position: relative;
    .release-version {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0px;
      background-color: inherit;
      height: 70px;
      min-height: 70px;
      font-size: 28px;
      transition: font-size .25s ease-in-out;
    //cubic-bezier(0, 0, 0, 0)
      &_number {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 1.15em;
        font-weight: bold;
        text-align: center;
        background: radial-gradient(circle at 80% 67%, #03CF31, #00B476);
        margin: 0px auto;
        width: 100px;
        height: 30px;
        border-radius: 5px;
      }
      &_heading {
        color: #1F195E;
        font-weight: bold;
      }
    }
    .release-items {
      width: 100%;
      box-sizing: border-box;
      padding: 30px 40px;
      &_item {
        margin: 35px 0;
        width: inherit;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(31, 25, 94, .4);
        padding-bottom: 20px;
        .right-side {
          flex: 1 1 auto;
          .item_title {
            @extend .ds-flex-start-start;
            @extend .ds-navy;
            font-size: 18px;
            font-weight: bold;
          }
          .item_type {
            @extend .ds-flex-center-center;
            @extend .ds-ml-10;
            white-space: nowrap;
            color: #FFFFFF;
            border-radius: 20px;
            height: 24px;
            padding: 0px 12px;
            font-size: 14px;
          }
          .item_description {
            margin-top: 10px;
            color: #7F879D;
            .link {
              white-space: nowrap;
              padding-left: 10px;
              text-decoration: none;
              &:active, &:visited, &:focus {
                outline: none;
              }
            }
          }
          .item_date {
            color: #B1B6C3;
          }
        }
      }
    }
    .close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: sticky;
      z-index: 10;
      right: 0px;
      top: 0px;
      cursor: pointer;
      img {
        position: absolute;
        top: 24px;
        right: 25px;
        width: 25px;
        height: 25px;
      }
    }
  }
}
