.inline-request-card-wrapper {
    width: 335px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;

    .pass-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            width: 291px;

            .header-info {
                display: flex;
                align-items: center;
            }
        }

        .pass-card-header-icon {
            width: 34px;
            height: 34px;
        }

        .pass-card-header-text {
            color: white;
            font-size: 22px;
            margin-left: 15px;

            .card-subtitle {
                font-size: 15px;
                font-weight: bold;
            }
        }

        .pass-card-header-close {
            width: 29px;
            height: 29px;
            cursor: pointer;
        }
    }

    mat-divider {
        background-color: white;
        width: 291px;
        opacity: 0.4;
    }

    .inline-request-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .center-block {
            height: 221px;
            display: flex;
            align-items: center;

            .page-1 {
                height: 174px;
                display: flex;
                align-items: center;
            }
        }

        .bottom-block {
            height: 102px;
            color: white;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

















//.page-2-wrapper{
//    height: 122px;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    text-align: left;
//    scrollbar-face-color: #D6D6D6;
//    scrollbar-track-color: white;
//    overflow: auto;
//}

.button-content{
    width: 130px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -35px 0 0 0%;
    font-weight: bold;
    font-size: 10pt;
}

.inline-request-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 335px;
    height: 412px;
}

.card-body-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 26px;
}

.request-description{
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
}

.request-description-icon{
    width: 27px;
    height: 33px;
    margin-right: 10px;
}

.request-button-content{
    width: 269px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -79px 0 0 0%;
    font-weight: bold;
}

.button-icon-right{
    width: 17px;
    height: 17px;
    position: absolute;
    right: 10px;
}

.button-icon-left{
    width: 17px;
    height: 17px;
    position: absolute;
    left: 10px;
}

.resend-button-content{
    width: 269px;
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -50px 0 0 0%;
}

.resend-button-content-title{
    font-size: 22px;
}

.resend-button-content-subtitle{
    font-size: 15px;
    font-weight: bold;
}

.message{
    font-size: 16px;
    padding-top: 20px;
    width: 225px;
    text-align: left;
    overflow: auto;
    overflow-wrap: break-word;
}

.student-with-edit{
    height: 70px;
    max-height: 70px;
}

.student-without-edit{
    margin-bottom: 10px;
}

.student-pending{
    height: 110px;
    max-height: 110px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D6D6D6; 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B6B6B6; 
}