

<div class="inline-request-card-wrapper" [style.background-image]="gradient" [style.height]="'412px'" ondragstart="return false">
    <div class="pass-card-header">
        <div class="header-content">
            <div class="header-info">
                <img  class="pass-card-header-icon" [src]="request.icon | resolveAsset">
                <div class="pass-card-header-text">
                    {{ request.destination.title }}
                    <div class="card-subtitle" *ngIf="fromPast || forFuture">
                        {{ formatDateTime() }}
                    </div>
                </div>
            </div>
            <app-icon-button [size]="20" [onDarkShade]="true" [srcString]="'./assets/Delete (Transparent).svg'" (clickEvent)="cancelRequest($event)"></app-icon-button>
            <!--<img class="pass-card-header-close" (click)="cancelRequest($event)" [src]="'./assets/Delete (Transparent).svg' | resolveAsset">-->
        </div>
        <mat-divider></mat-divider>
    </div>

    <div class="inline-request-content">
        <div class="center-block">

            <app-pager [arrowPosition]="'-93px'">
                <div class="page-1" [attr.data-motion-translate]="(frameMotion$ | async).direction">
                    <app-traveltype-picker *ngIf="forInput" (onSelect)="selectedTravelType=$event" [choices]="request?.destination.travel_types" [altColor]="request?.color_profile.solid_color"></app-traveltype-picker>

                    <app-duration-picker *ngIf="forInput; else noInput;" (onChange)="selectedDuration=$event"  [maxDuration]="(request?.destination.max_allowed_time?request?.destination.max_allowed_time:15)"></app-duration-picker>
                    <ng-template #noInput>
                        <app-travel-view [height]="'174px'" [pass]="request" [shrink]="true"></app-travel-view>
                    </ng-template>
                </div>
                <div class="page-2" [attr.data-motion-translate]="(frameMotion$ | async).direction">
                    <div class="page-2-wrapper">
                        <div [ngClass]="isIOSTablet ? 'ios-margin-left' : ''" class="message" [style.height]="(forInput?'70px':'155px')" [style.margin-bottom]="(forInput?'4px':'0px')">
                            <span [style.font-weight]="'bold'">Your message:</span><br>
                            {{ (request?.attachment_message===''?'No message':request?.attachment_message) }}
                            <div *ngIf="request?.status==='declined'">
                                <br>
                                <span [style.font-weight]="'bold'">Message from {{request?.teacher.last_name}}:</span><br>
                                {{ (request?.declined_message===''?'No message':request?.declined_message) }} <!-- deny_message -->
                            </div>
                        </div>
                        <app-card-button *ngIf="forInput" class="edit-button" [width]="'130px'" [height]="'px'" [gradientColor]="request?.color_profile.gradient_color">
                            <div class="button-content">Edit Message</div>
                        </app-card-button>
                    </div>
                </div>

              <div class="page-5" [attr.data-motion-translate]="(frameMotion$ | async).direction">
                <app-traveltype-picker *ngIf="forInput" (onSelect)="selectedTravelType=$event" [choices]="request?.destination.travel_types" [altColor]="request?.color_profile.solid_color"></app-traveltype-picker>

                <app-duration-picker *ngIf="forInput; else noInput;" (onChange)="selectedDuration=$event"  [maxDuration]="(request?.destination.max_allowed_time?request?.destination.max_allowed_time:15)"></app-duration-picker>
                <ng-template #noInput>
                  <app-travel-view [height]="'174px'" [pass]="request" [shrink]="true"></app-travel-view>
                </ng-template>
              </div>
              <div class="page-6" [attr.data-motion-translate]="(frameMotion$ | async).direction">
                <div class="page-2-wrapper">
                  <div [ngClass]="isIOSTablet ? 'ios-margin-left' : ''" class="message" [style.height]="(forInput?'70px':'155px')" [style.margin-bottom]="(forInput?'4px':'0px')">
                    <span [style.font-weight]="'bold'">Your message:</span><br>
                    {{ (request?.attachment_message===''?'No message':request?.attachment_message) }}
                    <div *ngIf="request?.status==='declined'">
                      <br>
                      <span [style.font-weight]="'bold'">Message from {{request?.teacher.last_name}}:</span><br>
                      {{ (request?.declined_message===''?'No message':request?.declined_message) }} <!-- deny_message -->
                    </div>
                  </div>
                  <app-card-button *ngIf="forInput" class="edit-button" [width]="'130px'" [height]="'px'" [gradientColor]="request?.color_profile.gradient_color">
                    <div class="button-content">Edit Message</div>
                  </app-card-button>
                </div>
              </div>
            </app-pager>

        </div>

        <mat-divider *ngIf="hasDivider"></mat-divider>

        <div class="bottom-block">
            <div class="request-description" *ngIf="hasDivider">
                <img class="request-description-icon" [src]="'./assets/Lock (White).svg' | resolveAsset">
                <div class="request-description-text">
                    Pass Request Sent to: <br>
                    <span style="font-size: 17px; font-weight: normal" *ngFor="let teacher of filteredTeachers; let i = index">
                        {{ teacher.display_name + (i === filteredTeachers.length - 1 ? '' : ', ') }}
                    </span>
                </div>
            </div>

            <div *ngIf="request?.status==='declined'">
                <app-card-button (click)="resendRequest()" [width]="'269px'" [height]="'81px'" [margin_top]="'112px'" [gradientColor]="request?.color_profile.gradient_color">
                    <div class="resend-button-content">
                        <div class="resend-button-content-title">{{ (forFuture?'Change Date & Time':'Resend Request') }}</div>
                        <div class="resend-button-content-subtitle">Pass Request Denied</div>
                    </div>
                </app-card-button>
            </div>

        </div>
    </div>
</div>

<app-consent-menu-mobile
  [appendToBody]="true"
  [display]="cancelEditClick"
  [header]="header"
  [options]="options"
  (cancelClick)="closeMenu()"
  (backDropClick)="closeMenu()"
  (receiveOption)="receiveOption($event)"></app-consent-menu-mobile>
