<div class="category-wrapper">
  <div class="category-header" [style.background-image]="headerGradient">
    <img class="back-button" [src]="'./assets/Back Button (White).png' | resolveAsset" (click)="back()">
    <div class="category-header-text">
      <img class="search-icon" [src]="pinnable.icon | resolveAsset">
      <div class="text">{{pinnable.category}}</div>
    </div>
  </div>

  <div class="category-content">
    <app-location-table
        class="center"
        (onSelect)="locationChosen($event)"
        [forStaff]="true"
        [hasLocks]="true"
        [category]="pinnable.category"
        [type]="'location'"
        [placeholder]="'Search ' + pinnable.category" >
    </app-location-table>
  </div>

  <div class="category-footer">
    <div class="footer-category-text">
      <div class="footer-text" [style.font-weight]="'bold'">Origin</div>
      <img class="footer-icon" [src]="'./assets/Arrows_long_right.png' | resolveAsset">
      <div class="footer-text">Destination</div>
    </div>
  </div>
</div>
