@import '../../../../sp-colors';

.wrapper {
  width: 100%;

  .label {
    color: $blue-gray;
    font-size: 15px;
    font-weight: bold;
  }
  .content {
    display: flex;
    flex-wrap: wrap;

    .active-roles {
      margin-right: 15px;
    }

    .role {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      background-color: #F4F4F4;
      margin-top: 10px;
      cursor: pointer;
      position: relative;

      .title {
        color: $blue-gray;
        font-size: 14px;
        margin-left: 6px;

      }

      .delete {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        background-color: #F8F8F8;
        box-shadow: -6px 1px 6px #F8F8F8;
      }
    }

    .add-role {
    }
  }
}
