<ng-container [ngSwitch]="pageNumber">
  <div class="sp-dialog wrapper" *ngSwitchCase="1" [@NextStep]="{ value: '', params: frameMotion$ | async}">
    <div class="header" *ngIf="!(passLimitFormChanged | async); else changedFormHeader">
      <div class="background-header"></div>
      <img class="back-button" (click)="dialogRef.close()" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset">
      <div class="title-header ds-flex-center-center" style="z-index: 10" [attr.data-motion-translate]="(frameMotion$ | async).direction">
        <div class="pass-limit-white ds-flex-center-center" style="background: rgb(102, 81, 241); border-radius: 6px; padding: 7px">
          <img style="width: 25px" [src]="'./assets/Pass Limit (White).svg' | resolveAsset" alt="">
        </div>
        <div class="ds-dialog-title" [style.margin-left]="'12px'">Pass Limits</div>
      </div>
    </div>

    <ng-template #changedFormHeader>
      <div class="header" style="justify-content: space-around">
        <div class="background-header"></div>
        <app-gradient-button (buttonClick)="resetPassLimitsForm()" customBackground="#7083A0">Cancel</app-gradient-button>
        <div class="title-header" style="z-index: 10; display: flex" [attr.data-motion-translate]="(frameMotion$ | async).direction">
          <div class="ds-dialog-title" [style.margin-left]="'12px'">Pass Limits</div>
        </div>
        <app-gradient-button (buttonClick)="updatePassLimits()" customBackground="#00B476" textColor="white" [disabled]="passLimitForm.invalid">
          <ng-container *ngIf='requestLoading; else update'>
            <mat-spinner class="request-loading" [diameter]="25"></mat-spinner>
          </ng-container>

          <ng-template #update>
            Save
          </ng-template>
        </app-gradient-button>
      </div>
    </ng-template>

    <ng-template #contentSpinner>
      <div class="ds-w-100 ds-flex-center-center" style="height: 150px">
        <mat-spinner [diameter]="75" class="content-spinner"></mat-spinner>
      </div>
    </ng-template>

    <div class="content"  *ngIf="!contentLoading; else contentSpinner">
      <div *ngIf="showPassLimitNux" class="accent-background-section ds-flex-row" style="position:relative">
        <div style="width: 50px">
          <img [src]="'./assets/Pass Limit (Purple).svg' | resolveAsset" alt="Options">
        </div>
        <div style="width: 80%">
          <p class="ds-dialog-heading ds-mb-5" style="margin-top: 0">Limit the number of passes students can have per day</p>
          <p class="ds-dialog-normal-text" style="margin-top: 0">
            Set them school-wide, or just for individual students. Teachers can override it if the pass limit has been reached.
            <a href="https://www.smartpass.app/passlimits" target="_blank">Learn more.</a>
          </p>
        </div>

        <button id="closePassLimitsIntro" (click)="dismissPassLimitNux()">
          <img style="width: 14px; height: 14px" src="assets/Close%20(Grey).svg">
        </button>
      </div>
      <div class="accent-background-section ds-flex-column">
        <div style="display: flex" class="ds-flex-row ds-flex-center-between">
           <span class="ds-dialog-heading">
             School Pass Limit
             <div style="display: inline" customToolTip [contentTemplate]="passLimitLearnMore">
                <img
                  class="support-icon"
                  [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
             </div>
             <ng-template #passLimitLearnMore>
               <div class="ds-tooltip">
                  <span>
                    Limit the number of passes students can have per day.
                    <a href="https://www.smartpass.app/passlimits" style="color: white"> Learn more</a>
                  </span>
               </div>
             </ng-template>
          </span>
          <app-toggle-input
            style="width: auto"
            controlSize="small"
            [form]="passLimitForm"
            controlName="limitEnabled"
            [delimiter]="false"
            (pushOutValue)="onEnabledToggle($event)"
          ></app-toggle-input>
        </div>

        <div *ngIf="passLimitForm.value['limitEnabled']" style="display: flex; column-gap: 2px; flex-wrap: wrap;" class="ds-flex-row">
          <app-input
            [showUnits]="true"
            [units]="passLimitForm?.value?.passLimit === '1' ? 'pass' : 'passes'"
            width="150px"
            placeholder="# of passes"
            [formGroup]="passLimitForm"
            [controlName]="passLimitForm.get('passLimit')"></app-input>

          <!-- TODO: Change this to dropdown when multiple frequencies are implemented -->
          <app-gradient-button
            id="passLimitFrequencyButton"
            style="margin-top: 4px"
            textColor="#000000"
            gradient="#F4F4F4">
            per day
          </app-gradient-button>
          <p style="width: 100%; opacity: 0.8; font-size: 12px" *ngIf="showLimitFormatError">Passes must be greater than 0 and must be a whole number</p>
        </div>
      </div>

<!-- TODO: Uncomment the following when individual pass limits are implemented -->
<!--      -->
<!--      <div class="accent-background-section ds-flex-column ds-flex-center-between" style="margin-bottom: 40px">-->
<!--        <span class="ds-section-header">-->
<!--          Limits for Individual Students-->
<!--           <div class="tooltip-container" style="display: inline">-->
<!--              <img-->
<!--                [customToolTip]="individualLimitsTooltop"-->
<!--                class="custom-tooltip-icon support-icon"-->
<!--                [src]="'./assets/Support (Gray).svg' | resolveAsset">-->
<!--              <div class="arrow-down-container">-->
<!--                <div class="arrow-down"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--        </span>-->

<!--        <div class="individual-limits-list">-->
<!--          <div *ngFor="let individualLimit of individualLimits"></div>-->
<!--          <p class="ds-dialog-subtitle" *ngIf="individualLimits.length === 0" style="opacity: 0.5">-->
<!--            No individual limits set-->
<!--          </p>-->

<!--          <app-gradient-button-->
<!--            gradient="#00B476"-->
<!--            textColor="#FFFFFF"-->
<!--            text="Add Limit"-->
<!--            leftIcon="assets/Plus (White).svg"-->
<!--            (buttonClick)="addIndividualLimit()">-->
<!--            Add Pass Limit-->
<!--          </app-gradient-button>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

</ng-container>

<!--TODO: Implement when multiple pass frequencies are implemented -->
<!--<ng-template #passLimitsFrequencyDialog>-->
<!--  <p (click)="selectFrequency('day')">per day</p>-->
<!--  <p (click)="selectFrequency('week')">per week</p>-->
<!--  <p (click)="selectFrequency('month')">per month</p>-->
<!--  <p (click)="selectFrequency('semester')">per semester</p>-->
<!--</ng-template>-->
