@import '../../../../../sp-colors';

.wrapper {
  border-radius: 8px;
  border: 2px solid rgba(127, 135, 157, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  //align-items: center;
  //justify-content: center;
  cursor: pointer;
  transition: background-color .2s ease;

  &:hover {
    background-color: #DEE0E6;
  }

  .students {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .student {
      background-color: #F7F7F7;
      border-radius: 8px;
      height: 31px;
      padding: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //margin-right: 10px;
      //margin-bottom: 10px;
      margin: 5px;
      color: #1F194E;
      white-space: nowrap;
      position: relative;

      .name {
        color: $navy;
        font-size: 14px;
      }

      .delete {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        background-color: #F8F8F8;
        box-shadow: -6px 1px 6px #F8F8F8;
      }

      .student-picture {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        overflow: hidden;
        margin-right: 4px;
      }
    }

  }

  .group-name {
    margin-left: 15px;
    font-size: 15px;
    color: $navy;
    font-weight: 700;
  }

  .octagon {
    position: absolute;
    right: 15px;

    .value {
      position: absolute;
      z-index: 10;
    }
    //transform: scale(0.28);
    //bottom: -26px;
  }
}
