@media screen and (max-width: 335px) {
  div.fixed-card-wrapper {
    width: 300px !important;
  }

  .form,
  div.fixed-card {
    width: 300px !important;
  }
}

@media screen and (max-width: 940px) and (min-width: 335px) {
  div.fixed-card {
    width: 335px !important;
  }

  .form,
  .fixed-card-wrapper {
    width: 335px !important;
  }
}

@media screen and (max-width: 940px) {
  div.fixed-card {
    left: 50%;
    transform: translateX(-50%);
  }

  //.form {
  //  width: initial !important;
  //}

  div.pretty-replace-box {
    overflow: visible !important;
  }
}

.ios-form,
.ios-fixed-card-wrapper {
  width: 335px !important;
}

div.ios-fixed-card {
  left: 50% !important;
  width: 335px !important;
  transform: translateX(-50%) !important;
}


.ios-pretty-replace-box {
  overflow: visible !important;
}

.pointer {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -22px) rotate(45deg);
  background-color: white;
}

.ios-form,
.form {
  transition: width .45s ease, height .45s ease;
  position: relative;
}

.ios-pretty-replace-box,
.pretty-replace-box {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
}

.ios-fixed-card,
.fixed-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.ios-fixed-card-wrapper,
.fixed-card-wrapper {
  transition: width .45s ease, height .45s ease;
  position: relative
}


