<!-- Show the form designated for students -->
<div class="form" [style.width]="formSize.width" [style.height]="formSize.height">
  <!-- Buttons responsible for choosing formState -->
  <!--<h1 style="text-align: center">{{FORM_STATE.formMode.formFactor}}</h1>-->
  <!--{{FORM_STATE.forLater}}-->
  <div class="pretty-replace-box" [@.disabled]="false"
       [style.backgroundColor]="FORM_STATE.step < 4 && FORM_STATE.previousStep < 4 ? 'rgba(255, 255, 255, .8)' : 'transparent'"
       [style.overflow]="FORM_STATE.step === 2 || FORM_STATE.previousStep === 2 ? 'hidden' : 'visible'">
    <div style="transition: width .5s ease, height .5s ease; " [style.width]="formSize.width" [style.height]="formSize.height">

      <div class="fixed-card"  [style.width]="formSize.width" [style.height]="formSize.height" *ngIf="FORM_STATE.step === 1" [@NextStep]="{ value: '', params: frameMotion$ | async}" (@NextStep.start)="setFormSize()">
        <div [ngClass]="{'date-pickerrr': FORM_STATE.step < 3}" class="">
          <app-date-time-container [FORM_STATE]="FORM_STATE" (nextStepEvent)="onNextStep($event)" ></app-date-time-container>
        </div>
      </div>
      <div class="fixed-card" [style.width]="formSize.width" [style.height]="formSize.height" *ngIf="FORM_STATE.step === 2"  [@NextStep]="{ value: '', params: frameMotion$ | async}" (@NextStep.start)="setFormSize()">
        <div [ngClass]="{'student-groups': FORM_STATE.previousStep < 4}" class="">
          <app-groups-container [FORM_STATE]="FORM_STATE" (nextStepEvent)="onNextStep($event)"></app-groups-container>
        </div>
      </div>
    </div>

    <div style="transition: width .5s ease, height .5s ease;" class="fixed-card" *ngIf="FORM_STATE.step === 3"
         [style.width]="formSize.width"
         [style.height]="formSize.height"
         [@NextStep]="{ value: '', params: frameMotion$ | async}" (@NextStep.start)="setFormSize()">
      <!--<div class="fixed-card" [style.width]="formSize.width" [style.height]="formSize.height" *ngIf="FORM_STATE.step === 3"  [@ScaledCard] (@ScaledCard.start)="setFormSize()" >-->
      <div class="locations" [ngClass]="{'locations-scaled': FORM_STATE.previousStep > 2}">
        <app-locations-group-container [FORM_STATE]="FORM_STATE" (nextStepEvent)="onNextStep($event)"></app-locations-group-container>
      </div>

    </div>
  </div>
  <div class="fixed-card form-factor" style="z-index: 15" [style.width]="formSize.width" [style.height]="formSize.height" *ngIf="FORM_STATE.step === 4" [@NextStep]="{ value: '', params: frameMotion$ | async}" (@NextStep.start)="setFormSize()">
    <app-form-factor-container [FORM_STATE]="FORM_STATE" (nextStepEvent)="onNextStep($event)"></app-form-factor-container>
  </div>

</div>
