:host {
  flex: 1 1 auto;
}
.my-room-wrapper{
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
}

.my-room-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
}

.my-room-body{
    display: flex;
    flex-direction: column; 
}

.my-room-right{
    margin-left: 50px;
}

.no-content-info {
    display: flex;
    justify-content: center;
    color: #7f879d;
    //margin-top: 50px;
    font-size: 16pt;
    //height: 650px;
    height: 100%;
    flex: 1 1 auto;
}

.input {
    margin-right: 10px;
    margin-left: auto;
    width: 200px;
    min-height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

input {
    border: 0px;
    padding: 0 0 0 10px;
    height: 40px;
}

.calendar-wrapper{
    width: 45px;
    height: 45px;
    border-radius: 23px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar-icon{
    width: 28px;
    height: 28px;
}

.date-display{
    font-family: 'Helvetica Neue', sans-serif;
    color: #1F195E;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.selected-teacher{
    color: #1F195E;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 29px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    user-select: none;
}

.disclosure-icon {
    width: 20px;
    height: 20px;
    margin-left: 13px
}

.drop-arrow{
    margin-left: 3px;
    margin-top: 4px;
    width: 10px;
    height: 10px;
}

.text {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    text-align: center;
    color: #7e879d;
    margin-top: 25px;
}

.small-text {
    color: #767676;
}

.big-text {
    @extend .small-text;
    font-size: 16pt;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-svg {
    margin: 20px 0;
    width: 250px;
}
