<div class="my-room-wrapper" [style.width]="calendarToggled?'900px':'550px'">
  <div class="my-room-left">
    <div class="my-room-header">
      <app-teacher-dropdown [options]="teacherRooms" (onSelect)="this.dataService.updateMRRoom($event)"></app-teacher-dropdown>
      <input
        class="input"
        [placeholder]="'Search passes'"
        #searchInput
        [value]="inputValue"
        (input)="onSearch(searchInput.value)"
      >
      <div class="calendar-wrapper" (click)="calendarToggled=!calendarToggled" [style.background-color]="(calendarToggled?'#E4EBFF':'transparent')">
        <img class="calendar-icon" [src]="'./assets/Calendar (Colored).png' | resolveAsset">
      </div>
      <div class="date-display">{{ dateDisplay }}</div>
    </div>
    <div class="my-room-body">
      <app-pass-collection [isActive]="true" [forStaff]="isStaff" [style.width]="'550px'" [passes]="testPasses" [title]="'Active Passes'" [icon]="'./assets/Hallway (Colored).png'" [columns]="4"></app-pass-collection>
      <app-pass-collection [forStaff]="isStaff" [style.width]="'550px'" [passes]="testPasses" [title]="'Passes from'" [icon]="'./assets/One Arrow (Colored).png'" [columns]="4"></app-pass-collection>
      <app-pass-collection [forStaff]="isStaff" [style.width]="'550px'" [passes]="testPasses" [title]="'Passes to'" [icon]="'./assets/One Arrow Backwards (Colored).png'" [columns]="4"></app-pass-collection>
    </div>
  </div>
  <div *ngIf="calendarToggled" class="my-room-right">
    <app-date-time-picker [_selectedMoment]="_searchDate" [min]="min" [showTime]="false" (onUpdate)="searchDate = $event"></app-date-time-picker>
  </div>
</div>