<div *ngIf="userLoaded">
  <div *ngIf="isStaff && selectedLocation && userLoaded" class="my-room-wrapper" [style.width]="calendarToggled?'900px':'550px'">
    <div class="my-room-left">
      <div class="my-room-header">
        <!--<p>{{optionsOpen}} | {{showArrow}}</p>-->
        <div class="selected-teacher" (click)="showOptions($event)">
          {{ roomOptions?selectedLocation.title:"" }}
          <img *ngIf="showArrow" class="disclosure-icon" [src]="'./assets/Disclosure Indicator (Blue).png' | resolveAsset">
        </div>
        <input
          class="input"
          [placeholder]="'Search'"
          #searchInput
          [value]="inputValue"
          (input)="onSearch(searchInput.value)"
        >
        <div class="calendar-wrapper" (click)="calendarToggled=!calendarToggled" [style.background-color]="(calendarToggled?'#E4EBFF':'transparent')">
          <img class="calendar-icon" [src]="'./assets/Calendar (Blue).png' | resolveAsset">
        </div>
        <div class="date-display">{{ dateDisplay }}</div>
      </div>
      <div class="my-room-body">
        <app-pass-collection [isActive]="true" [forStaff]="isStaff" [style.width]="'550px'" [passProvider]="activePasses" [title]="'Active Passes'" [icon]="'./assets/Hallway (Blue).png'" [columns]="4"></app-pass-collection>
        <app-pass-collection [forStaff]="isStaff" [style.width]="'550px'" [passProvider]="originPasses" [title]="'Passes from ' +selectedLocation.title" [icon]="'./assets/Arrow Reverse (Blue).png'" [columns]="4"></app-pass-collection>
        <app-pass-collection [forStaff]="isStaff" [style.width]="'550px'" [passProvider]="destinationPasses" [title]="'Passes to ' +selectedLocation.title" [icon]="'./assets/Arrow (Blue).png'" [columns]="4"></app-pass-collection>

        <div *ngIf="!(hasPasses | async)" class="text">No Passes</div>
      </div>
    </div>
    <div *ngIf="calendarToggled" class="my-room-right">
      <app-date-time-picker [_selectedMoment]="searchDate" [min]="min" [showTime]="false" (onUpdate)="setSearchDate($event)"></app-date-time-picker>
    </div>
  </div>
  <div class="no-content-info">
    <h3 *ngIf="isStaff && !selectedLocation && userLoaded">No rooms</h3>
    <h3 *ngIf="!isStaff && userLoaded">You don't have access to this page</h3>
  </div>
</div>
