<ng-container *ngIf="userLoaded">
  <div [ngClass]="isIOSTablet ? 'ios-my-room-options-mobile-wrapper' : 'my-room-options-mobile-wrapper'"  [style.background-color]="darkTheme.getBackground('default', false)">
    <div [ngClass]="isIOSTablet ? 'ios-my-room-options-mobile' : 'my-room-options-mobile' ">
      <div class="option-wrapper">
        <app-icon-button [srcString]="'Search Eye'" (clickEvent)="toggleSearchBar()" [size]="20"></app-icon-button>
      </div>
      <div  *ngIf="isSearchBarClicked" [ngClass]="isIOSTablet ? 'ios-search-wrapper' : 'search-wrapper' ">
        <app-round-input
          [minWidth]="'100%'"
          [width]="'100%'"
          [type]="'text'"
          [focused]="true"
          [placeholder]="'Search'"
          [fieldIconPosition]="'left'"
          [closeIcon]="true"
          [selectReset$] = "resetValue"
          [pending$]="searchPending$"
          (ontextupdate)="onSearch($event)"
        ></app-round-input>
      </div>
      <div class="cancel-wrapper" *ngIf="isSearchBarClicked" (click)="cleanSearchValue()">
        <span class="cancel">Cancel</span>
      </div>

      <div *ngIf="!isSearchBarClicked && UI"
           style="display: flex; flex-direction: column; align-items: center"
      >
        <div class="selected-teacher"
             [style.cursor]="roomOptions.length > 1 ? 'pointer' : 'default'" #target (click)="showOptions(target)"
             [style.color]="myRoomHeaderColor"
        >
          {{ selectedLocation ? selectedLocation.title : (roomOptions.length > 1 ? 'All Rooms' : roomOptions[0].title)}}
          <img *ngIf="showArrow" class="disclosure-icon" [src]="getIcon('./assets/Chevron Down (Navy).svg') | resolveAsset">
        </div>
        <div [style.margin-left]="'auto'"
             [style.margin-right]="'10px'">
          <div [ngClass]=" isIOSTablet ?  'ios-search' : 'search'">
            <app-round-input
              [minWidth]="'215px'"
              [width]="'215px'"
              [type]="'text'"
              [placeholder]="'Search'"
              [fieldIconPosition]="'left'"
              [closeIcon]="true"
              [pending$]="searchPending$"
              (ontextupdate)="onSearch($event)"
            ></app-round-input>
          </div>
        </div>
        <div [ngClass]="isIOSTablet ? 'ios-calendar-wrapper' : 'calendar-wrapper'">
          <app-icon-button [size]="25" [srcString]="'Calendar'" (clickEvent)="chooseDate($event)"></app-icon-button>
        </div>

        <div [ngClass]="isIOSTablet ? 'ios-date-display-mobile' : 'date-display-mobile'" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ dateDisplay }}</div>
      </div>

      <div class="option-wrapper option-wrapper-calendar" (click)="calendarClick()">

        <app-icon-button [@calendarIconTrigger]='calendarIconState' [srcString]="'Calendar'" [size]="20" (clickEvent)="calendarClick()"></app-icon-button>

      </div>
<!--      <p *ngIf="screenService.isDeviceMid && !isSearchBarClicked" class="my-room-title">My Room</p>-->
    </div>
  </div>
  <div *ngIf="UI" class="my-room-wrapper" #scrollableArea>
    <div class="my-room-left" *ngIf="!(kioskMode.currentRoom$ | async)">
      <div class="my-room-header" [@headerTrigger]="headerState" *ngIf="screenService.isDesktopWidth">
        <div class="selected-teacher"
             [style.font-size]="selectedLocation && selectedLocation.title.length > 13 ? 29 - (selectedLocation.title.length - 13) * 2 + 'px' : '29px'"
             [style.cursor]="roomOptions.length > 1 ? 'pointer' : 'default'" #target (click)="showOptions(target)"
             [style.color]="myRoomHeaderColor"
        >
          {{ selectedLocation ? selectedLocation.title : (roomOptions.length > 1 ? 'All Rooms' : roomOptions[0].title)}}
          <img *ngIf="showArrow" class="disclosure-icon" [src]="getIcon('./assets/Chevron Down (Navy).svg') | resolveAsset">
        </div>
        <div [style.margin-left]="'auto'"
             [style.margin-right]="'10px'">
          <div class="search">
            <app-round-input
              [minWidth]="'215px'"
              [width]="'215px'"
              [type]="'text'"
              [placeholder]="'Search'"
              [fieldIconPosition]="'left'"
              [closeIcon]="true"
              [pending$]="searchPending$"
              (ontextupdate)="onSearch($event)"
            ></app-round-input>
          </div>
        </div>
        <div class="calendar-wrapper">
          <app-icon-button [size]="25" [srcString]="'Calendar'" (clickEvent)="chooseDate($event)"></app-icon-button>
        </div>

        <div class="date-display-mobile" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ dateDisplay }}</div>
      </div>

      <div [@calendarSlide]="calendarSlideState('topBottom')" *ngIf="is670pxBreakPoint" class="calendar-card-wrapper">
        <mat-card [ngClass]=" isIOSTablet ? 'ios-calendar-card' : 'calendar-card'">
          <app-calendar-picker
            [style.z-index]="0"
            [showTime]="false"
            [showYear]="false"
            [dotsDates]="currentPassesDates"
            (onSelectDate)="onDate($event)"
          ></app-calendar-picker>
        </mat-card>
      </div>

      <div class="kiosk-mode-button"
           *ngIf="showKioskModeButton"
           [style.background-color]="(darkTheme.isEnabled$ | async) ? '#134482' : '#F4F4F4'"
           (mouseenter)="onHover(true)" (mouseleave)="onHover(false)"
           (mousedown)="onPress(true)" (mouseup)="onPress(false)"
           [@pressState]="buttonState"
           (click)="setRoomToKioskMode()"
      >
        <div class="ds-flex-center-center" [style.color]="darkTheme.getColor()">
          <img width="20" height="20" class="ds-mr-10" [src]="darkTheme.getIcon({iconName: 'Tablet', darkFill: 'White', lightFill: 'Navy'})" alt="Tablet.svg">
          <span>Enter Kiosk Mode</span>
        </div>
        <div class="kiosk-chevron">
          <img width="20" height="20" [src]="darkTheme.getIcon({iconName: 'Chevron Right', lightFill: 'Navy', darkFill: 'White'})" alt="Chevron Right.svg">
        </div>
      </div>

      <div class="my-room-body" [@collectionsTrigger] = 'collectionsSlideState'>
        <div [style.maxWidth]="collectionWidth" [ngClass]="isIOSTablet ? 'ios-my-room-body-collections' : 'my-room-body-collections'">
          <app-pass-collection
            [smoothlyUpdating]="true"
            [isActive]="true"
            [forStaff]="isStaff"
            [passProvider]="activePasses"
            [title]="'Active Passes'"
            [icon]="'./assets/Walking (Navy).svg'"
            [columns]="4"
            (currentPassesEmit)="currentPasses$.next($event)"
          >
          </app-pass-collection>
          <app-pass-collection
            [smoothlyUpdating]="true"
            [forStaff]="isStaff"
            [passProvider]="originPasses"
            [title]="'Passes from ' + (selectedLocation ? selectedLocation.title : 'All Rooms')"
            [icon]="'./assets/SP Arrow Reverse (Navy).svg'"
            [columns]="4"
            (currentPassesEmit)="currentPasses$.next($event)"
          >
          </app-pass-collection>
          <app-pass-collection
            [smoothlyUpdating]="true"
            [forStaff]="isStaff"
            [passProvider]="destinationPasses"
            [title]="'Passes to ' + (selectedLocation ? selectedLocation.title : 'All Rooms')"
            [icon]="'./assets/SP Arrow (Navy).svg'"
            [columns]="4"
            (currentPassesEmit)="currentPasses$.next($event)"
          >
          </app-pass-collection>

          <div *ngIf="!(hasPasses | async) && (passesLoaded | async)">
            <div class="empty-container" *ngIf="inputValue != ''">
              <img class="empty-svg" [src]="'./assets/emptyStates/emptyRoomSearch.svg' | resolveAsset" alt="empty-svg">
              <div class="big-text ds-empty-text-title" [style.margin]="'10px 0'">No Results</div>
              <div class="small-text ds-empty-text-info">Search again or change the date</div>
            </div>
            <div class="empty-container" *ngIf="inputValue==''">
              <img class="empty-svg" [src]="'./assets/emptyStates/emptyRoom.svg' | resolveAsset" alt="empty-svg">
              <div class="big-text ds-empty-text-title" [style.margin]="'10px 0'">It's Blank</div>
              <div class="small-text ds-empty-text-info">There aren't any passes here</div>
            </div>
          </div>
        </div>
        <div [@calendarSlide] = "calendarSlideState('leftRight')" *ngIf="this.screenService.isIpadWidth && !is670pxBreakPoint" class="calendar-card-wrapper-right">
          <mat-card class="calendar-card">
            <app-calendar-picker
              [showTime]="false"
              [showYear]="false"
              (onSelectDate)="onDate($event)"
            ></app-calendar-picker>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="no-content-info" *ngIf="error">
      <app-restriction-dummy></app-restriction-dummy>
    </div>
  </div>
</ng-container>
