<h1>Active Passes</h1>
<hr>
<p-dataView [value]="activePasses | async" [paginator]="true"
            [rows]="4" paginatorPosition="top" filterBy="id"
            [sortField]="sortField" [sortOrder]="sortOrder"
            layout="grid">

    <ng-template let-currentPass pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <app-pass-card [pass]="currentPass" [title]="'Active Pass'"
                            [showActivate]="false" [isPending]="false"
                            [forTeacher]="false" [isExpired]="false">
            </app-pass-card>
        </div>
    </ng-template>
</p-dataView>
<br><br>


<h1>Expired Passes</h1>
<hr>
<p-dataView [value]="expiredPasses | async" [paginator]="true"
            [rows]="8" paginatorPosition="top" filterBy="id"
            [sortField]="sortField" [sortOrder]="sortOrder"
            layout="grid">

    <ng-template let-currentPass pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <app-pass-card [pass]="currentPass" [title]="'Expired Pass'"
                            [showActivate]="false" [isPending]="false"
                            [forTeacher]="false" [isExpired]="true">
            </app-pass-card>
        </div>
    </ng-template>

</p-dataView>
