.title{
  font-family: Roboto, sans-serif;
  text-decoration: underline;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 10px;
}
  
button{
  margin-left: auto;
  margin-right: auto;

  display: block;

  background-color: #E9E9E9;
}

.teacherPass{
  margin: auto;
  width: 600px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 12px;
}

.studentPass{
  margin: auto;
  width: 600px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 12px;
}

.formElement{
  margin-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.qpFormElement{
  padding-bottom: 20px;
}

.halfForm{
  width: 50%;
}

.thirdForm{
  width: 35%;
}

.date, .time, .duration, .submit, .to, .from, .hallPassColumn, .dividerColumn, .quickPassColumn, .dash, .or{
  display: table-cell;
}

.duration{
  min-width: 100px;
}

.time, .submit, .from, .dividerColumn, .quickPassColumn{
  padding-left: 10px;
}

.dividerColumn{
  width: 150px;
  height: 25px;
  margin: auto;
}

.dash{
  width: 50px;
}

.or{
  padding-left: 10px;
  padding-right: 10px;
}