.form{
  width: inherit;
  height: inherit;
}

.locs{
  display: flex;
  flex-direction: row
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.card{
  width: inherit;
  height: 62px;
  padding-top: 8.9px;
  border-radius: 7px;
  background-image: radial-gradient(circle at 77% 61%, #03cf31, rgba(2, 169, 67, 0.86) 67%, rgba(1, 129, 85, 0.7));
  color: white;   
  box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.requestCard{
  background-image: radial-gradient(circle at 98% 97%, #7b7df1, #5e3fb6);
}

.icon{
  float:left;
  /* padding: 11px 0px 0px 10px; */
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
  margin-left: 45px;
  /* padding: 15px 200px 0px 43px; */
}

.micon{
  /* padding: 11px 0px 0px 10px; */
  /* margin-left: 10px; */
  width: 25px;
  height: 25px;
  margin-top: 14px; 
}

.mtitle{
  float:left;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
  margin-left: 5px;
  margin-top: 14px;
  /* padding: 15px 200px 0px 43px; */
}

.clickRipple{
  width: 150px;
  border-radius: 7px;
}

.mat-button{
  line-height: inherit;
  padding: 0px;
  font-family: inherit;
  vertical-align: top;
}

/* .from, .to, .one-way, .round-trip, .message{
  display: table-cell;
} */

.one-way, .round-trip{
  height: 75px;
  margin: 0px 10px 0px 10px;
}

.from{
  margin-left: 0px;
}

.to{
  margin-left: 0px;
}

.divider{
  width: 669.5px;
  height: 1.5px;
  /* border: solid 0.5px #979797; */
  background-color: #979797;
  margin: 10px 0px 10px 0px;
}

.grid{
  margin: 0px, 85px, 0px, 85px;
}

.message{
  width: 300px;
  border-radius: 7px;
  height: 62px;
}

textarea {
  resize: none;
}

.vcenter{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hcenter{
  position: absolute;
  left: 50%;
  transform: translate(50%, 0%);
}
/* .title{
  font-family: Roboto, sans-serif;
  text-decoration: underline;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 10px;
}
  
button{
  margin-left: auto;
  margin-right: auto;

  display: block;

  background-color: #E9E9E9;
}

.teacherPass{
  margin: auto;
  width: 600px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 12px;
}

.studentPass{
  margin: auto;
  width: 600px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 12px;
}

.formElement{
  margin-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.qpFormElement{
  padding-bottom: 20px;
}

.halfForm{
  width: 50%;
}

.thirdForm{
  width: 35%;
}

.date, .time, .duration, .submit, .to, .from, .hallPassColumn, .dividerColumn, .quickPassColumn, .dash, .or{
  display: table-cell;
}

.duration{
  min-width: 100px;
}

.time, .submit, .from, .dividerColumn, .quickPassColumn{
  padding-left: 10px;
}

.dividerColumn{
  width: 150px;
  height: 25px;
  margin: auto;
}

.dash{
  width: 50px;
}

.or{
  padding-left: 10px;
  padding-right: 10px;
} */