<p-growl [(value)]="msgs" life="3000"></p-growl>

<div *ngIf="isStaff; else studentForm;" [style.display]="getDisplay()">
  <!-- <div class="teacherPass">
    <h1 class="title">Hall Pass</h1>

    <div class="formElement">
      <app-student-search></app-student-search>
    </div>

    <div class="formElement">
      When is this pass for?<br>
      <p-inputSwitch onLabel="Later" offLabel="Now" [(ngModel)]="isPending"></p-inputSwitch>
    </div>

    <div *ngIf="isPending; else notPendingLocations;">
      <div class="formElement halfForm">
        <app-teacher-search type="'to'"></app-teacher-search>
      </div>
    </div>
    <ng-template #notPendingLocations>
      <div class="formElement">
        <app-teacher-search class="to" type="'to'"></app-teacher-search>
        <app-teacher-search class="from" type="'from'"></app-teacher-search>
      </div>
    </ng-template>

    <div *ngIf="isPending; else notPendingDateTime;">
      <div class="formElement">
        <div class="date">
          <app-date-time type="'date'"></app-date-time>
        </div>

        <div class="time">
          <app-date-time type="'time'"></app-date-time>
        </div>
      </div>
    </div>
    <ng-template #notPendingDateTime></ng-template>
    <div class="formElement">
      <div class="duration">
        <app-duration-picker></app-duration-picker>
      </div>

      <div class="submit">
        <p-button (onClick)="newPass()" icon="fa fa-fw fa-check" label="Issue Pass"></p-button>
      </div>
    </div>
  </div> -->
</div>

<ng-template #studentForm>
  <div class="form">
    <app-type-selector class="center" (onChange)="updateType($event)"></app-type-selector>
    <div class="divider"></div>
    <div class="center">
      <button mat-button class="clickRipple from" (click)="chooseLoc('from')">
        <div class="card" [style.background]="getGradient('from')">
          <div class="vcenter">
            <img *ngIf="fromIcon != ''" class="icon vcenter" [src]="fromIcon | resolveAsset">
            <div class="title vcenter">
              {{from_title}}
            </div>
          </div>
        </div>
      </button>

      <!-- <div class="type-arrows"> -->
        <img *ngIf="travelType == 'round_trip'" class="round-trip" [src]="'./assets/RT_Arrow.png' | resolveAsset">
        <img *ngIf="travelType == 'one_way'" class="one-way" [src]="'./assets/OW_Arrow.png' | resolveAsset">
      <!-- </div> -->

      <button mat-button class="clickRipple to" (click)="chooseLoc('to')">
        <div class="card" [style.background]="getGradient('to')">
          <div class="vcenter">
            <img *ngIf="toIcon != ''" class="icon vcenter" [src]="toIcon">
            <div class="title vcenter">
              {{to_title}}
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="divider"></div>
    <div *ngIf="formState == 'to'">
      <div *ngIf="toState == 'pinnables'">
        <mat-grid-list class="grid" cols="4" rowHeight="75px" gutterSize="15px">
          <mat-grid-tile *ngFor="let pinnable of pinnables | async">
            <app-pinnable [pinnable]="pinnable" (onSelectEvent)="pinnableSelected($event)"></app-pinnable>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div *ngIf="toState == 'category'">
        <app-location-table (onSelect)="locationChosen($event)" [setCategory]="toCategory"></app-location-table>
      </div>
    </div>
    <div *ngIf="formState == 'fields'">
      <div *ngIf="!toLocation.restricted; else restrictedFields;">
        <mat-grid-list class="grid" [cols]="2" [rowHeight]="100" [gutterSize]="10">
          <mat-grid-tile [rowspan]="1" [colspan]="1">
            <div class="question">How much time do you need?
              <br><br>
              <div class="amount">
                  <app-duration-picker (onChange)="updateDuration($event)"></app-duration-picker>
                </div>
            </div>
          </mat-grid-tile>
           <mat-grid-tile rowspan="1" colspan="1">
            <button mat-button class="clickRipple request" (click)="newPass()">
              <div class="card requestCard">
                <div>
                  <div class="title">
                    Make Pass
                  </div>
                  <!-- <img class="icon" [src]="toIcon"> -->
                </div>
              </div>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template #restrictedFields>
        <div class="center">
          <textarea #messageInput class="message" matInput placeholder="Leave a message for the teacher such as when and why you want the pass. "></textarea>
          <button mat-button class="clickRipple request" (click)="newRequest(messageInput.value)">
            <div class="card requestCard">
              <div>
                <div class="title">
                  Request Pass
                </div>
                <!-- <img class="icon" [src]="toIcon"> -->
              </div>
            </div>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- <div class="studentPass">
    <h1 class="title">Hall Pass</h1>
    <div class="hallPassColumn">

      <div class="formElement">
        <app-teacher-search class="" type="'to'"></app-teacher-search>
      </div>

      <div class="formElement">
          <app-teacher-search class="" type="'from'"></app-teacher-search>
      </div>

      <div class="formElement">
        <div class="duration">
          <app-duration-picker></app-duration-picker>
        </div>
        <div class="submit">
          <p-button (onClick)="newPass()" icon="fa fa-fw fa-check" label="Create Pass"></p-button>
        </div>
      </div>
    </div>

    <div class="quickPassColumn">
      <div class="qpFormElement">
        <app-quickpass-picker (quickPassEvent)="quickPassUpdate($event)"></app-quickpass-picker>
      </div>
    </div>

  </div> -->
</ng-template>
