<p-growl [(value)]="msgs" life="3000"></p-growl>

<div class="pointer"></div>

<ng-container *ngIf="isStaff">
  <mat-horizontal-stepper #stepper [linear]="true" style="margin-bottom: -20px;">
    <!-- Choose students and origin -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Origin&nbsp;/&nbsp;Students</ng-template>

        <mat-radio-group [formControl]="firstFormGroup.controls['travelTypeCtrl']">
          <mat-radio-button value="one_way">One way</mat-radio-button>
          <mat-radio-button value="round_trip">Round Trip</mat-radio-button>
        </mat-radio-group>

        <app-student-picker [formCtrl]="firstFormGroup.controls['studentsCtrl']" [multiple]="true"></app-student-picker>

        <app-location-picker [placeholder]="'Origin'"
                             [formCtrl]="firstFormGroup.controls['originCtrl']"
                             [required]="originRequired"></app-location-picker>

        <br>
        <mat-form-field>
          <mat-select placeholder="Pass Time" [formControl]="firstFormGroup.controls['durationCtrl']" required>
            <mat-option *ngFor="let duration of durations" [value]="duration">
              {{ duration.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="isStaff" class="passType">
          <mat-slide-toggle [formControl]="firstFormGroup.controls['mandatoryCtrl']">Create without student confirmation?
          </mat-slide-toggle>
        </div>

        <app-date-time-picker (onUpdate)="setStartTime($event)"></app-date-time-picker>

        <p>*Leave these fields blank for an immediate pass*</p>
        <div class="stepper-buttons">
          <button class="stepper-button" [style.border]="getStepperBorderStyle('next', 1)" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Choose destination -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Destination</ng-template>
        <mat-grid-list class="grid center" cols="4" gutterSize="15px" rowHeight="70px">
          <mat-grid-tile *ngFor="let pinnable of pinnables | async">
            <app-pinnable [pinnable]="pinnable" (onSelectEvent)="pinnableSelected($event, picker)"></app-pinnable>
            <div class="location-wrapper">
              <div class="inner">
                <app-location-picker #picker [placeholder]="'Destination'"
                                     [formCtrl]="secondFormGroup.controls['destinationCtrl']"
                                     [category]="pinnable.category"></app-location-picker>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="stepper-buttons">
          <button class="stepper-button" [style.border]="getStepperBorderStyle('back', 2)" mat-button matStepperPrevious>Back</button>
          <button class="stepper-button" [style.border]="getStepperBorderStyle('next', 2)" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Confirm -->
    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>
      <div class="fields center">
        <div class="grow"></div>
        <div style="display: flex;flex-direction: column;align-items: flex-end;">
          <app-hallpass-card *ngIf="syntheticPass" [hallpass]="syntheticPass" [future]="true" [expanded]="true"></app-hallpass-card>
        </div>
        <div class="grow"></div>

      </div>
      <div class="stepper-buttons">
        <button class="stepper-button" [style.border]="getStepperBorderStyle('back', 3)" mat-button matStepperPrevious>Back</button>

        <app-gradient-button
          [minWidth]="'150px'"
          [gradient]="'#7b7df1, #5e3fb6'"
          [rightIcon]="'./assets/One_Arrow.png'"
          (click)="determinePass()"
        >{{ isStaff ? (isMandatory ? 'Issue' : 'Invite') : 'Make Pass' }}
        </app-gradient-button>
      </div>
    </mat-step>


  </mat-horizontal-stepper>
</ng-container>

<ng-container *ngIf="!isStaff">
  <div class="form">
    <!-- <app-type-selector class="center" (onChange)="updateType($event)"></app-type-selector> -->
    <!-- <div class="divider"></div> -->
    <app-student-search *ngIf="isStaff" class="studentSearch center"
                        (onUpdate)="studentsUpdated($event)"></app-student-search>
    <div *ngIf="isStaff" class="divider"></div>
    <div class="locs">
      <app-gradient-button
        class="location-button"
        [gradient]="fromGradient"
        [hoverColor]="'#7E879D'"
        [minWidth]="'134px'"
        [minHeight]="'60px'"
        (click)="chooseLoc('from')"
      >{{ from_title }}
      </app-gradient-button>

      <!-- <div class="type-arrows"> -->
      <!-- <img [class.hidden]="travelType != 'round_trip'" class="round-trip"
           [src]="'./assets/RT_Arrow.png' | resolveAsset"> -->
      <img class="one-way" [src]="'./assets/OW_Arrow.png' | resolveAsset">
      <!-- </div> -->

      <app-gradient-button
        class="location-button"
        [gradient]="toGradient"
        [hoverColor]="'#7E879D'"
        [minWidth]="'134px'"
        [minHeight]="'60px'"
        (click)="chooseLoc('to')"
      >{{ to_title }}
      </app-gradient-button>

    </div>
    <div class="divider"></div>
    <div *ngIf="formState == 'to'">
      <div *ngIf="toState == 'pinnables'">
        <mat-grid-list class="grid center" cols="4" rowHeight="75px" gutterSize="15px">
          <mat-grid-tile *ngFor="let pinnable of pinnables | async">
            <app-pinnable [pinnable]="pinnable" (onSelectEvent)="pinnableSelected($event)"></app-pinnable>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div *ngIf="toState == 'category'">
        <app-location-table class="center" (onSelect)="locationChosen($event)"
                            [setCategory]="toCategory"></app-location-table>
      </div>
    </div>
    <div *ngIf="formState == 'fields'">
      <div *ngIf="!toLocation.restricted || isStaff; else restrictedFields;" class="fields center">
        <div class="question">How much time do you need?
          <br><br>
          <div class="amount">
            <app-duration-picker (onChange)="updateDuration($event)"></app-duration-picker>
          </div>
        </div>

        <div *ngIf="isStaff" class="passType">
          <div>Is this pass mandatory?</div>
          <mat-slide-toggle (change)="updatePassType($event)"></mat-slide-toggle>
        </div>

        <app-gradient-button
          [minWidth]="'150px'"
          [gradient]="'#7b7df1, #5e3fb6'"
          [rightIcon]="'./assets/One_Arrow.png'"
          (click)="determinePass()"
        >{{ isStaff ? (isMandatory ? 'Issue' : 'Invite') : 'Make Pass' }}
        </app-gradient-button>

      </div>
      <ng-template #restrictedFields>
        <div class="flex">
          <div class="grow"></div>
          <textarea #messageInput class="message" matInput
                    placeholder="Leave a message for the teacher such as when and why you want the pass. "></textarea>

          <app-gradient-button class="request-button"
                               [gradient]="'#7b7df1, #5e3fb6'"
                               [rightIcon]="'./assets/One_Arrow.png'"
                               (click)="newRequest(messageInput.value)">Request Pass
          </app-gradient-button>
          <div class="grow"></div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>

