<div class="host">

  <div class="container">

    <div class="shadow-gradient"></div>
    <div class="unit-box">
      <div class="scroll" (mousedown)="onDown($event)" (mouseup)="onUp($event)" (mousemove)="onMove($event)"  (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">
        <div class="scrollable"></div>
      </div>
      <div class="completed-date">
        <div class="unit-clip">
          <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">
            <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">
              {{day.value}}
            </div>
          </div>
        </div>

      </div>
      <div class="unit-clip">
        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">
          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">
            {{day.value}}
          </div>
        </div>
      </div>

    </div>
<!--    <div class="unit-box">-->
<!--      <div class="scroll" (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">-->
<!--        <div class="scrollable"></div>-->
<!--      </div>-->
<!--      <div class="completed-date">-->
<!--        <div class="unit-clip">-->
<!--          <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">-->
<!--            <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">-->
<!--              {{day.value}} h-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="unit-clip">-->
<!--        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">-->
<!--          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">-->
<!--            {{day.value}} h-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="unit-box">-->
<!--      <div class="scroll" (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">-->
<!--        <div class="scrollable"></div>-->
<!--      </div>-->
<!--      <div class="completed-date">-->
<!--        <div class="unit-clip">-->
<!--          <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">-->
<!--            <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">-->
<!--              {{day.value}} m-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="unit-clip">-->
<!--        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">-->
<!--          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">-->
<!--            {{day.value}} m-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

  </div>

</div>
