@import '../../../design-system';

.notification-form-info {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .top-bar {
    display: flex;
    height: 60px;

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 60px;

      .image {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        flex-shrink: 0;

        img {
          width: 18px;
        }
      }
    }
  }

  .top-bar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left-pad {
    padding-left: 16px;
  }

  .icon-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 27px;

    img {
      width: 20px;
    }
  }

  .title {
    line-height: 22px;
  }

  .byline {
    letter-spacing: 0;
  }

  &.normal {
    background: #F5F6F8;

    .title {
      @include textSize(15px, 600);
    }

    .byline {
      @include textSize(14px, normal, $gray500);
    }
  }

  &.warn {
    background: #FCE9EF;

    .title {
      @include textSize(15px, 600, $red500);
    }

    .byline {
      @include textSize(14px, normal, $red500);
    }
  }

  &.disabled {
    opacity: 0.5;
    background: #F5F6F8;

    .title {
      @include textSize(15px, 600);
    }

    .byline {
      @include textSize(14px, normal, $gray500);
    }
  }

  .dropped.has-content .div {
    margin: 0 16px 20px 16px;
    border-bottom: 1px solid $gray300;
  }

  .not-dropped {
    display: none;
  }
}


