<div
    #but
    class="button-wrapper"
    [style.background]="backgroundGradient()"
    [style.box-shadow]="boxShadow"
    [ngClass]="{'disabled': disabled}"
    [@pressState]="buttonState"
    (click)="buttonClick()"
    (mouseenter)="hovered = true"
    (mouseleave)="buttonDown = false; hovered = false"
    (mousedown)="buttonDown = true"
    (mouseup)="buttonDown = false"
    (touchstart)= "buttonDown = true;"
    (touchmove)="but.preventClick = true"
    (touchend)= "buttonDown = false; hovered = false; !but.preventClick ? but.click() : but.preventClick = false"
>
  <div class="title">{{ title }}</div>
</div>
