<div
    #but
    class="button-wrapper"
    [style.background]="backgroundGradient()"
    [style.box-shadow]="boxShadow"
    [ngClass]="{'disabled': disabled}"
    [@pressState]="buttonState"
    (click)="buttonClick()"
    (pointerenter)="hovered = true"
    (pointerleave)="buttonDown = false; hovered = false"
    (pointerdown)="buttonDown = true"
    (pointerup)="buttonDown = false"
    (touchstart)= "buttonDown = true;"
    (pointemove)="but.preventClick = true"
    (touchend)= "buttonDown = false; hovered = false; !but.preventClick ? buttonClick() : but.preventClick = false"
>
  <div class="title">{{ title }}</div>
</div>
