<div id="form" [formGroup]="form">
  <div class="schools"
       formArrayName="schools"
       *ngFor="let school of schools.controls; let i = index">
    <ng-container [formGroupName]="i" class="row">
      <div class="mini-row">
        <div class="input-wrapper">
          <app-input [input_label]="(i == 0 || innerWidth < 560) ? 'School Name' : ''"
                     [width]="innerWidth < 560 ? '225px' : '300px'"
                     [tabIndex]="startTabIndex != -1 ? startTabIndex + 2 * i : null"
                     [isFocus]="i == 0 && autoFocus"
                     tabAttentive="true"
                     placeholder="Springfield High School"
                     [formGroup]="school"
                     [controlName]="school.controls.name"></app-input>
        </div>
        <div class="remove-wrapper" *ngIf="innerWidth < 560">
          <button class="remove" [style.visibility]="showRemove() ? 'visible' : 'hidden'" mat-icon-button
                  (click)="removeSchool(i)">
            <mat-icon svgIcon="minus"></mat-icon>
          </button>
        </div>
      </div>
      <div class="input-wrapper">
        <app-input [input_label]="(i == 0 || innerWidth < 560) ? 'Approx # of People' : ''"
                   [width]="innerWidth < 560 ? '100px' : '150px'"
                   [tabIndex]="startTabIndex != -1 ? startTabIndex + 2 * i : null"
                   tabAttentive="true"
                   placeholder="1656"
                   [formGroup]="school"
                   [controlName]="school.controls.population"></app-input>
      </div>
    </ng-container>
    <div class="remove-wrapper" *ngIf="innerWidth >= 560" [style.padding-top]="i == 0 ? '20px' : '2px'">
      <button class="remove" [style.visibility]="showRemove() ? 'visible' : 'hidden'" mat-icon-button
              (click)="removeSchool(i)">
        <mat-icon svgIcon="minus"></mat-icon>
      </button>
    </div>
  </div>
  <div id="add-school-wrapper">
    <button id="add-school" mat-button (click)="addSchool()">
      <mat-icon>add</mat-icon>
      <span>Add a school</span>
    </button>
  </div>
</div>
