@import "../../../../design-system";

#form {
  margin-bottom: 20px;
}

@media only screen and (min-width: 560px) {
  .schools {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 6px;

    .mini-row {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 559px) {
  .schools {
    margin-top: 6px;

    .mini-row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .remove-wrapper {
      padding-top: 22px;
    }

    .input-wrapper {
      margin-bottom: 20px;
    }
  }
}

#add-school-wrapper {
  display: flex;
  justify-content: flex-end;

  #add-school {
    color: $blue-gray;
    font-size: 12px;
    background-color: #f1f1f1;

    margin-top: 12px;
    margin-right: 42px;
    padding-left: 8px;
    padding-right: 8px;
  }
}


