@media all and (max-width: 940px) {
  div.tile-wrapper {
    cursor: default;
    width: 100%;
  }

  div.names-overlay {
    width: 100%;
  }
}

@media all and (max-width: 425px) and (min-width: 360px) {
  div.tile-wrapper {
    cursor: default;
  }

  div.tile-wrapper {
    width: 157px;
    height: 95px;
  }
}

.tile-wrapper{
    width: 143px;
    height: 86.5px;
    border-radius: 12.75px;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: visible;
    font-style: normal;
    font-stretch: normal;
    transition: box-shadow .3s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.tile-title-container {
  min-width: 145px;
}

.tile-title {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
}

.tile-subtitle {
  font-size: 13.5px;
}

.tile-title-truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tile-title-demo {
  position: static;
}

.tile-type {
    margin-top: 8px;
}

.tile-content{
  position: relative;
  overflow: hidden;
  z-index: 2;
  flex: 1 1 auto;
  height: 30px;
}

.badge{
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #E32C66;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.names-overlay{
    position: absolute;
    bottom: 0px;
    background: rgba(200, 200, 200, .7);
    mix-blend-mode: soft-light;
    width: 143px;
    height: 29px;
    border-radius: 0 0 12.75px 12.75px;
    cursor: pointer;
    user-select: none;
}

.names{
    color: #fff;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 13.5px;
    font-weight: 600;
    position: absolute;
    bottom: 7px;
    width: 143px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
