.tile-wrapper{
    width: 121px;
    height: 74px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
    overflow: visible;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.08;
    letter-spacing: 0.3px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.tile-wrapper:hover{
    box-shadow: 0 8.5px 14px 0 rgba(0, 0, 0, 0.3);
}

.tile-title{
    font-weight: bold;
    font-size: 10pt;
}

.tile-content{
    font-size: 9pt;
    margin-bottom: 7px;
}