<div *ngIf="!mock" class="tile-wrapper"
      [style.background]="backgroundGradient()"
      [style.justify-content]="forStaff?'unset':'center'"
      [style.box-shadow]="boxShadow"
      [@pressState]="buttonState"
      (mouseenter)="hovered = true"
      (mouseleave)="buttonDown = false; hovered = false"

      appCrossPointerEventTarget
      (pointerClickEvent)="buttonDown = false; onClick($event)"
      (pointerDownEvent)="buttonDown = true;"
      (pointerCancelEvent)="buttonDown = false;"
  >

  <div class="tile-title-container" [style.margin-top]="forStaff ? '0' : '-6px'" >
    <div class="ds-flex-center-center ds-w-100 ds-border-box ds-px-10 ds-mt-5">
      <div class="tile-content"  #title [style.height]="forStaff ? '30px' : '20px'">
        <div *ngIf="pass.destination.title.length >= 10; else shortTitle" class="tile-title tile-title-truncated" [style.margin-top]="forStaff ? '8px' : '0px'"  (mouseover)="onHover($event, title);"
             (mouseleave)="onLeave($event)">{{ pass.destination.title }}
        </div>
        <ng-template #shortTitle>
          <div class="tile-title" [style.margin-top]="forStaff ? '8px' : '0px'">{{ pass.destination.title }}</div>
        </ng-template>
      </div>
    </div>
    <div class="tile-subtitle">{{ tileContent }}</div>
  </div>

  <img [style.width]="'13px'" [style.height]="'15px'" *ngIf="pass.travel_type == 'one_way' && !forStaff" [src]="'./assets/SP Arrow (White).svg' | resolveAsset" class="tile-type">
  <img [style.width]="'35px'" [style.height]="'15px'" *ngIf="pass.travel_type == 'round_trip' && !forStaff" [src]="'./assets/SP Arrow Double (White).svg' | resolveAsset" class="tile-type">
  <div *ngIf="isBadgeVisible" class="badge">1</div>
<div *ngIf="forStaff" class="names-overlay"></div>
<div *ngIf="forStaff" class="names">{{ tileName }}</div>
</div>
  <!--{{boxShadow}}-->


<!-- Needs for Intro flow -->

<div *ngIf="mock"
     class="tile-wrapper"
     [style.background]="'radial-gradient(circle at 73% 71%,' + mock.gradient + ')'"
     [style.justify-content]="forStaff?'unset':'center'"
     [style.box-shadow]="boxShadow">
  <div class="tile-title tile-title-demo" [style.margin-top]="forStaff?'13px':'0px'" >{{ mock.header }}</div>
  <div class="tile-subtitle">{{ mock.content }}</div>
  <ng-container *ngIf="!forStaff">
    <img [style.width]="'15px'" [style.height]="'15px'" *ngIf="mock.arrows === 'one'" [src]="'./assets/SP Arrow (White).svg' | resolveAsset" class="tile-round-trip">
    <img [style.width]="'35px'" [style.height]="'15px'" *ngIf="mock.arrows === 'two'" [src]="'./assets/SP Arrow Double (White).svg' | resolveAsset" class="tile-one-way">
  </ng-container>
  <div *ngIf="mock.badge" class="badge">1</div>
  <div *ngIf="forStaff" class="names-overlay"></div>
  <div *ngIf="forStaff" class="names">{{mock.footer}}</div>
</div>

<!-- end -->
