.tile-wrapper{
    width: 121px;
    height: 74px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    overflow: visible;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.08;
    letter-spacing: 0.3px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.tile-wrapper:hover{
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.tile-title{
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 3px;
}

.tile-content{
    font-size: 9pt;
    margin-bottom: 7px;
}

.badge{
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #E32C66;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.names-overlay{
    position: absolute;
    bottom: 5px;
    background: rgba(200, 200, 200, .7);
    mix-blend-mode: soft-light;
    width: 121px;
    height: 20px;
    border-radius: 0 0 10px 10px;
}

.names{
    color: #fff;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 0.8em;
    position: absolute;
    bottom: 7px;
    width: 121px;
    display: flex;
    justify-content: center;
}