<div class="teacher-drowdown-wrapper">
  <div class="selected-teacher" (click)="showOptions = !showOptions">
    {{ selected?selected.title:'' }}
    <mat-icon *ngIf="!showOptions" class="drop-arrow">arrow_drop_down</mat-icon>
    <mat-icon *ngIf="showOptions" class="drop-arrow">arrow_drop_up</mat-icon>
  </div>
  <div class="options" *ngIf="showOptions">
    <div class="option" *ngFor="let choice of choices" (click)="onSelect.emit(choice)">
      <div class="option-data">
        {{ choice.title }}
      </div>
      <div class="option divider"></div>     
    </div>
  </div>
</div>