.teacher-drowdown-wrapper{
    width: 125%;
    height: 100%;
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}

.wrapper-options{
    @extend .teacher-drowdown-wrapper;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.wrapper-no-options{
    @extend .teacher-drowdown-wrapper;
}

.selected-teacher{
    color: #3D396B;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 22pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.header-divider{
    margin: 0 auto;
    width: 95%;
    height: 1px;
    background-color: #B5B7BA;
}

.drop-arrow{
    margin-left: 3px;
    margin-top: 4px;
    width: 10px;
    height: 10px;
}

.options{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.option{
    width: inherit;
    display: flex;
    flex-direction: column
}

.option:hover{
    background-color: #F1F1F1;
}

.option-data{
    color: #767676;
    font-size: 16px;
}

.option-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}