@import "../../../sp-colors.scss";
:host {
    background-color: #F0F2F5 !important;
}

mat-sidenav-container,
mat-sidenav-content {
    z-index: unset;
    background-color: $gray100;
    //position: relative;
}