<mat-tab-group #tabGroup>
  <mat-tab>
    <div class="sp-dialog wrapper">
      <div class="header">
        <div class="background-header"></div>
        <img class="back-button" (click)="dialogRef.close()" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset">
        <div class="title-header" style="z-index: 10; display: flex">
          <div class="ds-dialog-title" [style.margin-left]="'12px'">Pass Limit for {{data.profile.display_name}}</div>
        </div>
      </div>

    <div class="content">
      <div class="accent-background-section ds-flex-row ds-flex-center-between" style="display: flex; gap: 10px">
        <div class="pass-limits-info">
          <p class="ds-dialog-heading" style="margin-top: 4px; margin-bottom: 0; display: inline-block; font-weight: 600 !important">School Pass Limit</p>
          <span class="support-icon" customToolTip [contentTemplate]="text" style="margin-left: 10px"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
          <ng-template #text>
            <div class="ds-tooltip" style="width: 200px">
              <span>
                Limit the number of passes students can have per day.
                <a href="https://www.smartpass.app/passlimits" target="_blank" style="color: white"> Learn more</a>
              </span>
            </div>
          </ng-template>
          <p *ngIf="data?.schoolPassLimit?.limitEnabled" class="ds-dialog-normal-text" style="margin-top: 4px">{{data.passLimit.passLimit}} {{data.passLimit.passLimit === 1 ? 'pass' : 'passes'}}/{{data.passLimit.frequency}}</p>
          <p *ngIf="!data?.schoolPassLimit?.limitEnabled" class="ds-dialog-normal-text" style="margin-top: 4px">No pass limits set. Contact your school admin to get started.</p>
        </div>
        <div class="pass-limits-actions">
          <app-gradient-button
            customToolTip
            [contentTemplate]="editButtonAdminRedirect"
            [disabled]="!canNavigate"
            (buttonClick)="navigateToAdminPage()"
            gradient="#FFFFFF, #FFFFFF"
            textColor="#7f879d"
            [leftIcon]="'assets/Edit%20(Blue-Gray).svg'"
            [rightIcon]="'assets/External%20Link%20(Blue-Gray).svg'">
            Edit
          </app-gradient-button>
          <ng-template #editButtonAdminRedirect>
            <div *ngIf="!canNavigate" class="ds-tooltip" style="text-align: left">
              <div class="only-admin">ADMIN ONLY</div>
              Only admins are able to manage pass limits.
            </div>
          </ng-template>
        </div>

        <div
          *ngIf="data.individualLimit && data?.individualLimit?.passLimit !== -1; else noIndividual"
          class="accent-background-section ds-flex-row ds-flex-center-between purple-border"
          style="display: flex; gap: 10px">
          <div class="pass-limits-info">
            <p class="ds-dialog-heading" style="margin-top: 4px; margin-bottom: 0; display: inline-block">Individual Limit</p>
            <span class="support-icon" customToolTip [contentTemplate]="individualText" style="margin-left: 10px"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
            <ng-template #individualText>
              <div class="ds-tooltip" style="width: 200px">This overrides the School-wide limit of {{data.schoolPassLimit.passLimit}} passes/day</div>
            </ng-template>
            <p class="ds-orange" style="margin: 4px 0; font-size: 14px">{{data.individualLimit.passLimit}} passes/day</p>
            <p *ngIf="data.individualLimit.description" class="ds-blue-gray" style="font-size: 14px; margin: 0">{{data.individualLimit.description}}</p>
          </div>
          <div class="pass-limits-actions">
            <app-gradient-button
              (buttonClick)="goToIndividualLimitPage()"
              gradient="#FFFFFF, #FFFFFF"
              textColor="#7f879d"
              [leftIcon]="'assets/Edit%20(Blue-Gray).svg'"
              [rightIcon]="'assets/External%20Link%20(Blue-Gray).svg'">
              Edit
            </app-gradient-button>
          </div>
        </div>
      </div>

      <ng-template #noIndividual>
        <div class="accent-background-section ds-flex-row ds-flex-center-between" style="display: flex; gap: 10px">
          <div class="pass-limits-info">
            <p class="ds-dialog-heading" style="margin-top: 4px; margin-bottom: 0; display: inline-block">Individual Pass Limits</p>
            <span class="support-icon" customToolTip [contentTemplate]="individualText" style="margin-left: 10px"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
            <ng-template #individualText>
              <div class="ds-tooltip" style="width: 200px">This overrides the School-wide limit of {{data.schoolPassLimit.passLimit}} passes/day</div>
            </ng-template>
          </div>
          <app-gradient-button
            size="editable" width="70px" minHeight="30px" (buttonClick)="goToIndividualLimitPage()"
            fontSize="16px" fontWeight="400" cornerRadius="4px"
            leftIcon="assets/Plus (White).svg" leftImageWidth="15px" leftImageHeight="15px">
            <span>Add</span>
          </app-gradient-button>
        </div>
      </ng-template>
    </div>
  </div>
  </mat-tab>
</mat-tab-group>

