@import "../../../../../design-system.scss";

:host {
  width: 100%;
  position: relative;
  z-index: 1;
}
.from-footer {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 1;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-size: 15px;
  color: $navy;

  .footer-from-teacher-text {
    width: 100%;
  }

  .default-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;

    .default-text {

    }
  }
}

.target-shadow {
  box-shadow: -50px 0px 35px 25px rgba(255, 255, 255, 1);
}

.arrow-icon {
  width: 25px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  width: 100%;

  .center-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.footer-icon {
  height: 30px;
  margin: 0 15px 0 15px;
}

.new-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  cursor: pointer;
}
