<div class="from-footer"
     [style.height]="!showFullFooter ? '43px' : '89px'"
     (click)="showFullFooter = !showFullFooter"
     [ngClass]="{'target-shadow': state !== 'to'}"
>
    <div class="footer-from-teacher-text">
      <div class="default-footer" *ngIf="!showFullFooter">
        <div class="default-text">
          Expand Pass Details
        </div>
        <img class="arrow-icon" [src]="'./assets/Chevron Up (Navy).svg' | resolveAsset">
      </div>
      <div class="new-footer" *ngIf="showFullFooter">
        <div class="cursor" (click)="goToDate()" *ngIf="date">
          {{ date }}
        </div>
        <div class="center">
          <div class="center-text">
            <div class="footer-left-text" [ngClass]="{'cursor': fromCursor}" (click)="goToFromWhere($event)" [style.font-weight]="(!fromLocation ? 'bold' : 'normal')">{{ fromLocationText }}</div>
            <img class="footer-icon" [src]="'./assets/Arrow (Navy).svg' | resolveAsset">
            <div class="footer-right-text" [ngClass]="{'cursor': toCursor}" (click)="goToToWhere($event)" [style.font-weight]="(!toLocation && state !== 'from' ? 'bold' : 'normal')">{{ toLocationText }}</div>
          </div>
          <img class="arrow-icon" [src]="'./assets/Chevron Down (Navy).svg' | resolveAsset">
        </div>
        <div class="cursor" (click)="goToStudents($event)" *ngIf="showFullFooter && studentText">
          {{ studentText }}
        </div>
      </div>
    </div>
</div>
