<div class="host">
  <div class="top-right-button">
    <div (click)="close()">
      <img *ngIf="CloseButton$ | async else logo" width="30" [src]="'./assets/Cancel (Search-Gray).svg'" alt="Search (Search-Gray).svg">
    </div>
    <ng-template #logo>
      <app-smartpass-logo (click)="goToLogin()" ></app-smartpass-logo>
    </ng-template>
  </div>
  <div class="accounts-wrapper">
    <div class="accounts-setup">
      <div class="left-side">
        <div class="left-side_header">Accounts set-up</div>
        <div class="left-side_title">Set up all of your SmartPass accounts with G Suite syncing.</div>
        <div class="accounts-setup_options">
          <div *ngIf="!gSuiteConnected" class="option">
            <div class="option-number">
              <span>1</span>
            </div>
            <div class="option-content">
              <div class="option-content_header">
                Connect G Suite
              </div>
              <div class="option-content_description">
                <div class="ds-py-10">You’ll need to be a G Suite administrator to sync users.</div>
                <div>
                  This lets SmartPass see: <br>
                  a) Your email address and domain <br>
                  b) Organizational units on your domain <br>
                  c) Users on your domain
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="gSuiteConnected"  class="option">
            <div style="margin-right: 17px;">
              <img width="40" [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
            <div class="option-content">
              <div class="option-content_header">
                G Suite Connected
              </div>
            </div>
          </div>

          <div class="option" *ngIf="!usersForSyncSelected">
            <div class="option-number">
              <span>1</span>
            </div>
            <div class="option-content">
              <div class="option-content_header">
                Select Users for Sync
              </div>
              <div class="option-content_description ds-pt-10">
                Choose which G Suite users you want to sync to SmartPass  <br>
                Groups. When new accounts are created in your G Suite we’ll  <br>
                automatically sync them to a specific SmartPass Group. <br>
              </div>
            </div>
          </div>
          <div class="option" *ngIf="usersForSyncSelected">
            <div style="margin-right: 17px;">
              <img width="40" [src]="'./assets/Check (Jade).svg'" alt="Check (Jade).svg">
            </div>
            <div class="option-content">
              <div class="option-content_header">
                Select Users for Sync
              </div>
            </div>
          </div>
        </div>
        <div class="accounts-setup_buttons" *ngIf="!gSuiteConnected">
<!--          <app-gradient-button-->
<!--            [size]="'medium'"-->
<!--            [gradient]="'#FFFFFF,#00B476'"-->
<!--            [fontWeight]="'normal'"-->
<!--            [rightIcon]="'./assets/Chevron Right (White).svg'"-->
<!--            (buttonClick)="connectGSuite()"-->
<!--          >-->
<!--            <span style="font-weight: normal;">-->
<!--              Connect G Suite-->
<!--            </span>-->
<!--          </app-gradient-button>-->
          <app-gradient-button
            [size]="'medium'"
            [gradient]="'#FFFFFF,#00B476'"
            [fontWeight]="'normal'"
            [rightIcon]="'./assets/Chevron Right (White).svg'"
            (buttonClick)="initLogin(true)"
          >
            <span style="font-weight: normal;">
              Connect G Suite
            </span>
          </app-gradient-button>
        </div>
        <div class="accounts-setup_buttons" *ngIf="gSuiteConnected && usersForSyncSelected">
          <app-gradient-button
            [size]="'medium'"
            [gradient]="'#FFFFFF,#00B476'"
            [fontWeight]="'normal'"
            (buttonClick)="connectGSuite()"
          >
            <span style="font-weight: normal;">
              Sync Accounts
            </span>
          </app-gradient-button>
          <div style="text-align: center;" class="ds-mt-20">
            Sync might take a while depending on the size of your <br>
            school. But luckily it runs in the background, so you <br>
            don’t need to wait here for it to complete.
          </div>
        </div>
        <div class="ds-flex-center-center ds-my-15" style="color: #E32C66;" *ngIf="showError.error">
          <div style="text-align: center;">
            <span>Oops! Please make sure to you are a G Suite</span><br>
            <span><strong>administrator</strong> to be able to sync users.</span>
          </div>
        </div>
      </div>
      <div *ngIf="!gSuiteConnected" class="right-side">
        <div>
          <app-privacy-card></app-privacy-card>
        </div>
        <div class="setup-guy">
          <img [src]="'./assets/accounts-setup-guy.svg'" alt="accounts-setup-guy.svg">
        </div>
      </div>
      <div *ngIf="gSuiteConnected && !usersForSyncSelected" class="right-side">
        <div>
          <app-account-groups (accountsToSync)="usersForSyncSelected = !!$event"></app-account-groups>
        </div>
      </div>
      <div *ngIf="gSuiteConnected && usersForSyncSelected" class="right-side" style="min-width: 500px">
        <div class="setup-laptop">
          <img [src]="'./assets/accounts-setup-laptop.svg'" alt="accounts-setup-guy.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<app-privacy-card></app-privacy-card>
<app-account-groups></app-account-groups>
