@import "../../sp-colors";

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .host{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    background-color: #FBFEFF;
    overflow-y: scroll;
    position: relative;
    .top-right-button {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
    .accounts-wrapper {
      min-width: 830px;
      width: 100%;
      height: 100%;
      .accounts-setup {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 50px;
        color: $blue-gray;
        font-size: 14px;
        display: flex;
        justify-content: center;
        .left-side {
          //flex: 1 1 60%;
          padding-right: 30px;
          box-sizing: border-box;
          &_header {
            color: $navy;
            font-size: 55px;
            font-weight: bold;
          }
          &_title {
            margin-top: 10px;
            font-size: 17px;
          }
          .accounts-setup_options {
            .option {
              margin-top: 40px;
              display: flex;
              &-number {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #D6DAE2;
                color: #FFFFFF;
                font-size: 20px;
                margin-right: 17px;
              }
              &-content {
                &_header {
                  font-size: 17px;
                  color: $navy;
                  font-weight: bold;
                }
              }
            }
          }
          .accounts-setup_buttons {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
        }
        .right-side {
          position: relative;
          margin: 0 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .setup-guy {
            margin-top: 30px;
            margin-left: 10px;
          }
          .setup-laptop {
            margin: auto  0;
            //right: -365px;
            position: absolute;
          }
        }
      }
    }
  }
}
