<div class="wya-container">
  <div class="wya-header" [style.background]="'#FFFFFF'">
    <img class="back-button back-button-white" [src]="'./assets/Back Button (Light-Gray).svg' | resolveAsset" (click)="back()">
    <div class="wya-header-text">
      <img class="search-icon" [src]="'./assets/Lock (White).svg' | resolveAsset">
      <div class="text ds-dialog-title">Who are you?</div>
    </div>
  </div>
  <div class="wya-content ds-mt-25">
    <app-student-search
      [focused]="true"
      [width]="'280px'"
      [role]="'_profile_student'"
      [placeholder]="'Search students'"
      [list]="false"
      [emitSingleProfile]="false"
      (onUpdate)="setSelectedStudents($event)"
    ></app-student-search>
  </div>
</div>
