<app-pass-card-template [selectedStudents]="selectedStudents" [forStaff]="forStaff" [hasDivider]="!selectedOrigin && !forStaff" [pass]="invitation" (onCancel)="denyInvitation($event)" [rightJustify]="forStaff?'space-around':'flex-end'">
  <div class="card-subtitle" *ngIf="fromPast || forFuture">
    {{ formatDateTime() }}
  </div>
  <div class="card-body-left">
    <app-duration-picker *ngIf="forStaff" (onChange)="selectedDuration = $event" [maxDuration]="invitation.destination.max_allowed_time?invitation.destination.max_allowed_time:15"></app-duration-picker>
    <app-travel-view *ngIf="!forStaff" [pass]='invitation' (locationSelected)="setLocation($event)"></app-travel-view>
  </div>
  <div class="card-body-right" *ngIf="!!selectedOrigin; else noLocation;">
    <app-card-button (onClick)="acceptInvitation()" [width]="'181px'" [height]="'50px'" [gradientColor]="invitation.color_profile.gradient_color">
      <div class="button-content">
        <div class="get-pass-content-text">Get Pass</div>
        <img class="button-icon-right" [src]="'./assets/One Arrow.png' | resolveAsset">
      </div>
    </app-card-button>
  </div>
  <ng-template #noLocation class="card-body-right">
    <app-traveltype-picker *ngIf="forStaff" (onSelect)="selectedTravelType=$event" [choices]="invitation.destination.travel_types" [altColor]="invitation.color_profile.solid_color"></app-traveltype-picker>
    <app-card-button *ngIf="forStaff" (onClick)="newInvitation()" [width]="'181px'" [height]="'50px'" [gradientColor]="invitation.color_profile.gradient_color">
      <div class="button-content">
        <div class="button-content-text">Send Request</div>
        <img class="button-icon-right" [src]="'./assets/One Arrow.png' | resolveAsset">
      </div>
    </app-card-button>
    
    <div *ngIf="!forStaff" class="invitation-description">
      <img class="invitation-description-icon" [src]="'./assets/Invitation.png' | resolveAsset">
      <div class="invitation-description-text">
        Pass Invite from from {{ invitation.issuer.last_name }}
      </div>
    </div>
  </ng-template>
</app-pass-card-template>