<div class="wrapper" [style.background]="getGradient()">
  <div class="header">
    <img class="icon" [src]="invitation.icon | resolveAsset">
    <div class="passTitle">
      Invitation from {{invitation.issuer.display_name}}
    </div>
  </div>
  <div class="divider center"></div>
  <div class="body">
    <div class="left">
      <div class="origin center">
        Your Location
      </div>
        <!-- <img *ngIf="hallpass.travel_type == 'round_trip'" class="round-trip center" [src]="'./assets/Two_Arrow.png' | resolveAsset"> -->
        <!-- *ngIf="hallpass.travel_type == 'one_way'"  -->
        <img class="one-way center" [src]="'./assets/One_Arrow.png' | resolveAsset">
      <div class="destination center">
        {{invitation.destination.title}}
      </div>
    </div>
    <div class="right">
      <div class="end-pass">
        <div>
          {{getDate(invitation.date_choices[0])}}
          <br>
          at {{getTime(invitation.date_choices[0])}}
        </div>
        <button mat-button class="clickRipple end-pass" (click)="activateInvitation()">
          <div class="card">
              <div class="content">
                  <div class="title">
                      Accept Invitation
                  </div>
              </div>
          </div>
      </button>
      </div>
    </div>
  </div>
</div>