<div class="host" appSafariScroll>
    <div class="start-page-wrapper ds-flex-center-center ds-flex-column">
        <!-- <div> -->
        <img [src]="'./assets/ID Cards Get Started.svg' | resolveAsset" alt="">
        <p class="ds-big-title description">Create, Customize, and Distribute ID Cards in 5 minutes.</p>
        <div class="button">
            <app-gradient-button [style.margin-left]="'15px'" [size]="'medium'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="getStarted()">
                Get started
            </app-gradient-button>
        </div>
        <!-- </div> -->
    </div>

</div>