.wrapper {
  position: relative;
  //border: solid white 1px;
  border-radius: 5px;
  //width: 120px;
  margin-left: 55px;
  margin-bottom: -22px;
  /* padding-top: 6px; */
  /* margin-top: 7px; */
  //height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .disabled {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, .15 );
  }
}

.option {
  /* margin: 5px; */
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bordered {
  border-left: 1px solid #1d1a5e;
  border-right: 1px solid #1d1a5e;
}

.left-radius {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-radius {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
