<div class="wrapper"
     [style.border]="'solid ' + border + ' 1px'"
     [style.width]="width"
     [style.height]="height">
  <div class="option" [class.left-radius]="!bottomRadius" [style.width]="choice2?'50%':'inherit'" (click)="updateType(choice1)"
       [style.color]="getFontColor(choice1)"
       [style.background-color]="getBackgroundColor(choice1)">
    {{choice1}}
  </div>
  <div *ngIf="choice2" [style.width]="'50%'" class="option bordered"  (click)="updateType(choice2)"
       [style.color]="getFontColor(choice2)"
       [style.background-color]="getBackgroundColor(choice2)">
    {{choice2}}
  </div>
  <div *ngIf="choice3" [style.width]="'50%'" class="option" [class.right-radius]="bottomRadius" (click)="updateType(choice3)"
       [style.color]="getFontColor(choice3)"
       [style.background-color]="getBackgroundColor(choice3)" >
    {{choice3}}
  </div>
</div>