@import "../../design-system";
@import "../../sp-colors";

  .host {
    width: 425px;
    //min-width: 300px;
    height: 500px;
    border-radius: 14px;
    font-weight: bold;
    background: $white;
    color: $navy500;
    .language-header {
      @extend .ds-flex-center-center;
      height: 70px;
      font-size: 14px;
      padding-left: 10px;
      position: relative;
      .back-button {
        position: absolute;
        left: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
    }
    .language-content {
        .language-content-picker {
         box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 76px;
          width: 388px;
          padding: 22px;
          background-color: $gray050;
          border-radius: 10px;
          margin: 0px auto;
          font-size: 15px;
        }
        .language-content-hint {
          font-weight: normal;
          font-size: 14px;
          width: 362px;
          top: 91px;
          color: $gray500;
          margin: 91px auto;
        }
        display: flex;
        flex-flow: column;
        height: 430px;
        overflow: auto;
        box-sizing: border-box;
        .theme {
            font-size: 16px;
            font-weight: 500;
            color: $navy;
        }

         .lang-toggle-bar-wrapper {
          z-index: 111;
          font-weight: normal;
          font-size: 14px;
          .selected-lang {
            display: flex;
            align-items: center;
            cursor: pointer;
            .lang-name {
              padding-right: 7px;
            }
            .disclosure-icon {
              width: 5px;
              height: 9px;;
            }
          }
         }

    }
  }

@media all and (max-width: 475px) {
  .host {
    .language-content {
      padding: 30px 15px;

        .theme {
          margin-bottom: 7px;
        }
    }
  }
}
