.date-time-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected{
    background-color: #04CD33;
}