@import "../../../sp-colors";

.wrapper {
  max-width: 230px;
  background-color: #050411;
  border-radius: 8px;
  .header {
    padding: 10px;

    .header-content {
      padding: 10px;
      border-radius: 8px;
      background-color: #333333;
      .title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
      }

      .subtitle {
        color: #FFFFFF;
        font-size: 14px;
        margin-top: 6px;
      }
    }
  }

  .content {
    padding: 10px 18px;
    //position: relative;

    .group-wrapper {
      //position: relative;
    }

    .group {
      height: 190px;
      overflow: auto;
      //position: absolute;
    }
    .group-name {
      color: #FFFFFF;
      word-break: break-word;
      font-weight: bold;
      font-size: 14px;
    }

    .group-notes {
      color: #FFFFFF;
      word-break: break-word;
      font-size: 14px;
      margin-top: 3px;
      opacity: 0.8;
    }
    .prevention-students {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .student {
        background-color: #F7F7F7;
        border-radius: 8px;
        height: 31px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        color: #1F194E;
        white-space: nowrap;
        position: relative;

        .name {
          color: $navy;
          font-size: 14px;
        }

        .delete {
          width: 16px;
          height: 16px;
          cursor: pointer;
          position: absolute;
          right: 5px;
          background-color: #F8F8F8;
          box-shadow: -6px 1px 6px #F8F8F8;
        }

        .student-picture {
          border-radius: 50%;
          width: 23px;
          height: 23px;
          overflow: hidden;
          margin-right: 4px;
        }
      }

    }

    .paginator {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7px;
      position: relative;

      .button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        &:hover {
          background-color: #FFFFFF;
          border-radius: 50%;
          opacity: 0.7;
        }
      }

      .dots {
        display: flex;

        .dot {
          width: 9px;
          height: 9px;
          margin: 5px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
