@import "../../sp-colors";

/* Ipad breakpoint */
@media all and (max-width: 1024px) {
  .name,
  .heading.grow {
    display: none;
  }

  div.user-info {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
  }

  div.teacherNav {
    display: none;
  }

  div.teacherNav-mobile {
    display: flex;

    &-wrapper {
      display: flex;
      width: 450px;
    }
  }

  div.divider {
    display: none;
  }

  div.nav-buttons-width {
    width: inherit;
  }

}

@media all and (max-width: 475px) {
  div.teacherNav-mobile {
    display: flex;

    &-wrapper {
      display: flex;
      width: unset;
    }
  }

  div.nav-buttons-width {
    width: inherit;
  }

}

@media all and (max-width: 700px) {
  div.inbox-wrapper {
    display: none;
  }

  div.inbox-wrapper-sm {
    display: flex;
    position: relative;
  }
}

.host {
  background-color: #FBFEFF;
  //position: fixed;
  //top: 50px;
  width: 100%;
  z-index: 10;
}
.bar {
  height: 78px;
  /* background-image: radial-gradient(circle at 43% 66%, #03cf31, rgba(1, 129, 85, 0.7)); */
  //position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  //padding-top: 15px;
  //padding-bottom: 5px;
  //

  &.shadow {
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.07);
  }
}

.grow {
  flex-grow: 1;
}
.disabled {
  display: none;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 0;
  padding-left: 10%;
}

.heading .title {
  width: 112px;
  height: 27px;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  color: #04CD33;
}

.heading .small, .navButton {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-left: 7px;
}

.heading .logo {
  width: 27px;
  height: 27px;
  padding-left: 34px;
  margin: 3px 0 0 3px;
}

.navButton {
  display: flex;
  justify-content: space-between;

}

.teacherNav {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  &_tab {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
}

.navButton {
  cursor: pointer;
  flex-direction: column;
  padding: 0 5px 0 5px;
}

.selectorBar {
  margin-top: 2px;
  height: 2px;
  width: 100%;
  background-color: #0F0;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  width: 0;
  min-width: 200px;
  flex-grow: 1;
  .acting-behalf {
    font-size: 12px;
  }
}

.user-info .name {
  margin: auto 0 auto auto;
  padding-right: 15px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $blue-gray;
}

.static-loading{
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #04CD33;
}

.ng-bar-placeholder {
  height: 5px !important;
}

.options, .inbox-icon, .support, .admin-view{
  width: auto;
  height: 30px;
  cursor: pointer;
}

.inbox-icon-arrow {
  transform: rotateZ(90deg);
}

.inbox-icon {
  position: absolute;
}

.inbox-wrapper, .inbox-wrapper-sm, .options-wrapper, .support-wrapper, .admin-view-wrapper{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.inbox-wrapper-sm {
  display: none;
}

@keyframes requestsInMotion {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


.inbox-modifiers{
  width: 45px;
  height: 45px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-badge{
  width: 23px;
  height: 23px;
  position: absolute;
  top: 5px;
}

.inbox-number{
  color: white;
  font-size: 12px;
  position: absolute;
  top: 9px;
}

.inbox-front{
  //width: 20px;
  height: 25px;
  position: absolute;
  //top: 22px;
}

.divider{
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: #B5B7BA;
}

.teacherNav-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fbfbfb;
  border-top: 1px solid #1F195E;
  height: 68px;
  align-items: center;
  z-index: 11;
  justify-content: center;
  &-wrapper {
    display: flex;
    width: 100%;
  }
}

.nav-buttons {
  position: relative;
  flex-grow: 1;
  .selected-tab-pointer {
    transition: all 0.4s ease;
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 70px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $jade;
  }
}
