<mat-progress-bar class="loading-theme" *ngIf="navbarEnabled; else staticLoading;"
                  mode="indeterminate"></mat-progress-bar>
<ng-template class="static-loading" #staticLoading><div class="static-loading"></div></ng-template>
<div *ngIf="tab!=='intro'" class="bar">
  <div class="heading grow">
    <div class="title">SmartPass</div>
    <img class="logo" [src]="'./assets/Arrow (Green).png' | resolveAsset">
  </div>
  <div [style.display]="isStaff?'':'none'" class="teacherNav">
    <app-nav-button [selected]="tab==='passes'" [content]="'Passes'" [icon]="'./assets/Arrow'" (onClick)="updateTab('passes')"></app-nav-button>
    <app-nav-button [selected]="tab==='hallmonitor'" [content]="'Hall Monitor'" [icon]="'./assets/Hallway'" (onClick)="updateTab('hallmonitor')"></app-nav-button>
    <app-nav-button [selected]="tab==='myroom'" [content]="'My Room'" [icon]="'./assets/My Room'" (onClick)="updateTab('myroom')"></app-nav-button>
  </div>
  <div class="user-info">
    <div class="name">{{ user?user.display_name:'' }}</div>
    <div *ngIf="tab==='passes' && !isStaff" class="inbox-wrapper" (click)="inboxClick()" [style.background-color]="(inboxVisibility?'#E4EBFF':'transparent')">
      <img class="inbox-icon" [src]="'./assets/Inbox Full (Blue).png' | resolveAsset">
      <div class="inbox-modifiers" *ngIf="notifications > 0">
        <img class="inbox-badge" [src]="'./assets/Inbox Number.png' | resolveAsset">
        <div class="inbox-number">{{ notifications }}</div>
        <img class="inbox-front" [src]="'./assets/Inbox Front (Blue).png' | resolveAsset">
      </div>
    </div>
    <div (click)="showOptions()" class="options-wrapper" [style.background-color]="(optionsOpen?'#E4EBFF':'transparent')">
      <img class="options" [src]="'./assets/Gear (Blue).png' | resolveAsset">
    </div>
  </div>
</div>
<div [style.display]="(isStaff && tab!=='intro')?'':'none'" class="divider"></div>
