.bar {
  height: 68px;
  /* background-image: radial-gradient(circle at 43% 66%, #03cf31, rgba(1, 129, 85, 0.7)); */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 0;
  padding-left: 10%;
}

.heading .title {
  width: 112px;
  height: 27px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  color: #04CD33;
}

.heading .small, .navButton {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-left: 7px;
}

.heading .logo {
  width: 27px;
  height: 27px;
  padding-left: 34px;
  margin: 3px 0 0 3px;
}

.teacherNav, .navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.teacherNav {
  flex-direction: row;
}

.navButton {
  cursor: pointer;
  flex-direction: column;
  padding: 0 5px 0 5px;
}

.selectorBar {
  margin-top: 2px;
  height: 2px;
  width: 100%;
  background-color: #0F0;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  width: 0;
  min-width: 200px;

  flex-grow: 1;
}

.user-info .name {
  margin: auto 0 auto auto;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3D396B;
}

.name{
  padding-right: 20px;
}

.static-loading{
  width: 100%;
  height: 5px;
  background-color: #04CD33;
}

.user-info{
  padding-right: 10%;
}

.options, .inbox-icon{
  width: 20px;
  height: 20px;
}

.inbox-wrapper{
  width: 45px;
  height: 45px;
  border-radius: 23px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inbox-modifiers{
  width: 45px;
  height: 45px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-badge{
  width: 10px;
  height: 20px;
  position: absolute;
  top: 11px;
}

.inbox-number{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 8pt;
  position: absolute;
  top: 11px;
}

.inbox-front{
  width: 20px;
  height: 10px;
  position: absolute;
  top: 22px;
}