<div class="wrapper">
  <div class="header">
    <div class="background-header" [attr.data-motion-opacity]="(frameMotion$ | async).direction"></div>
    <img class="back-button" *ngIf="schoolSyncInfo.login_provider || !schoolSyncInfo.is_gg4l_enabled" [src]="'./assets/Back Button (White).svg' | resolveAsset" (click)="close()">
    <div class="back-button" *ngIf="!schoolSyncInfo.login_provider && this.selectedProvider" (click)="close()">Cancel</div>
    <img width="21" height="21" style="z-index: 10" [attr.data-motion-translate]="(frameMotion$ | async).direction" [src]="'./assets/GG4L (White).svg' | resolveAsset" alt="Options">
    <div class="ds-dialog-title-white"
         [style.margin-left]="'12px'"
         [style.z-index]="10"
         [attr.data-motion-translate]="(frameMotion$ | async).direction"
    >Set-up</div>
    <div class="save-button" *ngIf="!schoolSyncInfo.login_provider && this.selectedProvider">
      <app-gradient-button
        [width]="'85px'"
        [minHeight]="'30px'"
        [fontSize]="'14px'"
        [cursor]="'pointer'"
        (buttonClick)="setProvider()"
      >
        <span *ngIf="true">Save</span>
        <mat-spinner *ngIf="false" [color]="'accent'" [diameter]="30"></mat-spinner>
      </app-gradient-button>
    </div>
  </div>

  <div class="content" [attr.data-motion-translate]="(frameMotion$ | async).direction">
    <div class="no-connect" *ngIf="!schoolSyncInfo.is_gg4l_enabled">
      <div class="top-block">
        <div class="title">Add SmartPass in GG4L</div>
        <div class="subtitle">You’ll need to be a GG4L admin to add an application.</div>
        <div class="button">
          <app-gradient-button
            [gradient]="'#5352E4, #5352E4'"
            [leftIcon]="'./assets/External Link (White).svg'"
            (buttonClick)="openLink('https://www.smartpass.app/gg4l-open')"
          >Open GG4L Connect</app-gradient-button>
        </div>
      </div>
      <div class="center-block">
        <div class="title">Wait for approval from SmartPass</div>
        <div class="subtitle">
          After you add SmartPass in GG4L, we’ll start processing your activation request immediately. It might take a few hours, but we’ll send you an email once accounts are ready.
        </div>
      </div>
    </div>

    <div class="content-enabled" *ngIf="schoolSyncInfo.is_gg4l_enabled">
      <div class="active-top">
        <div class="left">
          <div class="sync-title">Last Sync</div>
          <div class="sync-subtitle">Dec. 4, 5:34 PM</div>
          <div style="color: #00B476">Successful</div>
        </div>
        <div class="right">
          <div class="sync-title">Accounts synced</div>
          <div class="sync-subtitle">{{ gg4lSyncInfo.num_students }} students</div>
          <div class="sync-subtitle">{{ gg4lSyncInfo.num_teachers }} teachers</div>
          <div class="sync-subtitle">{{ gg4lSyncInfo.num_admins }} admins</div>
        </div>
      </div>
      <mat-divider [style.margin-top]="'34px'"></mat-divider>

      <div class="center">
        <div class="prov-title">Sign-in authentication (SSO)</div>
        <div class="prov-subtitle">How should users be authenticated when they sign in to SmartPass?</div>
        <div class="buttons" style="width: 228px" [matTooltip]="schoolSyncInfo.is_gg4l_enabled && !!schoolSyncInfo.login_provider ? 'Contact us to change your sign-in provider.' : null"
             matTooltipClass="tooltip">
          <app-restriction-picker
            [choices]="['Sign in with Google', 'GG4L \n Passport']"
            [selectedChoice]="normalizeProvider"
            [disabled]="schoolSyncInfo.is_gg4l_enabled && !!schoolSyncInfo.login_provider"
            [padding]="15"
            [width]="228"
            [height]="48"
            (result)="selectProvider($event)"
          ></app-restriction-picker>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <mat-divider></mat-divider>

    <div class="footer-content">
        <div class="link" style="color: #7f879d">Need more help?</div>
        <div class="link"><a style="color: #7f879d" href="https://www.smartpass.app/gg4l" target="_blank">See tutorial</a></div>
        <div class="link"><a style="color: #7f879d" href="https://www.smartpass.app/meeting" target="_blank">Schedule a call</a></div>
    </div>
  </div>
</div>
