@import "../../../../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  width: 425px;
  height: 100%;
  position: relative;
  .header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #484CE6;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #FFFFFF;
      left: 15px;

    }

    .save-button {
      width: 85px;
      position: absolute;
      right: 27px;
    }
  }
  .content {
    .no-connect {
      padding: 32px;
    }

    .title {
      font-size: 15px;
      color: $navy;
      font-weight: bold;
      z-index: 10;
    }

    .subtitle {
      color: $blue-gray;
      font-size: 14px;
      line-height: 22px;
      width: 295px;
      margin-top: 5px;
      z-index: 10;
    }

    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 22px;
    }

    .center-block {
      margin-top: 37px;
      .title {
        font-size: 15px;
        color: #E48C15;
        font-weight: bold;
        z-index: 10;
      }

      .subtitle {
        font-size: 14px;
        line-height: 22px;
        color: $blue-gray;
        margin-top: 5px;
        width: 356px;
        z-index: 10;
      }
    }

    .content-enabled {
      .active-top {
        display: flex;
        justify-content: space-between;
        padding: 32px 95px 0px 32px;
        .sync-title {
          color: $navy;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 4px;
          z-index: 10;
        }

        .sync-subtitle {
          color: $blue-gray;
          font-size: 15px;
          z-index: 10;

        }
        .right {
        }
      }

      .center {
        padding: 20px 54px 0 32px;

        .prov-title {
          color: $navy;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 4px;
          z-index: 10;
        }
        .prov-subtitle {
          font-size: 15px;
          color: $blue-gray;
          z-index: 10;
        }

        .buttons {
          width: 228px;
          margin-top: 23px;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;

    .footer-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

    }
  }
}
