:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 30px;
    width: 75px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: -5px;
    cursor: pointer;
    user-select: none;
    transition: background-color .25s ease;
    &:hover{
      background-color: #F1F1F1;
    }
    &__dark {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-height: 30px;
      width: 75px;
      padding: 5px 10px;
      border-radius: 15px;
      margin-top: -5px;
      cursor: pointer;
      user-select: none;
      transition: background-color .25s ease;
      &:hover {
        background-color: #0b72eb;
      }
    }
}

.back-wrapper-auto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
  transition: background-color .25s ease;

  &__dark {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 5px 10px;
      cursor: pointer;
      user-select: none;
    transition: background-color .25s ease;

    &:hover {
        background-color: #0b72eb;
      }
    }
}


.back-image{
    height: 25px;
    width: auto;
    margin-right: 5px;
}

.back-text{
    color: #3D396B;
    font-size: 18px;
}
