<div class="settings-wrapper" [ngStyle]="{'backgroundColor': data.darkBackground ? '#0F171E' : '#FFFFFF'}">

    <div class="title" [ngStyle]="{'color': data.darkBackground ? '#FFFFFF' : '#1F195E'}">Settings</div>
    <div class="settings-content">
      <div class="profile-switch" *ngIf="isSwitchOption">
        <div class="option"
             (mouseenter)="hoveredProfile = true"
             (mouseleave)="hoveredProfile = false"
             [style.background-color]="hoveredProfile ? 'rgb(228, 235, 255)' : 'white'"
             (click)="dialogRef.close('switch')"
        >
          <img class="switch-icon" [src]="'./assets/Profile Switch (' + (hoveredProfile ? 'Navy' : 'Blue-Gray') + ').svg'| resolveAsset">
          <div class="option-title" [style.color]="hoveredProfile ? '#1F195E' : '#7F879D'">Teacher View</div>
          <img class="arrow-icon" [src]="'./assets/Chevron Right (' + (hoveredProfile ? 'Navy' : 'Blue-Gray') + ').svg' | resolveAsset">

        </div>

        <div class="option"
             (mouseenter)="hoveredTheme = true"
             (mouseleave)="hoveredTheme = false"
             [style.background-color]="hoveredTheme ? 'rgb(228, 235, 255)' : 'white'"
             (click)="darkTheme.switchTheme(); data.darkBackground = !data.darkBackground"
        >

          <img class="switch-icon" [src]="'./assets/Moon (' + (hoveredTheme ? 'Navy' : 'Blue-Gray') + ').svg'| resolveAsset">
          <div class="option-title" [style.color]="hoveredTheme ? '#1F195E' : '#7F879D'">
            <span *ngIf="darkTheme.isEnabled$.value; else dark">Light Theme</span>
            <ng-template #dark>
              <span >Dark Theme</span>
            </ng-template>
          </div>

        </div>
        <mat-divider style="margin: 10px 0 10px 0"></mat-divider>
      </div>
      <div class="links">
        <div class="link"
             *ngFor="let setting of settings"
             (click)="dialogRef.close(setting.action)"
             (mouseenter)="onHover(setting.gradient)"
             (mouseleave)="hovered = false"
             [style.background]="hovered && hoveredColor === setting.gradient ? 'radial-gradient(circle at 73% 71%,' + setting.gradient + ')' : 'none'"
        >
          <img class="icon" [src]="hovered && hoveredColor === setting.gradient ? setting.hover_icon : setting.icon | resolveAsset" alt="link">
          <div class="setting-name" [style.color]="getColor(setting)">{{ setting.title }}</div>
        </div>
      </div>
      <mat-divider style="margin: 10px 0 10px 0"></mat-divider>
    </div>
    <div class="footer">
      <div class="sign-out" (click)="dialogRef.close('signout')">Sign out</div>
      <div class="versions">
        <div class="version">Version 1.2</div>
          <div class="privacy ds-small-link-text" (click)="dialogRef.close('privacy')">Privacy & Terms</div>
      </div>
    </div>
    <div class="bottom-arrow-container">
        <div class="bottom-arrow" [ngStyle]="{'backgroundColor': data.darkBackground ? '#0F171E' : '#FFFFFF'}"></div>
    </div>
</div>

