.settings-wrapper {
  width: 244px;
  //height: 265px;
  position: relative;

  .title {
    padding: 20px 0 10px 30px;
    font-size: 29px;
    color: #1F195E;
    font-weight: bold;
  }

  .settings-content {

    .profile-switch {
      .option {
        display: flex;
        align-items: center;
        padding: 12px 0 12px 30px;
        cursor: pointer;

        .option-title {
          margin: 0 10px 0 10px;
          font-size: 15px;
        }

        .switch-icon {
          width: 20px;
          height: 20px;
        }
        .arrow-icon {
          width: 15px;
          height: 15px;
        }
      }
    }

    .links {
      height: 121px;
      display: flex;
      flex-direction: column;

      .link {
        padding: 12px 0 12px 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
          margin-left: 30px;
          width: 20px;
          height: 20px;
        }
        .setting-name {
          margin-left: 15px;
          font-size: 17px;
          color: #7F879D;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;

    .sign-out {
      padding: 12px 0 12px 30px;
      color: #7F879D;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: rgb(228, 235, 255);
        color: #1F195E;
      }
    }

    .versions {
      display: flex;
      justify-content: center;
      color: #7F879D;
      font-size: 12px;
      margin-bottom: 12px;

      .privacy {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .bottom-arrow-container {
    position: absolute;
    bottom: -50px;
    right: 11px;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    overflow: hidden;
    .bottom-arrow {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 35px;
      width: 30px;
      height: 30px;
      background-color: #fff;
      transform: rotate(45deg);
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    }
  }
}
