<div class="settings-wrapper" *ngIf="data" [style.background-color]="darkTheme.getBackground('high', true)">

    <div class="title" [ngStyle]="{'color': data.darkBackground ? '#FFFFFF' : '#1F195E'}">Settings</div>
    <div class="settings-content">
      <div class="profile-switch">
        <div class="option"  *ngIf="isSwitchOption"
             (mouseenter)="hoveredProfile = true"
             (mouseleave)="hoveredProfile = false"
             [style.background-color]="hoveredProfile ? 'rgb(228, 235, 255)' : 'transparent'"
             (click)="dialogRef.close('switch')">
          <img class="switch-icon" [src]="getIcon('Profile Switch', null, hoveredProfile) | resolveAsset">
          <div class="option-title" [style.color]="getColor(null, hoveredProfile)">Teacher View</div>
          <img class="arrow-icon" [src]="getIcon('Chevron Right', null, hoveredProfile) | resolveAsset">

        </div>

        <div class="option"
             (mouseenter)="hoveredTheme = true"
             (mouseleave)="hoveredTheme = false"
             (mousedown)="pressedTheme = true"
             (mouseup)="pressedTheme = false"
             [style.background]="_themeBackground"
             (click)="darkTheme.switchTheme(); data.darkBackground = !data.darkBackground"
        >

          <img class="switch-icon" [src]="!darkTheme.isEnabled$.value && hoveredTheme ? './assets/Moon (White).svg' : getIcon('Moon', null, hoveredTheme) | resolveAsset">
          <div class="option-title" [style.color]="!darkTheme.isEnabled$.value && hoveredTheme ? 'white' : getColor(null, hoveredTheme)">
            <div>
              <span *ngIf="darkTheme.isEnabled$.value; else dark">Light Mode</span>
            </div>
            <ng-template #dark>
              <div>
                <span>Dark Mode</span>
              </div>
            </ng-template>
          </div>

        </div>
        <mat-divider style="margin: 10px 0 10px 0"></mat-divider>
      </div>
      <div class="links">
        <div class="link"
             *ngFor="let setting of settings"
             (click)="handleAction(setting)"
             (mouseenter)="onHover({color: setting.gradient, id: setting.id})"
             (mouseleave)="hovered = false"
             [style.background]="hovered && hoverId === setting.id ? 'radial-gradient(circle at 73% 71%,' + setting.gradient + ')' : 'none'"
        >
          <img class="icon" [src]="getIcon(setting.icon, setting, hovered, hoverId) | resolveAsset" alt="link">
          <div class="setting-name"
               [style.color]="getColor(setting, hovered, hoverId)"
          >{{ setting.title }}</div>
        </div>
      </div>
      <mat-divider style="margin: 10px 0 10px 0"></mat-divider>
    </div>
    <div class="footer">
      <div class="sign-out"
           [style.background-color]="hoveredSignout ? 'rgb(228, 235, 255)' : 'transparent'"
           [style.color]="getColor(null, hoveredSignout)"
           (mouseenter)="hoveredSignout = true"
           (mouseleave)="hoveredSignout = false"
           (click)="signOut()">
        <span>Sign out</span>
      </div>
      <div class="versions" [style.color]="getColor(null, null)">
        <div class="version" [style.cursor]="'pointer'">{{version}}</div>
          <div class="privacy"
               (click)="dialogRef.close('privacy')">Privacy & Terms</div>
      </div>
    </div>
    <div class="bottom-arrow-container" (click)="dialogRef.close()">
        <div class="bottom-arrow" [style.background-color]="darkTheme.getBackground('high', true)"></div>
    </div>
</div>

