@import "../../../design-system";
@import "../../../sp-colors";
:host {
  .host {
    width: 425px;
    height: 500px;
    border-radius: 17px;
    font-weight: bold;
    background: #FFFFFF;
    .appearance-header {
      @extend .ds-flex-center-center;
      height: 70px;
      background-color: $navy;
      color: #FFFFFF;
      font-size: 14px;
      padding-left: 10px;
      position: relative;
      .back-button {
        position: absolute;
        left: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
    }
    .appearance-content {
      padding: 30px;
      box-sizing: border-box;
    }
  }
}
