@media all and (max-width: 320px) {
  div.pass-card-wrapper {
    width: 300px;
  }
}


.pass-card-wrapper {
    width: 335px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    position: relative;

    .pass-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 85px;
            width: 291px;

            .header-info {
                display: flex;
                align-items: center;
            }
        }

        .pass-card-header-icon {
            width: 34px;
            height: 34px;
        }

        .pass-card-header-text {
            color: white;
            font-size: 22px;
            font-weight: bold;
            margin-left: 15px;

            .card-subtitle {
                font-size: 15px;
                font-weight: normal;
            }
        }

        .pass-card-header-close {
            width: 29px;
            height: 29px;
            cursor: pointer;
        }
    }

    .pass-card-content {
        height: 325px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .duration-picker {
            height: 175px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end
        }

        .button {

          .start-pass-content-text {
              color: white;
              font-size: 22px;
              font-weight: bold;
          }
        }

    }

    .pass-card-content-modal {
        display: flex;
        flex-direction: column;
        align-items: center;

        .center-block {
            height: 211px;
        }

        .top-block {
            height: 102px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
    }

    .pass-card-footer {
        position: relative;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;

        .student-footer {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          background: rgba(200,200,200,.7);
          mix-blend-mode: soft-light;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .student-text {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            text-align: center;
        }
    }

    mat-divider {
        background-color: white;
        width: 291px;
        opacity: 0.4;
    }
}
.message{
  font-size: 16px;
  width: 225px;
  text-align: left;
  padding-top: 20px;
  overflow: auto;
  overflow-wrap: break-word;
  //user-select: all !important;
}













.card-body-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    //margin-bottom: 55px;
    //height: 97px;
}

.card-body-left {
    display: flex;
    flex-flow: column-reverse;
}

.card-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    height: 100%;
}

.button-content{
    width: 288px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -79px 0 0 0%;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
}

.start-pass-content{
    @extend .button-content;
    .spinner {
      margin-left: 25px;
    }
}

.end-pass-content{
    @extend .button-content;
}

.button-icon-right{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}


.teacher-details{
    width: 100%;
    height: 70px !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    //padding-bottom: 20px;
    //margin-top: 36px;
}

.bold{
    font-size: 22px;
    font-weight: bold;
}

.smaller{
    font-size: 16px;
}
