.card-body-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //margin-bottom: 55px;
    height: 97px;
}

.card-body-left {
    display: flex;
    flex-flow: column-reverse;
}

.card-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button-content{
    width: 288px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -79px 0 0 0%;
    font-weight: bold;
}

.start-pass-content{
    @extend .button-content;
}

.end-pass-content{
    @extend .button-content;
}

.button-icon-right{
    width: 17px;
    height: 17px;
    position: absolute;
    right: 10px;
}


.teacher-details{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center; 
    //padding-bottom: 20px;
    margin-top: 59px;
}

.bold{
    font-weight: bold;
    font-size: 16px;
}

.smaller{
    font-weight: 400;
    font-size: 14px;
}