@import "src/sp-colors";

.pass-limits-info {
  padding: 5px;
  background: $gray050;
  color: #7083A0;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

:host.from-where > div.pass-limits-info {
  margin-top: 45px !important;
}

.pass-limits-counter-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 5px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background: $gray200;
}

.pass-limit-one-remaining {
  color: white;
  background: $yellow500;
}

.pass-limit-locked {
  color: white;
  background: $red500;
}
