<div>
    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChange()">
        <mat-tab label="Make New Passes"><app-hallpass-form></app-hallpass-form></mat-tab>
        <mat-tab label="Active Passes"><button mat-raised-button class="sticky" (click)="toTop()">↑ Back to top ↑</button><app-hall-pass #scrollMe *ngFor="let pass of activePasses" [hallPass]="pass"></app-hall-pass></mat-tab>
        <mat-tab label="Expired Passes"><button mat-raised-button class="sticky" (click)="toTop()">↑ Back to top ↑</button><app-hall-pass #scrollMe *ngFor="let pass of expiredPasses" [hallPass]="pass"></app-hall-pass></mat-tab>
        <mat-tab label="Pending Passes"><button mat-raised-button class="sticky" (click)="toTop()">↑ Back to top ↑</button><app-template-pass *ngFor="let template of templates" [template]="template"></app-template-pass></mat-tab>
    </mat-tab-group>
</div>
