<div class="wrapper">
  <img [src]="'./assets/Close.svg'" alt="Close" class="close" appCrossPointerEventTarget (pointerClickEvent)="dialogRef.close()">
  <div class="content">
    <div class="left">
      <div class="header">{{ headerText }}</div>
      <div class="subtitle">{{ subtitleText }}</div>
    </div>
    <div class="right">
      <app-gradient-button
        [gradient]="'#F4F4F4, #F4F4F4'"
        [textColor]="'#1F195E'"
        [leftIcon]="'./assets/Download (Navy).svg'"
        (buttonClick)="generateCSV()"
      >Download
      </app-gradient-button>
    </div>

  </div>
</div>
