@import "../../../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  padding: 30px;
  width: 334px;
  border-radius: 9px;
  position: relative;

  .close {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .header {
        color: $navy;
        font-size: 16px;
      }
      .subtitle {
        color: $blue-gray;
        font-size: 14px;
        margin-top: 9px;
        width: 192px;
      }
    }
  }
}
