@import "../../../../sp-colors";

.button {
  width: 170px;
  height: 118px;
  border-radius: 8px;
  background-color: #BDC2CE;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .button-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    color: white;
    width: 150px;
    text-align: center;
    margin-top: 14px;
  }
}
