<div class="pager-wrapper">
  <ng-content *ngIf="page==1" select=".page-1" class="page-1-content"></ng-content>
  <ng-content *ngIf="page==2" select=".page-2" class="page-2-content"></ng-content>
  <ng-content *ngIf="page==3" select=".page-3" class="page-3-content"></ng-content>
  <ng-content *ngIf="page==3" select=".page-4" class="page-4-content"></ng-content>
  <div class="paginator-wrapper">
    <div *ngFor="let $page of $pages" class="pager-page-selector" (click)="page=$page" [style.background-color]="page===$page?'#FFF':'rgba(255,255,255,0.3)'"></div>
  </div>
</div>