.pager-wrapper{
    width: 283px;
    height: 128px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    //margin-bottom: 66px;
    align-items: center;
    text-align: center;
}

.page-content{
    width: inherit;
    height: calc(100% - 15px);
}

.paginator-wrapper{
    height: 15px;
    width: 62%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 17px;
}

.pager-page-selector{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 3px;
}

.pager-page-selector:hover{
    cursor: pointer;
}

.button-image {
  width: 25px;
}
.paginator-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.paginator-button {
    width: 25px;
    position: absolute;
    top: -17px;
    &__left{
        left: 0;
    }
    &__right{
        right: 0;
    }
}
.button-image:hover {
    width: 25px;
    height: 25px;
    background-color: #9d97bc;
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
