@media all and (max-width:320px) {
  div.swiper {
    width: 300px;
  }
}

@media all and (max-width: 375px) {
  div.pager-wrapper {
    width: 250px;
  }
}

:host {
  height: 100%;
}

.pager-page {
  margin: 10px 0;
}

.pager-wrapper{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
  justify-content: flex-end;
    text-align: center;
  position: relative;
  overflow: hidden;
}

.page-size {
  min-height: 174px;
  width: 100%;
}

.page-content{
  width: inherit;
  top: 13px;
  left: 0;
  right: 0;
  bottom: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.paginator-wrapper{
    height: 28px;
    width: 62%;
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: row;
    margin-top: 7px;
}

.pager-page-selector{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 3px;
}

.pager-page-selector:hover{
    cursor: pointer;
}

.button-image {
  width: 25px;
}

.dots-wrapper {
  position: absolute;
  right: 0;
  left: 0;
}
.paginator-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.paginator-button {
  width: 25px;
  height: 25px;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  display: flex;
    &__left{
        left: 12px;
      img {
        position: relative;
        left: -2px;
      }
    }
    &__right{
        right: 12px;
      img {
        position: relative;
        left: 2px;
      }
    }
}

.paginator-button:hover {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .1);
    cursor: pointer;
}

.swiper {
  display: flex;
  position: relative;
  width: 335px;
  color: #FFF;
  flex-direction: column;
  overflow: hidden;

}
