<div class="host">

  <div class="container">
<!--    <div class="completed-date">-->
<!--      <div class="hightlighted" [style.transform]="daysTranslate$ | async"  [style.transition]="endTransition">-->
<!--        <div class="item-highlighted" *ngFor="let day of days | async">-->
<!--          &#45;&#45; {{day.value}} &#45;&#45;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="shadow-gradient"></div>
    <div class="unit-box">
      <div class="scroll" (mousedown)="onDown($event)" (mouseup)="onUp($event)" (mousemove)="onMove($event)"  (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">
        <div class="scrollable"></div>
      </div>
      <div class="completed-date">
        <div class="hightlighted" [style.transform]="daysTranslate$ | async"  [style.transition]="endTransition">
          <div style="position: relative;" [style.top]="translateMargin">
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
          </div>
        </div>
      </div>
      <div class="unit-clip">
        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">
          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">
            {{day.value}}
          </div>
        </div>
      </div>
    </div>
    <div class="unit-box">
      <div class="scroll" (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">
        <div class="scrollable"></div>
      </div>
      <div class="completed-date">
        <div class="hightlighted" [style.transform]="daysTranslate$ | async"  [style.transition]="endTransition">
          <div style="position: relative;" [style.top]="translateMargin">
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}}
            </div>
          </div>
        </div>
      </div>
      <div class="unit-clip">
        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">
          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">
            {{day.value}} month
          </div>
        </div>
      </div>
    </div>
    <div class="unit-box">
      <div class="scroll" (mouseenter)="onOver($event)" (mouseout)="onOut($event)" (scroll)="onScroll($event)">
        <div class="scrollable"></div>
      </div>
      <div class="completed-date">
        <div class="hightlighted" [style.transform]="daysTranslate$ | async"  [style.transition]="endTransition">
          <div style="position: relative;" [style.top]="translateMargin">
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}} y.
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}} y.
            </div>
            <div class="item-highlighted" *ngFor="let day of days | async">
              {{day.value}} y.
            </div>
          </div>
        </div>
      </div>
      <div class="unit-clip">
        <div class="unit" [style.transform]="daysRotate$ | async" [style.transition]="endTransition">
          <div class="item" *ngFor="let day of days | async" [style.transform]="day.rotate">
            {{day.value}} y.
          </div>
        </div>
      </div>
    </div>
<!--    <div class="unit-box">-->

<!--      <div class="unit-clip">-->
<!--        <div class="unit">-->
<!--          <div class="item" *ngFor="let hour of hours" [style.transform]="hour.rotate">-->
<!--            {{hour.value}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="unit-box">-->

<!--      <div class="unit-clip">-->
<!--        <div class="unit">-->
<!--          <div class="item" *ngFor="let minute of minutes" [style.transform]="minute.rotate">-->
<!--            {{minute.value}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="unit-box">-->

<!--      <div class="unit-clip">-->
<!--        <div class="unit">-->
<!--          <div class="item" *ngFor="let half of halfs">-->
<!--            {{half}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</div>
