<div class="date-wrapper">
    <div class="divider">
        <img class="back-button" [src]="'./assets/Back Button (Transparent).png' | resolveAsset">
        <div class="divider-header">
            <img class="divider-icon" [src]="'./assets/Scheduled Pass (White).png' | resolveAsset">
            <div class="divider-text">Select Date & Time</div>
        </div>
    </div>
    <div class="date-content">
      <div class="time-picker">
          <app-date-time-picker [min]="startTime" [_selectedMoment]="requestTime" (onUpdate)="requestTime=$event"></app-date-time-picker>
      </div>
      <div class="next-button">
          <app-gradient-button
                  [gradient]="'#03CF31,#00B476'"
                  [cursor]="'pointer'"
                  [hoverColor]="'#00B476'"
                  [minWidth]="'104px'"
                  [minHeight]="'35px'"
                  [fontSize]="'14px'"
                  (buttonClick)="next()"
                  [style.width]="'90px'"
                  [style.margin]="'15px auto'"
          >Next</app-gradient-button>
      </div>
    </div>
</div>