@import "../../../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  width: 244px;
  border-radius: 9px;

  .options {
    margin: 6px 0;
    border-radius: 9px;
    .option {
      display: flex;
      padding: 14px;
      color: $blue-gray;
      cursor: pointer;
      height: 15px;

      &:hover {
        background-color: rgba(127, 135, 157, .1);
        color: $blue-gray;
      }

      .title {
        margin-left: 9px;
        font-size: 14px;
      }
    }
  }
}
