<div class="wrapper">
  <div class="options">
    <div class="option-container" style="box-sizing: border-box;" *ngFor="let option of options let i = index">
      <div class="option"
           #op
           (mouseenter)="op.hover = true"
           (mouseleave)="op.hover = false"
           appCrossPointerEventTarget
           (pointerClickEvent)="dialogRef.close(option.action)"
      >
        <img *ngIf="i !== 2 && i !== 3; else color" width="20" [src]="option.icon + ' (Blue-Gray).svg' | resolveAsset">
        <ng-template #color>
          <img width="20" [src]="option.icon | resolveAsset">
        </ng-template>
        <div class="title">{{ option.title }}</div>
      </div>
      <mat-divider *ngIf="i === 1 && options.length > 2"></mat-divider>
    </div>

  </div>
</div>
