<div class="info-editor-wrapper" [ngClass]="{'info-editor-wrapper-location': type==='location'}">
  <app-location-table *ngIf="type==='location'" (onSelect)="closeDialog($event)" [type]="'location'" [placeholder]="'Search rooms'" (onSelected)="closeDialog($event)"></app-location-table>
  <app-date-time-picker class="date-picker" *ngIf="type==='datetime'" (onUpdate)="dateTime = $event"></app-date-time-picker>
  <textarea *ngIf="type==='message'" class="message-box" [(ngModel)]="message" #messageBox placeholder="Could we meet to go over my math test during second period?">{{ message }}</textarea>
  <app-gradient-button
        *ngIf="type!=='location'"
        class="done-button"
        [gradient]="'#03CF31,#00B476'"
        [hoverColor]="'#00B476'"
        [minWidth]="'90px'"
        [minHeight]="'30px'"
        [fontSize]="'14px'"
        (buttonClick)="closeDialog()"
        >
        Done
      </app-gradient-button>
</div>