.info-editor-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-editor-wrapper-location{
  @extend .info-editor-wrapper;
  min-height: 189px;
  justify-content: normal;
  background: white;
}

.message-box{
  width: 100%;
  height: 75px;
  margin-bottom: 13px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
  resize: none;
}

.date-picker{
  margin-bottom: 13px;
}

.done-button{
  width:90px;
  margin-bottom: 10px;
}