:host {
  @media all  and (max-width: 1024px) {
    img.back-btn-top {
      display: none;
    }

    img.back-btn-bottom {
      display: block;
      position: absolute;
      width: 28px;
      height: 28px;
      left: 50%;
      transform: translateX(-50%);
    }

    div.ng-trigger-NextStep {
      right: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100% !important;
    }
  }

  @media all and (max-width: 1024px) {
    img.back-btn-bottom {
      bottom: -45px;
    }
  }

  @media all and (max-width: 335px) {
    img.back-btn-bottom {
      bottom: -35px;
    }
  }


  .locations-group-wrapper {
    //background-color: #fff;
    position: relative;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 50;
  }

  .next-step {
    width: 100%;
    position: absolute;
  }

  .back-button {
    width: 28px;
    height: 28px;
    position: absolute;
    user-select: none;
    cursor: pointer;
  }

  .back-btn-bottom {
    display: none;
  }
}
