<div class="locations-group-wrapper">
<!--  <pre>  {{FORM_STATE.state}} {{FORM_STATE.previousState}} {{ FORM_STATE.state > FORM_STATE.previousState}}</pre>-->
  <!--<pre>{{frameMotion$| async | json}}</pre>-->
  <div *ngIf="FORM_STATE.state === 1" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async}">

    <app-from-where
      [studentText]="studentText"
      [formState]="FORM_STATE"
      [isStaff]="isStaff"
      [date]="showDate"
      (backButton)="back($event)"
      (selectedLocation)="fromWhere($event)"
    ></app-from-where>
  </div>
  <div *ngIf="FORM_STATE.state === 2" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async} ">
    <app-to-where
      [studentText]="studentText"
      [formState]="FORM_STATE"
      [isStaff]="isStaff"
      [date]="showDate"
      [pinnables]="pinnables"
      [location]="data.fromLocation"
      (backButton)="back($event)"
      (selectedPinnable)="toWhere($event)"
    ></app-to-where>
  </div>
  <!--<div *ngIf="FORM_STATE.state === 3" style="position: absolute">-->
  <div *ngIf="FORM_STATE.state === 3" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async} ">

    <app-to-category
      [studentText]="studentText"
      [formState]="FORM_STATE"
      [isStaff]="isStaff"
      [fromLocation]="data.fromLocation"
      [date]="showDate"
      (backButton)="back($event)"
      (locFromCategory)="fromCategory($event)"
    ></app-to-category>
  </div>
  <!--<div *ngIf="FORM_STATE.state === 4" style="position: absolute">-->
  <div *ngIf="FORM_STATE.state === 4" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async} ">

    <app-restricted-target
      [formState]="FORM_STATE"
      [date]="showDate"
      [pinnable]="pinnable"
      (backButton)="back($event)"
      (requestTarget)="requestTarget($event)"
    ></app-restricted-target>
  </div>

  <!--<div *ngIf="FORM_STATE.state === 5" style="position: absolute">-->
  <div *ngIf="FORM_STATE.state === 5" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async} ">

    <app-restricted-message
      [formState]="FORM_STATE"
      (backButton)="back($event)"
      [gradient]="FORM_STATE.data.gradient"
      [teacher]="data.requestTarget"
      [date]="showDate"
      (resultMessage)="resultMessage($event, !FORM_STATE.forInput && !FORM_STATE.missedRequest)"
    ></app-restricted-message>
  </div>

</div>

<img class="back-button back-button-grey back-btn-bottom" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset" (click)="stepBack()">
