@import '../../../sp-colors';
@import '../../../design-system';

.wrapper {
  width: 290px;
  //height: 345px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;

  &.range {

  }

  &.scrollable {
    height: 451px;
    overflow: auto;
  }

  &.days {
    height: 479px;
    overflow: auto;
  }

  .sticky-header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    border-radius: 15px 15px 0 0;
    .toggle-header {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .selected-date {
        display: flex;
        color: $blue-gray;
        font-size: 15px;
        justify-content: center;
        height: 20px;
      }
    }
  }

  .content{

    .range-options {
      overflow: auto;
      height: 329px;
    }

    .days-options {
      overflow: auto;
      height: 410px;

      .time-range {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        box-sizing: border-box;

        .divider {
        }
      }
    }
  }

  .button {
    width: 101px;
    margin: 15px auto;
  }
}
