.pointer-wrapper{
    width: 100px;
    height: 19px;
    overflow: hidden;
    position: relative;
    left: 73px;
    top: -29px;
}

.pointer{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: relative;
    top: 21px;
    background-color: rgba(255, 255, 255, 1);
}

.consent-wrapper{
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -17px;
}

.consent-header{
    color: rgb(126, 135, 157);
    font-size: 13px;
    margin-bottom: 10px;
}

.option-wrapper{
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 2px 5px;
}

.option-wrapper:hover{
    background-color: rgba(210, 210, 210, 0.3);
}
