<div class="pointer-wrapper"><div class="pointer"></div></div>
<div class="consent-wrapper">
    <div class="consent-header ds-cell-text-2">{{ header }}</div>
    <div *ngIf="!!ConsentText">
      {{ConsentText}}

      <div mat-dialog-actions class="center">
        <div [style.color]="getConcentButtonColor(ConsentButtonColor)" class="option-wrapper marRight" (click)="_matDialogRef.close('doProcess')">{{ConsentYesText}}</div>
        <div [style.color]="getConcentButtonColor(ConsentButtonColor)" class="option-wrapper" (click)="onNoClick()">{{ConsentNoText}}</div>
      </div>
    </div>

    <div *ngFor="let option of options" class="ds-w-100">

      <div *ngIf="optionsView === 'button'; else stringOptionsView" class="ds-w-100">
        <app-gradient-button
          [cursor]="'pointer'"
          [minHeight]="'32px'"
          [width]="'200px'"
          [fontSize]="'14px'"
          [fontWeight]="400"
          [hoverColor]="option.color"
          [gradient]="option.buttonColor"
          [textColor]="getColor(option)"
          (buttonClick)="_matDialogRef.close(option.action)">
          <span>{{option.display}}</span>
        </app-gradient-button>
      </div>
      <ng-template #stringOptionsView>
        <div [style.color]="getColor(option)" #_option class="option-wrapper ds-w-100"
             (mousedown)="_option.style.background = '#E2E7F4'"
             (mouseup)="_option.style.background = 'transparent'"
             (mouseover)="_option.style.background = '#ECF1FF'"
             (mouseleave)="_option.style.background = 'transparent'"
             (click)="_matDialogRef.close(option.action)">{{ option.display }}</div>
      </ng-template>
    </div>
</div>
