@import "../../../sp-colors";

.wrapper {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      display: flex;
      font-size: 22px;
      color: $navy;
      font-weight: bold;
    }
  }

  .content {
    margin-top: 13px;
  }
}
