:host {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .container {
    width: inherit;
    height: inherit;
    position: absolute;
    top: inherit;
    left: inherit;
  }
}
