@import 'src/sp-colors';

::ng-deep mat-tab-header.mat-tab-header {
  display: none
}

.sp-dialog.wrapper {
  border-radius: 14px;
}

.limit-section {
  padding: 20px;
  background: $gray050;
  border-radius: 10px;
  margin-bottom: 20px;
}

.show-school-border {
  border: 1px solid #6651F1;
}

.show-individual-border {
  border: 1px solid #E48C15;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  border-width: 0 !important;
}

.disabled-individual {
  border-width: 0 !important;
}
