<mat-tab-group #tabGroup>
  <mat-tab>
    <div class="sp-dialog wrapper">
      <div class="header">
        <div class="background-header"></div>
        <img class="back-button" mat-dialog-close [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset">
        <div class="title-header ds-flex-center-center" style="z-index: 10">
          <div class="ds-dialog-title" [style.margin-left]="'12px'">Pass Limit for {{data.studentPassLimit.student.display_name}}</div>
        </div>
      </div>

      <div class="content">
        <div class="limit-section ds-flex-row ds-flex-center-between">
          <span class="ds-dialog-heading" style="padding-bottom: 0 !important;">
            School Pass Limit
            <div style="display: inline" customToolTip [contentTemplate]="passLimitLearnMore">
              <img
                class="support-icon"
                [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
            </div>
            <ng-template #passLimitLearnMore>
             <div class="ds-tooltip">
                <span>
                  Limit the number of passes all students can have per day.
                  <a href="https://www.smartpass.app/passlimits" style="color: white" target="_blank"> Learn more</a>
                </span>
             </div>
           </ng-template>
          </span>

          <div
            style="padding: 5px 10px; background-color: #6651F1; box-shadow: rgba(112, 131, 160, 0.1) 0 2px 10px 0; border-radius: 4px; cursor: pointer">
            <span style="font-size: 14px; font-weight: 400; color: white">Turn on</span>
            <img class="ds-ml-5" style="width: 12px; height: 12px;" [src]="'./assets/External%20Link%20(White).svg' | resolveAsset" alt="">
          </div>
        </div>

        <div class="limit-section ds-flex-row ds-flex-center-between">
          <span class="ds-dialog-heading" style="align-self: flex-start; padding-bottom: 0 !important;">
            Individual Limit
            <div class="tooltip-container" style="display: inline">
              <div style="display: inline" customToolTip [contentTemplate]="individualLimitLearnMore">
                <img
                  class="support-icon"
                  style="width: 17px"
                  [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
              </div>
            </div>
            <ng-template #individualLimitLearnMore>
              <div class="ds-tooltip">
                <span>
                  Limit the number of passes certain individual students can have per day. This overrides the school limit if set.
                  <a href="https://www.smartpass.app/passlimits" style="color: white" target="_blank"> Learn more</a>
                </span>
              </div>
            </ng-template>
          </span>

          <div
            style="padding: 5px 10px; background-color: #E48C15; box-shadow: rgba(112, 131, 160, 0.1) 0 2px 10px 0; border-radius: 4px; cursor: pointer;">
            <img class="ds-mr-5" style="width: 12px; height: 12px;" [src]="'./assets/Plus (White).svg' | resolveAsset" alt="">
            <span style="font-size: 14px; font-weight: 400; color: white">Add</span>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
