<div class="container " (touchmove)="preventTouch($event)">

  <div class="ds-w-100 ds-h-100 ds-flex-center-between ds-flex-column login">

    <div class="background"></div>
    <div style="flex-grow: 0.5;"></div>

    <div class="brand">
      <app-smartpass-logo [logoAsset]="'./assets/Logo (White).svg'"></app-smartpass-logo>
    </div>

    <div class="moving-tiles">
      <div class="shadow"><span style="width: 1px; background-color: white"></span></div>
      <app-mooving-tiles></app-mooving-tiles>
      <div class="right-shadow"><span style="width: 1px; background-color: white"></span></div>
    </div>

    <div class="login-form" [style.margin-top]="formPosition">
      <google-signin (focusEvent)="formMobileUpdatePosition()" (blurEvent)="formPosition = '70px'"></google-signin>
    </div>

    <div class="grow"></div>
    <div style="flex-grow: 0.5;"></div>
  </div>

</div>

