<div class="container " (touchmove)="preventTouch($event)">

  <div class="ds-w-100 ds-h-100 ds-flex-center-between ds-flex-column login">

    <div class="background" [style.background-image]="trustedBackgroundUrl | resolveAsset"></div>
    <div style="flex-grow: 0.5;"></div>

    <div class="brand">
      <app-smartpass-logo [logoAsset]="'./assets/Logo (White).svg'"></app-smartpass-logo>
    </div>

    <div class="moving-tiles">
      <div class="shadow"></div>
      <app-mooving-tiles></app-mooving-tiles>
      <div class="right-shadow"></div>
    </div>

    <div class="login-form">
      <google-signin></google-signin>
    </div>

    <div class="grow"></div>
    <div style="flex-grow: 0.5;"></div>
  </div>

</div>

