@import '../../../../../sp-colors';

.wrapper {
  .group {
    margin-bottom: 35px;
    .label {
      color: $navy;
      font-size: 15px;
      font-weight: bold;
    }

    .info {
      color: $blue-gray;
      font-size: 14px;
      margin-top: 6px;
    }
  }
}
