@import '../../../../sp-colors';

.wrapper {
  width: 425px;
  height: 500px;

  .settings-header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #1F195E;
      left: 15px;

    }

    .save-button {
      width: 85px;
      position: absolute;
      right: 27px;
    }

    .settings-header-text {
      color: #1F195E;
      font-size: 17px;
    }
  }

  .content {
    padding: 25px;

    .block {
      margin: 35px 0;
      font-size: 15px;
      .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $navy;
        margin-bottom: 6px;
        font-weight: bold;
      }
      .value {
        color: $blue-gray;
        width: 300px;

        .info {
          display: flex;
          margin-bottom: 6px;
        }
      }
    }
  }
}
