<div class="wrapper">

  <div class="settings-header">
    <img class="back-button" *ngIf="!changeForm" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset" (click)="close()">
    <div class="back-button" *ngIf="changeForm" (click)="close()">Cancel</div>
    <img width="21" height="21" [src]="'./assets/Settings (Navy).svg' | resolveAsset" alt="Options">
    <div class="ds-dialog-title" [style.margin-left]="'12px'">Settings</div>
    <div class="save-button" *ngIf="changeForm && schoolForm.valid">
      <app-gradient-button
        [width]="'85px'"
        [minHeight]="'30px'"
        [fontSize]="'14px'"
        [cursor]="'pointer'"
        (buttonClick)="save()"
      >
        <span *ngIf="!showSpinner">Save</span>
        <mat-spinner *ngIf="showSpinner" [color]="'accent'" [diameter]="'30'"></mat-spinner>
      </app-gradient-button>
    </div>
  </div>

  <div class="content">
    <div class="school-name">
      <app-input
        [width]="'360px'"
        [input_value]="school.name"
        [input_label]="'School Name'"
        [formGroup]="schoolForm"
        [controlName]="schoolForm.get('name')"
      ></app-input>
    </div>

    <div class="block">
      <div class="label" [style.margin-bottom]="0">
        <div>Display email/username</div>
        <div>
          <app-toggle-input
            [form]="schoolForm"
            [controlName]="'display_username'"
            [delimiter]="false"
            [controlSize]="'small'"
          ></app-toggle-input>
        </div>
      </div>
      <div class="value">Show a user’s email in parentheses next to the name on pass cards.<br/>
        Example: John Smith (jsmith)
      </div>
    </div>
    <div class="block">
      <div class="label">School info</div>
      <div class="value">
        <div class="info">Sign up date: {{ school.created }}</div>
        <div class="info">Launch date: {{ school.launch_date }}</div>
        <div class="info">
          <div>Address:</div>&nbsp;
          <div>{{ school.address.address }}, <br> {{school.address.city ? school.address.city + ',' : '' }} {{ school.address.state }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
