@import '../../sp-colors';

.wrapper {
	textarea {
		border: 2px solid transparent;
		display: block;
		font-size: 1rem;
		line-height: 1.5;
		color: #1d1a5e;
		background-clip: padding-box;
		border-radius: 0.5rem;
		padding: 8px 8px 8px 16px;
		margin-top: 6px;
		transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;
	}
}

.wrapper textarea:focus {
	border: 2px solid $navy;
}
.clserrorLabel {
	color: #e32c66 !important;
}
.clserrorInput {
	border: 2px solid #e32c66 !important;
}
