<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="heading">
            <p class="title">Good morning, {{ user?.first_name}}</p>
            <div>
                <app-gradient-button [hoverColor]="'#00B476'" [withShadow]="true" [gradient]="'#00B476'" [cursor]="'pointer'" leftIcon="assets/Plus (White).svg" (buttonClick)="openInviteFamiliesDialog()">
                    Add a student
                </app-gradient-button>
            </div>
        </div>
        <div class="student-cards-wrapper">
            <div class="cards">
                <div *ngIf="studentsList.length == 0" class="card add-stud">
                    <img [src]="'./assets/Add Button (Green).svg' | resolveAsset" alt="">
                    <p (click)="openInviteFamiliesDialog()">Add a student</p>
                </div>
                <div class="card" *ngFor="let stucent of studentsList" (click)="goToStudent(stucent)">
                    <div class="wrapper">
                        <div class="avatar-info">
                            <div class="avatar" #avatarContainer>
                                <div *ngIf="stucent?.profile_picture; else d" [ngStyle]="{'background': 'url(' + stucent?.profile_picture + ') no-repeat left center/cover', width: '88px', height: '88px'}"></div>
                                <ng-template #d>
                                    <img width="88" height="88" [src]="'./assets/Avatar Default.svg' | resolveAsset" alt="Avatar">
                                </ng-template>

                            </div>
                        </div>
                        <div class="student-info">
                            <p class="name">{{stucent.display_name}}</p>
                            <p class="school-name">Walt Whitman High School</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>