<div *ngIf="user" class="intro-wrapper">
  <div *ngIf="slideIndex!==1" class="button-left" (click)="slideIndex=slideIndex-1"
      [@pressState]="getButtonState('left')" (mousedown)="onPress(true, 'left')" (mouseup)="onPress(false, 'left')">
    <img class="button-icon" [src]="'./assets/Arrow Reversed (Green).png' | resolveAsset">
  </div>

  <img class="slide" [src]="'./assets/intro/' +(isStaff?'Teacher':'Student') +'/Intro ' +slideIndex +'.png' | resolveAsset">
  
  <app-gradient-button
    class="end-button"
    *ngIf="slideIndex===7"
    [gradient]="'#03CF31,#00B476'"
    [hoverColor]="'#00B476'"
    [minWidth]="'150px'"
    [minHeight]="'50px'"
    [fontSize]="'18px'"
    (buttonClick)="endIntro()"
    >Get Started</app-gradient-button>
  <div *ngIf="slideIndex!==7" class="button-right" (click)="slideIndex=slideIndex+1"
      [@pressState]="getButtonState('right')" (mousedown)="onPress(true, 'right')" (mouseup)="onPress(false, 'right')">
    <img class="button-icon" [src]="'./assets/Arrow (Green).png' | resolveAsset">
  </div>
</div>