.intro-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    padding-bottom: 10px;
}

.button{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.button-left{
    @extend .button;
    left: 20px;
}

.button-right{
    @extend .button;
    right: 20px;
}

.button-icon{
    width: 25px;
    height: 25px;
}

.end-button{
    margin-top: -275px;
}

.slide{
    margin-right: auto;
    margin-left: auto;
}