.intro-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    user-select: none;
}

.button{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.button-left{
    @extend .button;
    left: 20px;
}

.button-right{
    @extend .button;
    right: 20px;
}

.button:hover{
    box-shadow: 0 8.5px 14px 0 rgba(0, 0, 0, 0.3);
}

.button-icon{
    width: 25px;
    height: 25px;
}

.end-button{
    position: absolute;
    top: 40%;
    left: calc(50% - 75px);
}