.intro-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    //padding-bottom: 10px;
}

.box {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #F8FAFF;
  position: relative;
  color: #7E879D;
  .anti-click {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    //background-color: rgba(0,0,0,.7);
    z-index: 1;
  }
}

.slide {
  font-size: 1.05em;
  text-align: center;
  height: 650px;
  overflow-y: hidden;
  &__1 {
    .logo {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
    .greeting {
      padding-top: 40px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .tiles-wrapper {
      flex: 3 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .tiles {
        display: flex;
        div {
          padding: 4px;
        }
      }
    }
  }
  &__2 {
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: space-around;

    //color: #7E879D;
    .title {
      padding: 40px 0 60px 0;
    }
    .pass-buttons {
      display: flex;
      justify-content: space-around;
    }
    .pass-collection {
      padding-top: 35px;
      opacity: .3;
    }
  }
}



.button{
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.button-left{
    @extend .button;
    left: 20px;
}

.button-right{
    @extend .button;
    right: 20px;
}

.button-icon{
    width: 25px;
    height: 25px;
}

.end-button{
    margin-top: -275px;
}

//.slide{
    //margin-right: auto;
    //margin-left: auto;
//}
