.target-footer {
  width: 100%;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 0px 8px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .footer-from-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    .footer-text {
      color: #1F195E;
    }
  }

  .footer-icon {
    height: 13px;
    padding: 0 15px 0 15px;
  }
}

.center-text {
  display: flex;
  align-items: center;
  padding: 7px;
}

.cursor {
  cursor: pointer;
}