<div class="host" appSafariScroll>
    <div class="renewal-wrapper" #scrollableArea>
        <div class="header-title">
            <h3 >Prepare for the New School Year</h3>
            <span>Subscription Ends:</span>
            <span>June 30th, 2024</span>
        </div>
        <div class="renewal-content">
            <div class="reminder-box">
                <img src="./assets/admin-images/upgrade-sub.png"/>
                <div>
                    <h5>Upgrade to Even More SmartPass</h5>
                    <span>More analytics. More features. Even more SmartPass for you.</span>
                    <div class="reminder-btn">Explore Upgrade Options <img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg"/></div>
                </div>
            </div>
            <div class="action-boxes">
                <div>
                    <div class="content-box">
                        <h5>Summer Action Items</h5>
                        <div class="action-items-container">
                            <div class="action-item">
                                <div>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrxwAHELfGAGyLjDtA_ZWUreLbc01Ad9VGgP6upvCd&s"/>
                                    <span>Profile Pictures</span>
                                    <img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg"/>
                                </div>
                                <p>Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                            </div>
                            <div class="action-item">
                                <div>
                                    <img src="https://cdn.britannica.com/77/170477-050-1C747EE3/Laptop-computer.jpg"/>
                                    <span>Discover New Ways to Set Up</span>
                                    <img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg"/>
                                </div>
                                <p>Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                            </div>
                            <div class="action-item">
                                <div>
                                    <img src="https://res.infoq.com/articles/api-first-integration/en/headerimage/a-seven-step-guide-to-API-first-integration-large-logo-1604605389027.jpg"/>
                                    <span>Switch to an Integration</span>
                                    <img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg"/>
                                </div>
                                <p>Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h5>Your Team</h5>
                        <div class="team-container">
                            <div class="team-member">
                                <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTkxMTc1NzA2MzA1MTc3MzI0/portrait-of-john-smith.jpg"/>
                                <div>
                                    <span>John Smith</span>
                                    <span>Customer Success Advocate</span>
                                </div>
                                <div class="message-btn">
                                    <img src="https://img.lemde.fr/2023/02/09/35/350/7039/4693/1440/960/60/0/9c953f5_1675942156998-pns-4816549.jpg">
                                    <span>Send a message</span>
                                </div>
                            </div>
                            <div class="team-member">
                                <img src="https://www.skateism.com/wp-content/uploads/2018/09/Lucy-Adams-interview-skateism-girl-skateboarding-5.jpg"/>
                                <div>
                                    <span>Lucy Adams</span>
                                    <span>Customer Success Advocate</span>
                                </div>
                                <div class="message-btn">
                                    <img src="https://img.lemde.fr/2023/02/09/35/350/7039/4693/1440/960/60/0/9c953f5_1675942156998-pns-4816549.jpg">
                                    <span>Send a message</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-footer">
                        <span>Not interested in renewing? We’d love to know why! </span>
                        <a href="/">
                            <span>Provide Feedback</span>
                            <img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg"/>
                        </a>
                    </div>
                </div>
                <div class="content-box">
                    <h5>Features Coming Soon</h5>
                    <div class="feature-content">
                        <span>April 2023</span>
                        <div class="feature-item">
                            <img src="https://thumbs.dreamstime.com/b/school-bell-941501.jpg"/>
                            <span>New Notification System</span>
                        </div>
                        <div class="feature-item">
                            <img src="https://www.thunderpowermegaphones.com/wp-content/uploads/2018/07/THUN250-500x500-1.png"/>
                            <span>Alert Sounds</span>
                        </div>
                        <div class="feature-item">
                            <img src="https://video-images.vice.com/_uncategorized/1537368083565-Best-Buildings-in-LA-Bradbury-Building.jpeg"/>
                            <span>District Version</span>
                        </div>
                        <div class="feature-item">
                            <img src="https://images.uncommongoods.com/images/items/55700/55715_1_640px.jpg"/>
                            <span>Suggest a feature for next year</span>
                        </div>
                    </div>
                    <div class="feature-event">
                        <div>
                            <img src="./assets/SP Arrow (Blue-Gray).svg">
                            <span>May 24, 2023</span>
                        </div>
                        <span>Summer '23 Feature Launch</span>
                        <span>New at Smartpass Event</span>
                        <p>Join us as we announce our new cohort of revolutionary features hitting your hallways this year.</p>
                        <ul>
                            <li>15+ New Features</li>
                            <li>Guest Speakers</li>
                            <li>Swag and Surprises</li>
                        </ul>
                        <div>
                            <span>Register Now </span>
                            <img class="arrow-icon" src="./assets/Chevron Right (White).svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>