<div *ngIf="!showRenewConfirm" class="host" appSafariScroll>
	<div class="renewal-wrapper" #scrollableArea>
		<div class="header-title" [ngClass]="{ expiring: status?.renewal_status === 'expiring' }">
			<h3 [style.color]="darkTheme.getColor({ white: '#1F195E', dark: '#FFFFFF' })">Prepare for Next School Year</h3>
			<span *ngIf="status?.subscription_end_date" [style.color]="darkTheme.getColor({ white: '#4E5D74', dark: '#FFFFFF' })">
				Subscription Ends:
			</span>
			<span>{{ status?.subscription_end_date | date : 'longDate' : 'UTC' }}</span>
		</div>
		<div class="renewal-content">
			<div *ngIf="status && status.renewal_status !== 'renewed'" class="reminder-box" [ngClass]="{ expiring: status?.renewal_status === 'expiring' }">
				<img src="{{ reminder?.img }}" />
				<div>
					<h5>{{ reminder?.title }}</h5>
					<span>{{ reminder?.desc }}</span>
					<div (click)="reminder?.action()" class="reminder-btn" [ngClass]="{ expiring: status?.renewal_status === 'expiring' }">
						{{ reminder?.button }}
						<img class="arrow-icon" src="./assets/Chevron Right (Current Color).svg" />
					</div>
				</div>
			</div>
			<div class="action-boxes">
				<div>
					<div class="content-box">
						<h5>Summer Action Items</h5>
						<div class="action-items-container" *ngIf="status?.integration_type">
							<app-action-item
								*ngIf="status?.integration_type === 'none'"
								[link]="'https://articles.smartpass.app/en/articles/7200153-smartpass-rollover-summer-action-items#h_1948e74ee1'"
								[img]="'./assets/Integration (Gray).svg'"
								[title]="'Switch to an Integration'"
								[desc]="
									'Switch to G Suite, Clever, or ClassLink. With an integration, new students will automatically get added to SmartPass and makes login a breeze. Takes \< 1 hour to set up.'
								"></app-action-item>
							<app-action-item
								*ngIf="status?.integration_type === 'google'"
								[link]="'https://articles.smartpass.app/en/articles/7200153-smartpass-rollover-summer-action-items#h_38e22d766a'"
								[img]="'./assets/Google (Color).svg'"
								[title]="'G Suite'"
								[desc]="
									'To prepare for next school year, remove inactive or graduated students if you’re using OUs for each grade level, a school-level OU, or Google Groups.'
								"></app-action-item>
							<app-action-item
								*ngIf="status?.integration_type === 'classlink'"
								[link]="'https://articles.smartpass.app/en/articles/7200153-smartpass-rollover-summer-action-items#h_60c3862c64'"
								[img]="'./assets/ClassLink Icon.svg'"
								[title]="'ClassLink'"
								[desc]="
									'To prepare for next school-year, update the user profiles — add incoming students, remove graduated or inactive students.'
								"></app-action-item>
							<app-action-item
								*ngIf="status?.integration_type === 'clever'"
								[link]="'https://articles.smartpass.app/en/articles/7200153-smartpass-rollover-summer-action-items#h_cc676e6cf4'"
								[img]="'./assets/Clever.svg'"
								[title]="'Clever'"
								[desc]="'To prepare for next school year, update your SIS and set up automatic data syncing to Clever.'"></app-action-item>
							<app-action-item
								[link]="'https://www.smartpass.app/discover-guides'"
								[img]="'./assets/Laptop Settings (Red).svg'"
								[title]="'Make the most of SmartPass'"
								[desc]="'Explore how 1,000+ schools use SmartPass — everything from lunch detentions to daily nurse medications.'"></app-action-item>
							<app-action-item
								*ngIf="!status?.using_profile_pictures"
								[link]="'https://articles.smartpass.app/en/articles/6856156-adding-profile-pictures'"
								[img]="'./assets/Female Profile (Blue).svg'"
								[title]="'Profile Pictures'"
								[desc]="'Add profile pictures of your students and teachers. Takes \<30 minutes to set up.'"></app-action-item>
							<app-action-item
								[link]="'/referrals'"
								[img]="'./assets/Referal (Green).svg'"
								[title]="'Refer a School'"
								[desc]="
									'Share SmartPass with another school in your district and get a discount, or share it with neighboring schools to grow our SmartPass community.'
								"></app-action-item>
						</div>
						<div *ngIf="!status?.integration_type" class="action-items-container loading">
							<div class="loading-theme spinner ds-flex-center-center">
								<mat-spinner [color]="'accent'" [diameter]="35"></mat-spinner>
							</div>
						</div>
					</div>
					<div class="content-box">
						<h5>Your Team</h5>
						<div *ngIf="status" class="team-container">
							<app-team-member
								[id]="'renewal-customer-advocate'"
								*ngIf="status?.customer_success_advocate_hubspot_id"
								[uid]="status?.customer_success_advocate_hubspot_id"
								[job]="'Customer Success Advocate'"></app-team-member>
							<app-team-member
								[id]="'renewal-billing-coordinator'"
								*ngIf="status?.billing_coordinator_hubspot_id"
								[uid]="status?.billing_coordinator_hubspot_id"
								[job]="'Billing Coordinator'"></app-team-member>
							<app-team-member
								[id]="'renewal-account-executive'"
								*ngIf="status?.account_executive_hubspot_id"
								[uid]="status?.account_executive_hubspot_id"
								[job]="'Account Executive'"></app-team-member>
						</div>
						<div *ngIf="!status" class="team-container loading">
							<div class="loading-theme spinner ds-flex-center-center">
								<mat-spinner [color]="'accent'" [diameter]="35"></mat-spinner>
							</div>
						</div>
					</div>
					<div class="customer-since" *ngIf="status?.customer_since_date">
						<img src="./assets/Heart (Red).svg" />
						<span>Customer since {{ status.customer_since_date | date : 'MMMM y' : 'UTC' }}</span>
					</div>
				</div>
				<div class="action-boxes">
					<div>
						<!-- (teacherReviews$ | async)?.length > 1 &&  -->
						<div *ngIf="isTeacherReviewsEnabled" class="content-box">
							<a routerLink="/admin/teacher-reviews" class="review-link">
								<h5>See Your Staff's Reviews</h5>
								<img class="forward-button" [src]="'./assets/Forward Button.svg' | resolveAsset" alt="Button" />
							</a>
							<div class="five-stars">
								<img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star" />
								<img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star" />
								<img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star" />
								<img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star" />
								<img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star" />
								<p class="staff-review-date">Updated May 4,2023</p>
							</div>
							<p class="staff-review">They took the time to give their thoughts on SmartPass. Check out their reviews and ratings</p>
						</div>
						<div class="content-box">
							<h5>Features Coming Soon</h5>
							<div class="feature-content">
								<span>May 2023</span>
								<div (click)="handleFeatureClick(1)" class="feature-item" [ngClass]="{ selected: selectedFeature === 1 }">
									<div>
										<img src="./assets/Room (Blue).svg" />
										<span>Preventing rooms from being the “origin/from” room</span>
										<img (click)="handleFeatureClick(1)" class="dropdown-arrow" src="./assets/Chevron Right (Blue-Gray).svg" />
									</div>
									<p *ngIf="selectedFeature === 1">
										Disable the bathroom, water fountain, and locker from being an “origin” room so you can collect better data.
									</p>
								</div>
								<div (click)="handleFeatureClick(2)" class="feature-item" [ngClass]="{ selected: selectedFeature === 2 }">
									<div>
										<img src="./assets/Megaphone (Pink).svg" />
										<span>Alert Sounds</span>
										<img class="dropdown-arrow" src="./assets/Chevron Right (Blue-Gray).svg" />
									</div>
									<p *ngIf="selectedFeature === 2">Get sound alerts when students are coming to your room and when a pass is expiring.</p>
								</div>
								<div (click)="handleFeatureClick(3)" class="feature-item" [ngClass]="{ selected: selectedFeature === 3 }">
									<div>
										<img src="./assets/School (Purple).svg" />
										<span>District Version</span>
										<img class="dropdown-arrow" src="./assets/Chevron Right (Blue-Gray).svg" />
									</div>
									<p *ngIf="selectedFeature === 3">
										A district-wide view in SmartPass, making it easy for new schools in your district to get started.
									</p>
								</div>
								<div class="feature-item">
									<div>
										<img src="./assets/Lightbulb (Yellow).svg" />
										<span>Suggest a feature for next year</span>
										<img class="dropdown-arrow" src="./assets/Chevron Right (Blue-Gray).svg" />
									</div>
								</div>
							</div>
							<div class="feature-event">
								<div>
									<img src="./assets/SP Arrow (Gradient).svg" />
									<span>May 9, 2023</span>
								</div>
								<span>Summer '23 Feature Launch</span>
								<span>New at SmartPass Event</span>
								<p>Join us as we reveal a revolutionary set of upgrades happening in your hallways this year!</p>
								<ul>
									<li>15+ New Features</li>
									<li>Guest Speakers</li>
									<li>Swag and Surprises</li>
								</ul>
								<app-countdown [dateFuture]="'May 9 2023 12:30:00 PST'"></app-countdown>
								<a href="https://app.livestorm.co/smartpass/new-at-smartpass-2023?s=e1ea91d4-911c-4b11-a95b-055c8db2ba17" target="_blank">
									<span>Register Now </span>
									<img class="arrow-icon" src="./assets/Chevron Right (White).svg" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="iframe-container" *ngIf="showRenewConfirm">
	<div (click)="toggleConfirm()">
		<img src="./assets/Chevron Left (Blue-Gray).svg" />
	</div>
	<div *ngIf="iframeLoading" class="loading-theme spinner ds-flex-center-center">
		<mat-spinner [color]="'accent'" [diameter]="50"></mat-spinner>
	</div>
	<iframe [src]="iFrameURL" [ngClass]="{ hidden: iframeLoading }" id="renewal-iframe"></iframe>
</div>
