<div class="ns_wrapper">
  <div class="cancel-btn" [mat-dialog-close]="true">
		<img src="./assets/Cancel (Search-Gray).svg" />
	</div>
	<h1>Get $250 for each school you refer</h1>
	<mat-dialog-content>
		<p>You will earn a $250 cash payment per referral for any school who signs up with your link, with no upper limit!</p>
		<h2>3 Steps to Start Earning</h2>
		<ul>
      <li>Apply to the Program</li>
      <li>If accepted, you will receive a unique referral link to share with your network!</li>
      <li>When a referral (school) has a demo and purchases SmartPass, you'll get a $250 cash payment.</li>
    </ul>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button>Learn More</button>
	</mat-dialog-actions>
</div>
