<div class="wrapper" *ngIf="!!profile">
  <div class="student-card-container">
    <div class="content-container">
      <div class="left" #left (scroll)="scroll($event)">
        <div class="left-header" [style.box-shadow]="isScrollable ? '0 2px 4px 0 rgba(0, 0, 0, 0.1)' : 'none'">
          <div class="back">
            <app-round-button [icon]="'Chevron Left'" [iconOffset]="3" [iconWidth]="15"></app-round-button>
          </div>
          <div class="avatar-content">
            <div class="avatar"
                 [style.width]="isScrollable ? '32px' : '88px'"
                 [style.height]="isScrollable ? '32px' : '88px'"
                 #avatarContainer
                 (mouseenter)="avatarContainer.hover = true"
                 (mouseleave)="avatarContainer.hover = false"
            >
              <div class="loading-theme_blue-gray spinner" *ngIf="loadingProfilePicture | async">
                <mat-spinner style="color: #7f879d" [diameter]="30"></mat-spinner>
              </div>
              <div
                *ngIf="profile && profile.profile_picture; else d"
                [ngStyle]="{'background': 'url(' + profile.profile_picture + ') no-repeat left center/cover'}"
                [style.width]="isScrollable ? '32px' : '88px'"
                [style.height]="isScrollable ? '32px' : '88px'"
              ></div>
              <ng-template #d>
                <img
                  [src]="'./assets/Avatar Default.svg' | resolveAsset" alt="Avatar"
                  [style.width]="isScrollable ? '32px' : '88px'"
                  [style.height]="isScrollable ? '32px' : '88px'"
                >
              </ng-template>
              <div *ngIf="avatarContainer.hover && !isScrollable" class="hover-backdrop"></div>
              <div class="buttons" customToolTip [showToolTip]="!user.isAdmin()" [editable]="true" [nonDisappearing]="false" [contentTemplate]="tooltip" *ngIf="!(loadingProfilePicture | async) && !isScrollable">
                <img (click)="user.isAdmin() ? openEditAvatar($event) : null" *ngIf="avatarContainer.hover" class="add-avatar" [style.top]="!profile.profile_picture ? '30px' : '15px'" [src]="'./assets/' + (profile.profile_picture ? 'Edit' : 'Add') + ' Avatar (White).svg' | resolveAsset" alt="add">
                <img (click)="user.isAdmin() ? deleteAvatar() : null" *ngIf="avatarContainer.hover && profile.profile_picture" [src]="'./assets/Delete (White).svg'" [style.bottom]="'15px'" class="add-avatar" alt="Delete">

                <ng-template #tooltip>
                  <div class="ds-tooltip" style="text-align: left">
                    <div class="only-admin">ADMIN ONLY</div>
                    Only admins are able to add, edit or remove profile pictures.
                  </div>
                </ng-template>
              </div>

            </div>
            <div class="student-name" [style.font-size]="isScrollable ? '13px' : '28px'">{{ profile?.display_name }}</div>
          </div>

          <div class="top-buttons">
            <!--      <app-round-button [icon]="'Notifications'" (buttonClick)="openNotification()"></app-round-button>-->
            <app-round-button style="margin-left: 13px" [icon]="'Dots'" (buttonClick)="openStudentSettings($event)"></app-round-button>
          </div>
        </div>

        <div class="content">
          <div class="student-passes-info" *ngIf="!(loadingPassesStats$ | async); else fakeStats">
            <div class="card-info"
                 [customToolTip]="'The student had ' + (passesStats$ | async)?.past_passes_today + ((passesStats$ | async)?.past_passes_today === 1 ? ' pass' : ' passes') +  ' today.'"
                 [nonDisappearing]="false"
                 [editable]="true"
            >
              <div class="title">{{ (passesStats$ | async)?.past_passes_today }}</div>
              <div class="subtitle">today</div>
            </div>
            <div class="card-info"
                 [customToolTip]="'The student had ' + (passesStats$ | async)?.past_passes_week + ((passesStats$ | async)?.past_passes_week === 1 ? ' pass' : ' passes') +  ' this week.'"
                 [nonDisappearing]="false"
                 [editable]="true"
            >
              <div class="title">{{ (passesStats$ | async)?.past_passes_week }}</div>
              <div class="subtitle">this week</div>
            </div>
            <div class="card-info"
                 customToolTip
                 [contentTemplate]="tooltip"
                 [nonDisappearing]="false"
                 [editable]="true"
            >
              <ng-template #tooltip>
                <div class="ds-tooltip" style="max-width: 265px">
                  {{ 'The student had ' + (passesStats$ | async)?.past_passes_month + ((passesStats$ | async)?.past_passes_month === 1 ? ' pass' : ' passes') +  ' this month.' }}
                </div>
              </ng-template>
              <div class="title">{{ (passesStats$ | async)?.past_passes_month }}</div>
              <div class="subtitle">this month</div>
            </div>
          </div>

          <ng-template #fakeStats>
            <div class="student-passes-info">
              <div class="fake-card-stats fake-animate" *ngFor="let card of [1, 1, 1]"></div>
            </div>
          </ng-template>

          <div class="forms">
            <div class="form" style="flex-direction: column" *ngIf="!(exclusionGroupsLoading$ | async); else fakeForm">
              <div class="card">
                <div class="label">
                  <div class="icon" style="background-color: #E32C66">
                    <app-octagon [size]="20" [backgroundColor]="'#E32C66'">
                      <img style="position: absolute; z-index: 10;" height="14px" [src]="'./assets/Walking One (White).svg' | resolveAsset" alt="">
                    </app-octagon>
                  </div>
                  <div class="title" style="font-weight: 600">Encounter Prevention
                    <span class="support-icon" customToolTip [contentTemplate]="text"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
                  </div>
                  <ng-template #text>
                    <div class="ds-tooltip" style="width: 200px">Prevent two or more students from having a pass at the same time. <a href="https://www.smartpass.app/support/encounter-prevention" target="_blank" style="color: #FFFFFF">Learn more.</a></div>
                  </ng-template>
                </div>
                <div class="add-button" customToolTip [contentTemplate]="tooltip" [showToolTip]="!user.isAdmin()">
                  <app-gradient-button
                    [disabled]="!user.isAdmin()"
                    [size]="'editable'"
                    [minWidth]="'50px'"
                    [minHeight]="'31px'"
                    [textColor]="'#7F879D'"
                    [gradient]="'#FFFFFF, #FFFFFF'"
                    [hoverColor]="'#FFFFFF'"
                    [leftIcon]="'./assets/Plus (Blue-Gray).svg'"
                    [leftImageWidth]="'16px'"
                    [leftImageHeight]="'16px'"
                    [withShadow]="false"
                    [fontSize]="'14px'"
                    (buttonClick)="openEncounterPrevention('newGroup')"
                  >Add</app-gradient-button>

                  <ng-template #tooltip>
                    <div class="ds-tooltip" style="text-align: left">
                      <div class="only-admin">ADMIN ONLY</div>
                      Only admins are able to manage encounter prevention groups.
                    </div>
                  </ng-template>
                </div>
              </div>

              <div class="groups" *ngIf="(exclusionGroups$ | async) && (exclusionGroups$ | async).length">
                <div class="group"
                     *ngFor="let group of exclusionGroups$ | async"
                     [showToolTip]="!!group.notes"
                     [customToolTip]="group.notes"
                     [editable]="true"
                     [positionStrategy]="{originX: 'center',originY: 'top',overlayX: 'center',overlayY: 'top',offsetX: 210}"
                >
                  <app-encounter-group [group]="group" [backgroundColor]="'#FFFFFF'" (clickEvent)="openEncounterPrevention('groupDescription', group)"></app-encounter-group>
                </div>
              </div>
            </div>
            <ng-template #fakeForm>
              <div class="form fake-animate"></div>
            </ng-template>
            <!--        <div class="form">-->
            <!--          <div class="icon" style="background-color: #E48C15">-->
            <!--            <img width="13px" [src]="'./assets/Lock (White).svg' | resolveAsset" alt="">-->
            <!--          </div>-->
            <!--          <div class="title">Restrict all rooms</div>-->
            <!--        </div>-->
            <!--        <div class="form">-->
            <!--          <div class="icon" style="background-color: #6651F1">-->
            <!--            <img width="16px" [src]="'./assets/Pass Quota (White).svg' | resolveAsset" alt="">-->
            <!--          </div>-->
            <!--          <div class="title">Pass quota</div>-->
            <!--        </div>-->

            <div class="form">
              <div class="form-content-container">
                <div class="form-content">
                  <div class="title">Status</div>
                  <div class="status-value"
                       [style.opacity]="!user.isAdmin() ? '0.5' : '1'"
                       [showToolTip]="!user.isAdmin()"
                       customToolTip
                       [contentTemplate]="tooltip"
                       style="cursor: pointer; text-transform: capitalize"
                       (click)="user.isAdmin() ? openStatusPopup($event) : null"
                       [style.color]="profile && profile?.status === 'active' ? '#00B476' : (profile && profile?.status === 'disabled' ? '#7f879d' : '#6651F1')">{{ profile?.status }}
                    <span><img width="9px" [src]="'./assets/Chevron Down (' + (profile && profile?.status === 'active' ? 'Jade' : (profile && profile?.status === 'disabled' ? 'Blue-Gray' : 'Soft-Blue')) + ').svg' | resolveAsset" alt=""></span>

                    <ng-template #tooltip>
                      <div class="ds-tooltip" style="text-align: left">
                        <div class="only-admin">ADMIN ONLY</div>
                        Only admins are able to change the account status.
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="form-content">
                  <div class="title">Last Active
                    <span class="support-icon" customToolTip="The last time a student was signed in and active on desktop or mobile."><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
                  </div>
                  <div class="value">{{ profile?.last_login ? getLastActiveDate(profile?.last_login) : 'Hasn\'t signed in' }}</div>
                </div>
              </div>
            </div>

            <div class="form" style="flex-direction: column; align-items: flex-start">
              <div class="form-content">
                <div class="title">Email</div>
                <div class="value">{{ profile?.primary_email }}</div>
              </div>
              <div class="form-content" [style.margin]="'20px 0'">
                <div class="title">Account Type <span class="support-icon" customToolTip [contentTemplate]="text"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span></div>
                <ng-template #text>
                  <div class="ds-tooltip" style="max-width: 290px">If an account signs in with a third-party such as Google or Clever, or is a Standard account and signs in with a dedicated SmartPass password.</div>
                </ng-template>
                <div class="value">{{ accountType }}</div>
<!--                <app-select-role-->
<!--                  [selectedRoles]="[{id: 1, role: 'Student', icon: './assets/Student (Navy).svg'}]"-->
<!--                  [isAccessAdd]="false"-->
<!--                  [cardsBackground]="'#FFFFFF'"-->
<!--                ></app-select-role>-->
              </div>

              <div class="form-content">
                <div class="title">School</div>
                <div class="value">{{ school?.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="scrolling-container" #right (scroll)="rightScroll($event)">
        <div class="header-container">
          <div class="header">
            <div class="buttons">
              <div class="date-button"
                   #dateButton
                   customToolTip="Filter passes and reports"
                   [nonDisappearing]="false"
                   [editable]="true"
              >
                <app-date-button [date]="selectedDate" (buttonClick)="openDateFilter($event)"></app-date-button>
<!--                <app-gradient-button-->
<!--                  [gradient]="'#FFFFFF, #FFFFFF'"-->
<!--                  [leftIcon]="'./assets/Calendar (Navy).svg'"-->
<!--                  [leftImageWidth]="'18px'"-->
<!--                  [leftImageHeight]="'18px'"-->
<!--                  [rightIcon]="'./assets/Rect (Navy).svg'"-->
<!--                  [rightIconWidth]="'8px'"-->
<!--                  [rightIconHeight]="'8px'"-->
<!--                  [size]="'small'"-->
<!--                  [textColor]="'#1F195E'"-->
<!--                  (buttonClick)="openDateFilter($event)"-->
<!--                >{{ dateText(selectedDate) }}</app-gradient-button>-->
              </div>

              <app-square-button
                [backgroundColor]="'#edcbd9'"
                (buttonClick)="openReportForm()"
                customToolTip="Report student"
                [nonDisappearing]="false"
                [editable]="true"
                [height]="'40px'"
              >
                <img width="20" [src]="'./assets/Report (Red).svg' | resolveAsset">
              </app-square-button>

              <app-gradient-button
                [leftIcon]="'./assets/Plus (White).svg'"
                (buttonClick)="openCreatePassPopup($event)"
                [gradient]="'#00B467, #15D593'"
                [isGradient]="true"
                [size]="'small'"
              >Create Pass</app-gradient-button>
            </div>
          </div>

          <div class="divider" style="padding: 0 40px">
            <mat-divider style="border-color: #E2E6EC" *ngIf="isRightScroll"></mat-divider>
          </div>

        </div>

        <div class="right">
          <div class="content">
            <div class="block">
              <app-overview-container
                [title]="'Overview'"
                [icon]="'./assets/Overview (Navy).svg'"
                (clickFilter)="openFilter($event)"
              >
                <div class="info-cards" *ngIf="!(studentsStatsLoading$ | async); else fakeInfo">
                  <div class="info-card" #created (mouseenter)="created.hovered = true" (mouseleave)="created.hovered = false">
                    <div class="title">PASSES CREATED
                      <span class="support-icon"
                            (mouseenter)="created.destroyClose = true"
                            *ngIf="created.hovered || created.destroyClose"
                            (leave)="created.destroyClose = false"
                            customToolTip
                            [contentTemplate]="createdTemplate"
                            [editable]="true"
                            [nonDisappearing]="false"
                      >
                        <img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
                      </span>
                      <ng-template #createdTemplate>
                        <div class="ds-tooltip" style="max-width: 270px">
                          Number of passes the student has had, including passes teachers have created.
                        </div>
                      </ng-template>
                    </div>
                    <div class="value">{{ (studentStats$ | async)?.expired_passes.length + ' passes' }}</div>
                  </div>
                  <div class="info-card" #outOfClass (mouseenter)="outOfClass.hovered = true" (mouseleave)="outOfClass.hovered = false">
                    <div class="title">TIME SPENT OUT OF CLASS
                      <span class="support-icon"
                            (mouseenter)="outOfClass.destroyClose = true"
                            *ngIf="outOfClass.hovered || outOfClass.destroyClose"
                            (leave)="outOfClass.destroyClose = false"
                            customToolTip
                            [contentTemplate]="outOfClassTemplate"
                            [editable]="true"
                            [nonDisappearing]="false"
                      >
                        <img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
                      </span>
                      <ng-template #outOfClassTemplate>
                        <div class="ds-tooltip" style="max-width: 310px; text-align: left">
                          <div>Sum of all of the durations of passes.<br/></div>
                          <div style="color: #7f879d; margin-top: 5px">This includes time when the pass auto-ended, so the actual time out of class may be lower.</div>
                        </div>
                      </ng-template>
                    </div>
                    <div class="value">{{ secondToTime((studentStats$ | async)?.out_of_class_seconds) }}</div>
                  </div>
                  <div class="info-card" #overTime (mouseenter)="overTime.hovered = true" (mouseleave)="overTime.hovered = false">
                    <div class="title">PASSES OVER TIME LIMIT
                      <span class="support-icon"
                            (mouseenter)="overTime.destroyClose = true"
                            *ngIf="overTime.hovered || overTime.destroyClose"
                            (leave)="overTime.destroyClose = false"
                            customToolTip
                            [contentTemplate]="overTimeTemplate"
                            [editable]="true"
                            [nonDisappearing]="false"
                      >
                        <img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
                      </span>
                      <ng-template #overTimeTemplate>
                        <div class="ds-tooltip" style="max-width: 290px; text-align: left">
                          <div>Number of passes where the pass exceeded the time limit set for the pass.<br/></div>
                          <div style="color: #7f879d; margin-top: 5px">For example, if a pass is set for 5 minutes and the pass isn`t ended after 5 minutes.</div>
                        </div>
                      </ng-template>
                    </div>
                    <div class="value">{{ (studentStats$ | async)?.over_time_limit + ' passes' }}</div>
                  </div>
                  <div class="info-card" #autoEnded (mouseenter)="autoEnded.hovered = true" (mouseleave)="autoEnded.hovered = false">
                    <div class="title">PASSES AUTO-ENDED
                      <span class="support-icon"
                            (mouseenter)="autoEnded.destroyClose = true"
                            *ngIf="autoEnded.hovered || autoEnded.destroyClose"
                            (leave)="autoEnded.destroyClose = false"
                            customToolTip
                            [contentTemplate]="autoEndedTemplate"
                            [nonDisappearing]="false"
                            [editable]="true"
                      >
                        <img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset">
                      </span>
                      <ng-template #autoEndedTemplate>
                        <div class="ds-tooltip" style="max-width: 275px; text-align: left">
                          <div>Number of passes automatically ended, likely where student forgot to end it.<br/></div>
                          <div style="color: #7f879d; margin-top: 5px">Expiring passes count up and are automatically ended after <span style="text-decoration-line: underline; text-decoration-style: dashed; text-decoration-color: #7f879d">{{ school.pass_buffer_time === 1 ? school.pass_buffer_time + ' minute.' : school.pass_buffer_time + ' minutes.' }}</span></div>
                        </div>
                      </ng-template>
                    </div>
                    <div class="value">{{ (studentStats$ | async)?.auto_ended + ' pass' }}</div>
                  </div>
                </div>

                <ng-template #fakeInfo>
                  <div class="info-cards">
                    <div class="fake-card fake-animate" *ngFor="let pass of [1, 1, 1, 1]"></div>
                  </div>
                </ng-template>
              </app-overview-container>
            </div>
            <div class="block" [style.margin-top]="'30px'">
              <app-overview-container
                [title]="'Passes'"
                [icon]="'./assets/Passes (Navy).svg'"
                (clickFilter)="openFilter($event)"
              >
                <div class="block-container">
                  <div class="info-cards"
                       *ngIf="!(studentsStatsLoading$ | async); else fakePasses"
                  >
                    <ng-container *ngIf="(studentStats$ | async) && (studentStats$ | async).expired_passes.length; else emptyPassState">
                      <ng-container *ngFor="let pass of (studentStats$ | async)?.expired_passes; let i = index">
                        <app-pass-tile
                          *ngIf="i <= 5"
                          [forFuture]="false"
                          [fromPast]="true"
                          [forStaff]="false"
                          [pass]="pass"
                          [profileImage]="false"
                          [isMiniCard]="true"
                          (tileSelected)="openPassCard($event)"
                        ></app-pass-tile>
                        <app-pass-tile
                          *ngIf="(i > 5 && isFullScreenPasses)"
                          [forFuture]="false"
                          [fromPast]="true"
                          [forStaff]="false"
                          [pass]="pass"
                          [profileImage]="false"
                          [isMiniCard]="true"
                          (tileSelected)="openPassCard($event)"
                        ></app-pass-tile>
                      </ng-container>
                    </ng-container>
                    <ng-template #emptyPassState>
                      <div class="empty-state">
                        <div class="icon">
                          <img width="59px" [src]="'./assets/Passes (Gray-400).svg' | resolveAsset">
                        </div>
                        <div class="title">No passes have been created yet.</div>
                      </div>
                    </ng-template>
                  </div>

                  <ng-template #fakePasses>
                    <div class="info-cards">
                      <div class="fake-pass fake-animate" *ngFor="let pass of [1, 1, 1, 1, 1, 1]"></div>
                    </div>
                  </ng-template>
                <div class="button">
                  <app-gradient-button
                    [style.margin-top]="'20px'"
                    *ngIf="(studentStats$ | async) && (studentStats$ | async)?.expired_passes.length > 6 && !(studentsStatsLoading$ | async)"
                    [gradient]="'#FFFFFF, #FFFFFF'"
                    [leftIcon]="isFullScreenPasses ? './assets/Chevron Up (Blue-Gray).svg' : './assets/Chevron Down (Blue-Gray).svg'"
                    [textColor]="'#7f879d'"
                    (buttonClick)="isFullScreenPasses = !isFullScreenPasses"
                  >{{ isFullScreenPasses ? 'Collapse' : 'See all ' + (studentStats$ | async)?.expired_passes.length + ' passes' }}
                  </app-gradient-button>
                </div>
                </div>
              </app-overview-container>
            </div>
            <div class="block" [style.margin-top]="'30px'">
              <app-overview-container
                [title]="'Reports'"
                [icon]="'./assets/Report (Navy).svg'"
                (clickFilter)="openFilter($event)"
              >
                <div class="block-container">
                  <div class="info-cards" *ngIf="!(studentsStatsLoading$ | async); else fakeReports">
                    <ng-container *ngIf="(studentStats$ | async) && (studentStats$ | async).reports.length; else emptyReportState">
                      <ng-container *ngFor="let report of (studentStats$ | async)?.reports; let i = index">
                        <div class="report" *ngIf="i <= 5" appCrossPointerEventTarget (pointerClickEvent)="openReportInfo(report)">
                          <div class="date">{{ getLastActiveDate(report.created) }}</div>
                          <div class="description">{{ report.message }}</div>
                        </div>
                        <div class="report" *ngIf="i > 5 && isFullScreenReports" appCrossPointerEventTarget (pointerClickEvent)="openReportInfo(report)">
                          <div class="date">{{ getLastActiveDate(report.created) }}</div>
                          <div class="description">{{ report.message }}</div>
                        </div>
                      </ng-container>
                    </ng-container>

                    <ng-template #emptyReportState>
                      <div class="empty-state">
                        <div class="icon"><img width="78px" [src]="'./assets/Report (Gray-400).svg' | resolveAsset"></div>
                        <div class="title">Once a teacher reports a student, it’ll show up here.</div>
                      </div>
                    </ng-template>
                  </div>

                  <ng-template #fakeReports>
                    <div class="info-cards">
                      <div class="fake-report fake-animate" *ngFor="let report of [1, 1, 1, 1]"></div>
                    </div>
                  </ng-template>
                <div class="button">
                  <app-gradient-button
                    [style.margin-top]="'20px'"
                    *ngIf="(studentStats$ | async) && (studentStats$ | async)?.reports.length > 6 && !(studentsStatsLoading$ | async)"
                    [gradient]="'#FFFFFF, #FFFFFF'"
                    [leftIcon]="isFullScreenReports ? './assets/Chevron Up (Blue-Gray).svg' : './assets/Chevron Down (Blue-Gray).svg'"
                    [textColor]="'#7f879d'"
                    (buttonClick)="isFullScreenReports = !isFullScreenReports"
                  >{{ isFullScreenReports ? 'Collapse' : 'See all ' + (studentStats$ | async)?.reports.length + ' reports' }}
                  </app-gradient-button>
                </div>
                </div>
              </app-overview-container>
            </div>
          </div>
          <!--    <div class="feedback-button">-->
          <!--      <app-feedback-button></app-feedback-button>-->
          <!--    </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
