.display-card-wrapper {
  min-width: 308px;
  padding: 25px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.display-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.display-card-header-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.inbox-icon {
  width: auto;
  height: 23px;
}

.display-card-header-title {
  color: #1F195E;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.display-card-divider {
  width: 258px;
  height: 1px;
  margin-bottom: 12px;
  left: 25px;
  position: relative;
}

.display-card-content {
  left: 25px;
  position: relative;
}

.flexCls {
  display: flex;
  padding: 0 0 0 16px;
  width: 95%;
  justify-content: space-between;
}

.righticon {
  padding: 0 16px 20px 0;
  margin-right: 0;
  float: right;
}

.subtitlecls {
  padding-left: 16px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.print-icon {
  display: flex;
  align-items: flex-end;

  img {
    width: 30px;
    height: 30px
  }
}

.float-right {
  float: right;
}
.clear {
  clear:both;
}