<div class="display-card-wrapper">
  <div class="display-card-header justify-content">
    <div class="flexCls">
     
      <div class="display-card-header-title">
        {{student_name}}
      </div>
    </div>

    <span class="righticon">{{created}}</span>

  </div>
  <div [style.background-color]="(hasDivider?'#B5B7BA':'#FFF')" class="display-card-divider"></div>
  <div  class="float-left">
    <div (click)="printReport()"> <img *ngIf="!!righticon" class="display-card-header-icon righticon" [src]="righticon | resolveAsset"></div>
  <div class="subtitlecls">
    Reported by {{issuer}}
  </div>
  <div class="subtitlecls">
     {{message}}
  </div>
    
  <ng-content [style.left]="'35px'" [style.position]="'relative'"></ng-content>    
    </div>   
  <div class="clear"></div>
</div>
