<div class="toast-container"
>
  <div class="backdrop" *ngIf="data.hasBackdrop"></div>
  <div class="content-wrapper"
       [@toastSlideInOut]="toggleToast ? 'open' : 'close'"
       (mouseover)="over()"
       (mouseleave)="leave()"
  >
    <div class="content">
      <div class="type-line" [style.background-color]="lineColor(data.type)"></div>
      <div class="info" style="display: flex; align-items: center" *ngIf="data.encounterPrevention">
        <div class="exclusion-pass" *ngIf="data.encounterPrevention">
          <app-pass-tile
            [forFuture]="false"
            [fromPast]="true"
            [forStaff]="false"
            [pass]="data.exclusionPass"
            [profileImage]="false"
            [isMiniCard]="true"
          ></app-pass-tile>
        </div>
        <div class="text" style="margin-left: 7px">
          <div class="text_header">{{ data.title }}</div>
          <div class="text_message">{{ data.subtitle }}</div>
        </div>
      </div>

      <div class="info" *ngIf="!data.encounterPrevention">
        <div class="text">
          <div class="text_header">{{ data.title }}</div>
          <div class="text_message">{{ data.subtitle }}</div>
        </div>
        <div class="button">
          <app-gradient-button
            *ngIf="data.showButton"
            [gradient]="'#F4F4F4, #F4F4F4'"
            [leftIcon]="data.icon ? data.icon  : null"
            [textColor]="'#1F195E'"
            (buttonClick)="download(data.action)">
            {{ data.buttonText ? data.buttonText : 'Download' }}
          </app-gradient-button>
        </div>
      </div>

      <div class="close-btn" (click)="close($event)">
        <img [src]="'./assets/Close.svg' | resolveAsset" alt="Cancel (Blue-Gray).svg">
      </div>
    </div>

  </div>

</div>
