<div class="toast-container"
     [ngStyle]="{'opacity': toggleToast ? '1' : '0'}"
>
  <div class="content-wrapper"
       [ngStyle]="{'opacity': toggleToast ? '1' : '0', 'right': toggleToast ? '30px' : '-250px'}"
       (mouseover)="over()"
       (mouseleave)="leave()"
  >
    <div class="content">
      <div class="type-line" [style.background-color]="lineColor(data.type)"></div>
      <div class="info">
        <div class="text">
          <div class="text_header">{{ data.title }}</div>
          <div class="text_message">{{ data.subtitle }}</div>
        </div>
        <div class="button">
          <app-gradient-button
            *ngIf="data.showButton"
            [gradient]="'#F4F4F4, #F4F4F4'"
            [leftIcon]="data.icon ? data.icon  : './assets/Download (Navy).svg'"
            [textColor]="'#1F195E'"
            (buttonClick)="download(data.action)">
            {{ data.buttonText ? data.buttonText : 'Download' }}
          </app-gradient-button>
        </div>
      </div>

      <div class="close-btn" *ngIf="data.showButton" (click)="close($event)">
        <img [src]="'./assets/Close.svg' | resolveAsset" alt="Cancel (Blue-Gray).svg">
      </div>
    </div>

  </div>

</div>
