@import "../../../../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  width: 425px;
  height: 100%;
  position: relative;
  .header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #1976D2;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #FFFFFF;
      left: 15px;

    }
  }

  .content {
    padding: 23px;
    height: 384px;

    .active-top {
      display: flex;
      justify-content: space-between;
      padding: 0 45px 27px 0;
      .sync-title {
        color: $navy;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .sync-subtitle {
        color: $blue-gray;
        font-size: 15px;

      }
      .right {
      }
    }

    .center {
      padding: 20px 28px 0 0px;

      .prov-title {
        color: $navy;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      .prov-subtitle {
        font-size: 15px;
        color: $blue-gray;
      }

      .button {
        margin-top: 10px;
      }
    }

    .syncing-container {
      height: 314px;
      display: flex;
      align-items: center;
      justify-content: center;

      .syncing-spin-wrapper {
        width: 205px;
        height: 130px;
        background-color: #F4F4F4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .syncing-title {
          color: $navy;
          font-size: 17px;
          font-weight: 700;
          margin-top: 12px;
        }

        .spinner {
          animation: rotate 1.5s linear infinite;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;

    .footer-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
