<div *ngIf="isDate; else time;">
  <span class="ui-fluid wrapper">
    <span class="ui-float-label">
      <p-calendar id="date-float-input" [(ngModel)]="selectedDate" [minDate]="minDate" readonlyInput="true"></p-calendar>
      <label for="date-float-input">Start Date</label>
    </span>
  </span>
</div>
<ng-template #time>
  <span class="ui-fluid wrapper">
      <span class="ui-float-label">
        <p-calendar id="time-float-input" [(ngModel)]="selectedTime" [timeOnly]="true" readonlyInput="true" hourFormat="12"></p-calendar>
        <label for="time-float-input">Start Time</label>
    </span>
  </span>
</ng-template>
