.wrapper {
	.pass {
	}

	.metrics {
		margin-top: 11px;
	}
}

.dialog-icon {
	width: 26px;
	height: 26px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5e4fed;
}
