<div class="cell-wrapper">
  <div class="cell-content-wrapper">
    <div class="cell-title">{{forStaff?cellName:pass.destination.title}}</div>
    <div class="cell-datetime">{{ cellContent }}</div>
    <img *ngIf="forStaff" class="location-icon" [src]="pass.icon | resolveAsset">
    <img *ngIf="pass.isRead || type==='hallpass'" class="cell-arrow" [src]="'./assets/Disclosure Indicator (Grey).png' | resolveAsset">
    <div *ngIf="!pass.isRead && !(type==='hallpass')" class="badge"></div>
  </div>
  <div class="cell-divider"></div>
</div>