.cell-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #767676;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    width: inherit;
    font-weight: 500;
}

.cell-content-wrapper{
    display: flex;
    flex-direction: row;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}

.cell-content-wrapper:hover{
  background-color: #F1F1F1;
}

.cell-title{
    font-weight: bold;
    margin-right: 10px;
}

.cell-datetime{
    margin: 0 7px 0 auto;
}

.cell-arrow{
    width: 10px;
    height: 15px;
    margin: auto 0 auto 7px;
}

.location-icon{
    width: 17px;
    height: 17px;
    margin: auto 5px;
    filter: brightness(.3);
}

.cell-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}

.badge{
    background-color: #E32C66;
    color: white;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-left: 2px;
}