.cell-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    color: #767676;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    width: inherit;
}

.cell-content-wrapper{
    display: flex;
    flex-direction: row;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}

.cell-content-wrapper:hover{
  background-color: #F1F1F1;
}

.cell-datetime{
    margin-left: auto;
}

.cell-arrow{
    width: 15px;
    height: 25px;
    margin: auto 0 auto 15px;
}

.cell-divider{
    width: inherit;
    height: 2px;
    background-color: #B5B7BA;
}