<div class="pass-card-wrapper" [style.background-image]="getGradient()">
  <div class="pass-card-header">
    <img  class="pass-card-header-icon" [src]="pass.icon | resolveAsset">
    <div class="pass-card-header-info">
      <div class="pass-card-header-info-title">
        {{ pass.destination.title }}
      </div>
      <div class="pass-card-header-info-subtitle">
        <ng-content select=".card-subtitle"></ng-content>
      </div>
    </div>
    <img *ngIf="hasClose" (click)="onCancel.emit($event)" class="pass-card-header-close" [src]="closeIcon | resolveAsset">
  </div>
  <div class="pass-card-hdivider"></div>
  <div class="pass-card-body">
    <div class="pass-card-body-left">
      <ng-content select=".card-body-left"></ng-content>
    </div>
    <div *ngIf="hasDivider" class="pass-card-body-vdivider" [style.height]="(forStaff?'110px':'122px')"></div>
    <div class="pass-card-body-right" [style.justify-content]="rightJustify">
      <ng-content select=".card-body-right"></ng-content>
    </div>
  </div>
</div>
<div *ngIf="forStaff" class="student-wrapper"></div>
<div *ngIf="forStaff" class="student-text-wrapper">
  {{ studentText }}
</div>