<div class="wrapper" [style.background-color]="darkTheme.getColor({white: '#F4F4F4', dark: '#134482'})">
  <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ title }}</div>
  <div class="subtitle" [style.color]="darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">{{ subtitle }}</div>
  <div class="button">
    <app-gradient-button
      [gradient]="buttonColor"
      [rightIcon]="rightIcon ? rightIcon : null"
      [leftIcon]="leftIcon ? leftIcon : null"
      (buttonClick)="buttonClick.emit($event)">
      {{ buttonText }}
    </app-gradient-button>
  </div>
</div>
