<div class="team-member">
    <img src="{{ showPic ? 'https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTkxMTc1NzA2MzA1MTc3MzI0/portrait-of-john-smith.jpg' : './assets/Username (Blue-Gray).svg'}}" />
    <div>
        <span>{{ id }}</span>
        <span>{{ job }}</span>
    </div>
    <div class="message-btn">
        <img src="https://img.lemde.fr/2023/02/09/35/350/7039/4693/1440/960/60/0/9c953f5_1675942156998-pns-4816549.jpg">
        <span>Send a message</span>
    </div>
</div>
