.insights-container {
    height: 100%;
}

.chart-image {
    width: 40px;
    height: 40px;
}

.heading {
    width: 389px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101418;
    margin: 28px 0 0 0;
}

.insights-heading {
    display: flex;
    flex-direction: column;
}

.heading-body {
    width: 389px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E5D74;
    margin: 12px 0 28px 0;
}

.section-image {
    width: 60px;
    height: 60px;
}

.section-text {
    margin-left: 16px;
}

.image-and-text {
    display: flex;
    flex-direction: row;
    padding: 28px 0 28px 0;
}

.button {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background: #1F195E;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 6px;
    box-shadow: 0px 2px 10px rgba(16, 20, 24, 0.2);
    border-radius: 8px;
    cursor: pointer;
}

.button p {
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.section-body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 313px;
    color: #4E5D74;
    margin: 0 0 16px 0;
}

.section-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4E5D74;
    width: 171px;
    height: 19px;
    margin: 0 0 8px 0;
}

.section-break {
    width: 387px;
    height: 0px;
    border: 1px solid #E2E6EC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #F5F6F8;
    margin: 0 -60px 0 -60px;
}

.footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7083A0;
}

.close-button {
    position: relative;
    bottom: 42px;
    left: 404px;
    width: 27px;
    height: 27px;
}

.close-button-container {
    height: 0px;
    width: 0px;
}