<div class="dialog-wrapper">
    <p class="ds-dialog-title header">Connect to your student</p>
    <p class="instruction">To connect to your students' SmartPass, you'll need their parent invite code. <span>Where can I find this?</span></p>
    <div class="input-wrapper">
        <app-input width="250px" height="50px" placeholder="eg. P123456" [formGroup]="inviteCodeForm" [controlName]="inviteCodeForm.get('inviteCode')">
        </app-input>
    </div>
    <div class="buttons">
        <app-gradient-button [size]="'editable'" [fontSize]="'12px'" [fontWeight]="'normal'" [width]="'50px'" textColor="#7083A0" [gradient]="'#FFFFFF'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="dialogRef.close(text)">
            Skip
        </app-gradient-button>
        <app-gradient-button [disabled]="!inviteCodeForm.get('inviteCode')" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="dialogRef.close(text)">
            Add student
        </app-gradient-button>
    </div>
</div>