<div class="wrapper">
  <form class="login-form" [formGroup]="loginForm">
    <div class="title">
      <img [src]="'./assets/Username (Navy).svg' | resolveAsset" width="34" height="34" alt="username" style="margin-right: 12px">
      <div>Sign In</div>
    </div>
    <div class="content">
      <app-input
        [formGroup]="loginForm"
        [autocomplete]="'username'"
        [controlName]="loginForm.get('username')"
        [input_label]="'Username or email'"
        [input_type]="'text'"
        [width]="'250px'"
        (onUpdate)="updateDemoUsername($event)"
      ></app-input>
      <div class="input-password"
        [style.opacity]="loginData.demoLoginEnabled ? 1 : 0" [style.position]="loginData.demoLoginEnabled ? 'static' : 'absolute'"
      >
        <app-input
          [autocomplete]="'password'"
          [formGroup]="loginForm"
          [isFocus]="inputFocusNumber === 2"
          [forceFocus$]="forceFocus$"
          [controlName]="loginForm.get('password')"
          [input_label]="'Password'"
          [input_type]="'password'"
          [width]="loginData.demoLoginEnabled ? '250px' : '0'"
          (onUpdate)="loginData.demoPassword ? updateDemoPassword($event) : null; error$.next(null); passwordError = false;"
        ></app-input>
      </div>
      <div class="error" [style.position]="passwordError ? 'static' : 'absolute'" *ngIf="error$ | async as errorMessage"> {{ errorMessage }}</div>
      <div class="already-message" *ngIf="schoolAlreadyText$ | async as alreadyText">{{ alreadyText }}</div>
      <div class="button" style="margin-top: 97px;" *ngIf="!loginData.demoLoginEnabled">
        <app-gradient-button
          [disabled]="disabledButton"
          [size]="'medium'"
          [rightIcon]="!showSpinner ?'./assets/Chevron Right (White).svg' : ''"
          [cursor]="'pointer'"
          [hoverColor]="'#FFFFFF'"
          [minWidth]="'90px'"
          [minHeight]="'30px'"
          [fontSize]="'14px'"
          (buttonClick)="checkUserAuthType()"
          [style.width]="'90px'"
        >
          <div *ngIf="!showSpinner">
            <span>Next</span>
          </div>
          <div  *ngIf="showSpinner" class="loading-theme_white">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </app-gradient-button>
      </div>
      <div class="button" style="margin-top: 21px;" *ngIf="loginData.demoLoginEnabled">
          <app-gradient-button
            [disabled]="!loginData.demoUsername || !this.loginForm.get('password').value"
            [size]="'medium'"
            [cursor]="'pointer'"
            [hoverColor]="'#FFFFFF'"
            [minWidth]="'90px'"
            [minHeight]="'30px'"
            [fontSize]="'14px'"
            (buttonClick)="demoLogin()"
            [style.width]="'90px'"
          >
            <div *ngIf="!showSpinner">
              <span>Sign in</span>
            </div>
            <div  *ngIf="showSpinner" class="loading-theme_white">
              <mat-spinner [diameter]="25"></mat-spinner>
            </div>
          </app-gradient-button>
        </div>
      </div>

  </form>
</div>


