h1 {
  font-family: Roboto, sans-serif;

  text-align: center;
}

h3 {
  font-family: Roboto, sans-serif;

  text-align: center;
}

mat-progress-spinner.inline {
  display: inline-block;
  margin-right: 8px;
  margin-left: -4px;
  margin-top: -4px;
}

.wrapper {
  padding: 0 0;
  text-align: center;
}

.wrapper > .grow {
  flex-grow: 1;
}
