<mat-card style="display: inline-block;">

  <div class="wrapper">
    <div class="grow"></div>
    <h1>Please sign-in to continue</h1>
    <div class="grow"></div>
  </div>

  <div class="wrapper">
    <button mat-raised-button (click)="initLogin()" [disabled]="!isLoaded">
      <mat-progress-spinner
        *ngIf="!isLoaded"
        class="inline"
        color="accent"
        [mode]="progressType"
        [diameter]="20"
        [strokeWidth]="2"
        [value]="progressValue"></mat-progress-spinner>
      Google Sign-In
    </button>
  </div>

  <form *ngIf="demoLoginEnabled" onsubmit="return false;" style="margin-top: 30px;">
    <input name="username" placeholder="Username" type="text" [(ngModel)]="demoUsername"><br>
    <input name="password" placeholder="Password" type="password" [(ngModel)]="demoPassword"><br>
    <button (click)="demoLogin()">Login</button>
  </form>
</mat-card>

