.nav-button-wrapper{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  //margin-left: 29px;
    height: 50px;
    margin: 10px 0 0 29px;
    //padding: 0px 15px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    transition: color 0.4s ease, transform 0.4s ease;
}

.nav-button-icon{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.nav-button-text{
    font-size: 17px;
    margin-left: 16px;

  //font-weight: bold;
}
