.picker-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;



  .disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
  }
}

.choices {
  display: flex;
  align-items: center;
  //height: 100%;
  border-radius: 5.6px;
  padding: 2px;
  box-sizing: border-box;
  //background-color: rgba(247,247,247,.3);

  .choice {
    height: 100%;
    display: flex;
    //padding: 10px;
    white-space: pre-line;
    word-break: break-all;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5.6px;
    position: relative;
    z-index: 2;
    //.option-background {
    //  position: absolute;
    //  z-index: -1;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  margin: auto;
    //  border-radius: 5.6px;
    //}
  }
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 0;
      right: -3px;
      height: 56%;
      width: 1px;
      background-color: rgba(142,142,147,.3);
      border-radius: .5%;
    }
  }
  //@keyframes choice {
  //  0% {
  //    opacity: .7;
  //    transform: scale(.98);
  //  }
  //  100% {
  //    opacity: 1;
  //    transform: scale(1);
  //  }
  //}
  //@keyframes unchoice {
  //  0% {
  //    opacity: 1;
  //    transform: scale(1);
  //  }
  //  100% {
  //    opacity: .7;
  //    transform: scale(.98);
  //  }
  //}
  //.left-radius {
  //  border-bottom-left-radius: 5px;
  //  border-top-left-radius: 5px;
  //}
  //
  //.right-radius {
  //  border-bottom-right-radius: 5px;
  //  border-top-right-radius: 5px;
  //}
}
