<div class="picker-wrapper">
  <div class="disabled" *ngIf="disabled"></div>
  <div class="choices" [style.border]="'1px solid ' + selectedColor">
    <div class="choice" [style.height]="height + 'px'"
         *ngFor="let choice of choices; let i=index;"
         [style.border-left]="i > 0 ? '1px solid ' + selectedColor : 'none'"
         [style.opacity]="isDisabled(choice) ? 0.5 : 1"
         [style.cursor]="isDisabled(choice) ? 'default' : 'pointer'"
         [ngClass]="{
         'left-radius': i === 0,
         'right-radius': i === choices.length - 1
         }"
         (click)="onClick(choice)"
         [style.width]="width / choices.length + 'px'"
         [style.color]="selectedChoose === choice ? backgroundColor : selectedColor"
         [style.font-size]="fontSize + 'px'"
         [style.background-color]="selectedChoose === choice ? selectedColor : backgroundColor">
      <div [style.padding-left]="padding + 'px'" [style.padding-right]="padding + 'px'">{{ choice }}</div>
    </div>
  </div>
</div>
