.picker-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
  }
}

.choices {
  display: flex;
  align-items: center;
  border-radius: 5.6px;
  padding: 2px;
  box-sizing: border-box;
  .choice {
    height: 100%;
    width: 100%;
    display: flex;
    white-space: pre-line;
    word-break: break-all;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5.6px;
    position: relative;
  }
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 0;
      right: -3px;
      height: 56%;
      width: 1px;
      background-color: rgba(142,142,147,.3);
      border-radius: .5%;
    }
  }
}
