@import "../../../sp-colors";

.wrapper {
  width: 202px;
  height: 147px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  position: relative;
  text-align: center;

  .title {
    color: $navy;
    font-size: 20px;
  }

  .subtitle {
    color: $blue-gray;
    font-size: 17px;
    margin-top: 10px;
  }

  .close {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

