<div class="wrapper">
  <div class="new-room-in-folder sticky-header">
    <div class="new-room-in-folder-header">
      <div class="back-button" *ngIf="!showCancel">
        <app-icon-button [size]="20" [srcString]="'Chevron Left'" (clickEvent)="goBack()"></app-icon-button>
      </div>
      <div class="cancel-button-in-folder-header"
           (click)="goBack()"
           *ngIf="showCancel">
        Cancel</div>
      <div class="room-in-folder-title-inactive">
        Editing {{ selectedRoomsInFolder.length }} Rooms
      </div>
      <div class="header-in-folder-button">
        <app-gradient-button
                *ngIf="showSave"
                [minHeight]="'30px'"
                [cursor]="'pointer'"
                [fontSize]="'12px'"
                (buttonClick)="save()"
        >
          Save
          <mat-spinner *ngIf="false" [color]="'accent'" [diameter]="'30'"></mat-spinner>
        </app-gradient-button>
        <div *ngIf="showIncomplete" [style.color]="'#1F194E'">Incomplete</div>
      </div>
    </div>
  </div>

  <div class="info-text">
    Any change will override the previous setting.
  </div>

  <div class="content">
    <app-room [form]="form" (roomDataResult)="roomResult($event)"></app-room>
  </div>
</div>