<div class="wrapper"
     [style.width]="width"
     [style.height]="height"
     [style.left]="choice2 ? '78px' : '104px'"
     [style.cursor]="choice2 ? 'pointer' : 'default'"
>
  <div class="option" [class.left-radius]="!bottomRadius" [class.right-radius]="bottomRadius" [style.width]="choice2?'50%':'inherit'" (click)="updateTravelType(choice1)"
      [style.color]="getFontColor(choice1)"
      [style.background-color]="getBackgroundColor(choice1)">
      {{choice1}}</div>
  <div *ngIf="choice2" [style.width]="'50%'" class="option" [class.left-radius]="!bottomRadius" [class.right-radius]="bottomRadius" (click)="updateTravelType(choice2)"
      [style.color]="getFontColor(choice2)"
      [style.background-color]="getBackgroundColor(choice2)">
      {{choice2}}</div>
</div>
