.wrapper {
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 12px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      margin-top: 26px;
    }
  }
}
