.wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  //height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
}

.table-left{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //animation: fadeIn 3.25s ease forwards;

}

.main-content {
  animation: fadeIn 0.25s ease forwards;
}


.fav-header{
  font-size: 16px;
  font-weight: bold;
  color: #1F195E;
  margin-bottom: 8px;
}

.table-right{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  //animation: fadeIn 3.25s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input {
  margin-top: 20px;
  margin-bottom: 5px;
  min-width: 200px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
}

input {
  padding: 0 0 0 15px;
}

.choices {
  overflow: visible;
}

.quick-label{
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
}

.no-favs{
  color: #767676;
  display: flex;
  text-align: left;
  user-select: none;
  width: 190px;
}

.star-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
// .shadow {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: white;
//   opacity: 0.5;
//   height: 20px
// }
