<div class="wrapper" [style.width]="type==='location'?'430px':'200px'">
  <div *ngIf="type==='location' && showFavorites" class="table-left">
    <div class="fav-header">
      Favorites
    </div>
    <div class="choices">
      <app-location-cell class="choice" *ngFor="let choice of starredChoices"
        (onSelect)="choiceSelected($event)" (onStar)="star($event)"
        [value]="choice" [type]="type" [starred]="true" [showStar]="showStars">
      </app-location-cell>
    </div>
  </div>
  <div class="table-right" [style.margin]="'0 ' +(showFavorites?'0':'auto')">
    <input class="input" #searchBox [value]="search" [placeholder]="placeholder" (keyup)="onSearch(searchBox.value)">
    <div class="choices" (scroll)="onScroll($event)">
      <app-location-cell [hasLocks]="hasLocks" [forLater]="forLater" [forStaff]="forStaff" class="choice" *ngFor="let choice of choices" [showStar]="showStars" [starred]="false"
                        (onSelect)="choiceSelected($event)" (onStar)="star($event)"
                        [value]="choice" [type]="type">
      </app-location-cell>
    </div>
  </div>
</div>
