<div class="wrapper">
  <div class="header" *ngIf="preventionStatusForm.get('status').value">
    <div class="title">Notes</div>
    <div class="subtitle">Parent requested</div>
  </div>
  <mat-divider></mat-divider>
  <div class="status">
    <div class="input">
      <app-toggle-input
        [form]="preventionStatusForm"
        [controlName]="'status'"
        [controlSize]="'smallest'"
        [delimiter]="false"
      ></app-toggle-input>
    </div>
    <div class="status-name">Prevention {{ preventionStatusForm.get('status').value ? 'enabled' : 'disabled' }}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="options-content">
    <div class="option"
         #opt
         *ngFor="let option of options"
         (mouseenter)="opt.hover = true; hoverOption = option; showConfirmButton = false"
         (mouseleave)="opt.hover = false;"
         [style.background-color]="opt.hover ? option.hoverColor : 'transparent'"
         appCrossPointerEventTarget
         (pointerClickEvent)="selectedOption(option)"
    >
      <img style="margin-left: 30px" width="18" [src]="option.icon | resolveAsset" alt="opt-icon">
      <div class="label" [style.color]="option.textColor">{{ option.label }}</div>
    </div>
  </div>
  <mat-divider *ngIf="hoverOption || showConfirmButton"></mat-divider>
  <div class="description" *ngIf="(hoverOption || showConfirmButton) && hoverOption.description">
    {{ hoverOption.description }}
    <div class="button" *ngIf="showConfirmButton">
      <app-gradient-button
        [gradient]="'#E32C66, #E32C66'"
        (buttonClick)="dialogRef.close('delete')"
      >Confirm delete
      </app-gradient-button>
    </div>
  </div>
</div>
