<div class="report-form-wrapper">

  <div class="divider" [style.background-image]="'radial-gradient(circle at 73% 71%, #DA2370, #FB434A)'">
    <img class="divider-icon" [src]="'./assets/Report (White).png' | resolveAsset">
    <div class="divider-text">Report Student(s)</div>
  </div>

  <div class="student-select">
    <app-student-search [selectedStudents]="selectedStudents" [showOptions]="showOptions" [style.width]="'75%'" (onUpdate)="selectedStudents=$event" (click)="showOptions=true"></app-student-search>
    <app-gradient-button
      *ngIf="showOptions && selectedStudents && selectedStudents.length > 0"
      [gradient]="'#03CF31,#00B476'"
      [hoverColor]="'#00B476'"
      [minWidth]="'90px'"
      [minHeight]="'30px'"
      [cursor]="'pointer'"
      [fontSize]="'14px'"
      [disabled]="selectedStudents.length<1"
      (buttonClick)="showOptions=false"
      [style.width]="'90px'"
      [style.margin-bottom]="'14px'"
    >Done ({{ selectedStudents.length }})</app-gradient-button>
  </div>
  <div *ngIf="!showOptions" class="message-entry">
    <textarea class="message-box" #messageBox placeholder="Attach a message" [(ngModel)]="reportMessage">{{ reportMessage }}</textarea>
    <app-gradient-button
      [gradient]="'#DA2370,#FB434A'"
      [hoverColor]="'#DA2370'"
      [minWidth]="'185px'"
      [minHeight]="'50px'"
      [cursor]="'pointer'"
      [fontSize]="'14px'"
      [leftIcon]="'./assets/Report (White).png'"
      (buttonClick)="sendReport()"
    >Report Student(s)</app-gradient-button>
  </div>
</div>
