<div class="report-form-wrapper">
  <div class="divider">

    <img rel="back-button" [ngClass]=" isIOSTablet ? 'ios-back-button' : 'back-button'" [src]="'./assets/Back Button (White).svg' | resolveAsset" (click)="back()">

    <div *ngIf="showOptions" [@NextStep]="{ value: '', params: frameMotion$ | async}">
      <div class="divider-text-students ds-dialog-title-white" [attr.data-motion-translate]="true">Report Student</div>
    </div>
    <div *ngIf="!showOptions" [@NextStep]="{ value: '', params: frameMotion$ | async}">
      <div class="divider-text-message ds-dialog-title-white" [attr.data-motion-translate]="true">Report Student</div>
    </div>
    <ng-container *ngIf="false; else submitButton"></ng-container>
  </div>

  <ng-template #submitButton>
    <app-white-button
      [cursor]="'pointer'"
      [minWidth]="'104px'"
      [minHeight]="'35px'"
      [fontSize]="'14px'"
      [style.float]="'right'"
      [style.margin-right]="'20px'"
      [textstyle]="{'font-weight': '500', 'color': '#E32C66', 'padding': '10px 20px'}"
      [text]="'Submit'"
      (buttonClick)="sendReport()"
    >
    </app-white-button>
  </ng-template>

  <div style="position: relative; flex: 1 1 auto; display: flex; flex-direction: column; justify-content: space-between; background-color: white; overflow: auto; width: 425px; max-height: 500px">

    <div style="display: flex; flex-direction: column; flex: 1 1 auto; padding: 0px 25px;" >
      <label for="student-select">Student</label>
      <div id="student-select" class="student-select" [attr.data-motion-translate]="true">
        <div class="report-content">

          <app-sp-search
            [selectedOptions]="selectedStudents"
            [showOptions]="showOptions"
            (onUpdate)="selectedStudents=$event"
            (click)="showOptions=true">
          </app-sp-search>

        </div>

      </div>

      <label for="message-entry">Message</label>
      <div id="message-entry" class="message-entry" [attr.data-motion-translate]="true">
        <div data-grammarly-issue-container class="message-wrapper">
          <textarea class="message-box" #messageBox placeholder="Ex. Student did not return to class" [(ngModel)]="reportMessage">{{ reportMessage }}</textarea>
        </div>

      <label for="pass">Pass</label>
      <div class="tile">
        <app-pass-tile
         [forStaff]="data['forStaff']"
         [pass]="data['pass']"
        ></app-pass-tile>
        </div>
       
      </div>
    </div>
  </div>
</div>
