.wrapper {
  //width: 344px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden !important;

  .title {
    font-size: 18px;
    color: white;
  }
  .reload-icon {
    position: absolute;
    right: 20px;
  }
}
