<div class="collection-wrapper">
  <div class="collection-header" *ngIf="header">
    <div class="collection-title">
      {{ selectedPinnables.length ? selectedPinnables.length + ' Selected' : 'Rooms' }}
    </div>
    <div class="selected-counter" (click)="toggleBulk()" [ngStyle]="{'font-weight': bulkSelect ? 'bold' : 'normal'}">
      {{ (bulkSelect?('Done'):'Bulk Select')}}
    </div>
    <app-gradient-button
      [ngStyle]="{'opacity': bulkSelect && !selectedPinnables.length ? '.5' : '1'}"
      [minHeight]="'25px'"
      [width]="'120px'"
      [hoverColor]="'#00B476'"
      [cursor]="!bulkSelect || selectedPinnables.length ? 'pointer' : 'default'"
      [fontSize]="'12px'"
      (buttonClick)="buttonClicked($event)"
      [leftIcon]="headerButtonIcon"
      [leftImageWidth]="'10px'"
      [leftImageHeight]="'10px'"
      [disabled]="bulkSelect && !selectedPinnables.length"
    >
    {{headerButtonText}}</app-gradient-button>
  </div>
  <div class="collection-divider" *ngIf="header"></div>
  <div [style.width]="'560px'" style="display: flex;flex-wrap: wrap" dragula="pinnables" [dragulaModel]="pinnables" (dragulaModelChange)="onPinablesOrderChanged($event)">
    <div *ngFor="let pinnable of pinnables" style="padding: 10px">
      <app-pinnable [forStaff]="true" [selected]="selectedPinnables.indexOf(pinnable) != -1" [forBulk]="bulkSelect" [forCollection]="true" [pinnable]="pinnable" (onSelectEvent)="updatePinnables($event)"></app-pinnable>
    </div>
  </div>
</div>
