.collection-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-divider{
    height: 1px;
    margin: 10px 0 14px 0;
    width: 100%;
    background-color: #B5B7BA;
}

.collection-title{
    font-size: 24px;
    color: #1F195E;
    font-weight: 900;
}

.selected-counter{
    margin-left: auto;
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.pinnable-item-container {
  .pinnable-item {
    width: auto;
    animation: wiggle .3s ease infinite;
  }
}
@keyframes wiggle {
  0%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(2deg);
  }

}
