<div class="wrapper">
  <div class="header">
    <div class="background-header"></div>
    <div class="header">
      <div class="back-button" (click)="back()">
        <img width="28" [src]="'./assets/Back Button (White).svg' | resolveAsset" alt="">
      </div>
      <div class="header-info">
        <img width="24" [src]="'./assets/Encounter Group (White).svg'" alt="Encounter">
        <div class="title">Encounter Prevention</div>
      </div>
      <div class="save-button">
        <app-gradient-button *ngIf="state.current_page === 1" (buttonClick)="save()">Save</app-gradient-button>
        <app-octagon *ngIf="state.current_page === 2" [size]="35"><div class="value">22</div></app-octagon>
        <app-icon-button *ngIf="state.current_page === 3" [srcString]="'Dots'" [size]="17" (clickEvent)="openPopup($event)"></app-icon-button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="page-0" *ngIf="state.current_page === 0">
      <app-octagon>
        <div class="value">
          <img [src]="'./assets/Walking One (White).svg' | resolveAsset">
        </div>
      </app-octagon>
      <div class="info">
        <div class="title">Prevent students from having passes at the same time</div>
        <div class="subtitle">Create your first group of students to get started. You’ll also be able to track how many encounters have been prevented.</div>
      </div>
      <app-gradient-button
        [style.margin-top]="'24px'"
        [leftIcon]="'./assets/Plus (White).svg'"
        (buttonClick)="nextPage()"
      >New group
      </app-gradient-button>
    </div>

    <div class="page-1" *ngIf="state.current_page === 1">
      <app-create-group [state]="state" (update)="state = $event"></app-create-group>
    </div>

    <div class="page-2" *ngIf="state.current_page === 2">
      <div class="new-group-header">
        <div class="info">
          <img width="16" [src]="'./assets/Support (Blue-Gray).svg' | resolveAsset" alt="">
          <div style="margin-left: 3px">Prevent students from having passes at the same time</div>
        </div>
        <app-gradient-button [leftIcon]="'./assets/Plus (White).svg'">New group</app-gradient-button>
      </div>
      <mat-divider></mat-divider>
      <div class="groups">
        <app-encounter-group [state]="state"></app-encounter-group>
      </div>
    </div>

    <div class="page-3" *ngIf="state.current_page === 3">
      <div class="encounter-header">
        <div class="count-preventions">
          <app-octagon [size]="28">
            <div class="value">4</div>
          </app-octagon>
          <div class="title">Prevented Encounters</div>
        </div>
        <div class="button">
          <app-gradient-button
            [gradient]="'#F4F4F4, #F4F4F4'"
            [leftIcon]="'./assets/Chevron Up-Down (Blue-Gray).svg'"
            [textColor]="'#7F879D'"
          >Expand all</app-gradient-button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="content">
        <app-report-description [date]="'Dec. 9, 2020'" [description]="'Jeremy Perez was going from Ladson to East Bathroom on Dec. 15, 2020 from 11:45 AM to 12:01 PM. At 11:48:04, Leah Olson attempted to make a pass from Clarkson to West Bathroom, but it was prevented.'"></app-report-description>
      </div>
    </div>
  </div>
</div>
