.wrapper {
  width: 425px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 14px;
  position: relative;

  .header {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #6651F1;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      //font-size: 15px;
      //font-weight: 500;
      //color: #1F195E;
      left: 15px;
    }

    .header-info {
      display: flex;
      align-items: center;
    }
    .title {
      color: #FFFFFF;
      margin-left: 12px;
    }
  }

  .content {
    height: 430px;
  }
}
