<div class="wrapper">
  <div class="header">
    <div class="background-header"></div>
    <div class="header">
      <div class="back-button" (click)="back()">
        <img width="28" [src]="'./assets/Back Button (Blue-Gray).svg' | resolveAsset" alt="">
      </div>
      <div class="header-info" [ngSwitch]="state.current_page">
        <img *ngSwitchCase="2" width="24" [src]="'./assets/Encounter Group (Navy).svg'" alt="Encounter">
        <div *ngSwitchCase="1" class="title">New Group</div>
        <div *ngSwitchCase="2" class="title">Edit Group</div>
        <app-octagon *ngSwitchCase="3" [size]="34">
          <img class="value" height="22" [src]="'./assets/Walking One (White).svg' | resolveAsset">
        </app-octagon>

        <div class="group-info" *ngSwitchCase="4">
          <div class="user-photos">
            <div class="photo" *ngIf="state.data.currentGroup.users[0].profile_picture; else avatar1" style="left: 0" [ngStyle]="{'background': 'url(' + state.data.currentGroup.users[0].profile_picture + ')'}"></div>
            <div class="photo" *ngIf="state.data.currentGroup.users[1].profile_picture; else avatar2" style="right: 0" [ngStyle]="{'background': 'url(' + state.data.currentGroup.users[1].profile_picture + ')'}"></div>
            <ng-template #avatar1>
              <img [src]="'./assets/Avatar Default.svg'"/>
            </ng-template>
            <ng-template #avatar2></ng-template>
          </div>
          <div class="group-name" *ngIf="!!state.data.currentGroup.name">{{ state.data.currentGroup.name }}</div>
        </div>
      </div>
      <div class="save-button">
        <app-gradient-button *ngIf="state.current_page === 1" (buttonClick)="save()">Save</app-gradient-button>
        <app-gradient-button *ngIf="state.current_page === 3" [leftIcon]="'./assets/Plus (White).svg'" (buttonClick)="goNewGroup()">New group</app-gradient-button>
        <app-icon-button *ngIf="state.current_page === 4" [srcString]="'Dots'" [size]="17" (clickEvent)="openPopup($event)"></app-icon-button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="page-0" *ngIf="state.current_page === 0">
      <app-octagon>
          <img class="value" [src]="'./assets/Walking One (White).svg' | resolveAsset">
      </app-octagon>
      <div class="info">
        <div class="title">Prevent students from having passes at the same time</div>
        <div class="subtitle">Create your first group of students to get started. You’ll also be able to track how many encounters have been prevented.</div>
      </div>
      <app-gradient-button
        [style.margin-top]="'24px'"
        [leftIcon]="'./assets/Plus (White).svg'"
        (buttonClick)="nextPage()"
      >New group
      </app-gradient-button>
    </div>

    <div class="page-1" *ngIf="state.current_page === 1 || state.current_page === 2">
      <app-create-group [state]="state" (update)="state = $event"></app-create-group>
    </div>

    <div class="page-2" *ngIf="state.current_page === 3">
      <div class="prevent-group-header">
        <div class="prevent-group-info">
          <div class="title">
            <span>Prevented Encounters</span>
            <img style="margin-left: 21px" width="16" [src]="'./assets/Support (Blue-Gray).svg' | resolveAsset" alt="">
          </div>
          <div class="subtitle">101 encounters have been prevented this year for all students</div>
        </div>
        <app-octagon [size]="38"><div class="value">{{ '101' }}</div></app-octagon>
      </div>
      <div class="groups">
        <div class="group" *ngFor="let exclusionGroup of exclusionGroups$ | async">
          <app-encounter-group [state]="state" [group]="exclusionGroup" (clickEvent)="goDescription(exclusionGroup)"></app-encounter-group>
        </div>
      </div>
    </div>

    <div class="page-4" *ngIf="state.current_page === 4">
      <app-encounter-group-description [state]="state" [group]="state.data.currentGroup"></app-encounter-group-description>
    </div>

<!--    <div class="page-3" *ngIf="state.current_page === 3">-->
<!--      <div class="encounter-header">-->
<!--        <div class="count-preventions">-->
<!--          <app-octagon [size]="28">-->
<!--            <div class="value">4</div>-->
<!--          </app-octagon>-->
<!--          <div class="title">Prevented Encounters</div>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--          <app-gradient-button-->
<!--            [gradient]="'#F4F4F4, #F4F4F4'"-->
<!--            [leftIcon]="'./assets/Chevron Up-Down (Blue-Gray).svg'"-->
<!--            [textColor]="'#7F879D'"-->
<!--          >Expand all</app-gradient-button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <mat-divider></mat-divider>-->
<!--      <div class="content">-->
<!--        <app-report-description [date]="'Dec. 9, 2020'" [description]="'Jeremy Perez was going from Ladson to East Bathroom on Dec. 15, 2020 from 11:45 AM to 12:01 PM. At 11:48:04, Leah Olson attempted to make a pass from Clarkson to West Bathroom, but it was prevented.'"></app-report-description>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
