@import '../../../../sp-colors';

.wrapper {
  width: 425px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 14px;
  position: relative;

  .header {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      //font-size: 15px;
      //font-weight: 500;
      //color: #1F195E;
      left: 15px;
    }

    .save-button {
      position: absolute;
      right: 15px;
    }

    .header-info {
      display: flex;
      align-items: center;

      .value {
        position: absolute;
        z-index: 10;
      }
    }
    .title {
      color: $navy;
      margin-left: 12px;
    }
  }

  .content {
    height: 430px;
    overflow: auto;

    .page-0 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;

      .info {
        width: 277px;
        text-align: center;
        margin-top: 15px;
        .title {
          font-size: 17px;
          color: $navy;
        }

        .subtitle {
          color: $blue-gray;
          font-size: 14px;
          margin-top: 6px;
        }
      }

      .value {
        position: absolute;
        z-index: 10;
      }
    }

    .page-1 {
      padding: 30px;
    }

    .page-2 {
      padding: 15px;
      .prevent-group-header {
        display: flex;
        justify-content: space-between;
        padding: 14px;
        border-radius: 6px;
        background-color: #F7F7F7;

        .prevent-group-info {
          .title {
            color: $navy;
            font-size: 16px;
            display: flex;
            align-items: center;
          }
          .subtitle {
            color: $blue-gray;
            font-size: 14px;
            margin-top: 8px;
            width: 320px;
          }
        }

        .value {
          position: absolute;
          z-index: 10;
          color: white;
        }
      }
      .groups {
        margin-top: 10px;
        .group {
          padding: 0 0 10px 0;
        }
      }
    }
    .page-3 {
      .encounter-header {
        padding: 10px 19px;
        display: flex;
        justify-content: space-between;

        .count-preventions {
          display: flex;
          align-items: center;
          .title {
            font-size: 16px;
            color: $navy;
            font-weight: bold;
            margin-left: 6px;
          }
        }
      }
      .content {
        padding: 10px;
      }
    }
  }
}
