<div class="container">
    <div class="card flex-center-between" style="width: 100%">
      <div class="flex-center-center">
        <img src="assets/Disclosure Left (Blue).png" height="24px" alt="Disclosure Left (Blue).png">
        <span>Back</span>
      </div>
      <div [style.width]="'280px'">
        <app-gradient-button [minHeight]="'27px'" [minWidth]="'270px'">
          <span [style.font-size]="'14px'" [style.font-weight]="'normal'" ></span> Add Account to Profile
        </app-gradient-button>
      </div>
    </div>
    <div class="my">
      <!--<app-data-table></app-data-table>-->
    </div>
</div>

