@import '../../../../sp-colors';

.wrapper {
  width: 425px;
  height: 500px;
  position: relative;

  .header {
    width: 100%;
    height: 70px;
    background-color: #484CE6;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      color: white;
      font-size: 17px;
      font-weight: bold;
    }
  }

  .content {

    .top-content {
      padding: 22px;
    }

    .bottom-content {
      padding: 22px;

      .sign-in {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .subtitle {
      color: $navy;
      font-size: 16px;
    }

    .info {
      color: $blue-gray;
      font-size: 14px;
      margin-top: 11px;
    }
  }
}
