<div class="pass">
    <h1>
        <pre>From: <br>   Teacher: {{ hallPass.from_location.teacher_description }} | Room: {{ hallPass.from_location.room }}</pre>
    </h1>

    <h1>
        <pre>To: <br>   Teacher: {{ hallPass.to_location.teacher_description }} | Room: {{ hallPass.to_location.room }}</pre>
    </h1>

    <h1>
        <pre>Start: {{ startS }} | End: {{ endE }}</pre>
    </h1>

    <h1>
        <pre>Student: {{ hallPass.student_description }} | Creator: {{ hallPass.issuer.display_name }}</pre>
    </h1>

    <h1>
        <pre>Description: {{ hallPass.description }}</pre>
    </h1>
</div>
<br><hr><br>
