@import '../../../design-system';
@import '../../../sp-colors';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.host{
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: #FBFEFF;
}

.inputs-container {
  display: flex;

  .input {
    width: 166px;
    margin-left: 20px;

    .input-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.chip {
  background-color: #F4F4F4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
  margin-top: 10px;
  white-space: nowrap;
  position: relative;
  min-width: 100px;
  .overlay {
    display: flex;
    padding: 10px;
    cursor: pointer;

    .all-text {
      color: #7F879D;
      font-size: 14px;
    }
    .selected-text {
      color: $navy;
      font-size: 14px;
    }
  }

  &.hovered {
    box-shadow: 0 1px 3px #F8F8F8;
    transition: box-shadow .25s ease;
  }

  .add-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
    img {
      width: inherit;
      height: inherit;
    }
  }

  .reset-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    background-color: #F8F8F8;
    box-shadow: -6px 1px 6px #F8F8F8;
    img {
      width: inherit;
      height: inherit;
    }
  }
}

.search-wrapper{
  min-width: 1030px;
  width: 100%;
  //padding: 0 25px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: darkgray;
    margin-top: 10px;
    margin-bottom: 20px;
}
.search-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.report-button-ground{
}

.search-content-table {
  @extend .ds-flex-center-center, .ds-flex-column, .ds-w-100;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    .text-header {
        font-size: 20px;
        font-weight: bold;
        color: #6c6990;
        transition: all .2s ease-in;
    }

    .nopass-text {
        display: flex;
        flex: 1 1 auto;
    }
}

.input-header-wrapper {
  padding: 25px 25px 10px ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //background-color: #FBFEFF;
  width: 100%;
  background-clip: padding-box;
  position: sticky;
  top: 0px;
  z-index: 1;
  .input-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 99px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    margin: 0 auto;
    background-color: white;



    .title {
      font-size: 24px;
      color: $navy;
      font-weight: bold;
      margin-left: 50px;
      letter-spacing: 1px;
    }

    .input-title {

    }
  }
}

.content {
  @extend .ds-flex-center-center, .ds-flex-column;
  flex: 1 1 auto;
  width: 100%;
    padding-bottom: 0px
}

.search-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .search-button {
        display: flex;
        justify-content: center;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.text {
  text-align: center;
  width: 400px;

  .text-title {
    margin: 30px 0 10px 0;
  }

  .info {
    text-align: center;
  }
}

.default-message{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text{
    font-size: 20pt;
    font-weight: bold;
    color: #3D396B;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.small-text{
    font-size: 10pt;
    color: #7F879D;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
