<div class="host" appSafariScroll>
  <div class="search-wrapper" *ngIf="inputPanelVisibility">
    <div class="w-100">

      <div class="input-header" (click)="resetSearchState()">
        <div class="title">Search</div>
        <div class="inputs-container">
            <div class="input">
              <div class="input-title" [style.color]="selectedStudents.length ? '#1F195E' : '#7E879D'">
                <img width="16" [src]="'./assets/Student ' + (selectedStudents.length ? '(Navy).svg' : '(Blue-Gray).svg') | resolveAsset" alt="Icon">
                Students
              </div>
              <div class="chip" [ngClass]="{hovered: schip.hovered && selectedStudents.length}"  #schip (mouseenter)="schip.hovered = true;" (mouseleave)="schip.hovered = false;">
                <div class="overlay" (click)="openFilters('Students')">
                  <div class="add-icon" *ngIf="schip.hovered && !selectedStudents.length">
                    <img [src]="'./assets/Plus (Blue-Gray).svg'" width="15" #fieldIcon alt="Check.svg">
                  </div>
                  <div *ngIf="!selectedStudents.length">{{ schip.hovered ? 'Filter ' : 'All ' }}Students</div>
                  <div *ngIf="selectedStudents.length">{{ selectedStudents.length + ' ' + 'student' + (selectedStudents.length > 1 ? 's' : '') }}</div>
                </div>

                <div class="reset-icon" *ngIf="schip.hovered && selectedStudents.length">
                  <img (click)="selectedStudents = []" [src]="'./assets/Cancel (Navy).svg'" width="15" #fieldIcon alt="Check.svg">
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="input">
              <div class="input-title" [style.color]="selectedRooms.length ? '#1F195E' : '#7E879D'">
                  <img width="16" [src]="'./assets/Room ' + (selectedRooms.length ? '(Navy).svg' : '(Blue-Gray).svg') | resolveAsset" alt="Icon">
                  Rooms
              </div>
              <div class="chip" #rchip [ngClass]="{hovered: rchip.hovered && selectedRooms.length}" (mouseenter)="rchip.hovered = true;" (mouseleave)="rchip.hovered = false;">
                <div class="overlay" (click)="openFilters('Rooms')">
                  <div class="add-icon" *ngIf="rchip.hovered && !selectedRooms.length">
                    <img [src]="'./assets/Plus (Blue-Gray).svg'" width="15" #fieldIcon alt="Check.svg">
                  </div>
                  <div *ngIf="!selectedRooms.length">{{ rchip.hovered && !selectedRooms.length ? 'Filter ' : 'All ' }}Rooms</div>
                  <div *ngIf="selectedRooms.length">{{ selectedRooms.length + ' ' + 'room' + (selectedRooms.length > 1 ? 's' : '') }}</div>
                </div>
                <div class="reset-icon" *ngIf="rchip.hovered && selectedRooms.length">
                  <img (click)="selectedRooms = []" [src]="'./assets/Cancel (Navy).svg'" width="15" #fieldIcon alt="Check.svg">
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="input">
              <div class="input-title" [style.color]="selectedDate ? '#1F195E' : '#7E879D'">
                  <img width="16" [src]="'./assets/Calendar ' + (selectedDate ? '(Navy).svg' : '(Blue-Gray).svg') | resolveAsset" alt="Icon">
                  Date & Time
              </div>
              <div class="chip" #dchip [ngClass]="{hovered: dchip.hovered && !!selectedDate}" (mouseenter)="dchip.hovered = true;" (mouseleave)="dchip.hovered = false">
                <div class="overlay" (click)="openTimeFilter($event)">
                  <div class="add-icon" *ngIf="dchip.hovered && !selectedDate">
                    <img [src]="'./assets/Plus (Blue-Gray).svg'" width="15" #fieldIcon alt="Check.svg">
                  </div>
                  <div *ngIf="!selectedDate">{{ dchip.hovered && !selectedDate ? 'Filter ' : 'All ' }}Time</div>
                  <div *ngIf="selectedDate">{{ dateText }}</div>
                </div>
                <div class="reset-icon" *ngIf="dchip.hovered && selectedDate">
                  <img (click)="selectedDate = null" [src]="'./assets/Cancel (Navy).svg'" width="15" #fieldIcon alt="Check.svg">
                </div>
              </div>
            </div>
        </div>
        <div class="search-button" *ngIf="!hasSearched && !spinner">
          <app-gradient-button
                               [size]="'editable'"
                               [style.margin]="'0 20px'"
                               [width]="'160px'"
                               [minHeight]="'75px'"
                               [gradient]="'#FFFFFF,#FFFFFF'"
                               [hoverColor]="'#F5F5F5'"
                               [cursor]="'pointer'"
                               [textColor]="'#1E194F'"
                               [fontSize]="'17px'"
                               [border]="'1px solid 1px solid #eee'"
                               [leftIcon]="'./assets/Search Normal (Navy).svg'"
                               [leftImageWidth]="'30px'"
                               [leftImageHeight]="'30px'"
                               (buttonClick)="search()"
          ><span>Search</span></app-gradient-button>
        </div>
        <div class="search-button" *ngIf="spinner || hasSearched">

          <div (click)="previewPDF($event)" draggable="true">
            <app-gradient-button  class="report-button"
                                  [size]="'editable'"
                                  [width]="'160px'"
                                  [minHeight]="'75px'"
                                  [style.margin]="'0 20px'"
                                  [gradient]="'#FFFFFF,#FFFFFF'"
                                  [hoverColor]="'#F5F5F5'"
                                  [cursor]="'pointer'"
                                  [textColor]="'#134482'"
                                  [fontSize]="'17px'"
                                  [border]="'1px solid 1px solid #eee'">
              <div [style.text-align]="'center'">
                <span>Generate Report </span><br/>
                <span>{{ (!selectedReport.length ? passes.length + ' passes' : 'Selected Passes') }}</span>
              </div>
            </app-gradient-button>
            <!--<a #printPdf href="pdf/report" target="_blank"></a>-->
          </div>
        </div>
        <!--<app-round-input [width]="'260px'" [labelText]="'By Student Name'" [type]="'multiuser'" [placeholder]="'Search Students'" [initialValue]="initialSearchStudentString" [selections]="selectedStudents" (onselectionupdate)="studentsEmit($event)"></app-round-input>-->
        <!--<app-round-input [width]="'260px'" [labelText]="'Date and Time'" [type]="'dates'" [placeholder]="'Search date & time range'" (ontextupdate)="dateEmit($event)"></app-round-input>-->
        <!--<app-round-input [width]="'260px'" [labelText]="'By Room Name'" [type]="'multilocation'" [placeholder]="'Search Rooms'" [initialValue]="initialSearchLocationString" [selections]="selectedRooms" (onselectionupdate)="roomEmit($event)" (ontoggleupdate)="roomSearchType=$event"></app-round-input>-->
      </div>
      <div class="content">
        <div class="search-content-table" *ngIf="hasSearched">
          <div class="search-header">
            <!--<div class="text-header ds-flex-center-start" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#6C6990'})">-->
              <!--<img width="18" height="18" class="ds-pr-10" [src]="darkTheme.getIcon({iconName: 'Expired'})" alt="Expired.svg">-->
              <!--{{sortParamsHeader}}-->
            <!--</div>-->
            <!--<div class="divider"></div>-->
            <app-data-table [data]="tableData" [textColor]="'#7F879D'" *ngIf="tableData.length > 0 && !spinner" (selectedUsers)="selectedReport=$event" (selectedRow)="selectedPass($event)"></app-data-table>
            <div class="nopass-text" *ngIf="tableData.length === 0 && !spinner" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7F879D'})">
              There are no passes that match the search parameters!
            </div>
            <div class="spinner" *ngIf="spinner">
              <div class="loading-theme"  style="display: flex; justify-content: center; align-items: center; margin-bottom: 25%">
                <mat-spinner [color]="'accent'" [diameter]="'60'"></mat-spinner>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="search-main">
      <div class="spinner" *ngIf="spinner && !hasSearched">
        <div class="loading-theme"  style="display: flex; justify-content: center; align-items: center; margin-top: 150px; margin-bottom: 200px">
          <mat-spinner [color]="'accent'" [diameter]="'60'"></mat-spinner>
        </div>
      </div>
      <!--<div class="buttons">-->
        <!--<app-gradient-button *ngIf="!spinner && !hasSearched"-->
                             <!--[size]="'xl'"-->
                             <!--[ngStyle]="{'opacity': isDisabled? '.5' : '1'}"-->
                             <!--[style.margin]="'0 20px'"-->
                             <!--[gradient]="'#FFFFFF,#FFFFFF'"-->
                             <!--[hoverColor]="'#F5F5F5'"-->
                             <!--[minHeight]="'65px'"-->
                             <!--[width]="'215px'"-->
                             <!--[cursor]="!isDisabled ? 'pointer' : 'default'"-->
                             <!--[textColor]="isDisabled ? 'rgb(120, 140, 165)' : '#1E194F'"-->
                             <!--[fontSize]="'23px'"-->
                             <!--[border]="'1px solid 1px solid #eee'"-->
                             <!--[leftIcon]="isDisabled ? './assets/Search Normal (Blue-Gray).svg' : './assets/Search Normal (Navy).svg'"-->
                             <!--[leftImageWidth]="'30px'"-->
                             <!--[leftImageHeight]="'30px'"-->
                             <!--[disabled]="isDisabled"-->
                             <!--(buttonClick)="search()"-->
        <!--&gt;-->

          <!--<span>Search</span>-->

        <!--</app-gradient-button>-->
      <!--</div>-->
      <div class="search-content" *ngIf="!hasSearched">

        <div class="default-message" *ngIf="!spinner">
          <img width="400" [src]="'./assets/emptyStates/searchEmpty.svg' |resolveAsset">
          <div class="text">
            <div class="text-title">Start Searching Instantly</div>
            <div class="info">
              Search and filter by students, rooms, and time to quickly see insights into pass activity and generate reports.
            </div>
          </div>
          <!--<div class="small-text" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7F879D'})">-->
            <!--This is an ultimate search query of everything going on in the school. <br>-->
            <!--<br>-->
            <!--You can search for a single item or multiple items within search search field <br>-->
            <!--as well as search more than one field at a time to filter your results. <br>-->
            <!--<br>-->
            <!--In the end, you can generate PDF reports.-->
          <!--</div>-->
        </div>

      </div>
    </div>

  </div>
</div>
