.wrapper{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.header{
    background-color: inherit;
    display: flex;
    flex-direction: row;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 15px 0px 0px 15px;
}

.passTitle{
    margin: 19px 0px 0px 15px; 
}

.divider{
    margin: 15px 0px 20px 0px;
    width: 318px;
    height: 1px;
    object-fit: contain;
    opacity: 0.39;
    background-color: #ffffff;
}

.body{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;   
}

.top{
    display: flex;
    flex-direction: column;
}

.round-trip{
    width: 118px;
    height: 71px;
}

.one-way{
    width: 71px;
    height: 71px;
}

.one-way, .round-trip{
    margin: 10px 0px 10px 0px;
}

.end-pass{
    margin: 16px 0px 0px 10px;
}

.card{
    width: inherit;
    height: 40px;
    padding-top: 8.9px;
    border-radius: 7px;
    background-image: radial-gradient(circle at 77% 61%, rgba(255, 255, 255, .4), rgba(220, 220, 220, 0.4) 67%, rgba(200, 200, 200, 0.4));
    color: white;   
    box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.vcenter{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

.clickRipple{
    width: 144px;
    border-radius: 7px;
}

.mat-button{
    line-height: inherit;
    padding: 0px;
    font-family: inherit;
    vertical-align: top;
}

.content{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.title{
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.3px;
    position: absolute;
    top: 50%;
    /* transform: translate(0, -50%); */
    margin-top: -7px;
    margin-left: 45px;
    /* padding: 13px 200px 0px 0px; */
}

.bcard{
    width: inherit;
    height: 40px;
    padding-top: 8.9px;
    border-radius: 7px;
    background-image: radial-gradient(circle at 77% 61%, rgba(255, 255, 255, .4), rgba(220, 220, 220, 0.4) 67%, rgba(200, 200, 200, 0.4));
    color: white;   
    box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}