@import '../../sp-colors';

.wrapper {
  cursor: pointer;

  &:hover, &:focus {
    outline: none;
    background-color: rgba(127, 135, 157, .1) !important;
  }
}

.wrapper:hover {
  transition: background-color .3s ease, color .3s ease;
}

.info {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  padding: 11.5px 6px 11.5px 8px;
  white-space: nowrap;
  align-items: center;
  position: relative;
}

.divider{
  width: 100%;
  height: 1px;
  transform: scale(1, 0.5);
  background-color: #B5B5B5;
}

.star{
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.lock{
  width: 8.5px;
  height: 9.5px;
  margin-right: 6px;
}

.room{
  white-space: nowrap;
  margin-left: auto;
  font-weight: normal;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 7px;

  .circle {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 7px;
    color: #FFFFFF;
  }
}

.example-custom-placeholder {
  background: #FFFFFF;
  border: dotted 3px $blue-gray;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
