@import '../../sp-colors';

.wrapper {
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: #ECF1FF !important;
    color: $navy !important;
  }
}

.wrapper:hover {
  transition: background-color .3s ease, color .3s ease;
}

.info {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding: 8px 5px;
  white-space: nowrap;

}

.divider{
  width: 100%;
  height: 1px;
  transform: scale(1, 0.5);
  background-color: #B5B5B5;
}

.star{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.lock{
  width: 15px;
  height: 15px;
  top: 2px;
  position: relative;
}

.room{
  white-space: nowrap;
  margin-left: auto;
  width: 55px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
