<div class="wrapper"
     #cell
     appCrossPointerEventTarget
     (pointerClickEvent)="cellSelected(); screen.enabledLocationTableDnD.next(false)"
     (pointerDownEvent)="onPress(true); changeColor(true, true)"
     (pointerCancelEvent)="changeColor(false, false); screen.enabledLocationTableDnD.next(false)"
     (mouseenter)="changeColor(true)"
     (mouseleave)="changeColor(false)"
     [style.color]="textColor"
     [style.cursor]="cursor"
     tabindex="0"
>
  <div *ngIf="type==='location'" class="info">
    <img *ngIf="showStar" (mouseenter)="overStar=true" (mouseleave)="overStar=false" class="star" [src]="'./assets/Star' +(this.value.starred?' (Yellow)':' (Blue-Gray)') +'.svg' | resolveAsset">
    <div class="title">
      {{value.title}}
    </div>
    <div class="room" [style.color]="roomColor">
      <div class="circle" *ngIf="true" [style.background]="">5</div>
      {{value.room}}
      <img *ngIf="showLock && hasLocks" class="lock" [src]="'./assets/Lock (Navy).svg' | resolveAsset">
    </div>
  </div>

  <div *ngIf="type==='teachers'" class="info">
    <div class="title">
      {{value.display_name}}
    </div>
  </div>
  <div class="divider"></div>
</div>
