<div class="wrapper" (click)="cellSelected()">
  <div *ngIf="type==='location'" class="info">
    <img (mouseenter)="overStar=true" (mouseleave)="overStar=false" (click)="favorite()" class="star" [src]="'./assets/Star' +(value.starred?' (Yellow)':' (Grey)') +'.png' | resolveAsset">
    <div class="title">
      {{value.title}}
    </div>
    <div class="room">
      {{value.room}}
    </div>
  </div>

  <div *ngIf="type==='teachers'" class="info">
    <div class="title">
      {{value.display_name}}
    </div>
  </div>
  <div class="divider"></div>
</div>