@import '../../sp-colors';

.wrapper {
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: #ECF1FF !important;
    color: $navy !important;
  }
}

.wrapper:hover {
  transition: background-color .3s ease, color .3s ease;
}

.info {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding: 11.5px 6px 11.5px 8px;
  white-space: nowrap;
  align-items: center;
}

.divider{
  width: 100%;
  height: 1px;
  transform: scale(1, 0.5);
  background-color: #B5B5B5;
}

.star{
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.lock{
  width: 8.5px;
  height: 9.5px;
  margin-right: 6px;
}

.room{
  white-space: nowrap;
  margin-left: auto;
  //width: 55px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .circle {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0b72eb;
    margin-left: 7px;
    color: #FFFFFF;
  }
}
