<div class="scaled-card" [attr.data-motion-scale]=true style="display: flex; justify-content: center">

  <div [style.height]="forStaff ? '451px' : '412px'"
       [style.width]="'334px'"
       #wrapper>

    <ng-container [ngSwitch]="FORM_STATE.formMode.formFactor">
      <ng-container *ngSwitchCase="states.HallPass">
        <app-pass-card
          [pass]="template"
          [forStaff]="forStaff && !dialogData.kioskModeRoom"
          [forInput]="true"
          [forKioskMode]="!!dialogData.kioskModeRoom"
          [formState]="FORM_STATE"
          [forFuture]="!!FORM_STATE.data.date"
          [students]="FORM_STATE.formMode.role === 1 ? FORM_STATE.data.selectedStudents : []"
          (cardEvent)="onNextStep($event)">
        </app-pass-card>
        <app-pass-limit-info [passLimitInfo]="passLimitInfo"></app-pass-limit-info>
      </ng-container>

      <ng-container *ngSwitchCase="states.Request">
        <app-request-card
          [request]="template"
          [forStaff]="forStaff && !FORM_STATE.kioskMode"
          [forInput]="true"
          [formState]="FORM_STATE"
          [forFuture]="!!FORM_STATE.data.date"
          (cardEvent)="onNextStep($event)"
          [fullScreenButton]="!forStaff"
        ></app-request-card>
      </ng-container>

      <ng-container *ngSwitchCase="states.Invitation">
        <app-invitation-card
          [invitation]="template"
          [forStaff]="forStaff"
          [forInput]="true"
          [formState]="FORM_STATE"
          [forFuture]="!!FORM_STATE.data.date"
          [selectedStudents]="FORM_STATE.data.selectedStudents"
          (cardEvent)="onNextStep($event)">
        </app-invitation-card>
      </ng-container>

      <ng-container *ngSwitchCase="states.WaitInLine">
        <app-wait-in-line-card
          [pass]="template"
          [forStaff]="forStaff && !dialogData.kioskModeRoom"
          [forInput]="true"
          [forKioskMode]="!!dialogData.kioskModeRoom"
          [formState]="FORM_STATE"
          [forFuture]="!!FORM_STATE.data.date"
          [students]="FORM_STATE.formMode.role === 1 ? FORM_STATE.data.selectedStudents : []"
          (cardEvent)="onNextStep($event)"></app-wait-in-line-card>
      </ng-container>
    </ng-container>

    <div class="metrics" *ngIf="(fullScreenPass$ | async) &&
      (FORM_STATE.formMode.formFactor === states.HallPass || FORM_STATE.formMode.formFactor === states.Request || FORM_STATE.formMode.formFactor === states.WaitInLine)">
      <app-student-metrics></app-student-metrics>
    </div>

  </div>
</div>
