<div class="scaled-card" [attr.data-motion-scale]=true style="display: flex; justify-content: center">

  <div [style.height]="forStaff ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.HallPass && template">
    <!--HAL-->
    <app-pass-card
      *ngIf="!isOpenBigCard || forStaff"
      [pass]="template"
      [forStaff]="forStaff && !dialogData.kioskModeRoom"
      [forInput]="true"
      [forKioskMode]="!!dialogData.kioskModeRoom"
      [formState]="FORM_STATE"
      [forFuture]="!!FORM_STATE.data.date"
      [students]="FORM_STATE.formMode.role === 1 ? FORM_STATE.data.selectedStudents : []"
      (cardEvent)="onNextStep($event)"
      (scaleCard)="openBigPass(true)"
      [fullScreenButton]="!forStaff"
    >
    </app-pass-card>

    <app-big-student-pass-card
      *ngIf="isOpenBigCard"
      [pass]="template"
      [formState]="FORM_STATE"
      [passLayout]="'pass'"
      [forFuture]="!!FORM_STATE.data.date"
      [forInput]="true"
      (closeCard)="openBigPass(false)"
    ></app-big-student-pass-card>
  </div>
  <div [style.height]="FORM_STATE.formMode.role === 1 ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.Request && template">
    <!--REQ {{FORM_STATE.formMode.formFactor}} | {{states.Request}}-->
    <app-request-card
      *ngIf="!isOpenBigCard || forStaff"
      [request]="template"
      [forStaff]="forStaff"
      [forInput]="true"
      [formState]="FORM_STATE"
      [forFuture]="!!FORM_STATE.data.date"
      (cardEvent)="onNextStep($event)"
      (scaleCard)="openBigPass(true)"
      [fullScreenButton]="!forStaff"
    ></app-request-card>
    <app-big-student-pass-card
      *ngIf="isOpenBigCard"
      [pass]="template"
      [formState]="FORM_STATE"
      [passLayout]="'request'"
      [forFuture]="!!FORM_STATE.data.date"
      [forInput]="true"
      (closeCard)="openBigPass(false)"
    ></app-big-student-pass-card>
  </div>

  <div [style.height]="forStaff ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.Invitation && template">
    <!--INV-->
    <app-invitation-card
      [invitation]="template"
      [forStaff]="forStaff"
      [forInput]="true"
      [formState]="FORM_STATE"
      [forFuture]="!!FORM_STATE.data.date"
      [selectedStudents]="FORM_STATE.data.selectedStudents"
      (cardEvent)="onNextStep($event)">
    </app-invitation-card>
  </div>
</div>
