<div class="button"
     [style.border]="border"
     [style.background]="styleGradient"
     [style.width]="width"
     [style.min-width]="minWidth"
     [style.min-height]="minHeight"
     [style.height]="minHeight"
     [style.box-shadow]="shadow"
     [style.cursor]="cursor"
     (click)="onClick($event)"
     (mouseenter)="onHover(true)" (mouseleave)="onHover(false)"
     (mousedown)="onPress(true)" (mouseup)="onPress(false)"
     [@pressState]="buttonState"
     [ngClass]="{'center': !(leftIcon || rightIcon)}">
  <div *ngIf="!buttonLink" class="wrapper-container" [style.width]="textWidth">
    <div class="wrapper">
      <img draggable="false" *ngIf="leftIcon" [style.width]="leftImageWidth" [style.height]="leftImageHeight" class="icon left-icon" [src]="leftIcon | resolveAsset">
      <div class="text-content" [style.text-align]="contentAlign">
        <div class="content-wrapper"
             [style.color]="textColor"
             [style.font-weight]="fontWeight"
             [style.font-size]="fontSize">
          <ng-content></ng-content>
        </div>
      </div>
      <img draggable="false" *ngIf="rightIcon" class="icon right-icon" [src]="rightIcon | resolveAsset">
    </div>
  </div>
  <div *ngIf="buttonLink" class="button-link">
    <a *ngIf="documentType === 'xlsx'" class="link" [href]="buttonLink" target="_blank" name="test">
      <span>XLSX</span>
      <img [src]="'./assets/Download (White).png' | resolveAsset" alt="External Link (White).png">
    </a>
    <a  *ngIf="documentType === 'pdf'"  class="link" [href]="buttonLink" target="_blank" name="test">
      <span>PDF</span>
      <img [src]="'./assets/External Link (White).png' | resolveAsset" alt="External Link (White).png">
    </a>
  </div>
  <div class="subtitle" *ngIf="subtitle">{{subtitle}}</div>
</div>
