<div mat-raised-button class="button"
     [style.background]="styleGradient" [style.min-width]="minWidth" [style.min-height]="minHeight" [style.font-size]="fontSize"
     [@pressState]="buttonState" (click)="onClick($event)"
     (mouseenter)="onHover(true)" (mouseleave)="onHover(false)"
     (mousedown)="onPress(true)" (mouseup)="onPress(false)"
     [ngClass]="{'center': !(leftIcon || rightIcon)}">
  <div class="wrapper">
    <img *ngIf="leftIcon" class="icon left-icon" [src]="leftIcon | resolveAsset">
    <div class="text-content" [style.text-align]="contentAlign">
      <div class="content-wrapper" style="display: inline-block;">
        <ng-content></ng-content>
      </div>
    </div>
    <img *ngIf="rightIcon" class="icon right-icon" [src]="rightIcon | resolveAsset">
  </div>
</div>
