<div class="wrapper">
    <div class="heading" #header>
        <div class="back-button">
            <img (click)="back()" [src]="'./assets/Back Button (Light-Gray).svg'" alt="Back Button (Blue-White).svg">
            <!-- <div class="cancel" (click)="openConfirm($event)" *ngIf="page === 3 && !(showProcessingSpinner$ | async)">Cancel</div> -->
            <!-- <div class="cancel" (click)="dialog.closeAll()" *ngIf="page === 3 && (showProcessingSpinner$ | async)">Close</div> -->
        </div>
        <div class="ds-dialog-title-white ds-flex-center-center">
            <img [src]="'./assets/Grade level (White).svg' | resolveAsset" width="20" height="20" alt="(White).svg" class="ds-mr-10">
            <span>Grade Levels</span>
        </div>
    </div>
</div>