<div class="error-toast-container" [ngStyle]="{'opacity': toggleToast ? '1' : '0'}">
  <div class="error-text" [ngStyle]="{'opacity': toggleToast ? '1' : '0', 'right': toggleToast ? '30px' : '-250px'}">
    <div class="error-text_header">Oops! Sign in error.</div>
    <div class="error-text_message">
      Please sign in with your school account or contact your school administrator.
    </div>
    <div class="error-close-btn" (click)="close()">
      <img [src]="'./assets/Close (Grey).png'" alt="">
    </div>
  </div>
</div>
