:host {
  .assigned-teachers {
    display: flex;
    flex-wrap: wrap;
    //width: 430px;
    .teacher {
      background-color: #F7F7F7;
      border-radius: 8px;
      height: 31px;
      padding: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
      margin-bottom: 10px;
      color: #1F194E;
      white-space: nowrap;
      position: relative;
      .delete {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        background-color: #F8F8F8;
        box-shadow: -6px 1px 6px #F8F8F8;
      }
    }
  }
}
