<div class="assigned-teachers">
  <div *ngFor="let teacher of selectedProfiles; let i = index" #chip class="teacher"
    (mouseenter)="chipHover(chip, true)"
    (mouseleave)="chipHover(chip, false)"
    [style.opacity]="chip.hovered && !buttonDown ? 0.85 : (buttonDown ? 0.7 :  1)"
    [style.background-color]="getBackground(chip)"
    [style.color]="textColor(chip)">
    <span [style.cursor]="'default'" [style.user-select]="'none'">{{teacher.display_name}}</span>
    <div *ngIf="chip.hovered" class="delete">

      <img
        (click)="selectedProfiles.splice(i, 1); updateSelectedEvent.emit(this.selectedProfiles)"
        [src]="'./assets/Cancel (Navy).svg'" width="16" alt="Check.svg">
    </div>
  </div>
  <app-gradient-button class=""
    [size]="'editable'"
    [minWidth]="'100px'"
    [minHeight]="'31px'"
    [textColor]="'#7F879D'"
    [gradient]="'#F4F4F4, #F4F4F4'"
    [hoverColor]="'#F4F4F4'"
    [leftIcon]="'./assets/Plus (Blue-Gray).svg'"
    [leftImageWidth]="'16px'"
    [leftImageHeight]="'16px'"
    [withShadow]="false"
    [fontSize]="'14px'"
    (buttonClick)="add.emit(true)"
  >{{ text }}</app-gradient-button>
</div>
