<div class="notif-wrapper">
  <div class="notif-header" [style.background-image]="'radial-gradient(circle at 73% 71%, #DA2370,#FB434A)'">
    <img class="back-button" [src]="'./assets/Back Button (Light-Gray).svg' | resolveAsset" alt="Notification" (click)="dialogRef.close()">
    <div class="header-title">
        <img class="header-icon" [src]="'./assets/Notifications (White).svg' | resolveAsset">
      <div class="ds-dialog-title-white">
        Notifications
      </div>
    </div>
  </div>
  <div class="notif-content">
      <div class="setting" *ngFor="let setting of settings">
        <div class="setting-content">
            <div class="ds-dialog-subtitle" style="margin-bottom: 10px">{{ setting.title }}</div>
            <div class="controls" *ngFor="let control of setting.controls">
                <div class="control-title ds-cell-text-2">
                  {{ control.controlTitle }} <br>
                  <span class="control-subtitle ds-cell-description-text" *ngIf="control.controlSubtitle"> {{ control.controlSubtitle }} </span>
                </div>
                <div class="control-toggle">
                  <app-toggle-input
                     [delimiter]="false"
                     [controlSize]="'small'"
                     [form]="notifForm"
                     [controlName]="control.formControl"
                  ></app-toggle-input>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
      </div>
  </div>
</div>
