<div
	class="global-container"
	[ngClass]="{ 'ds-dark-theme': darkThemeEnabled }"
	*ngIf="showUI | async"
	ondragstart="return false"
	[style.min-height]="!hideScroll ? '100%' : 'auto'">
	<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
	<div class="toasts-wrapper" *ngIf="(toasts$ | async).length">
		<div class="toasts">
			<div class="toast" *ngFor="let toast; index as i; of: toasts$ | async">
				<app-custom-toast [user]="user$ | async" [toast]="toast" [indexPosition]="i"></app-custom-toast>
			</div>
		</div>
	</div>

	<div
		class="update-bar"
		#updateBar
		*ngIf="needToUpdateApp$ | async as update"
		[style.background-color]="getBarBg(update.color.solid_color, updateBar.hover, updateBar.pressed)"
		(mouseenter)="updateBar.hover = true"
		(mouseleave)="updateBar.hover = false; updateBar.pressed = false"
		appCrossPointerEventTarget
		(pointerClickEvent)="updateApp(); updateBar.pressed = false"
		(pointerDownEvent)="updateBar.pressed = true"
		[style.border-bottom]="'1px solid ' + getBarBg(update.color.solid_color, true, true)">
		<div class="circle" [style.background-color]="update.color.solid_color"></div>
		<div class="title" [style.color]="update.color.solid_color">
			Update available.
			<span style="font-weight: 600">Click to update</span>
		</div>
	</div>

	<div #trialBar class="trial-bar" *ngIf="isAuthenticated && !isKioskMode && (isAdmin$ | async) && trialEndDate$ | async as trialEndDate">
		<div class="trialing" *ngIf="trialEndDate >= todayDate; else ended">
			<div class="daysLeft">
				You have
				<div class="daysContainer">
					<div class="daysRect"></div>
					<div class="days">{{ getDaysUntil(trialEndDate) }}</div>
				</div>
				{{ getDayText(getDaysUntil(trialEndDate)) }} left in your SmartPass trial.
			</div>
			<button class="purchase">Ready to purchase?</button>
			<div class="helpContainer">
				<div class="daysRect"></div>
				<button class="help">Need Help?</button>
			</div>
		</div>

		<ng-template #ended>
			<div class="trial-ended">
				<img class="icon" [src]="'./assets/admin-images/hourglass.svg' | resolveAsset" />
				<div class="text">
					<span style="font-weight: 700">Free Trial Ended:</span>
					We hope you've loved your SmartPass trial and are planning on moving forward.<br />
					Please contact your sales rep to purchase SmartPass!
				</div>
				<button class="contactSales">Contact sales</button>
			</div>
		</ng-template>
	</div>

	<div style="flex-grow: 1; display: flex; flex-direction: row; align-items: stretch">
		<div style="flex-grow: 1; display: flex; flex-direction: column">
			<app-school-toggle-bar *ngIf="isAuthenticated && schools && schools.length > 1 && !hideSchoolToggleBar && !isKioskMode" [schools]="schools">
			</app-school-toggle-bar>
			<div class="router-outlet">
				<div
					style="flex-grow: 1; display: flex; flex-direction: column"
					[ngStyle]="{
						'padding-top':
							(isAuthenticated && schools && schools.length > 1 && !hideSchoolToggleBar && !isKioskMode) || (needToUpdateApp$ | async) ? '50px' : '0'
					}">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="notification-backdrop" *ngIf="hasCustomBackdrop" [ngStyle]="customStyle"></div>
		</div>

		<ng-container *ngIf="user$ | async as user">
			<app-help-center
				*ngIf="isAuthenticated && !!user && !user.isStudent() && !(helpCenter.isHelpCenterOpen | async) && !isKioskMode"
				(onClick)="openHelpCenter($event)"></app-help-center>
		</ng-container>
		<ng-container *ngIf="helpCenter.isHelpCenterOpen | async">
			<div class="help-center-content-wrapper" #helpCenterDiv id="help-center-content">
				<div class="drag-divider" id="drag-divider"></div>
				<div class="fixed-wrapper" id="fixed-wrapper">
					<div class="help-center-unsubscribe"></div>
					<div class="close-icon-wrapper" (click)="closeHelpCenter()">
						<div class="circle">
							<img class="close-icon" [src]="'./assets/Close (Grey).svg' | resolveAsset" alt="" />
						</div>
					</div>
					<iframe #helpIframe class="help-centre-iframe" id="help-centre-iframe" src="https://www.smartpass.app/help-center" frameborder="0"></iframe>
					<div class="contact-wrapper">
						<div class="call-main">
							<div class="call-contant" (click)="openCallDialog($event)" *ngIf="isAdmin$ | async">
								<img class="pro-icon" *ngIf="!isUserHasPhoneAccess" [src]="'./assets/Plus Plan (Yellow).svg' | resolveAsset" alt="" />
								<img class="call-icon" [src]="'./assets/Call (Gray).svg' | resolveAsset" alt="" />
							</div>
						</div>
						<div class="live-chat open-intercom-btn" id="live-chat">
							<img class="chat-icon" [src]="'./assets/Chat (Blue-Gray).svg' | resolveAsset" alt="" />
							<p class="live-chat-text">Live Chat</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>

<div #dialogContainer [@.disabled]="true"></div>
