<div class="global-container" *ngIf="showUI | async" ondragstart="return false">
  <!--<ng-template appNextRelease></ng-template>-->

  <!-- Here will be a school toggle bar -->
  <app-school-toggle-bar *ngIf="( schools && schools.length > 1 ) && !hideSchoolToggleBar"
    [schools]="schools"
  ></app-school-toggle-bar>

  <div style="height: 100%;" [style.overflow-y]=" hideScroll ? 'hidden' : 'auto'" [style.display]="isAuthenticated ? 'block' : 'none'">
    <router-outlet></router-outlet>
  </div>
  <app-login *ngIf="!isAuthenticated"></app-login>
</div>
