.global-container {
  display: flex;
  flex-direction: column;
  background-color: #FBFEFF;
  overflow: hidden;
  position: relative;
  .router-outlet {
    height: 100%;
  }
}

.unanimated-dialog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.update-bar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }

  .title {
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
  }
}

.toasts-wrapper {
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //right: 0;
  //left: 0;
  //z-index: 9999999999999;
  .toasts {
    position: relative;

    .toast {
      //position: absolute;
    }
  }
}

::ng-deep #hubspot-messages-iframe-container {
  z-index: 1 !important;
  opacity: 0 !important;
  //right: -1000px !important;
}

//::ng-deep .Application__WidgetAppContainer-sc-1i6h88-0 {
//  opacity: 0 !important;
//}
