<div class="group-wrapper" [style.background-color]="darkTheme.getBackground('high', true)">
    <div class="content">
        <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Groups</div>
        <div class="profiles">
            <app-profile
                *ngFor="let account of accounts"
                (select)="account.selected = $event"
                [isSelected]="account.selected"
                [disabled]="account.disabled"
                [title]="account.title + 's'"
                [icon]="account.title"
                [infoData]="account.path"
            >
            </app-profile>
        </div>
    </div>
    <div>
        <app-gradient-button
            *ngIf="showButton"
             [size]="'small'"
             [cursor]="'pointer'"
             (buttonClick)="provideSelected()"
        >Save Group Sync
        </app-gradient-button>
    </div>

</div>
