@import '../../sp-colors';

/*Small devices breakpoint*/
@media all and (max-width: 425px) {
  div.current-pass,
  div.future-passes,
  div.past-passes,
  div.active-passes {
    width: 100%;
  }

  .pass-buttons{
    align-self: center;
  }

  .requests-title,
  h1.passes-heading {
    display: flex;
    justify-content: center;
    color: #1F195E;
    margin-top: -15px;
  }

  .passes {
    margin-top: 10px;
  }

  img.empty-passes-svg {
    width: 100%;
  }
}

@media all and (max-width: 768px){
  div.main-page-left{
    margin-right: 0;
  }

  div.passes-wrapper {
    flex-direction: column;
  }

  div.main-page-right {
    display: none !important;
  }
}

.passes-wrapper {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  padding-top: 25px;
}

.main-page-left{
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-pass{
  margin-bottom: 40px;
}

.inbox-content {
  width: 301px;
}

.pass-buttons{
  display: flex;
  flex-direction: row;
  //margin-left: 25px;
  justify-content: space-between;
  width: 301px;
}

.future-passes, .past-passes, .active-passes {
  width: 460px;
  //margin-bottom: 40px;
}
.requests-or-invitations {
  //margin-bottom: 40px;
}

.main-page-right{
  //margin-left: 80px;
  //animation: requestsInMotion .8s ease forwards;
}

.requests-in-motion {
  animation: requestsInMotion .8s ease forwards;
}

@keyframes requestsInMotion {
  0% {
    width: 0px;
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    width: 351px;
    opacity: 1;
    transform: translateX(0px);
  }
}

.big-text {
  font-size: 16pt;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue-gray;
}

.empty-inbox-svg {
  margin: 20px 0;
  width: 200px;
}

.empty-passes-svg {
  margin: 20px 0;
  width: 330px;
}

.passes-heading {
  display: none;
}

.side-menu {
  &-content {
    max-height: 267px;
    max-width: 340px;
    margin: 0 auto;
  }

  &-title {
    color: #1F195E;
    font-weight: bold;
    font-size: 25px;
    padding-top: 100px;
  }

  &-requests {
    padding-top: 30px;
  }
}
