<div class="passes-wrapper" *ngIf="user">
  <div class="main-page-left">
    <div class="current-pass">
      <div *ngIf="!!currentPass || !!currentRequest; else newPass;" class="center">
        <app-inline-request-card *ngIf="!!currentRequest && !currentPass" [request]="currentRequest"></app-inline-request-card>
        <app-inline-pass-card *ngIf="!!currentPass" [pass]="currentPass" [isActive]="true"></app-inline-pass-card>
      </div>
      <ng-template #newPass>
        <app-display-card [title]="'Create Pass'" [hasDivider]="true" [fontSize]="'15pt'" [icon]="'./assets/Create (Blue).png'">
          <div class="pass-buttons">
            <app-gradient-button
              [minWidth]="'121px'"
              [minHeight]="'74px'"
              [hoverColor]="'#00b476'"
              [fontSize]="'15px'"
              (click)="showForm(false)">Now
            </app-gradient-button>
            <app-gradient-button
              [minWidth]="'121px'"
              [minHeight]="'74px'"
              [hoverColor]="'#00b476'"
              [fontSize]="'15px'"
              (click)="showForm(true)">Future
            </app-gradient-button>
          </div>
        </app-display-card>
      </ng-template>
    </div>
    <div class="active-passes">
      <app-pass-collection *ngIf="isStaff" [isActive]="true" [forStaff]="isStaff" [style.width]="'400px'" [passProvider]="activePasses" [title]="'Active Passes'" [icon]="'./assets/Hallway (Blue).png'" [columns]="3"></app-pass-collection>
    </div>
    <div class="future-passes">
      <app-pass-collection [forFuture]="true" [forStaff]="isStaff" [style.width]="'400px'" [passProvider]="futurePasses" [title]="'Scheduled Passes'" [icon]="'./assets/Scheduled Pass (Blue).png'" [columns]="3"></app-pass-collection>
    </div>
    <div class="past-passes">
      <app-pass-collection [emptyMessage]="'No Passes'" [fromPast]="true" [forStaff]="isStaff" [style.width]="'400px'" [passProvider]="pastPasses" [title]="'Expired Passes'" [icon]="'./assets/Expired Passes (Blue).png'" [columns]="3"></app-pass-collection>
    </div>
  </div>
  <div class="main-page-right" *ngIf="dataService.inboxState | async">
    <app-display-card [title]="'Requests'" [hasDivider]="false" [fontSize]="'22pt'">
      <div class="inbox-content">
        <app-pass-collection [forStaff]="isStaff" [forFuture]="true" [isActive]="false" [style.width]="'258px'" [passProvider]="isStaff?receivedRequests:sentRequests" [title]="isStaff?'Received':'Sent'" [icon]="'./assets/' +(isStaff?'Request':'Lock') +'(Blue).png'" [columns]="2"></app-pass-collection>
        <app-pass-collection [forStaff]="isStaff" [forFuture]="true" [isActive]="false" [style.width]="'258px'" [passProvider]="isStaff?sentRequests:receivedRequests" [title]="isStaff?'Sent':'Received'" [icon]="'./assets/' +(isStaff?'Lock':'Request') +'(Blue).png'" [columns]="2"></app-pass-collection>
        <!-- No pass requests -->
      </div>
    </app-display-card>
  </div>
</div>
