.colors {
  width: 294px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.color-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.pick-color {
  &:nth-child(1) {
    margin-left: 40px;
  }
  &:nth-child(4) {
    margin-right: 40px;
  }
}