.colors {
  width: 230px;
  height: 126px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.color-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pick-color {
  &:nth-child(1) {
    margin-left: 17px;
  }
  &:nth-child(4) {
    margin-right: 17px;
  }
}
