<div class="color-wrapper">
  <div class="color-title" [ngStyle]="{'color': selectedId ? '#1F195E' : '#8e8e93'}">Color</div>
  <div class="colors">
    <div class="loading-theme_blue-gray" *ngIf="(loading$ | async) && !(loaded$ | async); else collection">
      <mat-spinner [color]="'accent'" [diameter]="35"></mat-spinner>
    </div>
    <ng-template #collection>
      <div class="pick-color" *ngFor="let color of colors$ | async">
        <app-color [color]="color" [selected]="selectedId === color.id" (selectedColor)="changeColor($event)"></app-color>
      </div>
    </ng-template>
  </div>
</div>
