.wrapper {
  width: 425px;
  height: 500px;
  position: relative;

  .background {
    border-radius: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 73% 71%, #5C4AE3, #336DE4);
  }

  .back-button {
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: 20;
    cursor: pointer;
  }


  .content {
    padding: 43px;
    display: flex;
    flex-direction: column;

    .integrations {
      display: flex;
      margin-top: 12px;
      justify-content: space-between;

      .integration {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
      }
    }

    .header {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-top: 19px;
      z-index: 10;
    }

    .info-list {
      margin-top: 29px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      .info {
        display: flex;
        width: 281px;

        .title {
          color: white;
          font-size: 14px;
          margin-left: 8px;
        }

      }
    }
  }

  .divider {
    position: absolute;
    left: 0;
    right: 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      margin-top: 22px;
      font-size: 14px;
      z-index: 10;
    }
  }
}
