<div class="wrapper">
  <div class="options-content">
    <div class="option"
     #opt
     *ngFor="let option of options"
     (mouseenter)="opt.hover = true; hoverOption = option; showConfirmButton = false"
     (mouseleave)="opt.hover = false;"
     [style.background-color]="opt.hover ? option.hoverColor : 'transparent'"
     (click)="selectedOption(option)"
    >
      <img style="margin-left: 30px" width="18" [src]="option.icon | resolveAsset" alt="opt-icon">
      <div class="label">{{ option.label }}</div>
    </div>
  </div>
  <mat-divider *ngIf="hoverOption || showConfirmButton"></mat-divider>
  <div class="description" *ngIf="hoverOption || showConfirmButton">
    {{ hoverOption.description }}
    <div class="button">
      <app-gradient-button
        *ngIf="showConfirmButton"
        [gradient]="'#E32C66, #E32C66'"
      >Confirm delete</app-gradient-button>
    </div>
  </div>
</div>
