<section class="sort-menu" [style.background-color]="darkTheme.getBackground('low')">
  <header class="sort-menu-header">
    <p class="sort-menu-header-text" [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#3d396b'})">{{data.title}}</p>
  </header>
  <ul class="sort-menu-options">
    <li *ngIf="showAllRooms"
        [style.border-bottom-color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7F879D'})"
        [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#3d396b'})"
        appCrossPointerEventTarget
        (pointerClickEvent)="changeColor(false, $event); selectSortOption(null)"
        (pointerDownEvent)="changeColor(true, $event)"
        #_all
    >
    All Rooms
      <img *ngIf="!selectedItem" class="selected-option" [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'})" alt="Check (Navy).svg" >
    </li>
    <li *ngFor="let item of items; let i = index"
        [style.border-bottom-color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7F879D'})"
        [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#3d396b'})"
        appCrossPointerEventTarget
        (pointerClickEvent)="changeColor(false, $event); selectSortOption(item)"
        (pointerDownEvent)="changeColor(true, $event)"
        #_item
    >
      {{ item.title }}
      <img *ngIf="selectedItem && item.id === selectedItem.id" class="selected-option" [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'})" alt="Check (Navy).svg" >
    </li>
  </ul>
</section>
