<app-navbar [user]="dataService.currentUser | async" [forTeacher]="isStaff$ | async" (onTabChange)="updateTab($event)"></app-navbar>
<div class="pg1-wrapper container" *ngIf="tabIndex==1 && dataService.currentUser | async">
    <div *ngIf="checkedPasses" class="middle">
        <div *ngIf="!!currentPass; else newPass;" class="pass-card center">
            <app-pass-card [pass]="currentPass" [user]="dataService.currentUser | async" (cardEvent)="cardEvent($event)"></app-pass-card>
        </div>
        <ng-template #newPass>
          <div style="height: 40px;"></div>
          <app-gradient-button style="width: 352px; margin-top: 40px;"
            [leftIcon]="'./assets/Plus.png'"
            (click)="showForm()">New Pass</app-gradient-button>

        </ng-template>
        <div class="futurePasses" *ngIf="!!futurePasses">
            Future Passes
            <app-hallpass-card class="pass-card" *ngFor="let hallpass of futurePasses" [hallpass]="hallpass" [future]="true"></app-hallpass-card>
        </div>

    </div>
    <div class="divider"></div>
    <div class="side">
        <div class="center top-margin">
            <app-invitation-card class="request-card" *ngFor="let invitation of invitations | async"
                                 [invitation]="invitation" [user]="dataService.currentUser | async"
                                 (onAccept)="updateInvites()"></app-invitation-card>
        </div>
        <div class="center" style="margin-top: 20px;">
            <app-request-card class="request-card" *ngFor="let request of requests | async"
                            [request]="request" [forTeacher]="isStaff$ | async"
                            (onAccept)="updateRequests($event)"></app-request-card>
        </div>
    </div>
</div>

<div class="pg2-wrapper container" *ngIf="tabIndex==2 && dataService.currentUser | async">
    My Room Details
</div>

<div class="pg3-wrapper container" *ngIf="tabIndex==3 && dataService.currentUser | async">
    Hall Monitoring Details
</div>
