<app-navbar [user]="dataService.currentUser | async" [forTeacher]="isStaff$ | async"
            (onTabChange)="updateTab($event)" (inboxEvent)="inboxVisibility = $event"></app-navbar>
<div class="pg1-wrapper container" *ngIf="tabIndex==1 && dataService.currentUser | async">
  <div class="main-page-left">

    <!-- <app-request-card [request]="testRequest1" [forFuture]="true" [fromPast]="false" [forInput]="false"></app-request-card>
    <br>
    <app-request-card [request]="testRequest1" [forFuture]="false" [fromPast]="false" [forInput]="false"></app-request-card>
    <br>
    <app-request-card [request]="testRequest2" [forFuture]="false" [fromPast]="true" [forInput]="false"></app-request-card>
    <br>
    <app-request-card [request]="testRequest3" [forFuture]="false" [fromPast]="false" [forInput]="true"></app-request-card> -->

    <!-- <app-invitation-card [invitation]="testInvitation1" [forFuture]="true"></app-invitation-card>
    <app-invitation-card [invitation]="testInvitation2" [forFuture]="true"></app-invitation-card> -->

    <div *ngIf="checkedPasses" class="current-pass">
      <div *ngIf="!!currentPass || !!currentRequest; else newPass;" class="pass-card center">
        <app-inline-request-card *ngIf="!!currentRequest && !currentPass" [request]="currentRequest"></app-inline-request-card>
        <app-inline-pass-card *ngIf="!!currentPass" [pass]="currentPass" [isActive]="true"></app-inline-pass-card>
      </div>
      <ng-template #newPass>
        <app-display-card [title]="'Create Pass'" [hasDivider]="true" [fontSize]="'15pt'" [icon]="'./assets/Plus (Colored).png'">
          <div class="pass-buttons">
            <app-gradient-button
              [minWidth]="'121px'"
              [minHeight]="'74px'"
              [hoverColor]="'#00b476'"
              [fontSize]="'15px'"
              (click)="showForm(false)">Now
            </app-gradient-button>
            <app-gradient-button
              [minWidth]="'121px'"
              [minHeight]="'74px'"
              [hoverColor]="'#00b476'"
              [fontSize]="'15px'"
              (click)="showForm(true)">Later
            </app-gradient-button>
          </div>
        </app-display-card>
      </ng-template>
    </div>
    <div class="future-passes">
      <app-pass-collection [forFuture]="true" [style.width]="'400px'" [passes]="testPasses" [title]="'Scheduled Passes'" [icon]="'./assets/Later (Colored).png'" [columns]="3"></app-pass-collection>
    </div>
    <div class="past-passes">
      <app-pass-collection [fromPast]="true" [style.width]="'400px'" [passes]="testPasses" [title]="'Expired Passes'" [icon]="'./assets/Places I\'ve Been (Colored).png'" [columns]="3"></app-pass-collection>
    </div>
  </div>

  <div class="main-page-right" *ngIf="inboxVisibility">
    <app-display-card [title]="'Requests'" [hasDivider]="false" [fontSize]="'22pt'">
      <div class="inbox-content">
          <app-pass-collection [forFuture]="true" [style.width]="'258px'" [passes]="testRequests" [title]="'Sent'" [icon]="'./assets/Lock (Colored).png'" [columns]="2"></app-pass-collection>
          <app-pass-collection [forFuture]="true" [style.width]="'258px'" [passes]="testInvitations" [title]="'Received'" [icon]="'./assets/Invitation (Colored).png'" [columns]="2"></app-pass-collection>    
      </div>
    </app-display-card>
  </div>
</div>

<div class="pg2-wrapper container" *ngIf="tabIndex==2 && dataService.currentUser | async">
  My Room Details
</div>

<div class="pg3-wrapper container" *ngIf="tabIndex==3 && dataService.currentUser | async">
  Hall Monitoring Details
</div>
