<div class="student-search-wrapper">
  <div class="input">
    <mat-chip-list #chipList>
      <div [style.padding-bottom]="'5px'">
        <app-round-input
          [width]="'400px'"
          [type]="'text'"
          [placeholder]="placeholder"
          [disabled]="false"
          [chipInput]="chipList"
          [fieldIconPosition]="'left'"
          [closeIcon]="true"
          [focused]="true"
          [selectReset$]="inputValue$"
          (ontextupdate)="onSearch($event)"
        ></app-round-input>
      </div>
      <mat-chip
        *ngFor="let student of selectedStudents"
        [removable]="true"
        (removed)="removeStudent(student)">
        {{student.display_name + ' (' + student.primary_email.split('@', 1)[0] + ')'}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <!--<input-->
        <!--[placeholder]="placeholder"-->
        <!--#studentInput-->
        <!--[matChipInputFor]="chipList"-->
        <!--[matChipInputAddOnBlur]="true"-->
        <!--[value]="inputValue"-->
        <!--(input)="onSearch(studentInput.value)">-->

    </mat-chip-list>
  </div>

  <!--<div *ngIf="showOptions" class="options-wrapper">-->
    <!--<div *ngFor="let student of students | async" (click)="studentInput.value = ''; addStudent(student)"  class="option-wrapper">-->
      <!--<div class="option-content">-->
        <!--{{ student.display_name }} ({{student.primary_email}})-->
      <!--</div>-->
      <!--<div class="option-divider"></div>-->
    <!--</div>-->
  <!--</div>-->

  <div *ngIf="showOptions" [ngClass]="{'options-wrapper': students}">
    <div *ngFor="let student of students | async" (click)="inputValue$.next(''); addStudent(student)"  class="option-wrapper">
      <div class="option-content">
        {{ student.display_name }} ({{student.primary_email}})
      </div>
      <div class="option-divider"></div>
    </div>
  </div>
</div>
