<div class="student-search-wrapper">
  <div class="input">
    <mat-chip-list [style.width]="'inherit'" #chipList >
      <div [style.padding-bottom]="'5px'" [style.width]="'inherit'">
        <app-round-input
          [width]="width"
          [type]="'text'"
          [placeholder]="placeholder"
          [disabled]="false"
          [chipInput]="chipList"
          [fieldIconPosition]="'left'"
          [closeIcon]="true"
          [focused]="focused"
          [selectReset$]="inputValue$"
          (ontextupdate)="onSearch($event)"
        ></app-round-input>
      </div>
      <mat-chip
        *ngFor="let student of selectedStudents"
        [removable]="true"
        (removed)="removeStudent(student)">
        {{student.display_name + ' (' + student.primary_email.split('@', 1)[0] + ')'}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div *ngIf="showOptions"
       [ngClass]="{'options-wrapper': students}"
       [style.display]="students ? 'block' : 'none'">
    <div *ngFor="let student of students | async" (click)="inputValue$.next(''); addStudent(student)"  class="option-wrapper">
      <div class="option-content">
        {{ student.display_name }} ({{student.primary_email}})
      </div>
      <div class="option-divider"></div>
    </div>
  </div>
</div>
