<div class="wrapper ds-flex-center-between ds-flex-column ds-p-20">

  <div class="ds-dialog-title ds-navy ds-w-100">
    <span>Upload a list of student emails</span>
  </div>

  <div class="content ds-flex-center-center ds-w-100">
    <ng-container 
      [ngTemplateOutlet]="tpl"
      [ngTemplateOutletContext]="{$implicit: tplImplicit}"
    ></ng-container>
  </div>

  <div class="ds-w-100 ds-flex-center-between">
    <p class="bottom-line">Need help? <span class="link-like" (click)="openChat($event)">Chat with us</span></p> 
    <app-gradient-button [disabled]="!isActive" [hoverColor]="'#00B476'" [cursor]="'pointer'" ><span>{{buttonText$ | async}}</span></app-gradient-button>
  </div>


</div>

<ng-template #upload>
    <div #dropArea class="uploading-area ds-flex-center-center">
        <span class="link-like gray" (click)="file.click()">Upload file</span>
    </div>

    <input type="file" accept=".xls,.xlsx,.csv" #file style="display: none"/>
</ng-template>

<ng-template #spinning>
  <div class="ds-flex-center-center ds-flex-column">
    <span class="ds-pb-10">{{loading.hint}}</span>
    <div class="loading-theme_blue-gray">
      <mat-spinner [color]="'accent'" [diameter]="30"></mat-spinner>
    </div>
  </div>
</ng-template>

<ng-template #issues>
  <div class="uploading-area ds-flex-center-center issues">
      <div class="ds-dialog-heading ds-pt-10 ds-pb-10">Please, review</div>
      <div *ngFor="let email of emailsFailed" class="ds-cell-text-2 ds-pb-15">
        <div>{{email}}</div>
     </div>

    <img class="close" [src]="'./assets/Close (Navy).svg'" (click)="goUpload()" alt="Check.svg">

  </div>
</ng-template>
