@import '../../../../../sp-colors.scss';
@import '../../../../../design-system.scss';

.wrapper {
  width: 446px;
  height: 271px;
  background: white;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 30px 30px 15px;
}

.bottom-line {
  @include textSize('14px', normal, $gray500); 
}

.link-like {
  text-decoration: underline;
  cursor: pointer;
}

.gray {
  color: $gray500;
}

.content {
  .uploading-area {
    width: 100%;
    min-height: 120px;
    border: 2px dashed $gray500;
    border-radius: 10px;
    position: relative;
  }
  .issues {
    background-color: $green100;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12px; 
    padding: 10px;
    cursor: pointer;
  }
}
