.rest-mes-wrapper {
  width: 425px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  .rest-mes-header, .rest-mes-header_animation-back {

    width: 100%;
    height: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;

    .back-button {
      width: 28px;
      height: 28px;
      margin-left: 20px;
      user-select: none;
      position: absolute;
      z-index: 11;
      cursor: pointer;
    }

    .rest-mes-header-text {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .search-icon{
        width: 21px;
        height: 21px;
        margin-right: 12px;
      }

      .text {
        color: white;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.3px;
      }
    }
  }

  .selected-teacher-header {
    width: 100%;
    min-height: 54px;
    display: flex;
    align-items: center;
    //overflow: auto;
    //justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10px 37px;
    background-color: #FCFDFF;

    .teachers {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .content-wrapper {
    display: flex;
    //flex-direction: column;
    //align-items: center;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    .rest-mes-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 25px;

      .message-box{
        border: 1px solid transparent;
        padding: 10px;
        //box-sizing: border-box;
        //height: 90px;
        height: inherit;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.3px;
        background: transparent;
        &:focus {
          border: 1px solid transparent;
          transition: border .3s ease;
          outline: none;
        }
      }

      .buttons {

      }
    }
  }

  .message-footer {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 0px 8px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    bottom: 0;

    .footer-from-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .footer-text {
        color: #1F195E;
      }
    }

    .footer-icon {
      width: 48px;
      height: 10px;
      margin: 0 15px 0 15px;
    }
  }

  .center-text {
    display: flex;
    align-items: center;
    padding: 7px;
  }
}
