<div class="rest-tar-wrapper">
  <div [ngClass]="headerTransition" [style.background-image]="headerGradient">
    <img class="back-button back-button-white back-btn-top" [src]="'./assets/Back Button (Light-Gray).svg' | resolveAsset" (click)="back()">
    <div class="rest-tar-header-text">
      <img class="search-icon" [src]="'./assets/Lock (White).svg' | resolveAsset">
      <div class="text ds-dialog-title-white">Send Pass Request To?</div>
    </div>
  </div>

  <div class="rest-tar-content" (scroll)="tableScroll($event)">
    <div class="search-wrapper" *ngIf="!hideSearchTeacher">
        <app-student-search
          [focused]="true"
          [width]="'100%'"
          [role]="'_profile_teacher'"
          [placeholder]="'Search teachers'"
          [list]="false"
          [emitSingleProfile]="true"
          (onUpdate)="updateTarget($event)"
        ></app-student-search>
      <!--</div>-->
    </div>
    <div class="quick-select" [style.margin-top]="hideSearchTeacher ? '10px' : '70px'" *ngIf="filteredTeachers.length">
      <div class="quick-select_header">
        <span>Quick Select</span>
      </div>
      <div class="quick-select_scrollable">

        <div *ngFor="let teacher of filteredTeachers; let i = index" #cell class="quick-select_item"
             (mouseenter)="cell.hovered = true;"
             (mouseleave)="cell.hovered = false;"
             (mousedown)="cell.pressed = true"
             (mouseup)="cell.pressed = false"
             (click)="updateTarget(teacher)"
             [style.background-color]="getBackground(cell)"
             [style.color]="textColor(cell)"
        >
              <span>
                {{teacher.display_name}}
              </span>
          <!--<img-->
            <!--(mouseover)="fieldIcon.setAttribute('src', './assets/Cancel (Navy).svg')"-->
            <!--(mouseleave)="fieldIcon.setAttribute('src', './assets/Mark (Navy).svg')"-->
            <!--(click)="selectedStudents.splice(i, 1)"-->
            <!--[src]="'./assets/Mark (Navy).svg'" width="15" #fieldIcon alt="Check.svg">-->
        </div>
      </div>
    </div>
  </div>
  <!--<div class="shadow" [style.bottom]="date ? '65px' : '43px'" *ngIf="shadow"></div>-->
  <app-student-footer [formState]="formState" [date]="date" (changeAnimationDirectionEvent)="onChangeAnimationDirection($event)" ></app-student-footer>
  <img class="back-button back-button-white back-btn-bottom" [src]="'./assets/Back Button (Light-Gray).svg' | resolveAsset" (click)="back()">
</div>
