<div class="rest-tar-wrapper">
  <div [ngClass]="headerTransition" [style.background-image]="headerGradient">
    <img class="back-button back-button-white" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset" (click)="back()">
    <div class="rest-tar-header-text">
      <img class="search-icon" [src]="'./assets/Lock (White).svg' | resolveAsset">
      <div class="text ds-dialog-title-white">Send Pass Request To?</div>
    </div>
  </div>

  <div class="rest-tar-content" (scroll)="tableScroll($event)">
    <app-location-table
       class="center"
       (onSelect)="updateTarget($event)"
       [type]="'teachers'"
       [placeholder]="'Search teachers'"
       [staticChoices]="toLocation.teachers"
       [dummyString]="'No teachers found'"
       [mergedAllRooms]="true"
       [withMergedStars]="false"
    >
    </app-location-table>
  </div>
  <!--<div class="shadow" [style.bottom]="date ? '65px' : '43px'" *ngIf="shadow"></div>-->
  <app-student-footer [formState]="formState" [date]="date" (changeAnimationDirectionEvent)="onChangeAnimationDirection($event)" ></app-student-footer>

</div>
