@import '../../../../../sp-colors';

.rest-tar-wrapper {
  width: 425px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  .rest-tar-header, .rest-tar-header_animation-back {

    width: 100%;
    height: 70px;
    min-height: 70px;
    display: flex;
    z-index: 10;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;

    .back-button {
      width: 28px;
      height: 28px;
      margin-left: 20px;
      position: absolute;
      z-index: 11;
      user-select: none;
      cursor: pointer;
    }

    .rest-tar-header-text {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .search-icon{
        width: 21px;
        height: 21px;
        margin-right: 12px;
      }

      .text {
        color: white;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.3px;
      }
    }
  }

  .rest-tar-content {
    overflow: auto;
    width: 100%;
    position: relative;
    padding-bottom: 25px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    //z-index: 1;
    .search-wrapper {
      margin-top: 25px;
      width: 250px;
      position: absolute;
    }
    .quick-select {
      width: 205px;
      margin-top: 70px;
      &_header {
        margin: 30px 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        color: $navy;
      }
      &_scrollable {
        max-height: 185px;
        overflow: auto;
      }
      &_item {
        border-top: 1px solid #D8D8D8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 5px;
        color: #555558;
        font-size: 14px;
        cursor: pointer;
        img {
          cursor: pointer;
        }
      }
    }
  }
  .target-footer {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 0px 8px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    bottom: 0;

    .footer-from-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .footer-text {
        color: #1F195E;
      }
    }

    .footer-icon {
      width: 48px;
      height: 10px;
      margin: 0 15px 0 15px;
    }
  }

  .center-text {
    display: flex;
    align-items: center;
    padding: 7px;
  }
}
.shadow {
  position: absolute;
  opacity: 0.7;
  //bottom: 43px;
  left: 0;
  right: 0;
  height: 3px;
  background: white;
  box-shadow: white 0 0 0 13px;
}
