<div class="wrapper">
  <div class="heading" #header>
    <div class="back-button">
      <img [src]="'./assets/Back Button (Light-Gray).svg'" alt="Back Button (Blue-White).svg">
      <div class="cancel" *ngIf="false">Cancel</div>
    </div>
    <div class="ds-dialog-title-white ds-flex-center-center">
      <img [src]="'./assets/Pictures (White).svg' | resolveAsset" width="20" height="20" alt="(White).svg" class="ds-mr-10">
      <span>Profile Pictures</span>
    </div>
    <div class="save-button" *ngIf="page !== 1 && uploadingProgress.images.complete && uploadingProgress.csv.complete">
      <app-gradient-button
        [size]="'small'"
        [gradient]="'#FFFFFF, #FFFFFF'"
        [hoverColor]="'#FCFDFF'"
        [textColor]="'#07ABC3'"
        [cursor]="'pointer'"
        (buttonClick)="nextPage()"
      >
        <div class="ds-flex-center-start">
          <span>
           {{ page === 4 ? 'Save' : 'Upload' }}
          </span>
        </div>
      </app-gradient-button>
      <div class="incomplete" *ngIf="false">Incomplete</div>
    </div>
  </div>

  <div class="content">
    <div class="page" *ngIf="page === 1">
      <div class="center-content">
        <img style="margin-right: 15px" [src]="'./assets/emptyStates/upload-file.svg' | resolveAsset">
        <div style="margin-top: 35px"  class="ds-dialog-heading">Add Profile Pictures</div>
        <div class="subtitle">Quickly add profile pictures for all your users with an image map from your SIS.</div>
        <app-gradient-button
          [gradient]="'#07ABC3, #07ABC3'"
          [hoverColor]="'#07ABC3'"
          [rightIcon]="'./assets/Chevron Right (White).svg'"
          (buttonClick)="nextPage()"
        >Continue
        </app-gradient-button>
      </div>
    </div>
    <div class="page" *ngIf="page === 2">
      <div class="step-wrapper">
        <div class="step-container">
          <div class="step-number">1</div>
          <div class="step">
            <div class="ds-dialog-heading">Add profile picture files</div>
            <div class="description">
              Supported image types: JPEG, PNG <br/>
              You can also upload a zip file that contains the images.
            </div>
          </div>
        </div>
        <div class="button">
          <app-gradient-button
            *ngIf="!uploadingProgress.images.inProcess && !uploadingProgress.images.complete"
            [gradient]="'#7F879D, #7F879D'"
            [hoverColor]="'#7F879D'"
            [leftIcon]="'./assets/Zip (White).svg'"
            (buttonClick)="zip.click()"
          >Choose files
          </app-gradient-button>
          <input type="file" multiple [formControl]="form.get('images')"  #zip style="display: none"/>

          <div class="upload" *ngIf="uploadingProgress.images.inProcess || uploadingProgress.images.complete">
            <mat-spinner *ngIf="uploadingProgress.images.inProcess; else complete" [color]="'warn'" [diameter]="30"></mat-spinner>
            <ng-template #complete><img style="width: 16px" [src]="'./assets/Zip (White).svg' | resolveAsset"></ng-template>
            <div class="info"
                 [style.color]="uploadingProgress.images.inProcess ? '#7f879d' : '#FFFFFF'"
            >{{ uploadingProgress.images.inProcess ? 'Uploading' : imagesLength + ' images selected' }}</div>
          </div>
        </div>
      </div>

      <div class="step-wrapper">
        <div class="step-container">
          <div class="step-number">2</div>
          <div class="step">
            <div class="ds-dialog-heading">Step 1: Add map file</div>
            <div class="description">
              Upload an Excel spreadsheet or CSV containing the user ID number and the corresponding image file name.
            </div>
          </div>
        </div>
        <div class="buttons">
          <app-gradient-button
            [size]="'small'"
            [gradient]="'#F4F4F4, #F4F4F4'"
            [buttonLink]="'./assets/xlsx/SmartPass Picture Map.xlsx'"
            [linkType]="'_self'"
            [download]="true"
            [hoverColor]="'#F4F4F4'"
            [textColor]="'#1E194F'"
            [leftIcon]="'./assets/Download (Navy).svg'"
            [text]="'Download Template'"
            [cursor]="'pointer'"
          >
          </app-gradient-button>
          <app-gradient-button
            *ngIf="!uploadingProgress.csv.inProcess && !uploadingProgress.csv.complete"
            [gradient]="'#7F879D, #7F879D'"
            [hoverColor]="'#7F879D'"
            [leftIcon]="'./assets/XLSX (White).svg'"
            (buttonClick)="csvFile.click()"
          >Choose files
          </app-gradient-button>

          <div class="upload-map" *ngIf="uploadingProgress.csv.inProcess || uploadingProgress.csv.complete">
            <mat-spinner *ngIf="uploadingProgress.csv.inProcess; else complete" [color]="'warn'" [diameter]="30"></mat-spinner>
            <ng-template #complete>
              <img style="width: 16px" [src]="'./assets/XLSX (White).svg' | resolveAsset" alt="Check">
            </ng-template>
            <div class="info"
                 [ngClass]="{elips: uploadingProgress.csv.complete}"
                 [style.color]="uploadingProgress.csv.inProcess ? '#7f879d' : '#FFFFFF'"
            >{{ uploadingProgress.csv.inProcess ? 'Uploading' : selectedMapFile.name }}</div>
          </div>

          <input type="file" [formControl]="form.get('csvFile')"  #csvFile style="display: none"/>
        </div>
      </div>

    </div>
    <div class="page" *ngIf="page === 3">
      <div class="ds-dialog-heading">Review Issues ({{ issues.length }})</div>
      <div class="view-issuer" *ngFor="let issuer of issues">
        <div class="error" *ngIf="issuer.fileNotListed">
          <span>{{ 'User ID: ' + issuer.fileNotListed.user_id }}</span><br>
          <span>- Image filename not listed</span>
        </div>
        <div class="error" *ngIf="issuer.noUserIdListed">
          <span>{{ 'Image filename: ' + issuer.noUserIdListed.file_name }}</span><br>
          <span>- User ID not listed</span>
        </div>
        <div class="error" *ngIf="issuer.noImgFound">
          <span>{{ 'User ID: ' + issuer.noImgFound.user_id + ', Image filename: ' + issuer.noImgFound.file_name }}</span><br>
          <span>- No image found</span>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="imports-success" *ngIf="page === 4">
        <div class="success-content">
          <img class="slide-center" [src]="'./assets/emptyStates/Upload Success.svg'" alt="upload-file">
          <div class="count-accounts">{{ filesToDB.length }} Profile Pictures Added</div>
        </div>
      </div>
    </div>
  </div>
</div>
