.ios {
  &-options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 51px;
  }

  &-hall-monitor-wrapper {
    max-width: 100%;
    overflow: auto;
  }

  &-hall-monitor-top {
    @extend .hall-monitor-top;
    justify-content: space-between !important;
    margin-bottom: 15px !important;
    height: 78px;
    padding: 0 !important;
  }

  &-hall-monitor-bottom {
    padding-top: 25px;
    width: 68%;
    margin: 100px auto auto auto;
  }

  &-hall-monitor-heading {
    display: flex;
    justify-content: center;
    color: #1F195E;
    margin-top: -15px;
  }

  &-back-button-bottom {
    display: block !important;
  }
}

@media all and (max-width: 940px) {
  .options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 51px;
  }

  div.hall-monitor-top {
    justify-content: space-between;
    margin-bottom: 15px;
    height: 78px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.07);
  }

  div.hall-monitor-wrapper {
    max-width: 100%;
    overflow: auto;
  }

  div.hall-monitor-bottom {
    padding-top: 25px;
    width: 68%;
    margin: auto;
    padding-bottom: 68px;
  }

  img.back-button-bottom {
    display: block;
  }

  ::ng-deep .report-dialog {
    height: 500px !important;
    width: 335px !important;
  }

  ::ng-deep div.sort-dialog {
    max-width: 100% !important;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    @media all and (max-width: 940px) {
      div.sort-btn {
        position: fixed;
      }

      div.hall-monitor-bottom {
        padding-bottom: 78px;
      }

      div.hall-monitor-bottom {
        //min-height: 100vh;
      }
    }
  }
}

@media all and (max-width: 768px) {
  div.hall-monitor-bottom {
    padding-top: 25px;
    width: 100%;
    margin: 100px auto auto auto;
    justify-content: unset;
  }
}

@media all and (max-width: 425px) {
  img.back-button-bottom {
    display: block;
  }

  div.student-search {
    //width: 76%;
    //margin-right: 10px;
  }

  div.student-search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hall-monitor-wrapper {
    height: unset;
  }

}

@media all and (max-width: 940px) and (min-width: 768px) {
  div.student-search {
    //width: 379px;
    //margin-right: 10px;
  }

  div.student-search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }

  div.cancel-wrapper {
    width: 60px;
  }

  ::ng-deep div.sort-dialog {
    width: 100%;
    max-width: 375px !important;
    margin-bottom: 70px !important;
  }
}

@media all and (max-width: 360px) {
  .form-dialog-container {
    width: 300px !important;
  }

  img.back-button-bottom {
    bottom: 5%;
  }
}

@media all and (max-width: 320px) {
  img.back-button-bottom {
    bottom: 0;
  }

  ::ng-deep .report-dialog {
    width: 300px !important;
  }
}

:host {
  flex: 1 1 auto;
}

.hall-monitor {
  //height: 100%;
  position: relative
}

.hall-monitor-wrapper {
  position: relative;
  min-height: calc(100vh - 78px);
  //height: 100%;
}

.hall-monitor-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  padding-top: 40px;
}

.hall-monitor-bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  max-width: 532px;
  margin: 100px auto auto auto;
}

.footer-message {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 62px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);

  .successfully-message {

  }
}

.input {
  margin-right: 40px;
  width: 300px;
  min-height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-left: 15px;
}

input {
  border: 0px;
  padding: 0 0 0 10px;
  height: 40px;
}

.big-text {
  font-size: 16pt;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-svg {
  margin: 20px 0;
  width: 250px;
}

.no-content-info {
  display: flex;
  justify-content: center;
  color: #7f879d;
  //margin-top: 50px;
  font-size: 16pt;
  //height: 650px;
  height: 100%;
  flex: 1 1 auto;
}

.hall-monitor-heading {
  display: none;
}

.cancel {
  margin-right: 10px;
  color: #007cff;
  border-bottom: 1px solid transparent;
}

::ng-deep .report-dialog {
  height: 500px;
  width: 425px;
}

.sort-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  z-index: 1;
  transition: .1s ease-in-out;

  &:active {
    bottom: 80px;
  }

  &-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(61, 57, 107);
    font-weight: bold;
    font-size: 20px;
  }
}

@keyframes menu-appearance {
  from {
    height: 0;
  }
  to {
    height: 341px;
  }
}

::ng-deep .sort-dialog {
  width: 100%;
  animation: menu-appearance .2s ease;
  transition: none;

  .mat-dialog-container {
    height: 341px;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    border-radius: 14px 14px 0 0;
  }
}

::ng-deep .sort-dialog-close {
  animation: menu-close 1s ease;
}

.ios-back-button-bottom,
.back-button-bottom {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  z-index: 9999;
}

::ng-deep .report-dialog {
  height: 500px;
  width: 425px;
}

::ng-deep .ios-report-dialog {
  height: 500px;
  width: 335px !important;
}

.hall-monitor-title {
  display: flex;
  align-items: center;
  height: 39px;
  color: #1F195E;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 10;
  font-weight: bold;
  font-size: 22px;
}
