@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

:host {
  flex: 1 1 auto;
}

.hall-monitor-wrapper{
    margin: 40px auto 0;
    max-width: 600px;
}

.hall-monitor-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.hall-monitor-bottom{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.footer-message {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 62px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);

    .successfully-message {

    }
}

.input {
    margin-right: 40px;
    width: 300px;
    min-height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding-left: 15px;
}

input {
    border: 0px;
    padding: 0 0 0 10px;
    height: 40px;
}

.big-text {
    font-size: 16pt;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-svg {
    margin: 20px 0;
    width: 250px;
}

.no-content-info {
  display: flex;
  justify-content: center;
  color: #7f879d;
  //margin-top: 50px;
  font-size: 16pt;
  //height: 650px;
  height: 100%;
  flex: 1 1 auto;
}
