<div class="hall-monitor-wrapper">
  <div class="hall-monitor-top">
    <input
      class="input"
      [placeholder]="'Search passes'"
      #searchInput
      [value]="inputValue"
      (input)="onSearch(searchInput.value)"
    >
    <app-gradient-button
      [gradient]="'#DA2370,#FB434A'"
      [hoverColor]="'#DA2370'"
      [minWidth]="'185px'"
      [minHeight]="'50px'"
      [fontSize]="'14px'"
      [leftIcon]="'./assets/Report (White).png'"
      (buttonClick)="openReportForm()"
    >Report Student(s)</app-gradient-button>
  </div>
  <div class="hall-monitor-bottom">
    <app-pass-collection [hasSort]="true" [isActive]="true" [forStaff]="isStaff" [forMonitor]="true" [style.width]="'600px'" [passes]="testPasses" [title]="'Active Passes'" [icon]="'./assets/Hallway (Blue).png'" [columns]="4"></app-pass-collection>
  </div>
</div>