@media (max-width: 320px) {
  div.pass-buttons {
    grid-template-columns: 143px 143px !important;
  }
}

@media all and (max-width: 425px) {
  div.pass-buttons {
    align-self: center;
    display: grid !important;
    grid-template-columns: 157px 157px;
    grid-gap: 10px 10px;
    width: initial !important;
  }
}

.kiosk-mode-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .current-pass {
    //margin-top: 20px;
  }
  .pass-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 301px;
  }

  .future-passes, .past-passes, .active-passes {
    width: 400px;
    //margin-bottom: 40px;
  }
}
