<div class="kiosk-mode-container">
  <div class="current-pass ds-mb-25">
      <app-display-card [title]="'Create Pass'" [hasDivider]="true" [fontSize]="'20px'" [icon]="'./assets/Plus (Navy).svg'">
        <div class="pass-buttons">
          <app-gradient-button
                  [size]="'editable'"
                  [minWidth]="'143px'"
                  [minHeight]="'86.5px'"
                  [cornerRadius]="'12.75px'"
                  [hoverColor]="'#00b476'"
                  [fontSize]="'18px'"
                  [cursor]="'pointer'"
                  (buttonClick)="showMainForm(false)">Now
          </app-gradient-button>
          <app-gradient-button
                  [size]="'editable'"
                  [minWidth]="'143px'"
                  [minHeight]="'86.5px'"
                  [cornerRadius]="'12.75px'"
                  [hoverColor]="'#00b476'"
                  [fontSize]="'18px'"
                  [cursor]="'default'"
                  [disabled]="true"
                  (buttonClick)="showMainForm(true)">Future
          </app-gradient-button>
        </div>
      </app-display-card>
  </div>
  <div class="active-passes">
    <div class="active-passes">
      <app-pass-collection
              [isActive]="true"
              [forStaff]="true"
              [style.width]="'400px'"
              [passProvider]="activePassesKiosk"
              [title]="'Active Passes'"
              [icon]="'./assets/Walking (Navy).svg'"
              [columns]="3"
      >
      </app-pass-collection>
    </div>
  </div>
</div>
<input
    [hidden]="hideInput"
    tabindex="1"
    type="text"
    autofocus
    #input
    [(ngModel)]="cardReaderValue"
    (keyup)="cardReader($event)"
    (blur)="onCardReaderBlur()"
    [style.opacity]="0"
>
