<div class="kiosk-mode-container" [ngClass]="{'wait-in-line-wrapper': (activePassesKiosk| async)?.length > 0}" [ngStyle]="{'flex-direction': (activePassesKiosk| async)?.length > 0 ?  '' : 'column'}">
    <div class="main-page-left">
        <div class="current-pass ds-p-25">
            <app-display-card [title]="'Create Pass'" [hasDivider]="true" [fontSize]="'20px'">
                <div class="app-display-card-container">
                    <div class="pass-buttons" *ngIf="(showButtons | async) && !(invalidId | async)?.show">
                        <app-create-pass-button [title]="'Now'" (onClick)="showMainForm(false)"></app-create-pass-button>

                        <app-create-pass-button [title]="'Future'" [disabled]="true" (onClick)="showMainForm(true)" customToolTip="Future passes cannot be created with Kiosk. Please use your own device or ask a teacher." [editable]="true" [nonDisappearing]="false"></app-create-pass-button>
                    </div>
                    <div class="display-card-divider" *ngIf="(showButtons | async) && (showScanner | async) && !(invalidId | async)?.show">
                        <div></div>
                        <span>or</span>
                        <div></div>
                    </div>
                    <div class="scanner-display" *ngIf="((showScanner | async) && !(invalidId | async)?.show)">
                        <div></div>
                        <div>
                            <img [src]="'./assets/Barcode (Blue-Gray).svg' | resolveAsset" alt="">
                        </div>
                        <span>Scan your ID to create a pass</span>
                    </div>
                    <div class="error-field">
                        <div class="scanner-display error-display" *ngIf="((showScanner | async) && (invalidId | async)?.show)">
                            <div></div>
                            <div>
                                <img [src]="'./assets/barcodeScanErrorIcon.svg' | resolveAsset" alt="">
                            </div>
                            <span>No Student found for<br/> ID Number {{(invalidId|async)?.id}}</span>
                        </div>
                    </div>
                </div>
            </app-display-card>
        </div>
        <div class="waitinline-passes pass-collection">
            <app-pass-collection *ngIf="isWaitInLine" [waitInLine]="true" [forStaff]="true" [style.width]="'460px'" [passProvider]="waitInLinePassesKiosk" [title]="waitInLineTitle | async" [columns]="2" [showProfilePictures]="showProfilePicture"></app-pass-collection>
        </div>
    </div>
    <div class="main-page-right" *ngIf="(activePassesKiosk| async)?.length > 0">
        <div class="active-passes">
            <div class="active-passes" *ngIf="activePassesKiosk">
                <app-pass-collection [isActive]="true" [forStaff]="true" [passProvider]="activePassesKiosk" [title]="'Active Passes'" [columns]="3" [showProfilePictures]="showProfilePicture">
                </app-pass-collection>
            </div>
        </div>
    </div>
    <div class="inp" [style.opacity]="0">
        <input [hidden]="hideInput" tabindex="1" type="text" autofocus #input [(ngModel)]="cardReaderValue" (keyup)="cardReader($event)" (blur)="onCardReaderBlur()">
    </div>
</div>
