<div class="settings-wrapper">
  <div *ngIf="page === 1" class="next-step" [@NextStep]="{ value: '', params: frameMotion$ | async}">
    <app-info-dialog [integrationName]="dialogAction === 'gg4l' ? 'GG4L' : dialogAction === 'clever' ? 'Clever' : null" (nextPage)="nextPage()"
                     (backEvent)="dialog.getDialogById('gg4lSettings') ? dialogRef.close() : backEvent.emit()"></app-info-dialog>
  </div>
  <div *ngIf="page === 2" class="next-step set-up" [@NextStep]="{ value: '', params: frameMotion$ | async}">
    <app-gg4l-set-up
      [dialogAction]="dialogAction"
      [gg4lSyncInfo]="gg4lSyncInfo$ | async"
      [schoolSyncInfo]="schoolSyncInfo$ | async"
      [cleverSyncInfo]="cleverSyncInfo$ | async"
      (back)="back()">
    </app-gg4l-set-up>
  </div>
</div>
