<!--<div class="dashboard-wrapper flex-start-start flex-wrap" #draggableContainer dragula="devices" [dragulaModel]="devices" (dragulaModelChange)="onDevicesOrderChanged($event)">-->
 <div class="host" appSafariScroll>
   <!--<app-preloader></app-preloader>-->
   <div class="dashboard-wrapper">
     <div class="left">
       <div class="">
         <div class="card card__role ds-flex-end-between ds-mr-10">
           <div class="">
             <div class="card_header ds-mb-10" [style.color]="cardHeaderColor">Number of Active Hall Passes</div>
             <div class="card_title" [style.text-align]="'center'">
               <div style="min-height: 65px;" class="ds-flex-center-center">
                 <div [style.font-size]="'4em'"
                      [style.font-weight]="'900'"
                      [style.color]="darkTheme.getColor({white: '#7F879D', dark: '#F9F9F9'})"
                 >{{ numActivePasses >= 0 ? numActivePasses : ''}}</div>
                 <div *ngIf="numActivePasses === -1" class="loading-theme spinner ds-flex-center-center">
                   <mat-spinner [color]="'accent'" [diameter]="'35'"></mat-spinner>
                 </div>
               </div>
             </div>
           </div>
           <div>
             <a routerLink="/admin/hallmonitor" class="label-icon">
               <img draggable="false" [src]="getCardIcon('./assets/Walking (Navy).svg') | resolveAsset" alt="Walking (Navy).svg" width="25">
             </a>
             <div style="display: block;">
               <app-gradient-button
                 [size]="'medium'"
                 [disabled]="numActivePasses <= 0"
                 [leftIcon]="'./assets/Print (White).svg'"
                 [cursor]="numActivePasses > 0 ? 'pointer' : 'default'"
                 (buttonClick)="previewPDF()">
                 <div style="white-space: nowrap">
                  <span>Report of Students</span>
                 </div>
               </app-gradient-button>
             </div>
           </div>
         </div>
       </div>
       <div class="">
         <div class="card card__role ds-flex-center-between ds-mr-10 ds-mt-15">
           <a routerLink="/admin/hallmonitor" class="label-icon">
             <img draggable="false" [src]="getCardIcon('./assets/Walking (Navy).svg') | resolveAsset" alt="./assets/Walking (Navy).svg" width="25">
           </a>
           <div>
             <div class="card_header">
               <img draggable="false" [src]="'./assets/Report (Red).svg' | resolveAsset" alt="Report (Red).svg" width="30"
                    [style.vertical-align]="'bottom'">
               <span class="ds-pl-10" [style.color]="cardHeaderColor">Reported Students</span>
             </div>
             <div [style.min-height]="'55px'">
               <div *ngIf="!reports" class="loading-theme spinner ds-flex-center-left ds-pt-10">
                 <mat-spinner [color]="'accent'" [diameter]="'35'"></mat-spinner>
               </div>
               <div *ngIf="reports"
                    [style.padding-top]="'32px'"
                    [style.font-size]="'16px'" class="card_title"
                    [style.color]="darkTheme.getColor({white: '#7F879D', dark: '#F9F9F9'})">
                 <span *ngIf="reports.length">{{reports.length}} Reported Student<span *ngIf="reports.length > 1 || reports.length === 0 ">s</span> Today.</span>
                 <span *ngIf="!reports.length">No Reported Students Today.</span>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="">
         <div class="card card__role ds-flex-center-between ds-mt-15">
           <span class="label-icon" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">ALL TIME</span>
           <div>
             <div class="card_header" [style.color]="cardHeaderColor">Average Pass Time</div>

             <div class="card_title ds-my-20" [style.font-size]="'22px'" [style.min-height]="'55px'">
               <div *ngIf="!averagePassTime" class="loading-theme spinner ds-flex-center-left">
                 <mat-spinner [color]="'accent'" [diameter]="'35'"></mat-spinner>
               </div>
               <span *ngIf="averagePassTime"  [style.color]="darkTheme.getColor({white: '#7F879D', dark: '#F9F9F9'})">{{averagePassTime}}</span>
             </div>

           </div>
         </div>
       </div>
     </div>

     <div class="right">
       <div class="">
         <div class="card card__role ds-flex-center-between chart-container ds-ml-10 ds-mt-15">
           <div class="ds-flex-center-center loading-theme spinner chart-spinner" *ngIf="hiddenChart">
             <mat-spinner [color]="'accent'" [diameter]="'35'" class=""></mat-spinner>
           </div>
           <div>
             <div class="card_header ds-flex-center-between ds-my-20" [style.color]="cardHeaderColor">

               Pass Usage
               <div class="calendar-icon-container"
                    [ngClass]="{
                    'active-calendar-icon': activeCalendar && !darkTheme.isEnabled$.value,
                    'active-calendar-icon__dark': activeCalendar && darkTheme.isEnabled$.value
                    }">
                 <img draggable="false" [src]="calendarIcon | resolveAsset" class="calendar-icon" (click)="openDateDialog($event)">
               </div>
             </div>

             <!--Chart-->
             <div [ngStyle]="{'opacity': hiddenChart ?  .1 : 1}">
               <canvas baseChart width="380" height="260" #ctx
                       [datasets]="lineChartData"
                       [labels]="lineChartLabels"
                       [options]="lineChartOptions"
                       [colors]="lineChartColors"
                       [legend]="lineChartLegend"
                       [chartType]="lineChartType"
               ></canvas>
             </div>
           </div>
         </div>
       </div>
       <div class="">
         <div class="card card__role ds-flex-center-between ds-ml-10 ds-mb-10">
           <span class="label-icon" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">ALL TIME</span>
           <div class="ds-w-100">
             <div class="card_header" [style.color]="cardHeaderColor">
               Most Frequent Room <br> Destinations
             </div>
             <div *ngIf="passStatistic && passStatistic.length"
                  class="ds-flex-start-between ds-flex-column ds-flex-wrap ds-w-100 ds-pt-10 card_title"
                  [style.max-height]="'50px'">
               <div *ngFor="let place of passStatistic; let n = index;" [style.color]="darkTheme.getColor({white: '#7F879D', dark: '#F9F9F9'})">
                 {{n + 1}}. {{place.name}}
               </div>
             </div>
             <div *ngIf="passStatistic && !passStatistic.length" class="card_title">Unknown</div>
             <div *ngIf="!passStatistic" class="loading-theme spinner ds-flex-center-center ds-pt-10"
                  [style.min-height]="'50px'">
               <mat-spinner [color]="'accent'" [diameter]="'35'"></mat-spinner>
             </div>
           </div>
         </div>
       </div>
     </div>

   </div>
 </div>
