<div class="template">
  <h1><pre>From: <br>   Teacher: {{template.fromTeacher}} | Room: {{template.fromRoom}}</pre></h1>

  <h1><pre>To: <br>   Teacher: {{template.toTeacher}} | Room: {{template.toRoom}}</pre></h1>

  <h1><pre>Start: {{startS}} | End: {{endE}}</pre></h1>

  <h1><pre>Student: {{template.student}} | Creator: {{template.creator}}</pre></h1>

  <h1><pre>Description: {{template.description}}</pre></h1>
  <button mat-raised-button (click)="activate()"><h1>Activate Pass</h1></button><br>
</div>
<br><hr><br>
