.wrapper {
  background-color: #FFFFFF;
  width: 425px;
  height: 100%;

  .header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #1F195E;
      left: 15px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
  }
}
