@import "../../../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  width: 425px;
  height: 100%;

  .header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #1F195E;
      left: 15px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 430px;
    overflow: auto;

    .using {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .title {
        font-size: 15px;
        color: $navy;
        margin-bottom: 12px;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
}
