<div class="host" appSafariScroll>
  <div class="wrapper">
    <div class="header-container">
      <div class="header-wrapper">
        <div class="school-header" [style.background-color]="darkTheme.getBackground('high', true)">
          <div class="school-title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ (currentSchool$ | async).name }}</div>
        </div>

      </div>
    </div>


    <div class="content">
      <div class="left-block">
        <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Launch Day Prep Materials</div>
        <div class="download-button">
          <app-gradient-button
                  [size]="'small'"
                  [cursor]="'pointer'"
                  [leftIcon]="'./assets/Download (White).svg' | resolveAsset"
                  [gradient]="'#7F879D, #7F879D'"
                  (buttonClick)="redirect({link: 'https://www.smartpass.app/support/downloadallmaterials'})"
          >
            Download All
          </app-gradient-button>
        </div>

        <div class="button-collection">
          <app-school-button *ngFor="let button of buttons" [button]="button" (result)="redirect($event)"></app-school-button>
        </div>
      </div>

      <div class="right-block">
        <img [src]="'./assets/admin-images/My-School.svg' | resolveAsset" alt="My_school">
      </div>
    </div>
  </div>
</div>
