@import "../../../sp-colors";

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .host {
    background-color: #FBFEFF;
    -webkit-overflow-scrolling: touch;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 800px;
      padding: 25px 0;
      height: 100vh;
      .header-container {
        width: 100%;
        .header-wrapper {
          padding: 0 25px;
          .school-header {
            height: 99px;
            padding: 0 0 0 40px;
            box-sizing: border-box;
            border-radius: 12px;
            width: 100%;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
            background-color: #FFFFFF;
            display: flex;
            align-items: center;

            .school-title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: $navy;
            }
          }
        }
      }



      .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 190px);
        .left-block {
          width: 355px;
          margin-left: 77px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            color: $navy;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
          }

          .download-button {
            margin: 21px 0;
          }

          .button-collection {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .button {
              width: 170px;
              height: 118px;
              border-radius: 8px;
              background-color: $blue-gray;
              margin-bottom: 15px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              .button-title {
                color: white;
                font-size: 15px;
                font-weight: bold;
              }

              .description {
                font-size: 14px;
                color: white;
                width: 150px;
                text-align: center;
                margin-top: 14px;
              }
            }
          }
        }

        .right-block {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}
