<div class="host" appSafariScroll>
  <div class="set-day-wrapper" *ngIf="!openSchoolPage && loaded; else mySchool">
    <div class="set-day-header">
      <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Prepare for Launch</div>
      <div class="subtitle" [style.color]="darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">Get your school using SmartPass on day one.</div>
    </div>

    <div class="set-day-content">
      <div class="left-block">
        <div>
          <div class="selected-date">
            <div class="label" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Set a launch day</div>

            <app-date-chip [selectedDate]="selectedDate" (dateEmit)="selected($event)"></app-date-chip>

          </div>

          <div class="info-text" [style.color]="darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">
            The day your school will start using SmartPass. <br><br>
            Students won’t be able to sign in until launch day, but staff can! The 60 day free trial starts on launch day.
          </div>
        </div>

        <div class="button" *ngIf="selectedDate">
          <app-gradient-button
                  [cursor]="'pointer'"
                  [rightIcon]="'./assets/Chevron Right (White).svg'"
                  [size]="'medium'"
                  (buttonClick)="saveRequest()"
          >
            Continue
          </app-gradient-button>
        </div>
        <div class="footer-text" *ngIf="!selectedDate" [style.color]="darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">
          Don’t know your launch date yet? <span style="text-decoration: underline; cursor: pointer" (click)="openSchoolPage = true; updateProgress$.next(true);">Skip for now.</span>
          Launch dates can always be changed later.
        </div>
      </div>
      <div class="image">
        <img width="750" height="538" [src]="'./assets/admin-images/My-School.svg' | resolveAsset" alt="My_school">
      </div>
    </div>
  </div>
  <ng-template #mySchool>
    <div class="wrapper" *ngIf="openSchoolPage">
      <div class="header-container">
        <div class="header-wrapper">
          <div class="school-header" [style.background-color]="darkTheme.getBackground('high', true)">
            <div class="school-title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">{{ (currentSchool$ | async).name }}</div>
            <app-gradient-button
              [cursor]="'pointer'"
              (buttonClick)="openSettings()"
              [gradient]="'#F4F4F4, #F4F4F4'"
              [hoverColor]="'#F5F5F5'"
              [textColor]="'#1F195E'"
              [size]="'medium'"
              [leftIcon]="'./assets/Settings (Navy).svg'">
              Settings
            </app-gradient-button>
          </div>

        </div>
      </div>


      <div class="content">
        <div class="left-block">
          <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Launch Day Prep Materials</div>
          <div class="download-button">
            <app-gradient-button
              [size]="'small'"
              [cursor]="'pointer'"
              [leftIcon]="'./assets/Download (White).svg' | resolveAsset"
              [gradient]="'#7F879D, #7F879D'"
              (buttonClick)="redirect({link: 'https://www.smartpass.app/support/downloadallmaterials'})"
            >
              Download All
            </app-gradient-button>
          </div>

          <div class="button-collection">
            <app-school-button *ngFor="let button of buttons" [button]="button" (result)="redirect($event)"></app-school-button>
          </div>
        </div>

        <div class="right-block">
          <div class="start-day" *ngIf="!isLaunched; else launched">
            <div class="start-day-content">
              <div class="start-day-header">{{ selectedDate ? (countLaunchDay === 0 ? 'Launch tomorrow': countLaunchDay + ' days until launch') : 'Set a launch day'}}</div>
              <div class="start-day-info">The day your school will start using SmartPass. Students won’t be able to sign in until launch day, but staff can!</div>
              <app-date-chip [selectedDate]="selectedDate" (dateEmit)="selected($event)"></app-date-chip>
            </div>
            <div class="image">
              <img width="244" height="155" [src]="'./assets/admin-images/My-School.svg' | resolveAsset" alt="My-School">
            </div>
          </div>

          <ng-template #launched>
            <div class="start-day">
              <div class="start-day-content">
                <div class="start-day-header">Launched!</div>
                <div class="start-day-info" [style.width]="'200px'">Launch day: {{ selectedDate.format('MMMM DD, YYYY') }}</div>
              </div>
              <div class="image-launched">
                <img [src]="'./assets/admin-images/Launched.svg' | resolveAsset" alt="My-School">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>

</div>
