@import '../../../sp-colors';


.card-container {
  color: $blue-gray;
  font-size: 14px;
  background-color: #ffffFF;

  .next-step {
    position: absolute;
    height: 100%;
    width: 425px;
  }
}
