<div class="wrapper">
  <div class="options">
    <div class="option"
     #option
     *ngFor="let page of pages"
     (mouseenter)="option.hover = true"
     (mouseleave)="option.hover = false"
     [style.background-color]="selectedPage.id === page.id ? page.color : option.hover ? 'rgba(210, 210, 210, 0.3)' : '#FFFFFF'"
     appCrossPointerEventTarget
     (pointerClickEvent)="dialogRef.close(page.action)"
    >
      <div class="title" [style.color]="selectedPage.id === page.id ? '#FFFFFF' : '#7f879d'">
        <img width="20" [src]="'./assets/' + page.icon + (selectedPage.id === page.id ? ' (White)' : ' (Blue-Gray)') + '.svg' | resolveAsset" alt="Icon" style="margin-right: 15px">
        {{ page.title }}
      </div>
      <div class="check-icon">
        <img *ngIf="selectedPage.id === page.id" width="16" [src]="'./assets/Check (Navy).svg' | resolveAsset" alt="Check">
      </div>
    </div>
  </div>
</div>
