<div class="nav-wrapper">

  <div class="nav-header">
    <app-smartpass-logo></app-smartpass-logo>
  </div>

  <div class="divider"></div>
  <div class="nav-buttons">
    <div *ngIf="!(fakeMenu | async)">
      <div *ngFor="let button of buttons">
        <ng-container *ngIf="hasRoles(button.requiredRoles) | async">
          <app-nav-button
            [style.margin-bottom]="'15px'"
            [selected]="isSelected(button.route)"
            [content]="button.title"
            [icon]="button.imgUrl"
            (onClick)="route(button.route)">
          </app-nav-button>
        </ng-container>
      </div>
    </div>
    <div *ngFor="let button of buttons">
      <ng-container *ngIf="fakeMenu | async">
          <app-nav-button
            [style.margin-bottom]="'15px'"
            [content]="button.title"
            [icon]="button.imgUrl">
          </app-nav-button>
      </ng-container>
    </div>
  </div>
  <div class="nav-footer">
    <div class="footer-text">{{(user?user.display_name:'')}}</div>
    <div>
      <img draggable="false" (click)="router.navigateByUrl('/main/passes')" class="footer-settings" [src]="'./assets/Switch Account (Blue).png' | resolveAsset" alt="" *ngIf="hasRoles(['_profile_teacher', '_profile_admin'])">
      <!--<div [ngClass]="{'active-route': isSelected('settings')}">-->
        <img draggable="false" (click)="router.navigateByUrl('/admin/settings')" [ngClass]="{'active-route': isSelected('settings')}" class="footer-settings" [src]="'./assets/Gear (Blue).png' | resolveAsset" alt="">
      <!--</div>-->
    </div>
  </div>
</div>
