<div class="wrapper" #scrollableArea>
	<div class="content">
		<div class="folder-name" style="width: 289px">
			<app-input
				[dataCy]="'pinnable-title-inp'"
				[width]="'275px'"
				[maxLength]="'17'"
				[input_label]="'Folder Name'"
				[input_value]="folderName !== 'New Folder' ? folderName : ''"
				(onUpdate)="folderName = $event === '' ? 'New Folder' : $event"
				[formGroup]="form"
				[isFocus]="currentPage === 3"
				[controlName]="form.get('folderName')"
				(blurEvent)="overlayService.folderNameBlur$.next($event)">
			</app-input>
		</div>
		<div class="block">
			<div class="line">
				<div class="toggle">
					<app-toggle-input
						[form]="form"
						[controlName]="'countsTowardsPassLimits'"
						[delimiter]="false"
						[controlSize]="'small'"
						[hasIcon]="true"
						[icon]="'./assets/Locked (Navy).svg'"
						[color]="'#1F195E'"
						(pushOutValue)="form.get('countsTowardsPassLimits').setValue($event)"></app-toggle-input>
				</div>
				<div class="toggle-content">
					<div class="title-line">
						<div class="label" [style.color]="form.get('countsTowardsPassLimits').value ? '#1F194E' : '#7F879D'">Counts toward Pass Limits</div>
						<img [customToolTip]="tooltipText.ignore_students_pass_limit" class="support-icon" [src]="'./assets/Support (Gray).svg' | resolveAsset" />
					</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="line">
				<div class="toggle">
					<app-toggle-input
						[form]="form"
						[controlName]="'showAsOriginRoom'"
						[delimiter]="false"
						[controlSize]="'small'"
						[hasIcon]="true"
						[icon]="'./assets/Locked (Navy).svg'"
						[color]="'#1F195E'"
						(pushOutValue)="form.get('showAsOriginRoom').setValue($event)"></app-toggle-input>
				</div>
				<div class="toggle-content">
					<div class="title-line">
						<div class="label" [style.color]="form.get('countsTowardsPassLimits').value ? '#1F194E' : '#7F879D'">Show as Origin Room</div>
						<img [customToolTip]="tooltipText.show_as_origin_room" class="support-icon" [src]="'./assets/Support (Gray).svg' | resolveAsset" />
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="folderRoomsLoaded; else folderRoomsLoading">
			<div class="rooms-wrapper rooms-in-folder">
				<div class="sticky" *ngIf="roomsInFolder.length">
					<div class="rooms-in-folder-title">
						<div class="all-rooms-checkbox">
							<mat-checkbox
								style="margin-left: 12px; margin-right: 15px"
								[checked]="roomsInFolder.length === selectedRooms.length"
								[indeterminate]="!!selectedRooms.length && selectedRooms.length < roomsInFolder.length"
								(change)="selectedRoomsEvent($event, null, true)">
							</mat-checkbox>
						</div>
						<div class="rooms-length-title">Rooms in Folder ({{ roomsInFolder.length }})</div>
					</div>
					<mat-divider style="margin-top: 9px"></mat-divider>
				</div>
				<div class="rooms-in-folder-content">
					<div class="rooms-list" *ngIf="roomsInFolder.length > 0">
						<mat-list>
							<div *ngFor="let room of sortSelectedRooms">
								<div
									data-cy="room-in-folder"
									class="room">
									<mat-checkbox style="margin-left: 12px" [checked]="selectedRooms.includes(room)" (change)="selectedRoomsEvent($event, room)"> </mat-checkbox>
									<div class="room-edit" (click)="setToEditRoom(room)">
										<mat-list-item>
											{{ room.title }}
											<div class="disabled-block" *ngIf="!room.enable">Closed</div>
										</mat-list-item>
										<img
											style="margin-right: 10px"
											draggable="false"
											width="22"
											height="25"
											[src]="'./assets/Chevron Right (Blue-Gray).svg' | resolveAsset" />
									</div>
								</div>
								<mat-divider></mat-divider>
							</div>
						</mat-list>
					</div>

					<div class="content-buttons-in-folder button-column">
						<div
							class="sticky-button"
							[ngClass]="{ 'sticky-button': roomsInFolder.length }"
							[style.display]="roomsInFolder.length ? 'block' : 'flex'"
							*ngIf="!selectedRooms.length; else selectedButtons">
							<div class="button-in-folder gd-button" *ngFor="let button of buttonsInFolder">
								<app-gradient-button
									[minHeight]="'35px'"
									[style.width]="'120px'"
									[cursor]="'pointer'"
									[fontSize]="'12px'"
									(buttonClick)="stickyButtonClick(button.page)"
									[leftIcon]="button.icon"
									[leftImageWidth]="'10px'"
									[leftImageHeight]="'10px'">
									{{ button.title }}
								</app-gradient-button>
							</div>
						</div>
						<ng-template #selectedButtons>
							<div class="sticky-button">
								<div class="button-in-folder gd-button" *ngFor="let button of buttonsWithSelectedRooms">
									<app-gradient-button
										[minHeight]="'35px'"
										[hoverColor]="button.hover"
										[gradient]="button.color"
										[style.width]="button.width"
										[textColor]="button.textColor"
										[cursor]="'pointer'"
										[fontSize]="'12px'"
										(buttonClick)="stickyButtonClick(button.action)">
										{{ button.title }}
									</app-gradient-button>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
				<div class="not-rooms-in-folder" *ngIf="!roomsInFolder.length && folderRoomsLoaded">
					<img [src]="'./assets/emptyStates/undraw_add_file2_gvbb.svg' | resolveAsset" alt="emptyState" />
					<div class="emptyText">Add rooms to the folder.</div>
				</div>
			</div>
		</div>
		<ng-template #folderRoomsLoading>
			<div class="loading-theme_blue-gray spinner loading-spinner">
				<mat-spinner style="margin: auto" [diameter]="30" [color]="'accent'"></mat-spinner>
			</div>
		</ng-template>

		<div class="delete-button" *ngIf="currentPage === 4 && folderRoomsLoaded">
			<app-gradient-button
				[hoverColor]="'#DA2370'"
				[gradient]="'#E32C66, #E32C66'"
				[minHeight]="'40px'"
				[style.width]="'140px'"
				[cursor]="'pointer'"
				[fontSize]="'14px'"
				(buttonClick)="deleteRoom($event.target)">
				Delete folder</app-gradient-button
			>

			<div class="delete-info-text">
				Deleting a folder will permanently delete all rooms in the folder, but will not delete any active, scheduled, or expired passes to or from the
				rooms in this folder.
			</div>
		</div>
	</div>
</div>
