<div class="wrapper">
  <div class="content">
    <div class="folder-name">
      <app-input
              [width]="'289px'"
              [maxLength]="17"
              [input_label]="'Folder Name'"
              [input_value]="(folderData.folderName !== 'New Folder' ? folderData.folderName : '')"
              (onUpdate)="folderData.folderName = $event === '' ? 'New Folder': $event;"
              [formGroup]="form"
              [isFocus]="currentPage === 3"
              [controlName]="form.get('folderName')"
              (blurEvent)="overlayService.roomNameBlur$.next($event)"
      >
      </app-input>
    </div>

    <div class="sticky" *ngIf="roomsImFolder.length">
      <div class="rooms-in-folder-title">
        <div class="all-rooms-checkbox">
          <mat-checkbox style="margin-left: 12px; margin-right: 15px"
                        [checked]="roomsImFolder.length === selectedRooms.length"
                        [indeterminate]="roomsImFolder.length && roomsImFolder.length < selectedRooms.length"
                        (change)="selectedRoomsEvent($event, null, true)"
          >
          </mat-checkbox>
        </div>
        <div class="rooms-length-title">
          Rooms in Folder ({{ selectedRooms.length }})
        </div>
      </div>
      <mat-divider style="margin-top: 9px"></mat-divider>
    </div>
    <div class="rooms-in-folder-content">
      <div class="not-rooms-in-folder" *ngIf="!roomsImFolder.length && folderRoomsLoaded">
        <img [src]="'./assets/emptyStates/undraw_add_file2_gvbb.svg' | resolveAsset" alt="emptyState">
        <div class="emptyText editRoomInFolder ? 'Save' :">Add rooms to the folder.</div>
      </div>
      <div class="rooms-list" #roomList *ngIf="roomsImFolder.length > 0">
        <mat-list>
          <div *ngFor="let room of sortSelectedRooms">
            <div
                    class="room"
                    #cell
                    (mouseenter)="cell.hovered = true;"
                    (mouseleave)="cell.hovered = false;"
                    (mousedown)="cell.pressed = true"
                    (mouseup)="cell.pressed = false"
                    [style.background-color]="getBackgroundColor(cell)"
                    [style.color]="textColor(cell)"
            >
              <mat-checkbox style="margin-left: 12px" [checked]="isSelected(room)" (change)="selectedRoomsEvent($event, room)">
              </mat-checkbox>
              <div class="room-edit">
                <mat-list-item>{{ room.title }}</mat-list-item>
                <img draggable="false" width="22" height="25" [src]="'./assets/Chevron Right (Blue-Gray).svg' | resolveAsset">
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </div>
  </div>
</div>