@import '../../../../../design-system';
@import '../../../../../sp-colors';

.pass-limit-dialog {
  padding: 25px;
  display: flex;
  gap: 20px;
  height: calc(100% - 50px);
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, .4);


  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .main-text {
      @include textSize(17px, bold);
    }

    .supporting-text {
      @include textSize(15px, normal, $blue-gray);
      padding-bottom: 20px;
    }


    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
