<div class="to-wrapperr" style="opacity: 1" [ngClass]="{ 'to-wrapper-to-date': formState.forLater && formState.formMode.role === 1, 'to-wrapper': !formState.forLater || formState.formMode.role !== 1}">
  <div class="" [ngClass]="{'to-header': formState.previousState === states.from && formState.previousStep <= formState.step, 'to-header-back': formState.previousState === states.category || formState.previousStep === 4 }" [style.background-image]="'radial-gradient(circle at 98% 97%, #FFFFFF, #FFFFFF)'">
    <img class="back-button back-button-grey" [src]="'./assets/Combined Shape.svg' | resolveAsset" (click)="back()">
    <div class="to-header-text">
      <img class="search-icon" [src]="'./assets/Search (Blue).png' | resolveAsset">
      <div class="text">To where? {{formState.previousStep}}</div>
    </div>
  </div>

  <div class="to-content">
    <div class="pin-collection">
      <mat-grid-list class="grid center" cols="3" rowHeight="75px" gutterSize="10px" [style.width]="'395px'">
        <mat-grid-tile *ngFor="let pinnable of pinnables | async">
          <app-pinnable [valid]="(pinnable.location && location ? pinnable.location.id != location.id : true)" [forStaff]="isStaff" [forLater]="!!date" [pinnable]="pinnable" (onSelectEvent)="pinnableSelected($event)"></app-pinnable>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <app-student-footer *ngIf="!isStaff" [formState]="formState" [state]="'to'" [date]="date"></app-student-footer>
  <app-teacher-footer *ngIf="isStaff" [fromLocation]="location" [formState]="formState" [state]="'to'" [studentText]="studentText" [date]="date"></app-teacher-footer>

</div>
