.to-wrapper, .to-wrapper-to-date {
  width: 425px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  .to-header {
    width: 100%;
    height: 64px;
    display: flex;
    z-index: 10;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

    .back-button {
      width: 26px;
      height: 26px;
      margin-left: 20px;
      position: absolute;
      user-select: none;
      cursor: pointer;
    }

    .to-header-text {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .search-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      .text {
        color: #1F195E;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.3px;
      }
    }
  }

  .to-content {
    height: 363px;
    overflow: auto;
    position: relative;
    z-index: 1;

    .pin-collection {
      margin: 10px;
    }
  }

  .to-footer {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 0px 8px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    bottom: 0;

    .footer-from-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .footer-text {
        color: #1F195E;
      }
    }

    .footer-icon {
      width: 48px;
      height: 10px;
      margin: 0 15px 0 15px;
    }
  }
  .center-text {
    display: flex;
    align-items: center;
    padding: 7px;
  }
  mat-grid-tile {
   overflow: inherit !important;
  }
}
