<div class="wrapper">
  <div class="back-button">
    <img width="28" [src]="'./assets/Back Button (White).svg'" alt="Back">
  </div>

  <div class="content">
    <div class="header">Sync your accounts from your G Suite</div>
    <div class="title">
      Automatically syncs new and updated accounts every 4 hours.
    </div>

    <div class="manual-set-up">
      <div class="manual-title">
        <img width="19" style="margin-right: 9px" [src]="'./assets/Latter (Navy).svg'" alt="latter">
        Manual set-up
      </div>
      <div class="subtitle">Send an email to <a style="color: #7f879d; outline: none" href="http://support@smartpass.app" target="_blank">support@smartpass.app</a> to set up G Suite sync.</div>
    </div>
  </div>
</div>
