<div class="wrapper">
<div class="background" [style.background]="gradient" [attr.data-motion-opacity]="(frameMotion$ | async).direction"></div>
<img appCrossPointerEventTarget (pointerClickEvent)="back.emit()" class="back-button" width="28" [src]="'./assets/Back Button (White).svg'" alt="Back">

<div class="content" [attr.data-motion-translate]="(frameMotion$ | async).direction">
  <div class="integrations" style="z-index: 10">
    <img width="30" height="30" [src]="'./assets/google/google_logo.svg'" alt="">
  </div>
  <div class="header">Sync your accounts from G Suite</div>
  <div class="info-list">
    <div class="info">
      <img width="24" height="24" [src]="'./assets/Check (White).svg' | resolveAsset">
      <div class="title">
        Google SSO - Students/Staff sign in with their existing school accounts.
      </div>
    </div>
    <div class="info" style="margin-top: 13px">
      <img width="24" height="24" [src]="'./assets/Check (White).svg' | resolveAsset">
      <div class="title">
        Recommended for schools that use Chromebooks.
      </div>
    </div>
    <div class="info" style="margin-top: 13px">
      <img width="24" height="24" [src]="'./assets/Check (White).svg' | resolveAsset">
      <div class="title">Easy to setup, takes about 15 minutes.</div>
    </div>
  </div>
</div>
<!--  <mat-divider class="divider" [style.border-top-color]="'#D8D8D8'"></mat-divider>-->

<div class="footer" [style.margin-top]="'25px'">
  <app-gradient-button
    [gradient]="'#FFFFFF, #FFFFFF'"
    [size]="'medium'"
    [textColor]="'#484CE6'"
    (buttonClick)="nextPage.emit()"
  >Continue
  </app-gradient-button>
</div>
</div>
