<div class="host">
  <div class="close-icon" (pointerup)="close()">
    <img [width]="35" [src]="'./assets/Cancel (Search-Gray).svg'" alt="Cancel (Search-Gray).svg">
  </div>
  <div class="ds-big-heading">
    Don’t have an account?
  </div>
  <div class="ds-my-25 description" style="text-align: center;">
    Administrators, sign up your school with SmartPass in minutes. Schedule a demo with us or get started right away.
  </div>

  <div class="ds-flex-center-center ds-mt-15">
    <div class="button" (pointerup)="schoolSignup()">Get Started</div>
  </div>
</div>
