 <p-dataView [value]="pendingPasses" [paginator]="true"
            [rows]="6" paginatorPosition="both" filterBy="id"
            [sortField]="sortField" [sortOrder]="sortOrder"
            layout="grid">

    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by brand" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
            </div>
        </div>
    </p-header>

    <ng-template let-pendingPass pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="pendingPass.students" [style]="{'text-align':'center'}">
                <img src="assets/showcase/images/demo/pendingPass/{{pendingPass.brand}}.png" width="60">
                <div class="pendingPass-detail">{{pendingPass.to_location.nameRoom}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton type="button" icon="fa-search" (click)="selectCar($event, pendingPass)" style="margin-top:0"></button>
            </p-panel>
        </div>
    </ng-template>

</p-dataView>

<!-- <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedCar">
        <div class="ui-g-12" style="text-align:center">
            <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
        </div>
        <div class="ui-g-4">Vin: </div>
        <div class="ui-g-8">{{selectedCar.vin}}</div>

        <div class="ui-g-4">Brand: </div>
        <div class="ui-g-8">{{selectedCar.brand}}</div>

        <div class="ui-g-4">Year: </div>
        <div class="ui-g-8">{{selectedCar.year}}</div>

        <div class="ui-g-4">Color: </div>
        <div class="ui-g-8">{{selectedCar.color}}</div>
    </div>
</p-dialog> -->