 <p-dataView [value]="pendingPasses | async" [paginator]="true"
            [rows]="20" paginatorPosition="both" filterBy="id"
            [sortField]="sortField" [sortOrder]="sortOrder"
            layout="grid">

    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Pass Type" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
                </div>
            </div>
        </div>
    </p-header>

    <ng-template let-currentPass pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <app-pass-card [pass]="currentPass" [title]="title"
                            [showActivate]="false" [isPending]="isPending"
                            [forTeacher]="true">
            </app-pass-card>
        </div>
    </ng-template>

</p-dataView>