<div class="category-wrapper">
  <div class="category-header" [style.background-image]="headerGradient" *ngIf="animatedComponetVivibility" [@HeaderShowingUp]>
    <img class="back-button" [src]="'./assets/Back Button (White).png' | resolveAsset" (click)="back()">
    <div class="category-header-text">
      <img class="search-icon" [src]="pinnable.icon | resolveAsset">
      <div class="text">{{pinnable.category}}</div>
    </div>
  </div>

    <div class="category-content" *ngIf="animatedComponetVivibility" [@BodyShowingUp]="{value: '', params: frameMotion$ | async}">
      <app-location-table
        class="center"
        (onSelect)="locationChosen($event)"
        [forStaff]="isStaff"
        [hasLocks]="true"
        [inputWidth]="'240px'"
        [horizontalTable]="false"
        [category]="pinnable.category"
        [invalidLocation]="(fromLocation ? +fromLocation.id : '')"
        [type]="'location'"
        [placeholder]="'Search ' + pinnable.category" >
      </app-location-table>
    </div>
    <div class="shadow"></div>
    <app-student-footer *ngIf="!isStaff && animatedComponetVivibility" [formState]="formState" [state]="'category'" [date]="date" [@HeaderShowingUp]></app-student-footer>
    <app-teacher-footer [fromLocation]="fromLocation" [formState]="formState" *ngIf="isStaff && animatedComponetVivibility" [state]="'category'" [date]="date" [studentText]="studentText" [@HeaderShowingUp]></app-teacher-footer>
</div>
