.overlay-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overlay-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 900;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

::ng-deep .tooltip {
  padding: 15px;
  color: #7f879d !important;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

.tooltip-container {
  position: relative;
  height: 100%;
  .arrow-down-container{
    opacity: 0;
    transition: .25s ease;
    position: absolute;
    bottom: -8px;
    width: 25px;
    height: 10px;
    margin-left: 5px;
    overflow: hidden;
    .arrow-down {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 4px;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }


}


.overlay-content {
  display: flex;
  justify-content: space-between;
  height: 480px;
}

.room-edit {
  display: flex;
  align-items: center;
  width: 235px;

  img {
    width: 25px;
    height: 22px;
    margin-right: 15px;
  }
}

.title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.back-button {
  width: 32px;
  height: 32px;
  //margin-left: 20px;
  cursor: pointer;
}

.cancel-button {
  color: white;
  cursor: pointer;
}

.left-buttons {
  width: 53px;
  margin-left: 30px;
}

.left-content-wrapper, .right-content-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}
.bottom-shadow-hint {
  box-shadow: -30px 0 30px 20px #FFFFFF;
  position: absolute;
  bottom: 0;
  //left: -10px;
  width: 100%;
}

.right-content-wrapper {
  .bottom-shadow-hint {
    box-shadow: -30px 0 30px 40px #FFFFFF;
  }
}

.left-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  height: 100%;
  .room-inputs {
    display: flex;
    margin: 30px 25px;

    .room-number {
      width: 22%;
      margin-left: 14%;
    }

    .room-name {
        width: 50%;
    }
  }

  .teacher-search {
    margin: 10px 0 0 25px;
    width: 82%;

    .teacher-title {
      color: #1D1A5E;
      font-weight: bold;
      display: flex;
    }
  }

  .travel-picker {
    margin: 30px 0 0 25px;

  }

  .toggle-label {
    //margin-left: 54px;
    margin-bottom: 10px;
    color: #1d1a5e;
    font-weight: bolder;
    display: flex;
  }

  .restriction-settings {
    display: flex;

    .restriction-picker-1 {
      margin: 50px 0 0 25px;
      min-width: 220px;
    }

    .restriction-picker-2 {
      margin: 50px 0 0 90px;
      min-width: 220px;

    }
  }

  .time-limit {
    width: 115px;
    margin: 30px 0 0 45px;
  }
}

.divider {
  width: 1px;
  //height: 700px;
  background: darkgray;
  margin: 0 20px 0 0px;
}


.right-content {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 100%;
  align-items: center;
  overflow: auto;
  position: relative;

  .right-content-title{
    text-align: center;
    color: #0c3a75;
    font-size: 22px;
    font-weight: bolder;
    margin-right: 20px;
  }
  .color-picker {
    margin: 15px 0 30px 0;
  }
  .icon-picker {
    margin: 0 0 30px 0;
  }
}

.isEdit {
  margin-left: 3%;
  position: relative; width: 65px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.isEdit-checkbox {
  display: none;
}
.isEdit-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 37px; padding: 0; line-height: 37px;
  border: 2px solid #E3E3E3; border-radius: 37px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.isEdit-label:before {
  content: "";
  display: block; width: 37px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 26px;
  border: 2px solid #E3E3E3; border-radius: 37px;
  transition: all 0.3s ease-in 0s;
}
.isEdit-checkbox:checked + .isEdit-label {
  background-color: #46E3EB;
}
.isEdit-checkbox:checked + .isEdit-label, .isEdit-checkbox:checked + .isEdit-label:before {
  border-color: #46E3EB;
}
.isEdit-checkbox:checked + .isEdit-label:before {
  right: 0px;
}

.button {
  width: 121px;
  height: 40px;
  background: #a99cff;
  border-radius: 10px;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.button:hover {
  width: 123px;
  height: 42px;
}

.checkbox {
  margin-left: 4%;
  width: 13%;
}

.title {
  color: white;
}

.rooms-in-folder {
  margin: 50px;

  .rooms-in-folder-title{
    color: #1d1a5e;
    font-weight: bolder;
  }
  .rooms-in-folder-content {

  }

  .not-rooms-in-folder {
    color: #8e8e93;
    font-weight: bold;
    margin: 40px 0 0 40px;
  }

  .content-buttons-in-folder {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .button-in-folder {
      margin-left: 15px;
    }
  }

}

.add-existing-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .existing-room-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px darkgrey;
    width: 594px;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    border-radius: 12px;

    .header-title {
      margin-right: 157px;
      font-weight: bolder;
      font-size: 19px;
      color: gray;
    }
    .back-button {
      width: 40px;
      height: 40px;
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .info-text {
    color: #8e8e93;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 30px 0;
  }

  .add-rooms-button {
    display: flex;
    align-items: center;
    margin: 30px 0 30px;

    .selected-rooms-text {
      margin-right: 26px;
      font-weight: bolder;
      color: #1d1a5e;
    }
  }
}

.new-room-in-folder {
  display: flex;
  align-items: center;
  flex-direction: column;

  .new-room-in-folder-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 594px;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    border-radius: 12px;

    .room-in-folder-title-inactive {
      font-weight: bolder;
      font-size: 19px;
      color: #7f879d;
    }

    .room-in-folder-title-active {
      font-weight: bolder;
      font-size: 19px;
      color: #1d1a5e;
    }

    .header-in-folder-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 41px;
      margin-right: 20px;
    }

    .back-button {
      width: 40px;
      height: 40px;
      //margin-left: 20px;
      cursor: pointer;
    }

    .cancel-button-in-folder-header {
      //margin-left: 20px;
      font-weight: bold;
      cursor: pointer;
    }

  }
}

.inactive {
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 119%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}

.import-rooms-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .import-rooms-info {
    color: #7f879d;
    font-size: 18px;
    text-align: center;
    width: 530px;
    margin-top: 57px;
  }

  .download-template-link {
    font-size: 18px;
    margin-top: 30px;
    font-weight: bolder;
    cursor: pointer;
    color: #1d1a5e;
    text-decoration: none;
    display: inline-block;
  }

  .choose-file {
    display: flex;
    width: 285px;
    height: 110px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px darkgrey;
    border-radius: 20px;
    margin-top: 46px;
    cursor: pointer;

    .choose-icon {
      width: 50px;
      height: 50px;
    }

    .choose-text {
      font-size: 22px;
      font-weight: bolder;
      color: darkgray;
      margin-left: 8px;
    }
  }
}

.edit-rooms-info {
  font-weight: bolder;
  color: darkgray;
  margin: 30px 0 30px 0;
}

.edit-right-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .edit-right-title {
    font-size: 19px;
    margin-bottom: 12px;
    font-weight: bolder;
    color: #1d1a5e;
  }
}

.edit-rooms-left-content {
  display: flex;
  justify-content: center;

  .edit-rooms-left-title{
    font-weight: bolder;
    color: darkgray;
    margin: 30px 0 30px 0;
  }
}

.selected-room {
  margin: 10px;
}

.rooms-list {
  width: 276px;
  margin-top: 7px;
  //height: 264px;

  mat-list-item {
    width: 240px;
  }
  .room {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  list-divider {
    width: 100%;
    height: 1px;
    background-color: darkgray;
  }
  .room:hover {
    background-color: #dce2e7;
  }
}

.rooms-scrolling {
  display: flex;
  //height: 280px;
}

.button-column {
  align-items: center;
  flex-direction: column;
  margin-left: 65px;

  .gd-button {
    margin-bottom: 10px;
  }
}

.footer-delete-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-info-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: darkgray;
  }
}

.bulk-warning-text {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  color: darkgray;
}

.support-icon {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  cursor: pointer;
}
.support-icon:hover + .arrow-down-container {
  opacity: 1;
}
