@import '../../../sp-colors';

.overlay-container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.overlay-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 900;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;

}

::ng-deep .tooltip {
  padding: 15px;
  color: #7f879d !important;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

.tooltip-container {
  position: relative;
  height: 100%;
  .arrow-down-container{
    opacity: 0;
    transition: .25s ease;
    position: absolute;
    bottom: -8px;
    width: 25px;
    height: 10px;
    margin-left: 5px;
    overflow: hidden;
    .arrow-down {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 4px;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }


}


.overlay-content {
  display: flex;
  justify-content: space-between;
  height: 430px;
}

.room-edit {
  display: flex;
  align-items: center;
  width: 235px;

  img {
    width: 25px;
    height: 22px;
    margin-right: 15px;
  }
}

.title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;

  .title-icon {
    width: 21px;
    height: 21px;
    margin-right: 12px;
  }
}

.back-button {
  width: 28px;
  height: 28px;
  //margin-left: 20px;
  cursor: pointer;
}

.cancel-button {
  font-size: 15px;
  cursor: pointer;
}

.left-buttons {
  position: absolute;
  left: 20px;
}

.left-content-wrapper, .right-content-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}
.bottom-shadow-hint {
  box-shadow: -30px 0 30px 20px #FFFFFF;
  position: absolute;
  bottom: 0;
  //left: -10px;
  width: 100%;
}

.right-content-wrapper {
  .bottom-shadow-hint {
    box-shadow: -30px 0 30px 40px #FFFFFF;
  }
}

.left-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  height: 100%;
  width: 614px;
  .room-inputs {
    display: flex;
    margin: 20px 25px;

    .room-number {
      margin-left: 14%;
    }

    .room-name {
        //width: 50%;
    }
  }

  .teacher-search {
    margin: 10px 0 0 25px;
    width: 82%;

    .teacher-title {
      color: #1D1A5E;
      font-weight: bold;
      font-size: 15px;
      display: flex;
    }
  }

  .travel-picker {
    margin: 30px 0 0 25px;

  }

  .toggle-label {
    margin-bottom: 10px;
    color: #1d1a5e;
    font-weight: bold;
    font-size: 15px;
    display: flex;
  }

  .restriction-settings {
    display: flex;

    .restriction-picker-1 {
      margin: 10px 0 0 25px;
    }

    .restriction-picker-2 {
      margin: 10px 0 0 50px;

    }
  }

  .time-limit {
    margin: 30px 0 0 30px;
  }
}

.divider {
  width: 1px;
  //height: 700px;
  background: #7F879D;
  //margin: 0 12px 0 0px;
}


.right-content {
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 100%;
  align-items: center;
  overflow: auto;
  position: relative;

  .right-content-title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .color-picker {
    margin: 15px 0 30px 0;
  }
  .icon-picker {
    margin: 0 0 30px 0;
  }
}

.isEdit {
  margin-left: 3%;
  position: relative; width: 65px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.isEdit-checkbox {
  display: none;
}
.isEdit-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 37px; padding: 0; line-height: 37px;
  border: 2px solid #E3E3E3; border-radius: 37px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.isEdit-label:before {
  content: "";
  display: block; width: 37px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 26px;
  border: 2px solid #E3E3E3; border-radius: 37px;
  transition: all 0.3s ease-in 0s;
}
.isEdit-checkbox:checked + .isEdit-label {
  background-color: #46E3EB;
}
.isEdit-checkbox:checked + .isEdit-label, .isEdit-checkbox:checked + .isEdit-label:before {
  border-color: #46E3EB;
}
.isEdit-checkbox:checked + .isEdit-label:before {
  right: 0px;
}

.button {
  width: 121px;
  height: 40px;
  background: #a99cff;
  border-radius: 10px;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.button:hover {
  width: 123px;
  height: 42px;
}

.checkbox {
  margin-left: 4%;
  width: 13%;
}

.rooms-in-folder {
  margin: 10px 50px 50px 20px;

  .rooms-in-folder-title{
    display: flex;
    align-items: center;
    color: #1d1a5e;
    font-size: 15px;
    font-weight: bold;
  }
  .rooms-in-folder-content {
    display: flex;
    justify-content: space-between;
  }

  .not-rooms-in-folder {
    color: #7F879D;
    font-weight: bold;
    margin: 40px 0 0 40px;
  }

  .content-buttons-in-folder {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;

    .button-in-folder {
      margin-left: 15px;
    }
  }

}
.new-room-in-folder {
  display: flex;
  align-items: center;
  flex-direction: column;

  .new-room-in-folder-header {
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    height: 78px;
    width: 100%;
    position: relative;

    .room-in-folder-title-inactive {
      font-weight: bold;
      font-size: 17px;
      color: #7F879D;
    }

    .room-in-folder-title-active {
      font-weight: bold;
      font-size: 16px;
      color: $navy;
    }

    .header-in-folder-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 41px;
      position: absolute;
      right: 20px;
    }

    .back-button {
      width: 123px;
      height: 78px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      left: 0;

      &:hover {
        background-color: #ECF1FF;
      }
    }

    .cancel-button-in-folder-header {
      font-weight: bold;
      cursor: pointer;
      color: $navy;
      position: absolute;
      left: 25px;
    }

  }
}

.inactive {
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 119%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}

.import-rooms-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  .import-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 32px 0 32px;
    .template-and-info {
      width: 227px;
      .import-rooms-info {
        color: #7F879D;
        font-size: 14px;
        text-align: center;
        //width: 85%;
        margin-top: 25px;
      }
    }

    .download-template-link {
      //font-size: 18px;
      //margin-top: 30px;
      font-weight: bolder;
      cursor: pointer;
      color: #1E194F;
      text-decoration: none;
      display: inline-block;
    }

    .choose-file {
      display: flex;
      width: 285px;
      height: 110px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px darkgrey;
      border-radius: 20px;
      margin-top: 46px;
      cursor: pointer;

      .choose-icon {
        width: 50px;
        height: 50px;
      }

      .choose-text {
        font-size: 22px;
        font-weight: bolder;
        color: #7F879D;
        margin-left: 8px;
      }
    }
    .uploading-area {
      margin-top: 25px;
      width: 460px;
      height: 120px;
      border: 2px dashed #7F879D;
      color: #7F879D;
      font-size: 14px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .choose-file-inline {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .uploading-progress {
      width: 206px;
      height: 50px;
      color: #1F194E;
      font-weight: bold;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 38px;
    }
  }
  .slide-center {
    transition: all .75s ease;
    position: relative;
    margin-left: calc(50% - 84px);
  }
  .issues-screen {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .issues-container {
      overflow: auto;
      flex: 1 1 70%;
      max-height: 70%;
    }
  }
}

.edit-rooms-info {
  font-size: 14px;
  color: #7F879D;
  margin: 20px 30px 0 30px;
}

.edit-right-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .edit-right-title {
    font-size: 19px;
    margin-bottom: 12px;
    font-weight: bolder;
    color: #1d1a5e;
  }
}

.edit-rooms-left-content {
  display: flex;
  justify-content: center;

  .edit-rooms-left-title{
    color: #7F879D;
    margin: 30px 0 0 30px;
  }
}
.selected-rooms {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
.selected-room {
  margin: 5px;
}

.rooms-list {
  width: 276px;
  margin-top: 7px;
  //height: 264px;

  mat-list-item {
    width: 240px;
  }
  .room {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .list-divider {
    width: 100%;
    height: 1px;
    background-color: #7F879D;
  }
  .room:hover {
    background-color: #dce2e7;
  }
}

.rooms-scrolling {
  display: flex;
  //height: 280px;
}

.button-column {
  align-items: center;
  flex-direction: column;

  .gd-button {
    margin-bottom: 10px;
  }
}

.footer-delete-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-info-text {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 36px;
    color: #7F879D;
    font-size: 14px;
  }
}

.bulk-warning-text {
  width: 90%;
  margin-left: 30px;
  color: #7F879D;
}

.support-icon {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  cursor: help;
}
.support-icon:hover + .arrow-down-container {
  opacity: 1;
}

.sticky {
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 45px;
  justify-content: flex-end;
  background: white;
}

.sticky-button {
  position: sticky;
  top: 100px;
}

.advanced-options {
  margin-top: 35px;
}

.appearance-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px
}
