<form [formGroup]="form"
      (dragenter)="handleDragEvent($event, '#00B476')"
      (dragover)="handleDragEvent($event, '#00B476')"
      (dragleave)="handleDragEvent($event, '#7F879D')"
      (drop)="catchFile($event)"
>
<div class="wrapper">
  <div class="header" [ngStyle]="{'background-image': gradientColor}">
    <div class="left-button">
      <img class="back-button" draggable="false"
           *ngIf="!showCancelButton && !disabledRightBlock"
           alt="Go Back"
           [src]="'./assets/' + (titleColor === 'white' ? 'Back Button (Light-Gray).svg' : 'Back Button (Blue-White).svg') | resolveAsset"
           (click)="back()"
      >
      <div class="cancel-button" [style.color]="titleColor" *ngIf="showCancelButton" (click)="back()">Cancel</div>
    </div>

    <div class="title" [style.color]="titleColor">
      <img draggable="false" class="title-icon" *ngIf="titleIcon" [src]="titleIcon | resolveAsset">
      {{ roomTitle }}
    </div>

    <div class="right-button">
      <app-gradient-button *ngIf="isAllowedSave && (showCancelButton || currentPage === 1 || currentPage === 3)"
       [disabled]="isFormIncomplete"
       [minHeight]="'40px'"
       [style.width]="'120px'"
       [gradient]="!color_profile || currentPage === 9 ? '#00B476, #00B476' : '#FFFFFF, #FFFFFF'"
       [textColor]="color_profile ? color_profile.solid_color : 'White'"
       [cursor]="'pointer'"
       [fontSize]="'14px'"
       (buttonClick)="onPublish()"
       (disabledButtonClick)="showFormErrors()"
       [matTooltip]="saveButtonToolTip"
        matTooltipClass="ds-tooltip"
        >
        <span *ngIf="!showPublishSpinner">Save</span>
        <div class="loading-theme_blue-gray" [style.color]="'red'" *ngIf="showPublishSpinner" >
          <mat-spinner  [diameter]="30"></mat-spinner>
        </div>
      </app-gradient-button>

      <div *ngIf="showIncompleteButton" [style.color]="titleColor">Incomplete</div>

    </div>
  </div>

  <div class="content">
    <div class="left-block">
      <div class="block" #block>
        <app-room [form]="form" *ngIf="currentPage === 1 || currentPage === 2" [passLimitForm]="passLimitForm" [showErrors]="showErrors" (roomDataResult)="roomResult($event)"></app-room>

        <app-folder [form]="form" *ngIf="currentPage === 3 || currentPage === 4" (folderDataResult)="folderResult($event)"></app-folder>

        <app-new-room-in-folder [form]="form" *ngIf="currentPage === 5" [passLimitForm]="passLimitForm" [showErrors]="showErrors" (errorsEmit)="showFormErrors()" (add)="newRoomInFolder($event)" (back)="back(false)"></app-new-room-in-folder>

        <app-edit-room-in-folder *ngIf="currentPage === 6" (deleteRoom)="deleteRoomInFolder($event)" (errorsEmit)="showFormErrors()" [form]="form" [passLimitForm]="passLimitForm" [showErrors]="showErrors" (save)="editRoomFolder($event)" (back)="back(false)"></app-edit-room-in-folder>

        <div class="existing-rooms" *ngIf="currentPage === 8">
          <app-add-existing-room
            [data]="pinnables$ | async"
            [roomName]="folderData.folderName"
            [roomsInFolder]="folderData.selectedRoomsInFolder"
            (back)="back(false);"
            (save)="addToFolder($event)">
          </app-add-existing-room>
        </div>

        <app-bulk-edit-rooms *ngIf="currentPage === 9" (bulkEditResult)="bulkEditResult($event)" [form]="form" [passLimitForm]="passLimitForm" [showErrors]="showErrors"></app-bulk-edit-rooms>

        <app-bulk-edit-rooms-in-folder *ngIf="currentPage === 10" [form]="form" [passLimitForm]="passLimitForm" [showErrors]="showErrors" (bulkEditResult)="bulkEditInFolder($event)" (errorsEmit)="showFormErrors()" (back)="back(false)"></app-bulk-edit-rooms-in-folder>

        <app-import-rooms [form]="form" *ngIf="currentPage === 7" (back)="back(false)"></app-import-rooms>

      </div>
      <div class="shadow" *ngIf="showBottomShadow"></div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="right-block">
      <div class="right-content">
        <div class="appearance-content" *ngIf="currentPage !== 9">
          <div class="inactive" *ngIf="disabledRightBlock"></div>
          <div class="right-content-title" [ngStyle]="{'color':  color_profile && selectedIcon ? '#1F195E' : '#8e8e93' }">Appearance</div>
          <div class="color-picker">
            <app-color-pallet-picker [selectedColorProfile]="color_profile" [showError]="showErrors" (selectedEvent)="changeColor($event)"></app-color-pallet-picker>
          </div>
          <div class="icon-picker">
            <app-icon-picker
              [roomName]="roomData?.roomName || folderData?.folderName"
              [icons$]="icons$"
              [selectedIconPicker]="selectedIcon"
              [changeTextResult]="iconTextResult$"
              [showError]="showErrors"
              (selectedEvent)="changeIcon($event)"
            ></app-icon-picker>
          </div>
        </div>

        <div class="edit-right-content" *ngIf="currentPage === 9">
          <div class="edit-right-title">Rooms Editing</div>
          <div class="selected-rooms">
            <div class="selected-room" *ngFor="let room of selectedRooms">
              <app-pinnable [disabled]="true" [pinnable]="room" [forStaff]="true"></app-pinnable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
