<div>

  <div [style.height]="FORM_STATE.formMode.role === 1 ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.HallPass && template">
    <!--HAL-->
    <app-pass-card
      [pass]="template"
      [forStaff]="FORM_STATE.formMode.role === 1"
      [forInput]="true"
      [formState]="FORM_STATE"
      [forFuture]="FORM_STATE.data.date ? true : false"
      [students]="FORM_STATE.formMode.role === 1 ? FORM_STATE.data.selectedStudents : []"
      (cardEvent)="onNextStep($event)">

    </app-pass-card>
  </div>
  <div [style.height]="FORM_STATE.formMode.role === 1 ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.Request && template">
    <!--REQ {{FORM_STATE.formMode.formFactor}} | {{states.Request}}-->
    <app-request-card
      [request]="template"
      [forStaff]="FORM_STATE.formMode.role === 1"
      [forInput]="true"
      [formState]="FORM_STATE"
      [forFuture]="FORM_STATE.data.date ? true : false"
      (cardEvent)="onNextStep($event)"
    ></app-request-card>
  </div>

  <div [style.height]="FORM_STATE.formMode.role === 1 ? '451px' : '412px'"
       [style.width]="'334px'"
       *ngIf="FORM_STATE.formMode.formFactor === states.Invitation && template">
    <!--INV-->
    <app-invitation-card
      [invitation]="template"
      [forStaff]="FORM_STATE.formMode.role === 1"
      [forInput]="true"
      [formState]="FORM_STATE"
      [forFuture]="FORM_STATE.data.date ? true : false"
      [selectedStudents]="FORM_STATE.data.selectedStudents"
      (cardEvent)="onNextStep($event)"
    >

    </app-invitation-card>
  </div>
</div>
