@import "../../../../sp-colors";

.wrapper {
  width: 100%;

  .accounts-header {
    //height: 99px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .selected {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 50px;
      border-radius: 12px 12px 0 0;
      background-color: #ECF1FF;
      display: flex;
      align-items: center;
      z-index: 11;

      .selected-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        width: 100%;
        .count {
          font-size: 24px;
          color: $navy;
          font-weight: bold;
        }
      }
    }

    .header-content {
      height: 80px;
      display: flex;
      //width: 100%;
      justify-content: space-between;
      align-items: center;
      //margin-bottom: 15px;
      .header-title {
        color: $navy;
        font-size: 24px;
        font-weight: bold;
        margin-left: 30px;

        .count {
          display: flex;
          align-items: center;
          margin-top: 7px;
          .text {
            font-size: 16px;
            color: $blue-gray;
            font-weight: normal;
            //margin-left: 7px;
          }
        }
      }

      .header-buttons {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .go-accounts {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background-color: #F4F4F4;
          display: flex;
          outline: none;
          justify-content: center;
          align-items: center;
          margin-left: 22px;
          cursor: pointer;
        }
      }
    }

    .tabs {
      display: flex;
      //margin-top: 15px;
      position: relative;
      padding: 0 15px;

      .selected-tab-pointer {
        transition: all 0.4s ease;
        position: absolute;
        bottom: 0;
        height: 5px;
        width: 80px;
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
