<div class="wrapper" *ngIf="currentView$ | async as currentView">
  <div class="header">
    <div class="switch-button"
       [style.background-color]="views[currentView].color"
       appCrossPointerEventTarget
       (pointerClickEvent)="openSwitchPage($event)"
    >
      <div class="button-content">
        <img width="35" [src]="'./assets/' + views[currentView].icon + ' (White).svg' | resolveAsset" alt="View Icon">
        <div class="title">{{ views[currentView].title }}</div>
        <img width="9" height="7" [src]="'./assets/Rect (White).svg' | resolveAsset" alt="Rect">
      </div>
    </div>
    <div class="filters">
      <div class="filter">
        <app-filter-button
          (buttonClick)="openFilter($event, 'students')"
          [title]="'Students' + (selectedStudents && selectedStudents.length ? ' (' + selectedStudents.length + ')' : '')"
          [filter]="selectedStudents && !!selectedStudents.length"
          (clearData)="selectedStudents = null; autoSearch()"
        >
        </app-filter-button>
      </div>
      <div class="filter" *ngIf="views[currentView].id === 1">
        <app-filter-button
          (buttonClick)="openFilter($event, 'destination')"
          [title]="'Destination' + (selectedRooms && selectedRooms.length ? ' (' + selectedRooms.length + ')' : '')"
          [filter]="selectedRooms && !!selectedRooms.length"
          (clearData)="selectedRooms = null; autoSearch()"
        ></app-filter-button>
      </div>
      <div class="filter" *ngIf="views[currentView].id === 1">
        <app-filter-button
          [title]="selectedDate ? dateText : 'Pass start time'"
          (buttonClick)="openFilter($event, 'calendar')"
          [filter]="!!selectedDate"
          (clearData)="selectedDate = null; autoSearch()">
        </app-filter-button>
      </div>
    </div>

    <div class="search-button" *ngIf="false">
      <app-gradient-button
        [gradient]="views[currentView].color + ', ' + views[currentView].color"
        [rightIcon]="'./assets/Chevron Right (White).svg'"
        [size]="'medium'"
        (buttonClick)="search()"
      >{{ views[currentView].title }}
      </app-gradient-button>
    </div>
  </div>

  <div class="content" *ngIf="loadedData$ | async">
    <app-sp-data-table
      [isCheckbox]="isCheckbox$"
      [data$]="searchedPassData$"
      (loadMoreData)="loadMorePasses()"
      [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'"
    ></app-sp-data-table>
  </div>
</div>
