@import "../../../sp-colors";

:host {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  padding: 25px 29px 25px 25px;
  //height: 100vh;

  .header {
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    min-width: 800px;
    position: relative;

    .switch-button {
      width: 183px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .title {
        color: #FFFFFF;
        font-size: 17px;
        font-weight: bold;
        margin: 0 13px 0 11px;
        width: 70px;
      }

      .button-content {
        display: flex;
        align-items: center;
      }
    }

    .search-button {
      position: absolute;
      right: 30px;
    }

    .filters {
      margin-left: 23px;
      display: flex;

      .filter {
        margin-right: 25px;
      }
    }
  }

  .content {
    margin-top: 16px;

    .contact-trace {
      position: relative;
      width: 100%;
      height: 100%;

      .contact-empty {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .description {
          font-size: 17px;
          color: $blue-gray;
          margin-top: 41px;
          text-align: center;
          width: 386px;
        }
      }
    }
  }
}
