@import "../../../sp-colors";
@import "../../../design-system.scss";
:host {
    width: 100%;
    overflow: hidden;
}

.wrapper {
    padding: 35px 30px;
    //height: 100vh;
    .header {
        background-color: $white;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        height: 97px;
        display: flex;
        align-items: center;
        min-width: 800px;
        position: relative;
        .switch-button {
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .title {
                color: #FFFFFF;
                font-size: 17px;
                font-weight: bold;
                margin: 0 13px 0 11px;
                width: 70px;
            }
            .button-content {
                display: flex;
                align-items: center;
            }
        }
        .search-button {
            position: absolute;
            right: 30px;
            .count {
                height: 35px;
                background-color: #F4F4F4;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $blue-gray;
                padding: 0 10px;
            }
            &.not-alone {
                display: flex;
                gap: 1rem;
            }
        }
        .filters {
            margin-left: 23px;
            display: flex;
            .filter {
                margin-right: 13px;
            }
        }
        .update-info-wrapper {
            margin: 0 50px;
            .info {
                @include textSize(15px, 600, #1F195E);
            }
            .day {
                display: flex;
                @include textSize(14px, 500, #7083A0);
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    .content {
        margin-top: 16px;
        .contact-trace {
            position: relative;
            width: 100%;
            height: 100%;
            .contact-empty {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .description {
                    font-size: 17px;
                    color: $blue-gray;
                    margin-top: 41px;
                    text-align: center;
                    width: 386px;
                }
            }
        }
    }
    &.plus-plan {
        background-color: $gray100;
        overflow-y: auto;
        .content-wrapper {
            .left {
                width: 50%;
                padding: 20px;
                .title {
                    @include textSize(17px);
                    margin-left: 10px;
                }
                .feature {
                    @include textSize(39px, bold);
                }
                .description {
                    @include textSize(17px, 300, $gray500);
                }
                .feature-2 {
                    @include textSize(20px, bold);
                }
                .description-2 {
                    line-height: 1.5;
                    @include textSize(14px, 300, $gray500);
                }
            }
            .right {
                width: 50%;
                .description {
                    @include textSize(11px, normal, $gray500);
                    padding-left: 10px;
                }
            }
        }
    }
}
