<div class="wrapper" *ngIf="isProUser && currentView$ | async as currentView">
    <div class="header">
        <!-- <div class="switch-button" [style.background-color]="views[currentView].color" appCrossPointerEventTarget (pointerClickEvent)="openSwitchPage($event)"> -->
        <div class="switch-button" [style.background-color]="views[currentView].color" appCrossPointerEventTarget>
            <div class="button-content">
                <img width="35" [src]="'./assets/' + views[currentView].icon + ' (White).svg' | resolveAsset" alt="View Icon">
                <div class="title">{{ views[currentView].title }}</div>
                <!-- <img width="9"  height="7" [src]="'./assets/Rect (White).svg' | resolveAsset" alt="Rect"> -->
            </div>
        </div>
        <div *ngIf="views[currentView].id === 4" class="update-info-wrapper">
            <p class="info">Detected Encounters from Last Week (Mon - Fri)</p>
            <p class="day"><img [src]="'./assets/Info (Blue-Gray).svg' | resolveAsset" width="16" height="16" alt=""><span *ngIf="(encounterDetectionCreatedAt$ | async) as date; else noEncountersDate">Updated {{ date }}</span></p>
            <ng-template #noEncountersDate>
                <span>No results yet, check back next Sunday!</span>
            </ng-template>
        </div>
        <div class="filters" [ngSwitch]="views[currentView].id">
            <div class="filter">
                <app-filter-button *ngSwitchCase="1" (buttonClick)="openFilter($event, 'students')" [title]="(!passSearchData.selectedStudents || passSearchData.selectedStudents.length > 1 ? 'Students' + (passSearchData.selectedStudents && passSearchData.selectedStudents.length ? ' <var>(' + passSearchData.selectedStudents.length + ')</var>' : '') : passSearchData.selectedStudents[0].display_name)"
                    [filter]="passSearchData.selectedStudents && !!passSearchData.selectedStudents.length" (clearData)="passSearchData.selectedStudents = null; checkQueryParams(); autoSearch()" [openedFilter]="!!dialog.getDialogById('students_filter')">
                </app-filter-button>
                <app-filter-button *ngSwitchCase="2" (buttonClick)="openFilter($event, 'students')" [title]="(!reportSearchData.selectedStudents || reportSearchData.selectedStudents.length > 1 ? 'Students' + (reportSearchData.selectedStudents && reportSearchData.selectedStudents.length ? ' <var>(' + reportSearchData.selectedStudents.length + ')</var>' : '') : reportSearchData.selectedStudents[0].display_name)"
                    [filter]="reportSearchData.selectedStudents && !!reportSearchData.selectedStudents.length" (clearData)="reportSearchData.selectedStudents = null; autoSearch()" [openedFilter]="!!dialog.getDialogById('students_filter')">
                </app-filter-button>
                <app-filter-button *ngSwitchCase="3" (buttonClick)="openFilter($event, 'students')" [title]="contactTraceData.selectedStudents ? contactTraceData.selectedStudents[0].display_name : 'Student'" [filter]="contactTraceData.selectedStudents && !!contactTraceData.selectedStudents.length"
                    [forceButtonClick$]="buttonForceTrigger$" (forceButtonClickEvent)="$event.action === 'students' ? openFilter($event.event, $event.action) : null" [showClearIcon]="false" [openedFilter]="!!dialog.getDialogById('students_filter')">
                </app-filter-button>
                <!-- <app-filter-button *ngSwitchCase="4" (buttonClick)="openFilter($event, 'students')" [title]="encounterDetectedData.selectedStudents ? encounterDetectedData.selectedStudents[0].display_name : 'Student'" [filter]="encounterDetectedData.selectedStudents && !!encounterDetectedData.selectedStudents.length"
                    [forceButtonClick$]="buttonForceTrigger$" (forceButtonClickEvent)="$event.action === 'students' ? openFilter($event.event, $event.action) : null" [showClearIcon]="false" [openedFilter]="!!dialog.getDialogById('students_filter')">
                </app-filter-button> -->
                <!-- <app-filter-button *ngSwitchCase="4" (buttonClick)="openFilter($event, 'students')" [title]="(!encounterDetectedData.selectedStudents || encounterDetectedData.selectedStudents.length > 1 ? 'Students' + (encounterDetectedData.selectedStudents && encounterDetectedData.selectedStudents.length ? ' (' + encounterDetectedData.selectedStudents.length + ')' : '') : encounterDetectedData.selectedStudents[0].display_name)"
                    [filter]="encounterDetectedData.selectedStudents && !!encounterDetectedData.selectedStudents.length" (clearData)="encounterDetectedData.selectedStudents = null; checkQueryParams(); autoSearch()" [openedFilter]="!!dialog.getDialogById('students_filter')">
                </app-filter-button> -->
            </div>

            <div class="filter">
                <app-filter-button *ngSwitchCase="2" (buttonClick)="openFilter($event, 'status')" [title]="reportSearchData.selectedStatus ? 'Status ' + reportSearchData.selectedStatus : 'Status'" [filter]="reportSearchData.selectedStatus && !!reportSearchData.selectedStatus.length"
                    (clearData)="reportSearchData.selectedStatus = null; autoSearch()" [openedFilter]="!!dialog.getDialogById('status_filter')">
                </app-filter-button>
            </div>

            <div class="filter" *ngSwitchCase="2">
                <app-filter-button (buttonClick)="openFilter($event, 'teachers')" [title]="(!reportSearchData.selectedTeachers || reportSearchData.selectedTeachers.length > 1 ? 'Submitted by' + (reportSearchData.selectedTeachers && reportSearchData.selectedTeachers.length ? ' <var>(' + reportSearchData.selectedTeachers.length + '</var>)' : '') : reportSearchData.selectedTeachers[0].display_name)"
                    [filter]="reportSearchData.selectedTeachers && !!reportSearchData.selectedTeachers.length" (clearData)="reportSearchData.selectedTeachers = null; autoSearch()" [openedFilter]="!!dialog.getDialogById('teachers_filter')">
                </app-filter-button>
            </div>
            <div class="filter" *ngSwitchCase="1">
                <app-filter-button (buttonClick)="openFilter($event, 'origin')" [title]="'Origin' + (passSearchData.selectedOriginRooms && passSearchData.selectedOriginRooms.length ? ' <var>(' + passSearchData.selectedOriginRooms.length + '</var>)' : '')" [filter]="passSearchData.selectedOriginRooms && !!passSearchData.selectedOriginRooms.length"
                    (clearData)="passSearchData.selectedOriginRooms = null; checkQueryParams(); autoSearch()" [openedFilter]="!!dialog.getDialogById('origin_filter')"></app-filter-button>
            </div>
            <div class="filter" *ngSwitchCase="1">
                <app-filter-button (buttonClick)="openFilter($event, 'destination')" [title]="'Destination' + (passSearchData.selectedDestinationRooms && passSearchData.selectedDestinationRooms.length ? ' <var>(' + passSearchData.selectedDestinationRooms.length + '</var>)' : '')"
                    [filter]="passSearchData.selectedDestinationRooms && !!passSearchData.selectedDestinationRooms.length" (clearData)="passSearchData.selectedDestinationRooms = null; checkQueryParams(); autoSearch()" [openedFilter]="!!dialog.getDialogById('destination_filter')"></app-filter-button>
            </div>
            <div class="filter">
                <app-filter-button *ngSwitchCase="1" [attr.notranslate]="!!passSearchData.selectedDate ? true : null" [title]="passSearchData.selectedDate ? dateText(passSearchData.selectedDate) : 'Pass start time'" (buttonClick)="openFilter($event, 'calendar')" [filter]="!!passSearchData.selectedDate"
                    (clearData)="passSearchData.selectedDate = null; checkQueryParams(); adminCalendarOptions = null; autoSearch()" [openedFilter]="!!dialog.getDialogById('calendar_filter')">
                </app-filter-button>
                <app-filter-button *ngSwitchCase="2" [attr.notranslate]="!!reportSearchData.selectedDate ? true : null" [title]="reportSearchData.selectedDate ? dateText(reportSearchData.selectedDate) : 'Date submitted'" (buttonClick)="openFilter($event, 'calendar')"
                    [filter]="!!reportSearchData.selectedDate" (clearData)="reportSearchData.selectedDate = null; adminCalendarOptions = null; autoSearch()" [showClearIcon]="true" [openedFilter]="!!dialog.getDialogById('calendar_filter')">
                </app-filter-button>
                <app-filter-button *ngSwitchCase="3" [attr.notranslate]="!!contactTraceData.selectedDate ? true : null" [title]="contactTraceData.selectedDate ? dateText(contactTraceData.selectedDate) : 'Time range'" (buttonClick)="openFilter($event, 'calendar')" [filter]="!!contactTraceData.selectedDate"
                    (clearData)="contactTraceData.selectedDate = null; adminCalendarOptions = null;" [showClearIcon]="false" [forceButtonClick$]="buttonForceTrigger$" (forceButtonClickEvent)="$event.action === 'calendar' ? openFilter($event.event, $event.action) : null"
                    [openedFilter]="!!dialog.getDialogById('calendar_filter')">
                </app-filter-button>
                <!-- <app-filter-button *ngSwitchCase="4" [title]="encounterDetectedData.selectedDate ? dateText(encounterDetectedData.selectedDate) : 'Time range'" (buttonClick)="openFilter($event, 'calendar')" [filter]="!!encounterDetectedData.selectedDate" (clearData)="encounterDetectedData.selectedDate = null; adminCalendarOptions = null;"
                    [showClearIcon]="false" [forceButtonClick$]="buttonForceTrigger$" (forceButtonClickEvent)="$event.action === 'calendar' ? openFilter($event.event, $event.action) : null" [openedFilter]="!!dialog.getDialogById('calendar_filter')">
                </app-filter-button> -->
            </div>
        </div>

        <div class="search-button not-alone" *ngIf="views[currentView].id === 1 && passSearchState.countPasses$ | async as countPasses">
            <app-round-button *ngIf="!!selectedRows.length" [size]="'small'" [icon]="'Dots'" [borderRadius]="'15%'" (buttonClick)="openConsentDeletePasses($event)">
            </app-round-button>
            <app-filter-button *ngIf="!selectedRows.length; else selected" [title]="'<var>'+(numberWithCommas(countPasses) + '</var> pass' + (countPasses > 1 ? 'es' : ''))" [isDownloadButton]="true" [customToolTip]="disabled ? null : 'Click to export passes'" [disabled]="disabled"
                (buttonClick)="exportPasses()">
            </app-filter-button>
            <ng-template #selected>
                <app-filter-button [disabled]="disabled" [filter]="true" [title]="'<var>' + ((passSearchState.isAllSelected$ | async) ? numberWithCommas(countPasses) : numberWithCommas(selectedRows.length)) + '/' + numberWithCommas(countPasses) + '</var> selected'" [isDownloadButton]="true"
                    [customToolTip]="disabled ? null : 'Click to export passes'" (buttonClick)="exportPasses()">
                </app-filter-button>
            </ng-template>
        </div>

        <div class="search-button" *ngIf="views[currentView].id === 3">
            <div class="buttons">
                <app-gradient-button *ngIf="!contactTraceState.isEmpty && !(contactTraceState.length$ | async)" [disabled]="!contactTraceData.selectedStudents || !contactTraceData.selectedDate" [gradient]="views[currentView].color + ', ' + views[currentView].color" [rightIcon]="'./assets/Chevron Right (White).svg' | resolveAsset"
                    [size]="'medium'" (buttonClick)="contactTrace()" (disabledButtonClick)="openInvalidFields()">{{ views[currentView].title }}
                </app-gradient-button>
                <app-gradient-button *ngIf="(contactTraceState.length$ | async) || this.contactTraceState.isEmpty" [gradient]="'#F4F4F4, #F4F4F4'" [rightIcon]="'./assets/Close.svg' | resolveAsset" [minWidth]="'100px'" [minHeight]="'40px'" [padding]="'0px 16px'" [fontSize]="'14px'"
                    [size]="'editable'" [leftImageWidth]="'13px'" [leftImageHeight]="'13px'" [textColor]="'#7f879d'" (buttonClick)="clearContactTraceData()">
                    Clear
                </app-gradient-button>
                <app-gradient-button [style.margin-left]="'13px'" *ngIf="(contactTraceState.length$ | async)" [gradient]="'#F4F4F4, #F4F4F4'" [rightIcon]="'./assets/Circle Download (Blue-Gray).svg' | resolveAsset" [textColor]="'#7f879d'" (buttonClick)="generateCSV()">Download</app-gradient-button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pass-search" *ngIf="views[currentView].id === 1">
            <app-sp-data-table [isCheckbox]="isCheckbox$" [data$]="searchedPassData$" [loading$]="passSearchState.loading$" [showEmptyState]="passSearchState.isEmpty && passSearchState.loaded$ | async" [emptyIcon]="'./assets/Pass Search (Blue-Gray).svg' | resolveAsset"
                [emptyText]="'No passes found with the selected filters.'" [currentPage]="currentView$.value" (loadMoreData)="loadMorePasses()" (sortClickEvent)="sortHeaders($event)" [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'"
                [isRowClick]="true" (rowClickEvent)="passClick($event.id)" [sort]="passSearchState.sortPasses$ | async" [sortColumn]="sortColumn" [sortLoading$]="passSearchState.sortPassesLoading$" [showPrintButtons]="false" (exportPasses)="exportPasses()"
                [disabledInfinityScroll]="!(passSearchState.nextUrl$ | async)"></app-sp-data-table>
        </div>

        <div class="report-search" *ngIf="views[currentView].id === 2">
            <app-sp-data-table [isCheckbox]="isCheckbox$" [data$]="reportsSearchData$" [loading$]="reportSearchState.loading$" [currentPage]="currentView$.value" [showEmptyState]="reportSearchState.isEmpty && reportSearchState.loaded$ | async" [emptyIcon]="'./assets/Report Search (Blue-Gray).svg' | resolveAsset"
                [emptyText]="'No reports found with the selected filters.'" [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'" [itemSize]="66" [isRowClick]="true" [showPrintButtons]="false" (loadMoreData)="loadMoreReports()"
                (rowClickEvent)="openReportDialog($event)" [sort]="'desc'" [sortColumn]="'Date submitted'" [disabledInfinityScroll]="!(reportSearchState.nextUrl$ | async)"></app-sp-data-table>
        </div>

        <div class="contact-trace" *ngIf="views[currentView].id === 3" [style.height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'">
            <app-sp-data-table *ngIf="showContactTraceTable; else empty" [isCheckbox]="isCheckbox$" [data$]="contactTraceData$" [loading$]="contactTraceState.loading$" [showEmptyState]="contactTraceState.isEmpty && contactTraceState.loaded$ | async" [currentPage]="currentView$.value"
                [emptyIcon]="'./assets/Contact Trace (Blue-Gray).svg' | resolveAsset" [emptyText]="contactTraceData.selectedStudents[0].display_name + ' did not have an overlapping pass with another student'" [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'"
                [disabledInfinityScroll]="true" [showPrintButtons]="false"></app-sp-data-table>
            <ng-template #empty>
                <div class="contact-empty">
                    <img width="135" style="opacity: 0.2" [src]="'./assets/Contact Trace (Blue-Gray).svg' | resolveAsset" alt="Empty">
                    <div class="description">
                        Stay ahead of the spread to instantly trace back possibly infected students in your school.
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="encounter-detection" *ngIf="views[currentView].id === 4">
            <div *ngIf="encounterDetectedState.errored$ | async; else success">
                <app-sp-data-table [data$]="encounterDetectionData$" [isCheckbox]="isCheckbox$" [loading$]="encounterDetectedState.loading$" [showEmptyState]="true" [emptyIcon]="'./assets/Encounter Detection (Blue-Gray).svg' | resolveAsset" [emptyText]="'You must have at-least one week of pass history before seeing results from Detected Encounters. Check back next Sunday!'"
                    [currentPage]="'encounter_detection'" [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'" [disabledInfinityScroll]="true" [showPrintButtons]="false"></app-sp-data-table>
            </div>
            <ng-template #success>
                <app-sp-data-table [isCheckbox]="isCheckbox$" [data$]="encounterDetectionData$" [loading$]="encounterDetectedState.loading$" [showEmptyState]="encounterDetectedState.isEmpty && !(encounterDetectedState.loading$ | async)" [emptyIcon]="'./assets/Encounter Detection (Blue-Gray).svg' | resolveAsset"
                    [emptyText]="'No detected encounters found with the selected filters.'" [currentPage]="currentView$.value" [height]="(schools$ | async).length > 1 ? 'calc(100vh - 200px)' : 'calc(100vh - 150px)'" [isRowClick]="true" (rowClickEvent)="encounterClick($event)"
                    [disabledInfinityScroll]="true" [showPrintButtons]="false"></app-sp-data-table>
            </ng-template>
        </div>

    </div>
</div>
<div class="wrapper plus-plan" *ngIf="!isProUser">
    <div class="content-wrapper">
        <div class="ds-flex-start-start" style="margin-bottom: 40px;">
            <div class="left">
                <div class="ds-flex-center-start">
                    <img [src]="'./assets/Plus Plan (Yellow).svg' | resolveAsset" alt="">
                    <p class="title">Unlock Detected Encounters on the Plus Plan</p>
                </div>
                <h2 class="feature">
                    Automatically see which students are meeting up more often
                </h2>
                <p class="description">Actionable insights to <span style="font-weight: bold;">start conversations about issues you never even knew about!</span></p>
                <div class="button">
                    <app-gradient-button [width]="'300px'" [minHeight]="'40px'" fontWeight="normal" fontSize="14px" [size]="'editable'" [hoverColor]="'#00B476'" [cursor]="'pointer'" [linkType]="'_blank'" [buttonLink]="'https://www.smartpass.app/upgradetoplus'" [text]="'Talk to Sales'"></app-gradient-button>
                </div>
            </div>
            <div class="right">
                <div>
                    <img [src]="'./assets/Plus Plan ED Table.svg' | resolveAsset" alt="">
                    <div class="ds-flex-center-start" style="padding: 0 46px;">
                        <img [src]="'./assets/Artificial Intelligence.svg' | resolveAsset" alt="">
                        <p class="description">Behind the scenes, we use artificial intelligence to determine which students have passes to similar rooms around the same times.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ds-flex-start-start">
            <div class="left">
                <p class="feature-2">
                    Keeping tabs on {{getCountAccounts(accounts$ | async)}} students is nearly impossible. Let SmartPass do the work for you.
                </p>
                <p class="description-2">
                    On any given day, hundreds of students in your school are creating passes to go places. We’ve heard over and over again repeating that they're finding more students in the hallways when they're not supposed to be, and that it's taking away from their
                    needed educational time. <br><br> Students are getting smarter and sneakier than ever, and you might not know that Betty and Bob have been meeting up every afternoon for the past 2 weeks — <span style="font-weight: bold;">but SmartPass knows with
                        Detected Encounters.</span>
                </p>
            </div>
            <div class="right">
                <div style="text-align: center;">
                    <img [src]="'./assets/Plus Plan ED Dialog.svg' | resolveAsset" alt="">
                </div>
            </div>
        </div>
    </div>
</div>