<div class="container">
    <div class="five-stars">
        <img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">
        <img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">
        <img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">
        <img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">
        <img class="star" [src]="'./assets/Star (Yellow).svg' | resolveAsset" alt="Star">
    </div>
    <h2>Your Staff Loves SmartPass</h2>
    <h5>Featured Reviews</h5>
</div>