.container {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2%;
}

.star {
	width: 58px;
	height: 58px;
	margin: 0 9px 0 9px;
}
h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
}

h5 {
	margin: 0px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}
