<div class="host" appSafariScroll #scrollableArea>
    <!-- <div class="dashboard-page"> -->
    <div class="dashboard-wrapper">
        <div class="left">
            <div class="">
                <div class="card card__role ds-mr-10">
                    <div class="ds-flex-center-between">
                        <div>
                            <p class="ds-big-title">ID Cards</p>
                        </div>
                        <div>
                            <div class="button">
                                <app-gradient-button [style.margin-left]="'15px'" [size]="'small'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="getStarted()">
                                    Save
                                </app-gradient-button>
                            </div>
                        </div>
                    </div>
                    <div class="scrollable">
                        <div>
                            <p class="ds-dialog-title">Design</p>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/color-picker.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Color</div>
                                    </div>
                                    <div>
                                        <div class="input-color-container">
                                            <input id="input-color" [(value)]="IDCardBackgroundColor" [(ngModel)]="IDCardBackgroundColor" class="input-color" type="color">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/Logo Upload.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Logo</div>
                                    </div>
                                    <div class="button">
                                        <app-gradient-button [style.margin-left]="'15px'" [fontWeight]="'400'" [textColor]="'#7083A0'" [size]="'small'" [gradient]="'#F5F6F8, #F5F6F8'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="uploadLogo()">
                                            Upload
                                        </app-gradient-button>
                                    </div>
                                </div>
                            </div>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/Backside Text.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Backside Text</div>
                                    </div>
                                    <div class="button">
                                        <app-gradient-button [style.margin-left]="'15px'" [fontWeight]="'400'" [textColor]="'#7083A0'" [size]="'small'" [gradient]="'#F5F6F8, #F5F6F8'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="addBackgroundText()">
                                            Add text
                                        </app-gradient-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="ds-dialog-title">Integrations</p>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/Profile Picture Icon.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Profile Pictures</div>
                                    </div>
                                    <div class="button">
                                        <app-gradient-button [style.margin-left]="'15px'" [fontWeight]="'400'" [textColor]="'#7083A0'" [size]="'small'" [gradient]="'#F5F6F8, #F5F6F8'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="setUpProfilePicture()">
                                            Set up
                                        </app-gradient-button>
                                    </div>
                                </div>
                            </div>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/ID Number Icon.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">ID Numbers
                                            <span class="support-icon" customToolTip [contentTemplate]="text"><img width="13px" [src]="'./assets/Support (Gray-200).svg' | resolveAsset"></span>
                                        </div>
                                        <ng-template #text>
                                            <div class="ds-tooltip" style="width: 200px">Add ID numbers to your accounts</div>
                                        </ng-template>
                                    </div>
                                    <div class="button">
                                        <app-gradient-button [style.margin-left]="'15px'" [fontWeight]="'400'" [textColor]="'#7083A0'" [size]="'small'" [gradient]="'#F5F6F8, #F5F6F8'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="setUpIDNumber()">
                                            Set up
                                        </app-gradient-button>
                                    </div>
                                </div>
                            </div>
                            <div class="form" style="flex-direction: column;" *ngIf="IDNumberData.idNumber">
                                <div class="card">
                                    <div class="label ds-flex-center-between">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/Barcode Type Icon.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Type of barcode</div>
                                    </div>
                                    <div class="ds-flex-center-between">
                                        <mat-form-field class="idnumber-form-field">
                                            <mat-select class="custom-select" [(value)]="selectedCode" (selectionChange)="changeClient($event.value)">
                                                <mat-option class="custom-select-option" [value]="type.value" *ngFor="let type of typeOfBarcodes">
                                                    <div class="ds-flex-center-start barcode-type-wrapper">
                                                        <img [src]="'./assets/' + type.icon + '.svg'  | resolveAsset" alt="">
                                                        <p>{{type.title}}</p>
                                                    </div>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="form" style="flex-direction: column;">
                                <div class="card">
                                    <div class="label">
                                        <div class="icon">
                                            <img style="z-index: 10;" [src]="'./assets/Gread Level Icon.svg' | resolveAsset" alt="">
                                        </div>
                                        <div class="title" style="font-weight: 500">Grade Levels</div>
                                    </div>
                                    <div class="button">
                                        <app-gradient-button [style.margin-left]="'15px'" [fontWeight]="'400'" [textColor]="'#7083A0'" [size]="'small'" [gradient]="'#F5F6F8, #F5F6F8'" [hoverColor]="'#00B476'" [cursor]="'pointer'" (buttonClick)="setUpProfilePicture()">
                                            Set up
                                        </app-gradient-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="ds-flex-center-between chart-container ds-ml-10 ds-mt-15">
                <app-id-card [backgroundColor]="IDCardBackgroundColor" [logoURL]="logoURL" [backsideText]="backsideText" [IDNumberData]="IDNumberData"></app-id-card>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>