@import '../../../../sp-colors';
@import '../../../../design-system';

.filter-wrapper {
  width: 425px;
  height: 500px;
  background-color: $background-white;

  .filter-header {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    .back-button {
      width: 28px;
      position: absolute;
      left: 15px;
      cursor: pointer;
    }

    .filter-title {
      display: flex;
      align-items: center;
    }
  }

  .filter-content {
    height: 430px;
    .student-filter-content {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      position: relative;
      height: 415px;

      .add-button {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }

    .rooms-filter-content {
      height: 430px;
      overflow: auto;
    }
  }
}