.collection-wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.collection-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.collection-icon{
    margin-right: 9px;
    width: 22px;
    height: auto;
}

.collection-display-toggle{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.collection-title{
    color: #3D396B;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.collection-divider{
    width: inherit;
    height: 2px;
    background-color: #B5B7BA;
}

.collection-list-wrapper{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.collection-grid-wrapper{
    margin-top: 10px;
}

.custom-mat-tile{
    overflow: visible;
}

.sort-label{
    margin-left: auto;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12pt;
}

.sort-selector{
    margin: 0 5px;  
}

.empty-message{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    text-align: center;
    color: rgb(126, 135, 157);
    margin-top: 25px;
}