@media all and  (max-width: 425px) {
  div.collection-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(152px, .3fr));
    justify-content: center;
  }

  :host {
    display: initial !important;
  }

}

@media all and  (max-width: 375px) {
  div.collection-grid-wrapper {
    grid-template-columns: repeat(auto-fill,minmax(145px, .3fr));
  }

  :host {
    display: initial !important;
  }

}

@media all and  (max-width: 1024px) {
  div.collection-wrapper {
    width: 100%;
  }
}

:host {

}

.collection-wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

.collection-wrapper, .collection-grid-wrapper, .collection-list-wrapper {
  opacity: 0;
  animation: appearing .5s ease .1s forwards;
}
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.collection-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-icon{
    margin-right: 9px;
    width: 20px;
    height: auto;
}

.collection-display-toggle{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.collection-title{
    color: #1F195E;
    font-size: 20px;
    font-weight: bold;
}

.collection-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}

.collection-list-wrapper{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.collection-grid-wrapper{
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(143px, .3fr));
    justify-content: space-between;
    margin-top: 15px;
    //justify-content: space-between;
}
//.collection-grid-wrapper::after {
//    content: '';
//    flex: auto;
//}

.tile{
  padding-bottom: 15px;
}

.sort-label{
    margin-left: auto;
    margin-right: 15px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
}

.sort-selector{
    margin: 0 5px;
}

.empty-message{
    font-size: 16pt;
    text-align: center;
    color: rgb(126, 135, 157);
    margin-top: 25px;
}
