<div class="collection-wrapper">
  <div class="collection-header">
      <img class="collection-icon" [src]="icon | resolveAsset">
      <div class="collection-title">
        {{title}}
      </div>
      <img class="collection-display-toggle" [src]="'./assets/' +(displayState==='grid'?'List':'Grid') +' (Colored).png'| resolveAsset" (click)="displayState=(displayState==='list'?'grid':'list')">
  </div>
  <div class="collection-divider"></div>
  <div class="collection-grid-wrapper" *ngIf="displayState==='grid'; else list">
    <mat-grid-list [cols]="columns" rowHeight="85px">
      <mat-grid-tile  [style.overflow]="'visible'" class="custom-mat-tile" *ngFor="let pass of passes">
        <app-pass-tile [pass]="pass"></app-pass-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template class="collection-list-wrapper" #list>
    <app-pass-cell *ngFor="let pass of passes" [pass]="pass"></app-pass-cell>
  </ng-template>
</div>