@import '../../sp-colors';

@media all and  (max-width: 425px) {
  div.collection-grid-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(152px, .3fr));
  }

  :host {
    display: initial !important;
  }

  .collection-header{
    margin: 0 auto;
  }
}

@media all and  (max-width: 375px) {
  div.collection-grid-wrapper {
    grid-template-columns: repeat(auto-fill,minmax(145px, .3fr));
  }

  :host {
    display: initial !important;
  }
}

.scroll-container {
  max-height: 584px;
  overflow: auto;
}

@media all and  (max-width: 940px) {
  div.collection-wrapper {
    width: 100%;
  }
}

:host {

}

.collection-wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
}

.collection-wrapper, .collection-grid-wrapper, .collection-list-wrapper {
  opacity: 0;
  animation: appearing .5s ease .1s forwards;
}
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.collection-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  .collection-title {
    display: flex;
  }
}

.collection-icon{
    margin-right: 9px;
    width: 20px;
    height: auto;
}

.collection-display-toggle{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.collection-title{
    color: $navy;
    font-size: 20px;
    font-weight: bold;
}

.collection-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}

.collection-list-wrapper{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.collection-grid-wrapper{
    display: grid;
    margin-top: 15px;
}

.tile{
  padding: 0;
}

.sort-label{
    margin-left: auto;
    margin-right: 15px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
}

.filter-button {
  .icon {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 244, 244, .75);
    transition: background-color .2s ease;
  }

  .selected-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F3FA;
    border-radius: 15px;
    width: 123px;
    height: 31px;

    .selected-title {
      color: $navy;
      margin-left: 6px;
    }
  }
}

.sort-selector{
    margin: 0 5px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.empty-message{
    font-size: 16pt;
    text-align: center;
    color: rgb(126, 135, 157);
    margin-top: 25px;
}

.bottom-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  background-color: #ffffFF;
  box-shadow: 0 0 30px 27px white;
}
