<div class="host">
  <div class="appearance-header">
    <div class="back-button"
         appCrossPointerEventTarget
         (pointerClickEvent)="close()"
    >
      <img [width]="34" [src]="'./assets/Back Button (White-Transparent).svg'"
      >
    </div>
    <div>
      <img [width]="24" [src]="'./assets/Glasses (White).svg'" alt="Glasses (White).svg">
    </div>
    <div class="ds-dialog-title-white ds-pl-10">
      <span>Appearance</span>
    </div>
  </div>
  <div class="appearance-content">
    <div class="ds-my-5 ds-navy">
      <span>Theme</span>
    </div>
    <app-restriction-picker
      [width]="276"
      [height]="32"
      [choices]="['Light', 'Dark' , 'Auto']"
      [selectedChoice]="selectedTheme"
      (result)="setSelectedTheme($event)"
    >
    </app-restriction-picker>  </div>
</div>
