<div class="host" appSafariScroll>
  <div *ngIf="!(onboardProcessLoaded$ | async)" class="loading-theme_blue-gray spinner ds-w-100 ds-h-100 ds-flex-center-center">
    <mat-spinner [diameter]="35" [color]="'accent'"></mat-spinner>
  </div>

  <div class="accounts-wrapper" *ngIf="this.onboardProcess$ | async as onboardProcess">
    <div class="header-wrapper" *ngIf="onboardProcessLoaded$ | async">
      <app-accounts-header
        [pending$]="pending$"
        [schoolSyncInfoData]="schoolSyncInfoData$ | async"
        [gSuiteOrgs]="gSuiteOrgs$ | async"
        [showTabs]="!!onboardProcess['2.landing:first_account']?.done || !!onboardProcess['2.accounts:create_demo_accounts']?.done"
        (tableStateEmit)="dataTableEditState.next($event)"
        (currentPageEmit)="currentPage = $event"
      ></app-accounts-header>
    </div>
    <div class="accounts-content" *ngIf="onboardProcessLoaded$ | async">
      <div class="overview" *ngIf="!currentPage else role">
        <div class="start-page" style="width: 760px" *ngIf="!onboardProcess['2.landing:first_account']?.done && !onboardProcess['2.accounts:create_demo_accounts']?.done">
          <div class="groups" style="margin-top: 0; margin-bottom: 48px">
            <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Quick Add</div>
            <div class="groups-buttons">
              <app-integration-card
                [title]="'Demo Accounts'"
                [subtitle]="'Get started quickly with fake accounts to pilot how SmartPass works.'"
                [isIntegration]="false"
                (clickButton)="openBulkUpload()"
              >
              </app-integration-card>
              <!--              <app-integration-card-->
              <!--                [title]="'Bulk upload accounts'"-->
              <!--                [subtitle]="'Add accounts quickly from a CSV and set-up integration later.'"-->
              <!--                [isIntegration]="false"-->
              <!--              >-->
              <!--              </app-integration-card>-->
            </div>
          </div>
          <div class="groups" style="margin-top: 0">
            <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Integrations</div>
            <div class="groups-buttons" *ngIf="schoolSyncInfoData$ | async as schoolSyncInfoData">
              <app-integration-card
                [icon]="'./assets/GG4L (Blue).svg'"
                [title]="'GG4L'"
                [status]="schoolSyncInfoData.is_gg4l_enabled ? (!schoolSyncInfoData.login_provider ? 'approved' : 'done') : 'disconnect'"
                [subtitle]="schoolSyncInfoData.is_gg4l_enabled ? (!schoolSyncInfoData.login_provider ? 'Almost done! Adjust settings for account sync.' : 'Last Sync: ' + formatDate((gg4lSettingsData$ | async)?.last_successful_sync)) : 'Sync accounts automatically from any SIS.'"
                [learnMoreLink]="'https://www.smartpass.app/gg4l'"
                (setUp)="openSettingsDialog('gg4l', $event)"
              >
              </app-integration-card>
              <app-integration-card
                [icon]="'./assets/Google (Color).svg'"
                [title]="'G Suite'"
                [status]="schoolSyncInfoData.is_gsuite_enabled ? 'done' : 'disconnect'"
                [subtitle]="schoolSyncInfoData.is_gsuite_enabled ? 'Last Sync: ' + formatDate((gSuiteOrgs$ | async)?.last_successful_sync) : 'Sync accounts from your org units.'"
                [learnMoreLink]="'https://www.smartpass.app/gsuite'"
                (setUp)="openSettingsDialog('g_suite', $event)"
              >
              </app-integration-card>
              <app-integration-card
                [style.margin-top]="'20px'"
                [icon]="'./assets/Clever (Blue).svg'"
                [title]="'Clever'"
                [status]="schoolSyncInfoData.is_clever_enabled ? 'done' : 'disconnect'"
                [subtitle]="schoolSyncInfoData.is_clever_enabled? 'Last Sync: ' + formatDate((cleverSyncInfo$ | async).last_successful_sync) : 'Sync accounts automatically from any SIS with Clever.'"
                [learnMoreLink]="'https://www.smartpass.app/clever'"
                (setUp)="openSettingsDialog('clever', $event)"
              ></app-integration-card>
              <app-integration-card
                [icon]="'./assets/Folder.svg'"
                [title]="'Profile Pictures'"
                [style.padding]="'10px'"
                [status]="'disconnect'"
                [subtitle]="'Bulk upload profile pictures for your users. '"
                [learnMoreLink]="'https://www.smartpass.app/profile-pictures'"
                (setUp)="openProfilePictures()"
              ></app-integration-card>
<!--              <app-admin-card-button-->
<!--                [title]="'Profile pictures'"-->
<!--                [subtitle]="'Bulk-upload profile pictures'"-->
<!--                [leftIcon]="'./assets/Folder.svg'"-->
<!--                (onClick)="openProfilePictures()"-->
<!--              ></app-admin-card-button>-->
            </div>
          </div>
        </div>
<!--        <div class="title" *ngIf="!!onboardProcess['2.landing:first_account']?.done" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Integrations</div>-->
        <div class="cards" *ngIf="!!onboardProcess['2.landing:first_account']?.done || onboardProcess['2.accounts:create_demo_accounts']?.done">
          <div class="groups" style="margin-top: 0">
            <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Integrations</div>
            <div class="groups-buttons" *ngIf="schoolSyncInfoData$ | async as schoolSyncInfoData">
              <app-integration-card
                [icon]="'./assets/GG4L (Blue).svg'"
                [title]="'GG4L'"
                [status]="schoolSyncInfoData.is_gg4l_enabled ? (!schoolSyncInfoData.login_provider ? 'approved' : 'done') : 'disconnect'"
                [subtitle]="schoolSyncInfoData.is_gg4l_enabled ? (!schoolSyncInfoData.login_provider ? 'Almost done! Adjust settings for account sync.' : 'Last Sync: ' + formatDate((gg4lSettingsData$ | async)?.last_successful_sync)) : 'Sync accounts automatically from any SIS.'"
                [learnMoreLink]="'https://www.smartpass.app/gg4l'"
                (setUp)="openSettingsDialog('gg4l', $event)"
              >
              </app-integration-card>
              <app-integration-card
                [icon]="'./assets/Google (Color).svg'"
                [title]="'G Suite'"
                [status]="schoolSyncInfoData.is_gsuite_enabled ? 'done' : 'disconnect'"
                [subtitle]="schoolSyncInfoData.is_gsuite_enabled ? 'Last Sync: ' + formatDate((gSuiteOrgs$ | async)?.last_successful_sync) : 'Sync accounts from your org units.'"
                [learnMoreLink]="'https://www.smartpass.app/gsuite'"
                (setUp)="openSettingsDialog('g_suite', $event)"
              >
              </app-integration-card>
              <app-admin-card-button
                [title]="'Profile pictures'"
                [subtitle]="'Bulk-upload profile pictures'"
                [leftIcon]="'./assets/Folder.svg'"
                (onClick)="openProfilePictures()"
              ></app-admin-card-button>
            </div>
          </div>
<!--          <app-admin-card-button-->
<!--            [title]="'GG4L'"-->
<!--            [leftIcon]="'./assets/GG4L Icon.svg'"-->
<!--            [subtitle]="'Easy and secure account sync'"-->
<!--            (onClick)="openSyncSettings()"-->
<!--          ></app-admin-card-button>-->
<!--          <app-admin-card-button-->
<!--            [title]="'Profile pictures'"-->
<!--            [subtitle]="'Bulk-upload profile pictures'"-->
<!--            [leftIcon]="'./assets/Folder.svg'"-->
<!--          ></app-admin-card-button>-->
        </div>
      </div>
      <ng-template #role>
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>
