<div class="host" appSafariScroll>
  <div class="account-wrapper">
    <div *ngIf="!(accounts$ | async).total" class="loading-theme spinner ds-h-100 ds-flex-center-center">
      <mat-spinner [color]="'accent'" [diameter]="'135'"></mat-spinner>
    </div>
    <div *ngIf="(accounts$ | async).total">

      <div class="card card__top-bar">
        <div class="accounts ds-flex-center-start">
          <div class="card_header ds-my-15"
               [style.margin]="'1em 0'"
               [style.font-size]="'29px'"
               [style.font-weight]="'bold'"
               [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
          >
            Account & Profile <br>
            Management
          </div>
        </div>
        <div class="g-suite ds-flex-center-between">
          <div style="text-align: right; padding-right: 26px;">
            <div class="card_header"
                 [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
                 [style.font-size]="'16px'">
              <span>Total Accounts: {{(accounts$ | async).total_count}} Accounts</span>
            </div>
            <div class="card_title">
              <span>G Suite: 2,237  Accounts</span>
            </div>
            <div class="card_title">
              <span>Alternative: 23 Accounts</span>
            </div>
          </div>

          <div class="card_manage-users card_manage-users__all"
               [routerLink]="['/admin/accounts', '_all']"
               [queryParams]="{count: (accounts$ | async).total_count}"
               [ngClass]="{'card_manage-users__dark': darkTheme.isEnabled$.value}"
          >
            <img draggable="false" width="30" [src]="darkTheme.getIcon({
                iconName: 'Settings',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="">
            <div style="text-align: center;" class="ds-px-10"
              >
              <span>Manage <br> Accounts</span>
            </div>
            <img draggable="false" width="17" [src]="darkTheme.getIcon({
                iconName: 'Chevron Right',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="">
          </div>


        </div>

      </div>
      <div class="card-container">
        <div class="card-container_row ds-mr-10">
          <div class="card card__role">
            <div class="card_content">
              <div class="card_header"
                   [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
              ><img [src]="darkTheme.getIcon({
                iconName: 'Admin',
                darkFill: 'White',
                lightFill: 'Navy'
              })  | resolveAsset" alt=""><span>Administrators</span>
              </div>
              <p class="card_title">
                <span [style.font-weight]="'bold'">{{(accounts$ | async).admin_count}} user{{(accounts$ | async).admin_count> 1 ? 's' : ''}}</span><br>
                An administrator has a high-level look at the school, configures passes, and views/generates reports.
              </p>
            </div>

            <div class="card_manage-users"
               [routerLink]="['/admin/accounts', '_profile_admin']"
               [queryParams]="{count: (accounts$ | async).admin_count}"
               [ngClass]="{'card_manage-users__dark': darkTheme.isEnabled$.value}"
            >
              <span>Manage Users</span><img draggable="false" width="20" [src]="darkTheme.getIcon({
                iconName: 'Chevron Right',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="Chevron Right (Navy).svg">
            </div>
          </div>
          <div class="card card__role">
            <div class="card_content">
              <div class="card_header"
                   [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
              ><img [src]="darkTheme.getIcon({
                iconName: 'Student',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt=""><span>Students</span></div>
              <p class="card_title">
                <span [style.font-weight]="'bold'">{{(accounts$ | async).student_count }} user{{(accounts$ | async).student_count > 1 ? 's' : ''}}</span><br>
                A student can create passes, schedule passes for the future,
                and send pass requests to teachers.
              </p>
            </div>

            <div class="card_manage-users"
                 [routerLink]="['/admin/accounts', '_profile_student']"
                 [queryParams]="{count: (accounts$ | async).student_count}"
                 [ngClass]="{'card_manage-users__dark': darkTheme.isEnabled$.value}"
            >
              <span>Manage Users</span> <img draggable="false" width="20" [src]="darkTheme.getIcon({
                iconName: 'Chevron Right',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="">
            </div>
          </div>
        </div>
        <div class="card-container_row ds-ml-10">
          <div class="card card__role">
            <div class="card_content">
              <div class="card_header"
                   [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
              ><img [src]="darkTheme.getIcon({
                iconName: 'Teacher',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt=""><span>Teachers</span></div>
              <p class="card_title">
                <span [style.font-weight]="'bold'">{{(accounts$ | async).teacher_count}} user{{(accounts$ | async).teacher_count> 1 ? 's' : ''}}</span><br>
                A teacher has a room or multiple rooms where students can create passes to.
                A teacher can create passes, view hall monitor activity, and manage passes in his/her room.
              </p>
            </div>

            <div class="card_manage-users"
               [routerLink]="['/admin/accounts', '_profile_teacher']"
               [queryParams]="{count: (accounts$ | async).teacher_count}"
               [ngClass]="{'card_manage-users__dark': darkTheme.isEnabled$.value}"
            >
              <span>Manage Users</span> <img draggable="false" width="20" [src]="darkTheme.getIcon({
                iconName: 'Chevron Right',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="Chevron Right.svg">
            </div>
          </div>
          <div class="card card__role">
            <div class="card_content">
              <div class="card_header"
                   [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
              ><img [src]="darkTheme.getIcon({
                iconName: 'Secretary',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt=""><span>Secretaries & Substitutes</span></div>
              <p class="card_title">
                <span [style.font-weight]="'bold'">{{(accounts$ | async).secretary_count || 0}} users</span><br>
                A secretary or substitute teacher acts as a certain teacher when they sign-in.
                They can manage passes in his/her room and create passes as that teacher.
              </p>
            </div>

            <div class="card_manage-users"
                 [routerLink]="['/admin/accounts', 'staff_secretary']"
                 [queryParams]="{count: (accounts$ | async).secretary_count || 0}"
                 [ngClass]="{'card_manage-users__dark': darkTheme.isEnabled$.value}"
            >
              <span>Manage Users</span> <img draggable="false" width="20" [src]="darkTheme.getIcon({
                iconName: 'Chevron Right',
                darkFill: 'White',
                lightFill: 'Navy'
              }) | resolveAsset" alt="Chevron Right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

