<div class="host" appSafariScroll>

  <div class="accounts-wrapper" *ngIf="splash !== undefined && splash">
    <div class="accounts-setup ds-pt-25">
      <div class="left-side">
        <div class="left-side_header">Accounts set-up</div>
        <div class="left-side_title">Set up all of your SmartPass accounts with G Suite syncing.</div>
        <div class="accounts-setup_options">
          <div class="option">
            <div class="option-number">
              <span>1</span>
            </div>
            <div class="option-content">
              <div class="option-content_header">
                Connect G Suite
              </div>
              <div class="option-content_description">
                <div class="ds-py-10">You’ll need to be a G Suite administrator to sync users.</div>
                <div>
                  This lets SmartPass see: <br>
                  a) Your email address and domain <br>
                  b) Organizational units on your domain <br>
                  c) Users on your domain
                </div>
              </div>
            </div>
          </div>

          <div class="option">
            <div class="option-number">
              <span>2</span>
            </div>
            <div class="option-content">
              <div class="option-content_header">
                Select Users for Sync
              </div>
              <div class="option-content_description ds-pt-10">
                Choose which G Suite users you want to sync to SmartPass  <br>
                Groups. When new accounts are created in your G Suite we’ll  <br>
                automatically sync them to a specific SmartPass Group. <br>
              </div>
            </div>
          </div>
        </div>
        <div class="accounts-setup_buttons">
          <app-gradient-button
            [size]="'medium'"
            [gradient]="'#FFFFFF,#139BE6'"
            [fontWeight]="'normal'"
            (buttonClick)="goToAccountsSetup()"
          >
              <span style="font-weight: normal;">
                I’m a G Suite Admin
              </span>
          </app-gradient-button>

          <div class="ds-mx-25" style="font-size: 17px;">
            <span>OR</span>
          </div>

          <app-gradient-button
            [size]="'medium'"
            [gradient]="'#FFFFFF,#00B476'"
            [fontWeight]="'normal'"
            [rightIcon]="'./assets/Chevron Right (White).svg'"
            (buttonClick)="showAccountsSetupLink()"
          >
              <span style="font-weight: normal;">
                Send them the link
              </span>
          </app-gradient-button>
        </div>
      </div>
      <div class="right-side">
        <app-privacy-card></app-privacy-card>
        <div class="setup-guy">
          <img [src]="'./assets/accounts-setup-guy.svg'" alt="accounts-setup-guy.svg">
        </div>
      </div>
    </div>
  </div>

  <div class="accounts-wrapper" *ngIf="splash !== undefined && !splash">
      <div class="header-wrapper" [style.background-color]="darkTheme.getBackground('default')">
        <div class="accounts-header" [style.background-color]="darkTheme.getBackground('high', true)">
          <div class="header-content">
            <div class="header-title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">
              Accounts
              <div class="count">
                <img width="15" height="15" [src]="'./assets/Info (Blue-Gray).svg' | resolveAsset" alt="">
                <div class="text" [style.color]="darkTheme.getColor({white: '#7f879d', dark: '#FFFFFF'})">{{(accounts$ | async)?.total_count}} accounts</div>
              </div>
            </div>

            <div class="header-buttons">
              <div class="ds-mx-10" *ngIf="openTable && !dataTableEditState.value">
                <app-round-input
                        [minWidth]="'230px'"
                        [width]="'230px'"
                        [type]="'text'"
                        [pending$]="pending$"
                        [placeholder]="'Search'"
                        (ontextupdate)="findRelevantAccounts($event)">
                </app-round-input>
              </div>
              <app-gradient-button *ngIf="openTable && dataTableEditState.value"
                                   [size]="'small'"
                                   [disabled]="!selectedUsers.length"
                                   [cursor]="'pointer'"
                                   [fontSize]="'14px'"
                                   [fontWeight]="700"
                                   [minHeight]="'50px'"
                                   [gradient]="'#DA2370, #FB434A'"
                                   [hoverColor]="'#DA2370'"
                                   (buttonClick)="promptConfirmation($event.target, 'delete_from_profile')">
                <span>Delete Account & Data</span>
              </app-gradient-button>
              <app-gradient-button
                      [style.margin-left]="'15px'"
                      [size]="'medium'"
                      [hoverColor]="'#00B476'"
                      [cursor]="'pointer'"
                      [leftIcon]="'./assets/Plus (White).svg'"
                      (buttonClick)="addUser()"
              >
                Add
              </app-gradient-button>
              <app-gradient-button *ngIf="openTable"
                                   [style.margin-left]="'15px'"
                                   [size]="'medium'"
                                   [cursor]="'pointer'"
                                   [gradient]="'#F4F4F4,#F4F4F4'"
                                   [hoverColor]="'#F4F4F4'"
                                   [textColor]="'#1F194E'"
                                   (buttonClick)="dataTableEditState.next(!dataTableEditState.value)">
                <div class="ds-flex-center-center">
                  <span>{{(!dataTableEditState.value ? 'Edit' : 'Done' )}}</span>
                </div>
              </app-gradient-button>
              <div class="go-accounts" (click)="openTable = !openTable">
                <img
                        draggable="false"
                        width="16"
                        height="16"
                        [src]="(openTable ? './assets/Chevron Down (Jade).svg' : './assets/Chevron Right (Blue-Gray).svg')"
                        alt="Chevron"
                >
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="accounts-content" *ngIf="!openTable">
      <div class="content-wrapper">
        <div class="top-buttons">
          <app-admin-card-button
                  [leftIcon]="'./assets/google/google_logo.svg'"
                  [title]="'G Suite'"
                  [subtitle]="'Last Sync: ' + formatDate((gSuiteOrgs$ | async)?.last_successful_sync)"
                  (onClick)="router.navigate(['/admin/accounts', 'g_suite'])"
          ></app-admin-card-button>

          <app-admin-card-button
                  [title]="'Integrations'"
                  [subtitle]="'More coming soon'"
                  [integrations]="true"
          ></app-admin-card-button>
        </div>

        <div class="groups">
          <div class="title" [style.color]="darkTheme.getColor({white: '#1E194F', dark: '#FFFFFF'})">Groups</div>
          <div class="groups-buttons">
            <app-admin-card-button
                    *ngFor="let button of accountsButtons"
                    [title]="button.title"
                    [leftIcon]="button.leftIcon"
                    [subtitle]="getCountRole(button.role) + (getCountRole(button.role) > 1 || getCountRole(button.role) === 0 ? ' users' : ' user')"
                    [subtitleIcon]="button.subIcon"
                    (onClick)="router.navigate(['/admin/accounts', button.param])"
            >
            </app-admin-card-button>
          </div>
        </div>
      </div>
    </div>

    <div class="user-table" *ngIf="openTable && userList.length && !(pending$ | async)">
      <div class="column-settings">
        <app-icon-button class="options-icon" [srcString]="'Options'" [size]="16" (clickEvent)="showColumnSettings($event)"></app-icon-button>
      </div>
      <app-data-table
              class="ds-my-10"
              [data]="userList"
              [isCheckbox]="dataTableEditState"
              [textColor]="'#7E879D'"
              [marginTopStickyHeader]="'147px'"
              [disallowHover]="!(dataTableEditState | async)"
              [displayedColumns]="dataTableHeadersToDisplay"
              (selectedCell)="findProfileByRole($event)"
              (selectedUsers)="setSelected($event)"
      >
      </app-data-table>
    </div>
    <div class="loading-theme_blue-gray spinner ds-w-100 ds-h-100 ds-flex-center-center"  *ngIf="pending$ | async">
      <mat-spinner [diameter]="50" [color]="'primary'"></mat-spinner>
    </div>
  </div>
</div>
