@import "../../../design-system";

@media only screen and (min-width: 560px) {
  #quote-request-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 30px);
    background-color: white;
    padding-top: 30px;

    .row {
      display: flex;
      justify-content: space-between;
      padding-right: 40px;
      padding-bottom: 10px;
    }

    form {
      display: flex;
      align-content: flex-start;
      flex-direction: column;
    }

    #confirm-wrapper {
      padding-right: 40px
    }

    #confirm {
      width: 100%;
      height: 75px;
    }
  }
}

@media only screen and (max-width: 559px) {
  #quote-request-wrapper {
    min-height: calc(100vh - 30px);
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    #confirm-wrapper {
      padding-right: 40px
    }

    #confirm {
      width: 100%;
      height: 75px;
    }
  }
}

#post-qr-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100%;
  background-color: white;

  #post-qr-title-wrapper {
    width: 100%;

    h1 {
      @include textSize(24px, bold);
      text-align: center;
    }
  }

  #post-qr-form {
    span {
      @include textSize(14px, normal, $search-gray);
      margin-bottom: 10px;
    }

    hr {
      color: #7F879D;
      width: 150px;
      margin-bottom: 30px;
    }
  }

  #button-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #get-demo {
    width: 200px;
    font-size: 12px;
  }
}
