<div *ngIf="!submitted; else postWrapper" id="quote-request-wrapper">
  <div id="quote-request">
    <form [formGroup]="quoteRequestForm">
      <div id="top-overlay"
           [style.box-shadow]="topShadow ? '0px 7px 14px #FFFFFF inset' : null"></div>
      <div #mainForm
           id="main-form"
           (scroll)="onScroll($event)">
        <div class="row">
          <div class="app-input-wrapper">
            <app-input input_label="Your name"
                       width="245px"
                       [tabAttentive]="true"
                       [tabIndex]="1"
                       isFocus="true"
                       tabAttentive="true"
                       placeholder="Seymour Skinner"
                       [formGroup]="quoteRequestForm"
                       [forceError]="showErrors && !quoteRequestForm.controls.name.valid"
                       [controlName]="quoteRequestForm.controls.name"></app-input>
          </div>
          <div class="app-input-wrapper">
            <app-input input_label="Position"
                       width="245px"
                       [tabIndex]="2"
                       [tabAttentive]="true"
                       placeholder="Ex. Principal"
                       [formGroup]="quoteRequestForm"
                       [forceError]="showErrors && !quoteRequestForm.controls.position.valid"
                       [controlName]="quoteRequestForm.controls.position"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="app-input-wrapper">
            <app-input input_label="Email"
                       width="245px"
                       [tabIndex]="3"
                       [tabAttentive]="true"
                       placeholder="wskinner@springfieldhs.org"
                       [formGroup]="quoteRequestForm"
                       [forceError]="showErrors && !quoteRequestForm.controls.email.valid"
                       [controlName]="quoteRequestForm.controls.email"></app-input>
          </div>
          <div class="app-input-wrapper">
            <app-input input_label="Phone number"
                       width="245px"
                       [tabIndex]="4"
                       [tabAttentive]="true"
                       [formGroup]="quoteRequestForm"
                       [forceError]="showErrors && !quoteRequestForm.controls.phone.valid"
                       [controlName]="quoteRequestForm.controls.phone"></app-input>
          </div>
        </div>
        <app-list-schools [form]="quoteRequestForm" [showErrors]="showErrors" (schoolCount)="schoolCountChange($event)" startTabIndex="4"></app-list-schools>
      </div>
      <div id="bottom-overlay"
           [style.box-shadow]="bottomShadow ? '0px -15px 14px -15px rgba(0, 0, 0, 0.17) inset' : null"></div>
      <div id="confirm-wrapper">
        <app-gradient-button
          id="confirm"
          size="custom"
          width="542px"
          minHeight="70px"
          (click)="confirm()"><span id="confirm-text">Request Quote</span>
        </app-gradient-button>
      </div>
    </form>
  </div>
</div>
<ng-template #postWrapper>
  <div id="post-qr-wrapper">
    <div id="post-qr-sub-wrapper">
      <div id="post-qr-form">
        <div id="post-qr-title-wrapper"><h1 id="title">Quote request submitted</h1></div>
        <app-colored-checkbox
          title="How did you hear about us?"
          [options]="['Google search', 'Facebook', 'Referral / word of mouth',
  'Conference', 'Magazine ad', 'Email']"
          [formArray]="hdyhau"
          [other]="true">
        </app-colored-checkbox>
      </div>
    </div>
  </div>
</ng-template>

