<div *ngIf="!submitted; else postWrapper" id="quote-request-wrapper">
  <div id="quote-request">
    <form [formGroup]="quoteRequestForm">
      <div class="row">
        <app-input input_label="Your name"
                   width="225px"
                   [tabAttentive]="true"
                   [tabIndex]="1"
                   isFocus="true"
                   tabAttentive="true"
                   placeholder="Seymour Skinner"
                   [formGroup]="quoteRequestForm"
                   [controlName]="quoteRequestForm.controls.name"></app-input>
        <app-input input_label="Position"
                   width="225px"
                   [tabIndex]="2"
                   [tabAttentive]="true"
                   placeholder="Ex. Principle"
                   [formGroup]="quoteRequestForm"
                   [controlName]="quoteRequestForm.controls.position"></app-input>
      </div>
      <div class="row">
        <app-input input_label="Email"
                   width="225px"
                   [tabIndex]="3"
                   [tabAttentive]="true"
                   placeholder="wskinner@springfieldhs.org"
                   [formGroup]="quoteRequestForm"
                   [controlName]="quoteRequestForm.controls.email"></app-input>
        <app-input input_label="Phone Number"
                   width="225px"
                   [tabIndex]="4"
                   [tabAttentive]="true"
                   [formGroup]="quoteRequestForm"
                   [controlName]="quoteRequestForm.controls.phone"></app-input>
      </div>
      <app-list-schools [form]="quoteRequestForm" startTabIndex="4"></app-list-schools>
      <div id="confirm-wrapper">
        <app-gradient-button
          id="confirm"
          [disabled]="!quoteRequestForm.valid"
          (click)="confirm()">Request Quote
        </app-gradient-button>
      </div>
    </form>
  </div>
</div>
<ng-template #postWrapper>
  <div id="post-qr-wrapper">
    <div id="post-qr-title-wrapper"><h1 id="title">Quote request submitted</h1></div>
    <div id="post-qr-form">
      <span id="desc">You'll get a quote emailed to you within 24 hours.</span>
      <hr>
      <app-colored-checkbox
        title="How did you hear about us?"
        [options]="['Google search', 'Facebook', 'Referral / word of mouth',
  'Conference', 'Magazine ad', 'Email', 'Other']"
        [formArray]="hdyhau"></app-colored-checkbox>
    </div>
    <div id="button-div">
      <app-gradient-button
        id="get-demo"
        text="Get a free, 30 min demo"
        buttonLink="https://smartpass.app/demo"
        linkType="_self">
      </app-gradient-button>
    </div>
  </div>
</ng-template>

