<div class="host" appSafariScroll>
  <div class="wrapper">
    <div class="info-block">
      <img [src]="'./assets/admin-images/Rooms-set-up.svg' | resolveAsset" alt="RST">
      <div class="info">
        <div class="title">Rooms set-up</div>
        <div class="small-text">Paper to digital is seamless. Add a starter pack of rooms or start from scratch.</div>
      </div>
    </div>

    <div class="buttons-block">
      <div
        class="started-pack"
        (mousedown)="onPress(true, 'pack')"
        (mouseup)="onPress(false, 'pack')"
        [@pressState]="buttonStatePack"
      >
        <div class="title">Add Starter Pack</div>
        <div class="collection">
          <div class="pinnable"
               *ngFor="let pinnable of mockPinnables; let i = index"
               [style.background]="'radial-gradient(circle at 73% 71%, ' + pinnable.gradient + ')'"
               [style.margin-bottom]="i !== 3 && i !== 4 && i !== 5 ? '15px' : 0"
          >
            <img width="30" height="30" [src]="pinnable.icon" alt="Icon">
            <div class="pinnable-title">{{ pinnable.title }}</div>
          </div>
        </div>
      </div>
      <div class="title">OR</div>
      <div
         class="started-scratch"
         (mousedown)="onPress(true, 'scratch')"
         (mouseup)="onPress(false, 'scratch')"
         [@pressState]="buttonStateScratch"
      >
        <div class="started-scratch-title">Start from scratch</div>
        <div class="img">
          <img width="185" height="144" [src]="'./assets/emptyStates/Rooms empty.svg'" alt="">
        </div>
      </div>
    </div>
  </div>
</div>