@import '../../../../../sp-colors';

.wrapper {

  .content {

    .count {
      padding: 10px 0 0 20px;

      .info {
        display: flex;
        align-items: center;
      }
    }

    .encounters {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .encounter {
        margin-bottom: 7px;
      }

      .created {
        font-size: 13px;
        color: $blue-gray;
        opacity: 0.5;
      }
    }
  }

  .value {
    position: absolute;
    z-index: 10;
    color: #FFFFFF;
    font-size: 14px;
  }

  .empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
    color: $blue-gray;
    font-size: 14px;
    text-align: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 245px;
      .text {
        margin: 19px 0;
      }
    }
  }
}
