
<div class="inline-pass-card-wrapper"
     style="z-index: 501 !important;"
     [style.background-image]="gradient" [style.height]="'412px'" ondragstart="return false">
    <div class="pass-card-header">
        <div class="header-content">
            <div class="header-info">
                <img  class="pass-card-header-icon" [src]="pass.icon | resolveAsset">
                <div class="pass-card-header-text">{{ pass.destination.title }}</div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div class="inline-pass-card-content">
        <div class="travel">
            <app-travel-view [pass]="pass"></app-travel-view>
        </div>
        <div class="button">
            <app-card-button (onClick)="endPass()" [disabled]="performingAction" [width]="buttonWidth +'px'" [height]="'81px'"  [gradientColor]="pass?.color_profile.gradient_color" [overlayWidth]="overlayWidth" [valid]="valid">
                <div class="end-pass-content">
                    {{ timeLeft +(timeLeft===''?'':' -')}} End Pass
                </div>
            </app-card-button>
        </div>
    </div>
</div>
