
<div class="inline-pass-card-wrapper" [style.background-image]="gradient" [style.height]="'412px'" ondragstart="return false">
    <div class="pass-card-header">
        <div class="header-content">
            <div class="header-info">
                <img  class="pass-card-header-icon" [src]="pass.icon | resolveAsset">
                <div class="pass-card-header-text">{{ pass.destination.title }}</div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div class="inline-pass-card-content">
        <div class="travel">
            <app-travel-view [pass]="pass"></app-travel-view>
        </div>
        <div class="button">
            <app-card-button (onClick)="endPass()" [disabled]="performingAction" [width]="buttonWidth +'px'" [height]="'81px'"  [gradientColor]="pass?.color_profile.gradient_color" [overlayWidth]="overlayWidth" [valid]="valid">
                <div class="end-pass-content">
                    {{ timeLeft +(timeLeft===''?'':' -')}} End Pass
                </div>
            </app-card-button>
        </div>
    </div>
</div>






<!--<div class="inline-card-container" ondragstart="return false;" style="position: relative">-->
    <!--<app-pass-card-template [pass]="pass"-->
                            <!--[rightJustify]="(fromPast || forFuture)?'center':'flex-end'"-->
                            <!--[hasClose]="!isActive || fromPast"-->
                            <!--[closeIcon]="'Trash (Transparent).png'">-->

    <!--<div class="card-subtitle" *ngIf="fromPast || forFuture">-->
      <!--{{ formatDateTime() }}-->
    <!--</div>-->

    <!--<div *ngIf="forInput; else noInput" class="card-body-left">-->
        <!--<app-traveltype-picker (onSelect)="selectedTravelType=$event" [choices]="pass.destination.travel_types" [altColor]="pass.color_profile.solid_color"></app-traveltype-picker>-->

        <!--<app-duration-picker (onChange)="selectedDuration=$event" [maxDuration]="pass.destination.max_allowed_time?pass.destination.max_allowed_time:5"></app-duration-picker>-->
    <!--</div>-->
    <!--<ng-template class="card-body-left" #noInput>-->
        <!--<app-travel-view [pass]="pass"></app-travel-view>-->
    <!--</ng-template>-->

    <!--<div *ngIf="forInput" class="card-body-right">-->
      <!--<app-card-button (onClick)="newPass()" [disabled]="performingAction" [width]="buttonWidth +'px'" [height]="'79px'" [gradientColor]="pass?.color_profile.gradient_color">-->
        <!--<div class="start-pass-content">-->
          <!--<div class="start-pass-content-text">{{((forFuture && forInput)?'Schedule Pass':'Start Pass')}}</div>-->
          <!--<img class="button-icon-right" [src]="'./assets/One Arrow.png' | resolveAsset">-->
        <!--</div>-->
      <!--</app-card-button>-->
    <!--</div>-->
    <!--<div *ngIf="isActive" class="card-body-right">-->
      <!--<app-card-button (onClick)="endPass()" [disabled]="performingAction" [width]="buttonWidth +'px'" [height]="'81px'"  [gradientColor]="pass?.color_profile.gradient_color" [overlayWidth]="overlayWidth" [valid]="valid">-->
        <!--<div class="end-pass-content">-->
           <!--{{ timeLeft +(timeLeft===''?'':' -')}} End Pass-->
        <!--</div>-->
      <!--</app-card-button>-->
    <!--</div>-->
    <!--<div *ngIf="fromPast || forFuture && !forInput" class="card-body-right">-->
      <!--{{ forFuture?'Pass Auto Starts': getDuration() +' - Total Time' }}-->
    <!--</div>-->

  <!--</app-pass-card-template>-->
<!--</div>-->
