.card-body-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.button-content{
    width: 297px;
    height: 81px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: -79px 0 0 0%;
    font-weight: bold;
}

.start-pass-content{
    @extend .button-content;
}

.end-pass-content{
    @extend .button-content;
}

.button-icon-right{
    width: 17px;
    height: 17px;
    position: absolute;
    right: 10px;
}