<div class="timer">
    <div>
        <div>
            <div class="clock-face">{{ firstDigit(daysTo) }}</div>
            <div class="clock-face">{{ secondDigit(daysTo) }}</div>
        </div>
        <span>Days</span>
    </div>
    <div>
        <div>
            <div class="clock-face">{{ firstDigit(hoursTo) }}</div>
            <div class="clock-face">{{ secondDigit(hoursTo) }}</div>
        </div>
        <span>Hours</span>
    </div>
    <div>
        <div>
            <div class="clock-face">{{ firstDigit(minutesTo) }}</div>
            <div class="clock-face">{{ secondDigit(minutesTo) }}</div>
        </div>
        <span>Minutes</span>
    </div>
</div>
