@import '../../../../sp-colors';
.clock-face {
    background: linear-gradient(180deg, #68686E 0%, #27272A 100%);
    border-radius: 4px;
    width: 31px;
    height: 39px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    gap: 12px;
    margin-bottom: 36px;
    > div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        > div {
            display: flex;
            gap: 4px;
        }
        span {
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #676767;
            text-align: center;
        }
    }
    > :first-child {
        .clock-face {
            color: $white;
        }
    }
}

