<div class="wrapper">
  <div class="options">
    <div class="option-container" *ngFor="let option of options">
      <div class="option" (mouseenter)="option.hovered = true" (mouseleave)="option.hovered = false">
        <img class="icon" [src]="getIcon(option.image, null,  option.hovered) | resolveAsset">
        <div class="name" [style.color]="option.hovered ? '#1F195E' : '#7f879d'">{{ option.name }}</div>
      </div>
      <mat-divider [style.margin]="'8px 0'" *ngIf="option.image === 'Chat'"></mat-divider>
    </div>
  </div>
</div>
