<div id="predemo">
  <div id="masthead">
    <div id="logo-wrapper">
      <a href="www.smartpass.app">
        <app-smartpass-logo [logoAsset]="'./assets/Logo (Green).svg'"></app-smartpass-logo>
      </a>
    </div>
    <div id="text-wrapper">
      <h1>{{ formTitle }}</h1>
<!--      <span>{{startTime | date:'MMM dd'}} at {{startTime | date:'h:mm a'}} ({{timeZone}}) {{ "\u2022" }}-->
<!--        with {{assignedTo}}</span>-->
    </div>
  </div>
  <div id="form-wrapper">
    <form [formGroup]="predemoForm" *ngIf="!submitted; else postWrapper">
      <app-list-schools *ngIf="!completedSchools"
                        [form]="predemoForm"
                        [showErrors]="showErrors"
                        autoFocus="true"
                        useLargeFormWhenNotFound="true"
      ></app-list-schools>
      <app-colored-checkbox *ngIf="!completedHdyhau"
                            title="How did you hear about us?"
                            [options]="['Google search', 'Facebook', 'Referral / word of mouth',
  'Conference', 'Magazine ad', 'Email']"
                            [other]="true"
                            [formArray]="predemoForm.controls.hdyhau">
      </app-colored-checkbox>
      <app-gradient-button
        id="confirm"
        (buttonClick)="confirmDemo()">Submit
      </app-gradient-button>
    </form>
  </div>
  <ng-template #postWrapper>
    <div id="submitted-wrapper">
      <div id="text-wrapper">
        <h1>Thank you!</h1>
        <p> We're looking forward to speaking soon. If you have any questions prior to your demo,
          feel free to send us an email at <a href="emailto:support@smartpass.app">support@smartpass.app</a>.</p>
      </div>
    </div>
  </ng-template>
</div>
