<div id="predemo">
  <div id="masthead">
    <div id="logo-wrapper">
      <app-smartpass-logo [logoAsset]="'./assets/Logo Green.svg' | resolveAsset"></app-smartpass-logo>
    </div>
    <div id="text-wrapper">
      <h1>Confirm your upcoming demo</h1>
      <span>{{startTime | date:'MMM dd'}} at {{startTime | date:'h:mm a'}} {{timeZone}} {{ "\u2022" }}
        with {{assignedTo}}</span>
    </div>
  </div>
  <div id="form-wrapper">
    <form [formGroup]="predemoForm" *ngIf="!submitted; else postWrapper">
      <app-list-schools *ngIf="!completedSchools" [form]="predemoForm" autoFocus="true"></app-list-schools>
      <app-colored-checkbox *ngIf="!completedHdyhau"
        title="How did you hear about us?"
        [options]="['Google search', 'Facebook', 'Referral / word of mouth',
  'Conference', 'Magazine ad', 'Email', 'Other']"
        [formArray]="predemoForm.controls.hdyhau"></app-colored-checkbox>
      <app-gradient-button
        id="confirm"
        [disabled]="!predemoForm.valid"
        (click)="confirmDemo()">Confirm demo
      </app-gradient-button>
    </form>
  </div>
  <ng-template #postWrapper>
    <div id="submitted-wrapper">
      <div id="text-wrapper">
        <h1>Demo confirmed!</h1>
        <p>Looking forward to speaking soon. If you have any questions prior to your demo,
          feel free to send us an email at <a href="emailto:hello@smartpass.app">hello@smartpass.app</a>.</p>
      </div>
    </div>
  </ng-template>
</div>
