.from-wrapper {
  width: 425px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
  .from-header {
    width: 100%;
    height: 64px;
    display: flex;
    z-index: 10;
    position: relative;
    align-items: center;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

    .back-button {
      width: 26px;
      height: 26px;
      position: absolute;
      margin-left: 20px;
      user-select: none;
      cursor: pointer;
    }

    .from-header-text {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .search-icon{
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      .text {
        color: #1F195E;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.3px;
      }
    }
  }
  .from-footer {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 0px 8px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    bottom: 0;

    .footer-from-text {
      display: flex;
      align-items: center;
      flex-direction: column;

      .footer-text {
        color: #1F195E;
      }
    }

    .footer-icon {
      width: 48px;
      height: 10px;
      margin: 0 15px 0 15px;
    }
  }

  .from-content{
    overflow: auto;
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.center-text {
  display: flex;
  align-items: center;
  padding: 7px;
}
.default-footer {
  display: flex;
  .arrow-icon {
    width: 30px;
    height: 15px;
  }

.teacher-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 0;
  z-index: 100;
}

}
.shadow {
  position: absolute;
  opacity: 0.7;
  //bottom: 43px;
  left: 0;
  right: 0;
  height: 3px;
  background: white;
  box-shadow: white 0 0 0 13px;
}
