<div class="from-wrapper">
  <div class="from-header" [style.background-image]="'radial-gradient(circle at 98% 97%, #FFFFFF, FFFFFF)'">
    <img class="back-button" [src]="'./assets/Combined Shape.svg' | resolveAsset" (click)="back()">
    <div class="from-header-text">
      <img class="search-icon" [src]="'./assets/Search (Blue).png' | resolveAsset">
      <div class="text">From where?</div>
    </div>
  </div>

  <div class="from-content" (scroll)="tableScroll($event)">
    <div class="location-tables">
      <app-location-table
         class="locations"
         [forStaff]="true"
         [height]="'107px'"
         [heightLeftTable]="'153px'"
         [horizontalTable]="false"
         [rightHeaderText]="true"
         [inputWidth]="'240px'"
         [forLater]="true"
         [showStars]="true"
         [noRightStar]="true"
         [showFavorites]="true"
         [type]="'location'"
         [placeholder]="'Search rooms'"
         (onSelect)="locationChosen($event)"
      >
      </app-location-table>
    </div>
  </div>
  <div class="shadow" *ngIf="shadow"></div>
  <app-student-footer [date]="date" [formState]="formState" [state]="'from'" *ngIf="!isStaff"></app-student-footer>
  <app-teacher-footer *ngIf="isStaff" [formState]="formState" [date]="date" [studentText]="studentText" [state]="'from'"></app-teacher-footer>

</div>
