<div class="from-wrapper">
  <div class="from-header">
  <!--<div class="from-header" *ngIf="animatedComponetVivibility" [@HeaderShowingUp]>-->
    <img class="back-button" [src]="'./assets/Combined Shape.svg' | resolveAsset" (click)="back()">
    <div class="from-header-text">
      <img class="search-icon" [src]="'./assets/Search (Blue).png' | resolveAsset">
      <div class="text">From where?</div>
    </div>
  </div>

  <div class="from-content" [style.height]="date ? '74%' : '78%'" (scroll)="tableScroll($event)"  *ngIf="animatedComponetVivibility" [@NextStep]="{value: '', params: (frameMotion$ | async)}">
    <div class="location-tables">
      <app-location-table
         class="locations"
         [forStaff]="true"
         [height]="'107px'"
         [heightLeftTable]="'153px'"
         [rightHeaderText]="true"
         [inputWidth]="'240px'"
         [forLater]="true"
         [showStars]="true"
         [noRightStar]="true"
         [showFavorites]="true"
         [type]="'location'"
         [placeholder]="'Search rooms'"
         (onSelect)="locationChosen($event)"
      >
      </app-location-table>
    </div>
  </div>
  <div class="shadow" [style.bottom]="date ? '65px' : '43px'" *ngIf="shadow"></div>
  <app-student-footer [date]="date" [formState]="formState" [state]="'from'" *ngIf="!isStaff && animatedComponetVivibility"></app-student-footer>
  <app-teacher-footer *ngIf="isStaff && animatedComponetVivibility" [formState]="formState" [date]="date" [studentText]="studentText" [state]="'from'"></app-teacher-footer>

</div>
