<div class="host">
  <div class="accounts-role-wrapper">
    <div class="table">
        <app-sp-data-table
          [data$]="accountRoleData$"
          [loading$]="isLoading$"
          [height]="(schools$ | async).length > 1 ? 'calc(100vh - 280px)' : 'calc(100vh - 150px)'"
          [currentPage]="role"
          [isRowClick]="true"
          [showPrintButtons]="false"
          (rowClickEvent)="showProfileCard($event)"
          (loadMoreData)="loadMore()"
        ></app-sp-data-table>
    </div>
  </div>
</div>
