<div class="host" appSafariScroll (scroll)="onScroll($event)">
  <div class="accounts-role-wrapper"  *ngIf="tabVisibility">
    <!--{{initialSearchString}}-->
    <div class="card card__top-bar ds-flex-start-between"
         [ngClass]="{'card__dark': darkTheme.isEnabled$.value}"
         style="width: 100%">
      <div class="ds-flex-start-start">

        <div class="ds-mt-20 ds-mr-20">
          <app-back-button routerLink="/admin/accounts"></app-back-button>
        </div>
        <div class="ds-mt-20 ds-mx-20" [ngSwitch]="role">
          <div *ngSwitchCase="'_all'">
            <div class="ds-mr-20">

              <div class="card_header ds-mb-10">
                <img [src]="darkTheme.getIcon({
                  iconName: 'Settings',
                  darkFill: 'White',
                  lightFill: 'Navy'
                }) | resolveAsset" alt="Settings.svg">
                <span [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})">Accounts</span>
              </div>
              <div class="card_header" [style.font-size]="'16px'">
                <span
                  [style.padding-left]="'0px'"
                  [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})"
                >Total Accounts: {{(accounts$ | async).total}} Accounts</span>
              </div>
              <div class="card_title">
                <span>G Suite: 2,237  Accounts</span>
              </div>
              <div class="card_title">
                <span>Alternative: 23 Accounts</span>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'_profile_admin'">
            <div class="card_header ds-mb-10">
              <img [src]="darkTheme.getIcon({
                  iconName: 'Admin',
                  darkFill: 'White',
                  lightFill: 'Navy'
                }) | resolveAsset" alt="Settings.svg">
              <span [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})">Administrators</span>
            </div>
            <p class="card_title mr-20">
              <span class="bold">{{count}} user{{count > 1 ? 's' : ''}} </span><br>
              An administrator has a high-level look at the school, configures passes, and views/generates reports.
            </p>
          </div>
          <div *ngSwitchCase="'_profile_teacher'">
            <div class="card_header ds-mb-10">
              <img [src]="darkTheme.getIcon({
                  iconName: 'Teacher',
                  darkFill: 'White',
                  lightFill: 'Navy'
                }) | resolveAsset" alt="Settings.svg">
              <span [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})">Teachers</span>
            </div>
            <p class="card_title ds-mr-20">
              <span class="bold">{{count}} user{{count > 1 ? 's' : ''}} </span><br>
              A teacher has a room or multiple rooms where students can create passes to.
              A teacher can manage passes in his/her room and create passes.
            </p>
          </div>
          <div *ngSwitchCase="'_profile_student'">
            <div class="card_header ds-mb-10">
              <img [src]="darkTheme.getIcon({
                  iconName: 'Student',
                  darkFill: 'White',
                  lightFill: 'Navy'
                }) | resolveAsset" alt="Settings.svg">
              <span [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})">Students</span>
            </div>
            <p class="card_title ds-mr-20">
              <span class="bold">{{count}} user{{count > 1 ? 's' : ''}} </span><br>
              A student can create passes, schedule passes for the future,
              and send pass requests to teachers.
            </p>
          </div>
          <div *ngSwitchCase="'staff_secretary'">
            <div class="card_header ds-mb-10">
              <img [src]="darkTheme.getIcon({
                  iconName: 'Secretary',
                  darkFill: 'White',
                  lightFill: 'Navy'
                }) | resolveAsset" alt="Settings.svg">
              <span [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#1E194F'})">Secretaries & Substitutes</span>
            </div>
            <p class="card_title ds-mr-20">
              <span class="bold">{{count}} user{{count > 1 ? 's' : ''}} </span><br>
              A secretary or substitute teacher acts as a certain teacher when they sign-in.
              They can manage passes in his/her room and create passes as that teacher.
            </p>
          </div>
        </div>
      </div>
      <div class="ds-mx-20 ds-mt-20">
        <div class="ds-flex-start-end">
          <ng-container *ngIf="role === '_all'; else roleProfile">
            <app-gradient-button
              [size]="'large'"
              [border]="'1px solid #eee'"
              [gradient]="'#FFFFFF, #FFFFFF'"
              [hoverColor]="'#F5F5F5'"
              [cursor]="'pointer'"
              [textColor]="'#134482'"
              [minHeight]="'74px'"
              [width]="'147px'"
              [fontWeight]="'900'"
              [fontSize]="'17px'"
              [textWidth]="'69%'"
              (buttonClick)="showProfileCard(null, false, true)"
            >
              <div class="ds-flex-center-center ds-mx-20">
                <div class="ds-mr-15">
                  <img src="assets/google/google_logo.svg" alt="google-icon" width="34" height="34">
                </div>
                <div>
                  <span>G Suite Settings</span>
                </div>
              </div>
            </app-gradient-button>
          </ng-container>

          <ng-template #roleProfile>

            <app-gradient-button
              [size]="'medium'"
              [cursor]="'pointer'"
              [leftIcon]="'./assets/Plus (White).svg'"
              (buttonClick)="addUser()">
              <div class="ds-flex-center-center">
                <span>Add User to Profile</span>
              </div>
            </app-gradient-button>
          </ng-template>
        </div>
        <div class="ds-ml-20 ds-pt-10">
          <app-round-input
            [initialValue]="initialSearchString"
            [minWidth]="'280px'"
            [type]="'text'"
            [placeholder]="'Search users'"
            (ontextupdate)="findRelevantAccounts($event)">
          </app-round-input>
        </div>
      </div>
    </div>

    <div class="table">
      <div *ngIf="!userList.length" class="loading-theme spinner ds-flex-center-center">
        <mat-spinner *ngIf="!placeholder" [color]="'accent'"></mat-spinner>
        <h1 [style.color]="darkTheme.getColor({dark: '#FFFFFF', white: '#7F879D'})" *ngIf="placeholder">No matches found.</h1>
      </div>
      <div *ngIf="userList.length">
        <div class="tool-panel">

          <div *ngIf="selectedUsers.length" class="ds-flex-center-start">
            <div class="ds-my-20 ds-px-10" [style.min-width]="'150px'" [style.font-weight]="'bold'" [style.color]="darkTheme.getColor()">
              <p class="">{{selectedUsers.length}} User<span *ngIf="selectedUsers.length > 1">s</span> Selected:</p>
            </div>
            <!--<div class="my py" *ngIf="role === 'staff_secretary'">-->
            <!--<app-gradient-button-->
            <!--[disabled]="!selectedUsers.length"-->
            <!--[cursor]="'pointer'"-->
            <!--[minHeight]="'32px'"-->
            <!--[width]="'295px'"-->
            <!--[fontSize]="'14px'"-->
            <!--[fontWeight]="400"-->
            <!--[gradient]="'#13BF9E, #00D99B'"-->
            <!--(buttonClick)="openDialog('teacher')">-->
            <!--<span>Add/Modify Acting Teacher Account</span>-->
            <!--</app-gradient-button>-->
            <!--</div>-->
            <!--<div class="m p" *ngIf="role === '_profile_teacher'">-->
            <!--<app-gradient-button-->

            <!--[disabled]="!selectedUsers.length"-->
            <!--[cursor]="'pointer'"-->
            <!--[minHeight]="'32px'"-->
            <!--[width]="'185px'"-->
            <!--[fontSize]="'14px'"-->
            <!--[fontWeight]="400"-->
            <!--[gradient]="'#022F68, #2F66AB'"-->
            <!--(buttonClick)="openDialog('rooms')">-->
            <!--<span>Add/Modify Rooms</span>-->
            <!--</app-gradient-button>-->
            <!--</div>-->
            <!--<div class="my py"  *ngIf="role !== 'hallpass_student'">-->
            <!--<app-gradient-button-->
            <!--[disabled]="!selectedUsers.length"-->
            <!--[cursor]="'pointer'"-->
            <!--[minHeight]="'32px'"-->
            <!--[width]="'215px'"-->
            <!--[fontSize]="'14px'"-->
            <!--[fontWeight]="400"-->
            <!--[gradient]="'#0B9FC1, #00C0C7'"-->
            <!--(buttonClick)="openDialog('restrictions')">-->
            <!--<span>Add/Modify Restrictions</span>-->
            <!--</app-gradient-button>-->
            <!--</div>-->



            <div class="ds-p-10"  *ngIf="role !== '_profile_student'">
              <app-gradient-button
                [size]="'small'"
                [disabled]="!selectedUsers.length"
                [cursor]="'pointer'"
                [minHeight]="'32px'"
                [width]="'215px'"
                [hoverColor]="'#FFFFFF'"
                [fontSize]="'14px'"
                [fontWeight]="700"
                [gradient]="'#FFFFFF, #FFFFFF'"
                [textColor]="'#1F195E'"
                (buttonClick)="showProfileCard(selectedUsers[0], true)">
                <span>Bulk Permissions</span>
              </app-gradient-button>
            </div>

            <div class="ds-p-10">
              <app-gradient-button
                [size]="'small'"
                [disabled]="!selectedUsers.length"
                [cursor]="'pointer'"
                [minHeight]="'32px'"
                [width]="'215px'"
                [fontSize]="'14px'"
                [fontWeight]="700"
                [gradient]="'#001115, #033294'"
                [hoverColor]="'#022F68'"
                (buttonClick)="false">
                <span>Disable sign-in</span>
              </app-gradient-button>
            </div>

            <div class="ds-p-10" #eventTarget  [style.opacity]="consentMenuOpened ? '.5' : '1'">
              <app-gradient-button
                [size]="'small'"
                [disabled]="!selectedUsers.length"
                [cursor]="'pointer'"
                [minHeight]="'32px'"
                [width]="'280px'"
                [fontSize]="'14px'"
                [fontWeight]="700"
                [gradient]="'#DA2370, #FB434A'"
                [hoverColor]="'#DA2370'"
                (buttonClick)="openDialog('remove', eventTarget)">
                <span>Delete Account & Data</span>
              </app-gradient-button>
            </div>
          </div>
        </div>
        <!--<pre>{{userList| json}}</pre>-->
        <div class="column-settings">
          <img draggable="false" width="20" [src]="darkTheme.getIcon({iconName: 'Options', lightFill: 'Navy'}) | resolveAsset" alt="Options (Navy).svg" (click)="showColumnSettings($event)">
        </div>
        <app-data-table
          class="ds-my-10"
          [data]="userList"
          [disallowHover]="role === '_all'"
          [displayedColumns]="dataTableHeadersToDisplay"
          (selectedCell)="findProfileByRole($event)"
          (selectedRow)="showProfileCard($event)"
          (selectedUsers)="showSelected($event)">
        </app-data-table>
      </div>
    </div>
  </div>
</div>
