:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.host{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  background-color: #FBFEFF;
  overflow-y: scroll;
  .accounts-role-wrapper{
    min-width: 850px;
    width: 100%;
    height: 100%;
    .back-button {
      min-width: 125px;
      width: 125px;
      height: 100%;
    }
    .card{
      box-sizing: border-box;
      padding: 25px 35px;
      background-color: #fff;
      border-radius: 10px;
      font-size: 17px;
      color: #1F195E;
      -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
      -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
      &__dark {
        -webkit-box-shadow: 0px 5px 20px 5px #0b72eb;
        -moz-box-shadow:  0px 5px 20px 5px #0b72eb;
        box-shadow:  0px 5px 20px 5px #0b72eb;
      }
      &_header{
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        color: #3D396B;
        white-space: nowrap;
        img {
          width: 30px;
          height: 30px;
        }
        span {
          padding-left: 10px;
        }
      }
      &_title{
        font-size: 14px;
        color: #7F879D;
        display: flex;
        align-items: center;
        img {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      &__top-bar{
        height: 100px;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
      &__role{
        height: 200px;
        margin: 20px 10px;

      }
      &__mp-btn{
        display: block;
        box-sizing: border-box;
        width: 121px;
        height: 74px;
        color: #fff;
        cursor: pointer;
        text-transform: capitalize;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: radial-gradient(circle at 73% 71%, rgb(96, 105, 129), rgb(172, 180, 193))}
    }
    .table{
      padding-top: 20px;
      .spinner{
        height: 568px;
      }
      .column-settings {
        position: relative;
        display: flex;
        justify-content: flex-end;
        .options-icon {
          position: absolute;
          z-index: 1000;
          //top: 10px;
          right: 3px;
          cursor: pointer;
        }
      }
    }
    .tool-panel {
      box-sizing: border-box;
      //padding-left: 30px;
      //min-height: 110px;
    }
  }
  .bold {
    font-weight: bold;
  }
}

.tooltip-container {
  position: relative;
  height: 100%;
  .arrow-down-container{
    opacity: 0;
    transition: .25s ease;
    position: absolute;
    bottom: -8px;
    width: 25px;
    height: 10px;
    margin-left: 5px;
    overflow: hidden;
    .arrow-down {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 4px;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }


}

::ng-deep .tooltip {
  padding: 15px;
  color: #7f879d !important;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
