.card-button-container{
    border-radius: 15px;
  z-index: 100;
    transition: box-shadow .3s ease;
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
}

.card-button-base{
    border-radius: 15px;
    background-color: rgba(200, 200, 200, .7);
    mix-blend-mode: soft-light;
    cursor: pointer;
}

.card-button-base{
    position: relative;


}

.card-button-base:hover{
    //box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

}

.card-button-overlay-base{
    border-radius: 15px 0 0 15px;
    position: absolute;
    top: inherit;
    left: inherit;
    background-color: rgba(200, 200, 200, .7);
}

.card-button-overlay-wrapper{
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin-top: -50px;
}
