.card-button-container{
    border-radius: 10px;
}

.card-button-base{
    border-radius: 10px;
    background-color: white;
    mix-blend-mode: soft-light;
    cursor: pointer;
}

.card-button-base{
    position: relative;
    z-index: 5;
    box-shadow: 0 7.5px 13px 5px rgba(0, 0, 0, 0.1);
}

.card-button-base:hover{
    box-shadow: 0 8.5px 14px 0 rgba(0, 0, 0, 0.3);
}

.card-button-overlay-base{
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: inherit;
    left: inherit;
    background-color: white;
}

.card-button-overlay-wrapper{
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-top: -50px;
}