@import "../../../../../design-system.scss";

@media all and (max-width: 475px) {
  div.target-shadow {
    box-shadow: none;
  }
}

:host {
  width: 100%;
  position: relative;
  z-index: 1;
}

.target-footer {
  font-size: 15px;
  color: $navy;
  width: 100%;
  display: flex;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;

  .footer-from-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-icon {
    height: 30px;
    flex: 1 1 10%;
  }
}

.target-shadow {
  box-shadow: -50px 0px 35px 14px rgba(255, 255, 255, 1);
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;

  .footer-left-text {
    flex: 1 1 40%;
    text-align: right;
  }

  .footer-right-text {
    flex: 1 1 40%;
  }
}

.cursor {
  cursor: pointer;
}
