@import "../../../sp-colors";

.wrapper {
  position: relative;
  width: 90px;
  height: 42px;
  background-color: #F4F4F4;
  border-radius: 7px;
  display: flex;
  align-items: center;

  input {
    width: 90px;
    height: 42px;
    position: absolute;
    outline: none;
    border: none;
    z-index: 1;
    background: transparent;
    letter-spacing: 9px;
    font-size: 18px;
    padding: 0 10px;
  }

  .background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fake {
      background-color: #D8D8D8;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 5px
    }
}
