:host{
  width: 100%;
  height: 100%;
  background-color: #f8faff;
  .source-wrapper{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .source{
    width: inherit;
    height: inherit;
  }
}


