<div class="settings-wrapper">
  <div class="settings-header">
    <img class="back-button" *ngIf="!changeForm" [src]="'./assets/Back Button (Blue-White).svg' | resolveAsset" (click)="close()">
    <div class="back-button" *ngIf="changeForm" (click)="close()">Cancel</div>
    <div class="ds-dialog-title ">School Settings</div>
    <div class="save-button" *ngIf="changeForm && schoolForm.valid">
      <app-gradient-button
              [width]="'85px'"
              [minHeight]="'30px'"
              [fontSize]="'14px'"
              [cursor]="'pointer'"
              (buttonClick)="save()"
      >Save</app-gradient-button>
    </div>
  </div>
  <div class="settings-content">
    <div class="controls-block">
      <form [formGroup]="schoolForm"></form>
      <div class="display-room-control">
        <div class="ds-cell-text-2">Display Room Numbers on Passes</div>
        <div class="toggle-control">
          <app-toggle-input [form]="schoolForm" [controlSize]="'small'" [delimiter]="false" [controlName]="'display_room'"></app-toggle-input>
        </div>
      </div>
      <div class="buffer-time-control">
        <div class="control-text" style="width: 210px">
          <span class="ds-cell-text-2">Pass Buffer Time</span> <br>
          <span class="ds-cell-description-text">How long an expiring pass will count up until it automatically ends and moves to the Expired Pass section.</span>
        </div>
        <div class="control-input">
          <app-input [width]="'58px'" [isErrorIcon]="false" [textAlign]="'right'" [formGroup]="schoolForm" [input_value]="schoolForm.get('buffer_time').value" [controlName]="schoolForm.get('buffer_time')"></app-input>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="ds-dialog-bold-text">Have a feature suggestion?</div>
      <div class="ds-small-link-text">Email us at support@smartpass.app</div>
    </div>
  </div>
</div>
