<div class="host">
  <div>

    <div class="selected">
      {{selected.format('dddd MM hh:mm')}}
    </div>
    <div class="container">

      <div class="wheel">

        <app-ios-calendar-wheel [wheelData]="'date'" [current]="date"></app-ios-calendar-wheel>
      </div>
      <div class="wheel">

        <app-ios-calendar-wheel [wheelData]="'hour'" [current]="date"></app-ios-calendar-wheel>
      </div>
      <div class="wheel">

        <app-ios-calendar-wheel [wheelData]="'minute'" [current]="date"></app-ios-calendar-wheel>
      </div>
    </div>
  </div>
</div>
