:host {
  position: relative;
  display: block;
  height: 100%;

}
.pointer-wrapper{
    width: 100px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0;
    top: -30px;
    margin: 0 auto;

}

.pointer{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    top: 35px;
  //right: -110px;
  background-color: #FFFFFF;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
}

.consent-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    //padding-bottom: 20px;
    height: 100%;
    overflow-y: auto;
}

.consent-header{
    color: #134482;
    font-size: 15px;
  //padding-top: 20px;
    margin: 17px auto;
    text-align: center;
}

.options-wrapper{
    //padding-top: 20px;
    width: 100%;
    height: inherit;
    overflow: auto;
    display: flex;
    flex-direction: column;
  //padding: 0 20px;
  box-sizing: border-box
}

.option{
    width: inherit;
    height: 55px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: left;
}

//.option-data:hover{
//    background-color: rgba(1, 25, 52, .2);
//}

.option-data{
  height: inherit;
  color: #134482;
  font-size: 15px;
  padding: 2px 26px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: rgba(210, 210, 210, 0.3);
  }

  .option-data_leftside {
    font-weight: bold;
  }
  .option-data_rightside {
    display: flex;
    align-items: flex-start;
    .marked-room {
      width: 20px;
      height: 20px;
      padding-left: 20px;
    }
  }
  &__dark {
    &:hover {
      background-color: rgba(13, 29, 210, 0.53);
    }
  }
}

.option-roles {
  color: #999999;
  padding-top: 3px;
}

.option-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}







// .teacher-drowdown-wrapper{
//     height: 100%;
//     padding: 6px 10px;
//     display: flex;
//     flex-direction: column;
//     cursor: pointer;
//     user-select: none;
// }

// .wrapper-options{
//     @extend .teacher-drowdown-wrapper;
//     background-color: white;
    // border: 1px solid black;
    // border-bottom-width: 0;
//     border-radius: 10px 10px 0 0;
////     box-shadow: 0 7.5px 13px 0 rgba(0, 0, 0, 0.1);
// }

// .wrapper-no-options{
//     @extend .teacher-drowdown-wrapper;
//     border: 1px solid transparent;
//     border-bottom-width: 0;
// }

// .selected-teacher{
//     color: #3D396B;
//     font-size: 22pt;
//     font-weight: bold;
//     display: flex;
//     flex-direction: row;
// }

// .header-divider{
//     margin: 0 auto;
//     width: 95%;
//     height: 1px;
//     background-color: #B5B7BA;
// }

// .drop-arrow{
//     margin-left: 3px;
//     margin-top: 4px;
//     width: 10px;
//     height: 10px;
// }

// .options{
//     display: flex;
//     flex-direction: column;
//     margin-top: 35px;
//     position: absolute;
//     background-color: white;
    // border: 1px solid black;
    // border-top-width: 0;
//     border-radius: 0 0 10px 10px;
//     padding: 0 20px 6px 0;
//     margin-left: -11px;
// }

// .option{
//     width: inherit;
//     display: flex;
//     flex-direction: column;
//     padding: 0 10px;
// }

// .option:hover{
//     background-color: #F1F1F1;
// }

// .option-data{
//     color: #767676;
//     font-size: 18px;
// }

// .option-divider{
//     width: inherit;
//     height: 1px;
//     background-color: #B5B7BA;
// }
