@import "../../design-system";

:host {
  position: relative;
  display: block;
  height: 100%;

}
.pointer-wrapper{
    width: 100px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0;
    top: -30px;
    margin: 0 auto;

}

.pointer{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    top: 35px;
  //right: -110px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
}

.consent-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.102836);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.consent-header{
  @extend .ds-flex-center-center;
  height: 50px;
  background-color: #fff;
  color: #134482;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #B5B7BA;
}

.options-wrapper{
    width: 100%;
    padding: 22px 0;
    height: auto;
    //max-height: 282px;
    //height: calc(100% - 50px);
    overflow: auto;
    box-sizing: border-box
}
.assistant-greeting {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #B5B7BA;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.option{
    width: inherit;
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: left;
}


.option-data{
  height: 40px;
  color: #134482;
  font-size: 15px;
  padding: 2px 26px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: rgba(210, 210, 210, 0.3);
  }

  .option-data_leftside {
    font-weight: normal;
  }
  .option-data_rightside {
    display: flex;
    align-items: flex-start;
    .marked-room {
      width: 20px;
      height: 20px;
      padding-left: 20px;
    }
  }
  &__dark {
    &:hover {
      background-color: rgba(13, 29, 210, 0.53);
    }
  }
}

.option-roles {
  color: #999999;
  padding-top: 3px;
}

.option-divider{
    width: inherit;
    height: 1px;
    background-color: #B5B7BA;
}
