<div class="pointer-wrapper">
  <div class="pointer"  [style.background-color]="darkTheme.getBackground('low')"></div>
</div>
<div class="consent-wrapper"
     [style.background-color]="darkTheme.getBackground('low')"
     appCheckUserInput
     (inputValueEmit)="search($event)"
>
  <div class="consent-header" [style.color]="'#7F879D'" *ngIf="heading">
    {{heading}}
  </div>

  <div class="options-wrapper" *ngIf="locations" #optionsWrapper>
    <div class="option" #_option>

      <div class="option-data"
           [ngClass]="{
                'option-wrapper': !darkTheme.isEnabled$.value,
                'option-wrapper__dark': darkTheme.isEnabled$.value
               }"
           appCrossPointerEventTarget
           (pointerClickEvent)="closeDropdown('all_rooms'); changeColor(true, _option)"
           (pointerDownEvent)="changeColor(true, _option, true)"
           (mouseover)="changeColor(true, _option)"
           (mouseleave)="changeColor(false, _option)"
      >
        <div class="option-data_leftside">
          <span [style.color]="darkTheme.getColor()">All Rooms</span>
        </div>
        <div class="option-data_rightside">
          <div class="marked-room">
            <img *ngIf="!selectedLocation" [style.width]="'20px'" [style.height]="'20px'" [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'})" alt="Check (Navy).svg">
          </div>
        </div>
      </div>

      <div class="option-divider"></div>
    </div>

    <div class="option" *ngFor="let location of locations" #_option>
      <div class="option-data"
           [ngClass]="{
                'option-wrapper': !darkTheme.isEnabled$.value,
                'option-wrapper__dark': darkTheme.isEnabled$.value
               }"
           appCrossPointerEventTarget
           (pointerClickEvent)="closeDropdown(location); changeColor(true, _option)"
           (pointerDownEvent)="changeColor(true, _option, true)"
           (mouseover)="changeColor(true, _option)"
           (mouseleave)="changeColor(false, _option)"
      >
        <div class="option-data_leftside">
          <span [style.color]="darkTheme.getColor()">{{ location.title }}</span>
        </div>
        <div class="option-data_rightside">
          <div [style.color]="'#7F879D'"
          >{{location.room}}</div>
          <div class="marked-room">
            <img *ngIf="selectedLocation ? (location.room === selectedLocation.room && location.title === selectedLocation.title) : false"
                 [style.width]="'20px'" [style.height]="'20px'"
                 [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'}) | resolveAsset" alt="Check (Navy).svg">
          </div>
        </div>
      </div>
      <div class="option-divider"></div>
    </div>
  </div>

  <div class="options-wrapper" *ngIf="schools" #optionsWrapper>
    <div class="option" *ngFor="let school of schools" #schoolList>
      <div #_option class="option-data"
           [ngClass]="{
                'option-wrapper': !darkTheme.isEnabled$.value,
                'option-wrapper__dark': darkTheme.isEnabled$.value
               }"
           appCrossPointerEventTarget
           (pointerClickEvent)="_matDialogRef.close(school); changeColor(true, _option)"
           (pointerDownEvent)="changeColor(true, _option, true)"
           (mouseover)="changeColor(true, _option)"
           (mouseleave)="changeColor(false, _option)"
      >
        <div class="option-data_leftside">
          <span [style.color]="darkTheme.getColor()">{{ school.name }}</span>
        </div>
        <div class="option-data_rightside">
          <div class="marked-room">
            <img *ngIf="school.id === selectedSchool.id && school.name === selectedSchool.name" [style.width]="'20px'" [style.height]="'20px'"  [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'}) | resolveAsset" alt="Check (Navy).svg">
          </div>
        </div>
      </div>
      <div class="option-divider"></div>
    </div>
  </div>

  <div class="options-wrapper" *ngIf="teachers && selectedTeacher"  style="padding: 15px 25px 60px 25px;" #optionsWrapper>
    <div class="option" style="height: 40px;" *ngFor="let teacher of teachers">
      <div #_option class="option-data" style="background-clip: border-box; padding: 0;"
           [ngClass]="{
                'option-wrapper': !darkTheme.isEnabled$.value,
                'option-wrapper__dark': darkTheme.isEnabled$.value
               }"
           appCrossPointerEventTarget
           (pointerClickEvent)="_matDialogRef.close(teacher); changeColor(true, _option)"
           (pointerDownEvent)="changeColor(true, _option, true)"
           (mouseover)="changeColor(true, _option)"
           (mouseleave)="changeColor(false, _option)"
      >
        <div class="option-data_leftside">
          <span [style.color]="darkTheme.getColor()">{{ teacher.user.display_name }}</span>
        </div>
        <div class="option-data_rightside">
          <div class="marked-room">
            <img *ngIf="teacher.user.id === selectedTeacher.user.id" [style.width]="'20px'" [style.height]="'20px'"  [src]="darkTheme.getIcon({iconName: 'Check', lightFill: 'Navy'}) | resolveAsset" alt="Check (Navy).svg">
          </div>
        </div>
      </div>
      <div class="option-divider"></div>
    </div>
    <div class="assistant-greeting ds-w-100 ds-pt-10 ds-pb-15"
         [style.color]="darkTheme.getColor()">
      <div style="font-weight: bold;">Hi {{user.display_name}}!</div>
      <div>Create and manage passes for this teacher.</div>
    </div>
  </div>
</div>

