<div class="data-table-wrapper"
     [style.width]="width"
     [style.height]="height"
     [style.overflow]="(height=='none' ? 'none': 'auto')">

  <table mat-table matSort [dataSource]="dataSource" [style.background-color]="backgroundColor">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" *ngIf="isCheckbox | async">

      <th mat-header-cell *matHeaderCellDef class="sticky-header"
          [ngClass]="{'dark-theme-of-checkbox__primary': darkTheme.isEnabled$.value}"
          [style.background-color]="darkTheme.isEnabled$.value ? '#0F171E' : '#F8FAFF'">
        <mat-checkbox (change)="$event ? masterToggle() : null; pushOutSelected()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row"
          [ngClass]="{'dark-theme-of-checkbox': darkTheme.isEnabled$.value}"
      >
        <!--<pre style="font-size: 10px">{{row | json}}</pre>-->
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null; pushOutSelected()"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Columns -->
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky-header"
          [style.color]="darkTheme.getColor({white: textHeaderColor, dark: '#FFFFFF'})"
          [style.text-transform]="'none'"
          [style.background-color]="darkTheme.isEnabled$.value ? '#0F171E' : '#F8FAFF'"
      > {{column}} </th>
      <td mat-cell *matCellDef="let element; let n = index"
          class="ds-px-10"
          (mouseenter)="hovered = true; hoveredRowIndex = n;"
          (mouseleave)="hovered = false; hoveredRowIndex = null"
          (mousedown)="pressed = true"
          (mouseup)="pressed = false"

          [style.user-select]="'none'"
          [style.cursor]="disallowHover ? 'default' : 'pointer'"
          [style.background-color]="getBgColor(n)"
          [style.color]=" getCellColor(n)">
        <ng-container *ngIf="normalizeCell(element[column]).length; else empty">
          <span *ngFor="let cellElement of normalizeCell(element[column]); let i = index">
            <!--<span *ngIf="normalizeCell(element[column]).length > 1 && i > 0">, </span>-->
            <span [ngClass]="{'multi-cell': cellElement.title}" (click)="selectedCellEmit($event, cellElement, element)">
              {{displayCell(cellElement) + (normalizeCell(element[column]).length > 1 && i !== normalizeCell(element[column]).length - 1 ? ', ' : '')}}
            </span>
          </span>
        </ng-container>
        <ng-template #empty>
          <span *ngIf="column === 'Rooms'; else withoutProfile" style="cursor: not-allowed; color: #AAAAAA;">
            Not Assigned Anywhere
          </span>
          <ng-template #withoutProfile>
            <span style="cursor: not-allowed; color: #AAAAAA;">Without Profile</span>
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" style="height: 38px"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
        (click)="selectedRowEmit(row)" style="height: 38px;">
    </tr>
  </table>
</div>
