.data-table-wrapper {
}

table {
  width: 100%;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-sort-header-button {
  font-size: 15px !important;
  text-transform: capitalize;
  font-weight: bolder !important;
}