<div class="data-table-wrapper"
     [style.width]="width"
     [style.height]="height"
     [style.overflow]="(height=='none' ? 'none': 'auto')">
  <cdk-virtual-scroll-viewport class="scrollable-area" appSafariScroll>
    <div *ngIf="dataSource.stickySpace" style="position: static; top: 0;background: #7E879D; opacity: 0;" [style.height.px]="itemSize">
<!--      Sticky Placeholder {{dataSource.stickySpace}}-->
    </div>
    <table mat-table matSort
           [ngClass]="{
             'light-mode': !(darkMode$ | async),
             'dark-mode': (darkMode$ | async)
           }"
           [dataSource]="dataSource"
           [multiTemplateDataRows]="true"
           [style.background-color]="backgroundColor">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" *ngIf="isCheckbox | async">

        <th mat-header-cell *matHeaderCellDef
            [style.background-color]="(darkMode$ | async) ? '#0F171E' : '#FBFEFF'"
            [style.top]="marginTopStickyHeader"
            [style.padding]="'0px'"
            [style.text-align]="'center'"
            class="sticky-header"
        >
          <mat-checkbox (change)="$event ? masterToggle() : null; pushOutSelected()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        class="master-checkbox"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row"
            (click)="$event.stopPropagation()"
            [style.padding]="'0px'"
            [style.text-align]="'center'"
        >
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row._data) : null; row.pressed = selection.isSelected(row._data); pushOutSelected()"
                        [checked]="selection.isSelected(row._data)"
                        [aria-labelledby]="'label'"
                        *ngIf="!row.placeholder"
          >
          </mat-checkbox>

          <span *ngIf="row.placeholder" style="width: 36px">-</span>
        </td>
      </ng-container>

      <!-- Columns -->
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [style.color]="darkTheme.getColor({white: textHeaderColor, dark: '#FFFFFF'})"
            [style.text-transform]="'none'"
            [style.background-color]="(darkMode$ | async) ? '#0F171E' : '#FBFEFF'"
            [style.top]="marginTopStickyHeader"
            class="sticky-header"
        > {{(column)}} </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element[column]"
            class="ds-px-10"
        ></td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true" [style.height.px]="itemSize"></tr>
      <tr mat-row [style.height.px]="placeholderHeight" *matRowDef="let row; let index = index; columns: []; when: placeholderWhen"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [style.height.px]="itemSize" [ngClass]="{'row-placeholder': row.placeholder}"
          (click)="selectedRowEmit($event, row);">
      </tr>

    </table>
  </cdk-virtual-scroll-viewport>
</div>

