.data-table-wrapper {
  .sticky-header {
    position: sticky;
    top: -22px;
    border-bottom: 2px solid #878787;
    z-index: 100;
    background-color: #F8FAFF;
  }
}

table {
  width: 100%;
}
.cdk-column-Rooms {
  text-decoration: underline;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7f879d;
}

::ng-deep .mat-sort-header-button {
  font-size: 15px !important;
  //text-transform: capitalize;
  font-weight: bolder !important;
}

.mat-row:hover {
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: 0.7;
}
