<mat-form-field class="teacher-search">
  <input matInput placeholder="Teacher or Room" aria-label="Teacher or Room" [matAutocomplete]="auto" [formControl]="teacherCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.nameRoom">
      <span class="teacher-option">
       <br> {{ teacher.name }} <br> <small class="room-option">Room #: {{ teacher.room }}</small>
      </span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>