/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D6D6D6;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B6B6B6;
}
