@import "sp-colors";
@import "design-system";

.pass-limit-counter {
  &.no-limit {
    color: $gray500;
  }
  &.school-limit {
    color: $purple500;
  }

  &.individual-limit {
    color: $orange500;
  }
}
