/* === SmartPass Color Palette === */

$green: #04CD33;
$jade: #00B476;
$navy: #1F195E;
$dark-slate-gray: #7E879D;
$blue-gray: #7F879D;
$background-white: #FCFDFF;
$card-white: #FFFFFF;
$off-white: #ECF1FF;
$light-gray: #D3D6DE;
$ultra-light-gray: #B3B7C1;
$dark-gray: #555558;
$search-gray: #B3B3B3;

/* === end ===*/
