/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
@import "picker.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&style=outline");
@import "~font-awesome/css/font-awesome.min.css";
@import "design-system";

html {
  background-color: #FCFDFF;
  padding: 0 0;
}

body {
  padding: 0 0;
  margin: 0 0;
  font-family: $primaryFont;
  width: 100%;
  min-height: 100vh;

  // IOS PWA styles
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.filter-shadow {
  filter: url("#dropshadow");
}

button {
  user-select: none;
}

img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

div {
    //cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.validationIcon {
  min-width: 20px;
}

.intro-dialog-container .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
}
.intro-backdrop-container {
  background: rgba(255, 255, 255, .5);
}
.custom-dialog-container .mat-dialog-container {
  padding: 0px;
}

.form-dialog-container .mat-dialog-container {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  scrollbar-face-color: #D6D6D6;
  scrollbar-track-color: white;
  background-color: transparent;
}

.form-dialog-container-white .mat-dialog-container {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  scrollbar-face-color: #D6D6D6;
  scrollbar-track-color: white;
  background-color: white;
}

.main-form-dialog-container .mat-dialog-container {
  border-radius: 14px;
  background-color: transparent;
  overflow: visible;
  //box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  box-shadow: none;
  margin: 0;
  padding: 0;
  scrollbar-face-color: #D6D6D6;
  scrollbar-track-color: white;
}

.pass-card-dialog-container .mat-dialog-container {
  border-radius: 10px;
  overflow: visible;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  width: 262px;
  height: 366px;
}

.teacher-pass-card-dialog-container .mat-dialog-container {
  border-radius: 14px;
  overflow: visible;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  height: 451px;
}

.student-pass-card-dialog-container .mat-dialog-container {
  border-radius: 14px;
  overflow: visible;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  width: 334px;
  height: 412px;
}

.search-pass-card-dialog-container .mat-dialog-container {
  border-radius: 14px;
  overflow: visible;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  width: 334px;
  height: 451px;
  margin-left: 219px !important;

}

.accounts-profiles-dialog{
  margin-left: 219px !important;
}
.accounts-profiles-dialog .mat-dialog-container{
  border-radius: 10px;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  //margin: 10px;
  padding: 0;
}

.overlay-dialog {
  margin-left: 219px !important;
}

@media all and (max-width: 1110px) {
  .overlay-dialog {
    margin-left: 0 !important;
  }
}

.overlay-dialog .mat-dialog-container{
  border-radius: 16px;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  //margin: 10px;
  padding: 0;
}

.editor-dialog{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 26px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 10px;
  background-color: rgba(1, 25, 52, 0.7);
}

.error-toast-dialog-container .mat-dialog-container {
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
}

.message-dialog-container .mat-dialog-container {
  @extend .editor-dialog;
  width: 300px;
  height: 145px;
}

.date-dialog-container .mat-dialog-container {
  @extend .editor-dialog;
  width: 319px;
  height: 511px;
}

.location-dialog-container .mat-dialog-container {
  @extend .editor-dialog;
  width: 300px;
  height: 209px;
}

.consent-dialog-container .mat-dialog-container {
  @extend .editor-dialog;
  overflow: visible;
  padding: 0;
  background-color: transparent;
  //text-align: center;
}

.toasr .mat-dialog-container {
  padding: 0;
  border-radius: 9px;
}

.calendar-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: visible;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}

input:focus{
  outline-offset: 0;
  outline: none;
  transition: border .2s ease;
  &:focus {
    border: 1px solid #595487;
  }
}

textarea:focus {
  outline-offset: 0;
  outline: none;
  transition: border .2s ease;
}

.custom-backdrop {
  /* z-index: 0; */
  background-color: rgba(0, 0, 0, 0.39);
}

.invis-backgrop{
  background-color: rgba(0, 0, 0, 0);
}

.white-backdrop {
  background: rgba(255, 255, 255, 0.5);
}

.custom-bd {
  background-image: linear-gradient(to right, transparent 219px,rgba(0, 0, 0, 0.3) 0);
}
html, body {
  max-width: 100%;
  //overflow-x: hidden;
}
[routerLink], [routerLink]:focus, [routerLinkActive] {
  outline: none;
}

.global-opacity-icons {
  transition: opacity .3s ease;
  &:hover {
    opacity: 0.8;
  }
}

//////////////// Dragula Styles /////////////////

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

//////////////// End Dragula Styles /////////////////


/* === Material Overrides === */
body {
  .mat-list-item {
    font-family: "Helvetica Neue", sans-serif;
  }

  .mat-drawer-backdrop {
    z-index: 99;
  }
  .mat-table {
    font-family: $primaryFont
  }
}

@media all and (max-height: 375px) {
  .cdk-overlay-pane.teacher-pass-card-dialog-container,
  .cdk-overlay-pane.student-pass-card-dialog-container {
    height: 98%;
  }

  .teacher-pass-card-dialog-container .mat-dialog-container,
  .student-pass-card-dialog-container .mat-dialog-container {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media all and (max-width: 320px) {
  .teacher-pass-card-dialog-container .mat-dialog-container,
  .student-pass-card-dialog-container .mat-dialog-container {
    width: 100% !important;
  }

  .form-dialog-container {
    max-width: 300px !important;
  }
}

@media all and (max-width: 475px) {
  .student-pass-card-dialog-container,
  .teacher-pass-card-dialog-container {
    max-width: unset !important;
  }

  .main-form-dialog-container,
  .form-dialog-container {
    max-width: 335px !important;
  }
}

// Side nav scroll hiding
.mat-drawer-inner-container::-webkit-scrollbar {
  width: 0 !important
}

.mat-drawer-inner-container {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

/* === end === */

/* === Swiper Overrides === */
.swiper-slide {
  margin: 10px 0;
}

/* === Hubspot Overrides === */
@media screen and (max-width: 420px) {
  div#hubspot-messages-iframe-container  {
    display: none !important;
  }
}

//// queries for safari
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    @media all and (max-width: 1024px) {
      html {
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        //overflow-y: auto;
        //overflow-x: hidden;
      }

      body {
        //height: 100%;
        overflow: hidden;
      }

      mat-sidenav-container,
      mat-sidenav-content {
        min-height: 100vh;
        overflow: auto;
      }
    }
  }
}


