<p>
    Issued: {{passDate}}
</p>
<div *ngIf="isPending; else notPending">
→  {{pass.to_location.name}}({{pass.to_location.room}})<br> 
</div>
<ng-template #notPending>
    <div>
        {{pass.from_location.name}}({{pass.from_location.room}}) → {{pass.to_location.name}}({{pass.to_location.room}})
    </div>
</ng-template>
<p>Issued by: {{pass.issuer.display_name}}</p>
<p>Duration: {{duration}} minutes</p>
<p>Students:</p>
<div *ngIf="forTeacher && isPending; else noStudents">
    <div *ngFor="let student of pass.students">
        <div>
           <div *ngIf="accepted.includes(student.id); else notAccepted">
                <button pButton type="button" [label]="student.display_name" icon="fa-check"
                    [ngClass]="{'ui-button-success': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </div>
            <ng-template #notAccepted>
                <button pButton type="button" [label]="student.display_name" icon="fa-close"
                    [ngClass]="{'ui-button-danger': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #noStudents></ng-template>
