.border{
    border: 2px solid black;
    border-radius: 12px;
}

.studentStatus{
    margin-bottom: 5px;
    margin-left: 20px;
}

.actionButton{
    display: table-cell;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.yesNoButtons{
    margin: auto;
}