<p>
    Issued: {{passDate}}
</p>
<div *ngIf="isPending; else notPending">
→  {{pass.to_location.name}}({{pass.to_location.room}})<br> 
</div>
<ng-template #notPending>
    <div>
        {{pass.from_location.name}}({{pass.from_location.room}}) → {{pass.to_location.name}}({{pass.to_location.room}})
    </div>
</ng-template>
<p>Issued by: {{pass.issuer.display_name}}</p>
<p>Duration: {{duration}} minutes</p>
<div *ngIf="forTeacher && isPending; else noStudents">
    <p>Students:</p>
    <div *ngFor="let student of pass.students">
        <div>
           <div *ngIf="accepted.includes(student.id); else notAccepted">
                <button pButton type="button" [label]="student.display_name" icon="fa-check"
                    [ngClass]="{'ui-button-success': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </div>
            <ng-template #notAccepted>
                <button pButton type="button" [label]="student.display_name" icon="fa-close"
                    [ngClass]="{'ui-button-danger': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #noStudents></ng-template>
<div *ngIf="(pass.issuer.id == user.id && !isExpired) || forTeacher">
    <p>Actions:</p>
</div>
<div *ngIf="forTeacher">
    <div *ngIf="pass.issuer.primary_email != user.primary_email">
        <button pButton type="button" label="Verify" icon="fa-envelope"
                (click)="showVerify()" class="actionButton">
        </button>
        <app-consent-menu header="Verify Pass" [content]="'Are you sure you want to send an email to' +pass.issuer.primary_email +'?'"
                        [(visible)]="verifyVisible" (onAccept)="verify(true)" (onDecline)="verify(false)">
        </app-consent-menu>
        <!-- <p-dialog header="Verify Pass" [(visible)]="verifyVisible">
            <p>Are you sure you want to send an email to {{pass.issuer.primary_email}}?</p>
            <div class="yesNoButtons">
                <button pButton type="button" label="Yes" icon="fa-check"
                        (click)="verify(true)" [ngClass]="{'ui-button-success': true}">
                </button>
                <button pButton type="button" label="No" icon="fa-close"
                        [ngClass]="{'ui-button-danger': true}" (click)="verify(false)">
                </button>
            </div>   
        </p-dialog> -->
    </div>
</div>
<div *ngIf="pass.issuer.id == user.id && !isExpired">
    <button pButton type="button" label="Cancel" icon="fa-ban"
            [ngClass]="{'ui-button-danger': true}" (click)="showCancel()"
            class="actionButton">
    </button>

    <app-consent-menu header="Cancel Pass" content="Are you sure you want to cancel this pass?"
                        [(visible)]="cancelVisible" (onAccept)="cancel(true)" (onDecline)="cancel(false)">
    </app-consent-menu>
</div>