<p>
    Issued: {{passDate}}
</p>
<div *ngIf="isPending; else notPending">
→  {{pass.to_location.name}}({{pass.to_location.room}})<br> 
</div>
<ng-template #notPending>
    <div>
        {{pass.from_location.name}}({{pass.from_location.room}}) → {{pass.to_location.name}}({{pass.to_location.room}})
    </div>
</ng-template>
<p>Issued by: {{pass.issuer.display_name}}</p>
<p>Duration: {{duration}} minutes</p>
<div *ngIf="forTeacher && isPending; else noStudents">
    <p>Students:</p>
    <div *ngFor="let student of pass.students">
        <div>
           <div *ngIf="accepted.includes(student.id); else notAccepted">
                <button pButton type="button" [label]="student.display_name" icon="fa-check"
                    [ngClass]="{'ui-button-success': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </div>
            <ng-template #notAccepted>
                <button pButton type="button" [label]="student.display_name" icon="fa-close"
                    [ngClass]="{'ui-button-danger': true}" (click)="remind(false)" class="studentStatus">
                </button>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #noStudents></ng-template>
<p>Actions:</p>
<button pButton type="button" label="Verify" icon="fa-envelope"
        (click)="showVerify()" class="actionButton">
</button>
<p-dialog header="Verify Pass" [(visible)]="verifyVisible">
    <p>Are you sure you want to send an email to {{pass.issuer.primary_email}}?</p>
    <div class="yesNoButtons">
        <button pButton type="button" label="Yes" icon="fa-check"
                (click)="verify(true)" [ngClass]="{'ui-button-success': true}">
        </button>
        <button pButton type="button" label="No" icon="fa-close"
                [ngClass]="{'ui-button-danger': true}" (click)="verify(false)">
        </button>
    </div>   
</p-dialog>
<div *ngIf="pass.issuer.id == user.id && !isExpired">
    <button pButton type="button" label="Cancel" icon="fa-ban"
            [ngClass]="{'ui-button-danger': true}" (click)="showCancel()"
            class="actionButton">
    </button>
    <p-dialog header="Cancel Pass" [(visible)]="cancelVisible">
        <p>Are you sure you want to cancel this pass?</p>
        <div class="yesNoButtons">
            <button pButton type="button" label="Yes" icon="fa-check"
                    (click)="cancel(true)" [ngClass]="{'ui-button-success': true}">
            </button>
            <button pButton type="button" label="No" icon="fa-close"
                    [ngClass]="{'ui-button-danger': true}" (click)="cancel(false)">
            </button>
        </div>   
    </p-dialog>
</div>