@import '../../../../sp-colors';

.wrapper {
  box-sizing: border-box;
  width: 204px;
  height: 103px;
  padding: 25px 15px;
  background-color: $white;
  border-radius: 9px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
