<p-autoComplete [(ngModel)]="texts" [suggestions]="studentsAsStrings" (completeMethod)="search($event)" [multiple]="true"></p-autoComplete>























<!-- <div class="wrapper">
  <label for="names">Enter Student's Names</label>
  <tag-input id="names" [(ngModel)]="selectedStudents" [onlyFromAutocomplete]="true" [onAdding]="asyncOnAdding" [onRemoving]="asyncOnRemoving">
    <tag-input-dropdown
      [autocompleteItems]="students"
      [displayBy]="'name'"
      [identifyBy]="'id'"
      [showDropdownIfEmpty]="false"
      [focusFirstElement]="true">
      <ng-template let-item="item" let-index="index">
        ({{ index }}) {{ item.name }}: {{ item.id }}
      </ng-template>
    </tag-input-dropdown>
  </tag-input>
</div> -->