.wrapper {
  background-color: #FFFFFF;
  width: 425px;
  height: 500px;
  position: relative;
  border-radius: 15px;
  .header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .background-header {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #1976D2;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .back-button {
      width: 28px;
      cursor: pointer;
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      color: #FFFFFF;
      left: 15px;

    }

    .save-button {
      width: 85px;
      position: absolute;
      right: 27px;
    }
  }

  .content {
    padding: 30px 20px 0 20px;
    height: 331px;
    overflow: auto;

    .block {
      margin-bottom: 10px;
      .label {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 9px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;

    .footer-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

    }
  }
}
