<div class="icon-button-container"
     [style.width]="hasShadow ? size * 2 + 'px' : 'unset'"
     [style.height]="hasShadow ? size * 2 + 'px' : 'unset'"
     [style.background-color]="bgc"
     (mouseover)="hovered = true;"
     (mouseleave)="hovered = false;"
     (mousedown)="down = true"
     (mouseup)="down = false"

     (touchmove)="iconButtonRef.preventClick = down"
     (touchstart)="down = true"

     #iconButtonRef
>
<!--     (touchend)= "$event.preventDefault(); iconButtonRef.preventClick ? null : onClick($event); iconButtonRef.preventClick = false; down = false; hovered = false; "-->
    <img [src]="src | resolveAsset"
         [attr.width]="size"
         [attr.height]="size"
         [style.opacity]="opacity"
         draggable="false"
         class="icon"
         alt="img" #imgRef>
</div>
