<span class="ui-fluid wrapper">
  <div class="ui-inputgroup">
    <p-dropdown [(ngModel)]="selectedDuration" [autoWidth]="false"
                [options]="durations" [showClear]="false"
                placeholder="Duration" optionLabel="display"
                appendTo="body" (onChange)="updateDuration()">
    </p-dropdown>
    <button pButton type="button" [icon]="getIcon()" [ngClass]="{'ui-button-success': validate(), 'ui-button-danger': !validate()}" class="validationIcon"></button>
  </div>
</span>