@import 'custom-theme.scss';

.wrapper{
    display: flex;
    flex-direction: row;
}

.right{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.right-bottom{
    margin-top: 20px
}

.large{
    font-size: 24px;
}

.slider{
    @include angular-material-theme($slider-theme);
}