<div class="input-wrapper" click="clickAction()">
  <div *ngIf="labelText" class="label-wrapper">
    <img class="label-icon" [src]="'./assets/Search '+(selected?'(Blue)':'(Grey)') +'.png' | resolveAsset">
    <div class="label-text" [style.color]="(selected?'#1D1A5E':'#7F879D')">{{ labelText }}</div>
  </div>

  <div *ngIf="type == 'text' || type == 'dates'" class="field-wrapper">
    <input #input class="input" type="text" [style.width]="width" [style.min-width]="minWidth"
          [placeholder]="placeholder" [readonly]="type == 'dates'"
          (input)="changeAction(input.value)" (click)="focusAction(true)" (focusout)="focusAction(false)"
          [(ngModel)]="value" >
  </div>
  <mat-chip-list #chipList *ngIf="type == 'chips'" class="input">
    <mat-chip
      *ngFor="let selection of selections"
      [removable]="true"
      (removed)="removeSelection(selection)">
      {{selection.toString()}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #input class="input" type="text"
      [placeholder]="placeholder" [readonly]="type == 'dates'" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="true"
      (input)="changeAction(input.value)" (click)="focusAction(true)" (focusout)="focusAction(false)"
      [(ngModel)]="value" >
  </mat-chip-list>
  
</div>
