<div class="input-wrapper" click="clickAction()" xmlns="http://www.w3.org/1999/html">
  <div *ngIf="labelText" class="label-wrapper">
    <img draggable="false" class="label-icon" [src]="'./assets/Search '+(selected?'(Blue)':'(Grey)') +'.png' | resolveAsset">
    <div class="label-text" [style.color]="(selected?'#1D1A5E':'#7F879D')">{{ labelText }}</div>
  </div>

  <!--<div *ngIf="selected" class="inputSelector" [style.width]="width"></div>-->
  <div class="field-wrapper">
    <div class="input-focus-wrapper" [ngClass]="{'inputSelector': selected === true}">

      <input #input class="input" type="text" [style.width]="width" [style.min-width]="minWidth"
             [placeholder]="placeholder" [readonly]="type == 'dates'"
             (input)="changeAction(input.value)" (click)="focusAction(true)" (focusout)="focusAction(false)"
             [(ngModel)]="value" >
    </div>
  </div>
</div>
