.input-wrapper {
    border-radius: 0.5rem;
    position: relative;
    min-width:300px;
}

.label-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.label-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label-text{
    font-weight:bold;
}

.input {
    margin-bottom: 5px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    caret-color: auto;
}

input {
    border: 0px;
    padding: 0 0 0 15px;
    caret-color: auto;
}

input:focus{
    outline: none;
    border: none !important;
}

// mat-input-container.md-input-focused label {
//     display: none
// }

.inputSelector{
    position: absolute;
    z-index: 3;
    padding: 0 7px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    outline-offset: 0;
    outline: none;
    border: 1px solid #595487 !important;
    pointer-events: none;
}

.chipInputSelector{
    position: absolute;
    z-index: 3;
    min-width: 100%;
    min-height: 40px;
    border-radius: 20px;
    outline-offset: 0;
    outline: none;
    border: 1px solid #595487 !important;
    pointer-events: none;
}