<div class="notifications-btn"
     *ngIf="!dismiss && !hasNotifyPermission && !isSafari" [@pressState]="buttonState"   (mousedown)="buttonDown = true" (mouseup)="buttonDown = false" (click)="onClick()">
  <img class="notifications-btn__cancel" src="./assets/Close.svg" alt="remove notification btn" (click)="dismissClick()">
  <div class="notifications-btn__content">
    <img class="notifications-btn__icon" src="./assets/Notifications (Blue-Gray).svg" alt="notification icon">
    <p class="notifications-btn__text">Turn notifications on</p>
  </div>
</div>
