@import "../../../sp-colors";

.wrapper {
  width: 240px;
  border-radius: 9px;

  .options {
    padding: 17px 0;
    .option-container {
      .option {
        display: flex;
        height: 40px;
        font-size: 14px;
        padding-left: 30px;
        align-items: center;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        .icon {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }
  }
}
