@import "../../sp-colors";

.wrapper {
  background-color: #FFFFFF;
  width: 244px;
  border-radius: 9px;

  .options-content {
    padding: 15px 0;

    .option-container {
      padding: 0 10px;
      .option {
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 7px;
        .label {
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
  }

  .description {
    //text-align: center;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blue-gray;
    font-size: 14px;

    .button {
      margin-top: 20px;
    }
  }
}
