:host {
  //width: 100%;
  //min-width: 280px;
  //position: relative;
}

@media all and (max-width: 475px){
  div.student-search-wrapper{
    width: 250px !important;
  }

  div.student-list {
    width: 100%;
  }
}

.chips-wrapper {
  display: flex;
  align-items: center;
}

.sp-search-wrapper{
    margin-top: 10px;
    width: 100%;
    position: relative;
    min-height: 50px;

    .chip {
      display: flex;
      margin-right: 10px;
      flex-wrap: wrap;
    }
}

.cancel-button {
  position: absolute;
  left: 105%;
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    //transition: height .25s ease;

  &:focus {
      outline: none !important;
    }
}

.round-input-container {
  width: 100%;
}


input {
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0 0 0 15px;
    font-size: 16px;
    height: 40px;
    //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    caret-color: auto;
}

input.mat-chip-input{
    flex: .97;
}
mat-input-container.md-input-focused label {
    display: none
}

.options-wrapper{
  margin: 5px auto 0px auto;
  width: 100%;
  //height: 235px;
  overflow: auto;
  transition: all .5s ease;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-students-dummy {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  color: #999999;
  .dummy-image {
    margin: 15px auto;
  }
  .dummy-text {
    margin: 15px auto;
    font-size: 17px;
  }
}
.no-schools-dummy {
  text-align: center;
  margin-top: 65px;
  .dummy-title {
    font-weight: bold;
  }
  .dummy-text {
    margin: 15px auto;
    font-size: 17px;
  }
}

.option-wrapper:hover {
    cursor: pointer;
    background-color: #F1F1F1;
}

.option-content {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    color: #767676;
}

.option-divider{
    width: 100%;
    height: 1px;
    transform: scale(1, 0.5);
    background-color: #D8D8D8;
    margin-top: 10px;
}

.option-list {
  width: 250px;
  margin: 0 auto;
  padding-top: 60px;
  &_header {
    //margin-top: 60px;
    text-align: center;
  }
  &_scrollable {
    box-sizing: border-box;
    padding: 0 10px;
    overflow: auto;
  }
  &_item {
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    color: #555558;
    font-size: 14px;
    cursor: pointer;
    img {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      background-color: #ECF1FF !important;
      color: #1F195E !important;
    }
  }
}
.appearing {
  -webkit-animation: appearing .5s ease ;
  -o-animation: appearing .5s ease ;
  animation: appearing .5s ease ;
}
