<div class="sp-search-wrapper" *ngIf="chipsMode && !inputField">
    <div class="chip">
      <app-sp-chips
        [preventRemovingLast]="preventRemovingLast"
        [selectedProfiles]="selectedOptions"
        [suggestedTeacher]="suggestedTeacher"
        [selectedTarget]="searchTarget"
        [isProposed]="isProposed"
        (add)="inputField = true"
        (updateSelectedEvent)="update($event)"
        (addSuggestedTeacher)="addSuggested($event)"
      ></app-sp-chips>
    </div>
</div>

<div class="sp-search-wrapper" [style.width]="width" *ngIf="inputField">

  <div class="input">

    <div class="round-input-container">
      <app-round-input
        [minWidth]="'auto'"
        [width]="'100%'"
        [backgroundColor]="!screenService.isDeviceLargeExtra ? '#FFFFFF' : '#F4F4F4'"
        [height]="height"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [fieldIconPosition]="'left'"
        [closeIcon]="!cancelButton"
        [focused]="focused"
        [selectReset$]="inputValue$"
        [boxShadow]="false"
        [pending$]="pending$"
        (ontextupdate)="onSearch($event)"
        (blurEvent)="onBlur($event)"
        #studentInput="roundInputRef"
      >
      </app-round-input>
    </div>

    <div *ngIf="showOptions && searchTarget === 'users'" [ngClass]="{'options-wrapper': students}" [style.height]="students ? '235px' : '0px'">
      <div *ngIf="students" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
      <div *ngIf="!showDummy; else noStudentsDummy" style="margin-top: -1px;">
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div #cell *ngFor="let student of students | async" tabindex="0" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); addStudent(student)"
               [style.color]="textColor(cell)"
          >
            <span>
              {{student.display_name}}
              {{
              '(' + (student.primary_email ? student.primary_email.slice(0, student.primary_email.indexOf('@')) : student.email ? student.email.slice(0, student.email.indexOf('@')) : '') + ')'
              }}
            </span>
          </div>
        </div>

      </div>
      <ng-template #noStudentsDummy>
        <div class="no-students-dummy">
          <div>
            <div class="dummy-image"><img width="150" [src]="'./assets/emptyStates/undraw_graduation_9x4i.svg'" alt="undraw_graduation_9x4i.svg"></div>

            <div class="dummy-text"><span>No {{dummyRoleText}} found</span></div>
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="showOptions && searchTarget === 'rooms'" [ngClass]="{'options-wrapper': foundLocations.length}" [style.height]="foundLocations.length || showDummy ? '235px' : '0px'">
      <div *ngIf="foundLocations.length" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
      <div *ngIf="!showDummy; else nolocs" style="margin-top: -1px;">
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div #cell *ngFor="let location of foundLocations" tabindex="0" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); addLocation(location)"
               [style.color]="textColor(cell)"
          >
            <span>
             {{ location.title }}
            </span>
          </div>
        </div>

      </div>
      <ng-template #nolocs>
        <div class="no-students-dummy">
          <div>
            <div class="dummy-image"><img width="150" [src]="'./assets/emptyStates/undraw_graduation_9x4i.svg'" alt="undraw_graduation_9x4i.svg"></div>

            <div class="dummy-text"><span>No {{dummyRoleText}} found</span></div>
          </div>
        </div>
      </ng-template>
    </div>



    <div *ngIf="showOptions && searchTarget === 'orgunits'" [ngClass]="{'options-wrapper': ( orgunits | async)}" [style.height]="( orgunits | async) ? '235px' : '0px'">
      <div *ngIf="( orgunits | async)" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
      <div *ngIf="!showDummy; else noStudentsDummy" style="margin-top: -1px;">
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div #cell *ngFor="let unit of orgunits | async" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); inputValue$.next(''); addUnit(unit)"
               [style.color]="textColor(cell)"
          >
            <span>
              {{unit.path}}
            </span>
          </div>
        </div>

      </div>
      <ng-template #noStudentsDummy>
        <div class="no-students-dummy">
          <div>
            <div class="dummy-image"><img width="150" [src]="'./assets/emptyStates/undraw_graduation_9x4i.svg'" alt="undraw_graduation_9x4i.svg"></div>

            <div class="dummy-text"><span>No {{dummyRoleText}} found</span></div>
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="showOptions && searchTarget === 'roles'" [ngClass]="{'options-wrapper': searchingRoles?.length}" [style.height]="searchingRoles?.length ? '235px' : '0px'">
      <div *ngIf="searchingRoles?.length" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div #cell *ngFor="let role of searchingRoles" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); inputValue$.next(''); addRole(role)"
               [style.color]="textColor(cell)"
          >
            <span>
              {{role.role}}
            </span>
          </div>
        </div>
    </div>

    <div *ngIf="showOptions && searchTarget === 'local'" [ngClass]="{'options-wrapper': ( teacherCollection$ | async)}" [style.height]="( teacherCollection$ | async) ? '235px' : '0px'">
      <div *ngIf="( teacherCollection$ | async)" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
      <div *ngIf="!showDummy; else noStudentsDummy" style="margin-top: -1px;">
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div #cell *ngFor="let teacher of ( teacherCollection$ | async)" tabindex="0" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); inputValue$.next(''); addLocalTeacher(teacher)"
               [style.color]="textColor(cell)"
          >
            <span>
               {{teacher.display_name}} ({{teacher.primary_email ? teacher.primary_email.slice(0, teacher.primary_email.indexOf('@')) : teacher.email ? teacher.email.slice(0, teacher.email.indexOf('@')) : ''}})
            </span>
          </div>
        </div>

      </div>
      <ng-template #noStudentsDummy>
        <div class="no-students-dummy">
          <div>
            <div class="dummy-image"><img width="150" [src]="'./assets/emptyStates/undraw_graduation_9x4i.svg'" alt="undraw_graduation_9x4i.svg"></div>

            <div class="dummy-text"><span>No {{dummyRoleText}} found</span></div>
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="showOptions && searchTarget === 'schools'" [ngClass]="{'options-wrapper': (schools | async) !== null}" [style.height]="(schools | async) !== null ? '235px' : '0px'">
      <div *ngIf="(schools | async)?.length" class="appearing" style="border-top: 1px solid #D8D8D8; width: 92%; margin: 0 auto;"></div>
      <div *ngIf="!showDummy; else noSchoolsDummy" style="margin-top: -1px;">
        <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
          <div *ngFor="let school of schools | async" class="option-list_item"
               (mouseenter)="changeColor(true, $event)"
               (mouseleave)="changeColor(false, $event)"
               appCrossPointerEventTarget
               (pointerDownEvent)="changeColor(true, $event)"
               (pointerClickEvent)="changeColor(true, $event); inputValue$.next(''); selectSchool(school)"
               [style.color]="textColor(cell)"
               #cell
          >
            <div>
              <div style="text-transform: capitalize; color: #00B476">
                {{school.structured_formatting.main_text}}
              </div>
              <div style="color: #1F194E">
                {{school.structured_formatting.secondary_text}}
              </div>
            </div>
          </div>
        </div>

      </div>
      <ng-template #noSchoolsDummy>
        <div class="no-schools-dummy">
          <div>
            <div class="dummy-text dummy-title"><span>No schools found</span></div>
            <div class="dummy-text">
              Need help? Contact
              <a href="mailto:help@smartpass.app" class="ds-link-text" style="font-size: 17px !important;">help@smartpass.app</a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

  </div>

  <div class="cancel-button" *ngIf="cancelButton">
    <app-gradient-button class="ds-py-5"
      [size]="'editable'"
      [width]="'85px'"
      [fontWeight]="'normal'"
      [minHeight]="'30px'"
      [textColor]="'#7F879D'"
      [gradient]="'#F7F7F7, #F7F7F7'"
      [hoverColor]="'#F7F7F7'"
      (buttonClick)="cancel(studentInput)"
      [leftIcon]="'./assets/Cancel (Blue-Gray).svg'"
      [leftImageWidth]="'12px'"
      [leftImageHeight]="'12px'"
      [fontSize]="'14px'"
    >Cancel</app-gradient-button>
  </div>

  <div class="option-list" *ngIf="!chipsMode && list && selectedOptions.length">
    <div class="ds-dialog-heading option-list_header" *ngIf="displaySelectedTitle">
      <span>Selected</span>
    </div>
    <div class="option-list_scrollable" [style.max-height]="listMaxHeight">
      <div #cell *ngFor="let selectedOption of selectedOptions; let i = index" tabindex="0" class="option-list_item"
           (mouseenter)="changeColor(true, $event); cell.hovered = true"
           (mouseleave)="changeColor(false, $event); cell.hovered = false"
           [style.color]="textColor(cell)"
      >
        <span *ngIf="this.searchTarget === 'users'">
          {{selectedOption.display_name}} ({{selectedOption.primary_email ? selectedOption.primary_email.slice(0, selectedOption.primary_email.indexOf('@')) : selectedOption.email ? selectedOption.email.slice(0, selectedOption.email.indexOf('@')) : ''}})
        </span>
        <span *ngIf="this.searchTarget === 'orgunits'">
          {{selectedOption.path}}
        </span>
        <span *ngIf="searchTarget === 'rooms'">
          {{ selectedOption.title }}
        </span>

        <img
          (mousedown)="cell.pressed = true"
          (mouseup)="cell.pressed = false"
          (click)="selectedOptions.splice(i, 1); this.onUpdate.emit(this.selectedOptions)"
          [src]="cell.hovered ? './assets/Cancel (Navy).svg' : './assets/Mark (Navy).svg'" width="15" alt="Check.svg">
      </div>
    </div>
  </div>
</div>
