<div class="wrapper">
  <div class="left" #left>
    <div class="back">
      <app-round-button [icon]="'Chevron Left'"></app-round-button>
    </div>
    <div class="avatar-content">
      <div class="avatar">
        <div *ngIf="profile.profile_picture; else d" [ngStyle]="{'background': 'url(' + profile.profile_picture + ') no-repeat left center/cover', width: '92px', height: '92px'}"></div>
        <ng-template #d>
          <img width="88" height="88" [src]="'./assets/Avatar Default.svg' | resolveAsset" alt="Avatar">
        </ng-template>
      </div>
      <div class="student-name">{{ profile.display_name }}</div>
    </div>

    <div class="top-buttons">
      <app-round-button [icon]="'Notifications'"></app-round-button>
      <app-round-button style="margin-left: 13px" [icon]="'Dots'" (buttonClick)="openStudentSettings($event)"></app-round-button>
    </div>

    <div class="content">
      <div class="student-passes-info" *ngIf="!(loadingPassesStats$ | async); else fakeStats">
        <div class="card-info">
            <div class="title">{{ (passesStats$ | async)?.past_passes_today }}</div>
            <div class="subtitle">today</div>
        </div>
        <div class="card-info">
          <div class="title">{{ (passesStats$ | async)?.past_passes_week }}</div>
          <div class="subtitle">this week</div>
        </div>
        <div class="card-info">
          <div class="title">{{ (passesStats$ | async)?.past_passes_month }}</div>
          <div class="subtitle">this month</div>
        </div>
      </div>

      <ng-template #fakeStats>
        <div class="student-passes-info">
          <div class="fake-card-stats fake-animate" *ngFor="let card of [1, 1, 1]"></div>
        </div>
      </ng-template>

      <div class="forms">
        <div class="form">
          <div class="icon" style="background-color: #E32C66">
            <app-octagon [size]="20" [backgroundColor]="'#E32C66'">
              <img style="position: absolute; z-index: 10;" height="14px" [src]="'./assets/Walking One (White).svg' | resolveAsset" alt="">
            </app-octagon>
          </div>
          <div class="title">Encounter prevention</div>
        </div>
<!--        <div class="form">-->
<!--          <div class="icon" style="background-color: #E48C15">-->
<!--            <img width="13px" [src]="'./assets/Lock (White).svg' | resolveAsset" alt="">-->
<!--          </div>-->
<!--          <div class="title">Restrict all rooms</div>-->
<!--        </div>-->
<!--        <div class="form">-->
<!--          <div class="icon" style="background-color: #6651F1">-->
<!--            <img width="16px" [src]="'./assets/Pass Quota (White).svg' | resolveAsset" alt="">-->
<!--          </div>-->
<!--          <div class="title">Pass quota</div>-->
<!--        </div>-->

        <div class="form">
          <div class="form-content-container">
            <div class="form-content">
              <div class="title">Status</div>
              <div class="status-value">{{ profile.status }}</div>
            </div>
            <div class="form-content">
              <div class="title">Last active</div>
              <div class="value">Today at 10:34 AM</div>
            </div>
          </div>
        </div>

        <div class="form" style="flex-direction: column; align-items: flex-start">
          <div class="form-content">
            <div class="title">Email</div>
            <div class="value">{{ profile.primary_email }}</div>
          </div>
          <div class="form-content" [style.margin]="'20px 0'">
              <app-select-role
                [selectedRoles]="[{id: 1, role: 'Student', icon: './assets/Student (Navy).svg'}]"
                [isAccessAdd]="false"
                [cardsBackground]="'#FFFFFF'"
              ></app-select-role>
          </div>

          <div class="form-content">
            <div class="title">School</div>
            <div class="value">{{ school.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="header">
      <div class="buttons">
        <app-gradient-button
          [gradient]="'#FFFFFF, #FFFFFF'"
          [leftIcon]="'./assets/Calendar (Navy).svg'"
          [rightIcon]="'./assets/Rect (Navy).svg'"
          [size]="'medium'"
          [textColor]="'#1F195E'"
          (buttonClick)="openDateFilter($event)"
        >This school year</app-gradient-button>

        <app-square-button
          [backgroundColor]="'#edcbd9'"
          (buttonClick)="openReportForm()"
        >
          <img width="20" [src]="'./assets/Report (Red).svg' | resolveAsset">
        </app-square-button>

        <app-gradient-button
          [rightIcon]="'./assets/Plus (White).svg'"
          (buttonClick)="openCreatePassPopup($event)"
          [size]="'medium'"
        >Create pass</app-gradient-button>
      </div>
    </div>

    <div class="content">
      <div class="block">
        <app-overview-container
          [title]="'Overview'"
          [icon]="'./assets/Overview (Navy).svg'">
          <div class="info-cards" *ngIf="!(studentsStatsLoading$ | async); else fakeInfo">
            <div class="info-card">
              <div class="title">PASSES CREATED</div>
              <div class="value">{{ (studentStats$ | async)?.expired_passes.length + ' Passes' }}</div>
            </div>
            <div class="info-card">
              <div class="title">TIME SPENT OUT OF CLASS</div>
              <div class="value">{{ '1hr 13 min' }}</div>
            </div>
            <div class="info-card">
              <div class="title">PASSES OVER TIME LIMIT</div>
              <div class="value">{{ (studentStats$ | async)?.over_time_limit + ' Passes' }}</div>
            </div>
            <div class="info-card">
              <div class="title">PASSES AUTO-ENDED</div>
              <div class="value">{{ (studentStats$ | async)?.auto_ended + ' Pass' }}</div>
            </div>
          </div>

          <ng-template #fakeInfo>
            <div class="info-cards">
              <div class="fake-card fake-animate" *ngFor="let pass of [1, 1, 1, 1]"></div>
            </div>
          </ng-template>
        </app-overview-container>
      </div>
      <div class="block">
        <app-overview-container
          [title]="'Passes'"
          [icon]="'./assets/Passes (Navy).svg'">
          <div class="block-container">
            <div class="info-cards" *ngIf="!(studentsStatsLoading$ | async); else fakePasses">
              <ng-container *ngFor="let pass of (studentStats$ | async)?.expired_passes; let i = index">
                <app-pass-tile *ngIf="i <= 5"
                   [forFuture]="false"
                   [fromPast]="true"
                   [forStaff]="false"
                   [pass]="pass"
                   [profileImage]="false"
                   [isMiniCard]="true"
                ></app-pass-tile>
                <app-pass-tile *ngIf="(i > 5 && isFullScreenPasses)"
                   [forFuture]="false"
                   [fromPast]="true"
                   [forStaff]="false"
                   [pass]="pass"
                   [profileImage]="false"
                   [isMiniCard]="true"
                ></app-pass-tile>
              </ng-container>
            </div>

            <ng-template #fakePasses>
              <div class="info-cards">
                <div class="fake-pass fake-animate" *ngFor="let pass of [1, 1, 1, 1, 1, 1]"></div>
              </div>
            </ng-template>

            <app-gradient-button
              [style.margin-top]="'20px'"
              *ngIf="(studentStats$ | async)?.expired_passes.length > 6 && !(studentsStatsLoading$ | async)"
              [gradient]="'#FFFFFF, #FFFFFF'"
              [leftIcon]="isFullScreenPasses ? './assets/Chevron Up (Blue-Gray).svg' : './assets/Chevron Down (Blue-Gray).svg'"
              [textColor]="'#7f879d'"
              (buttonClick)="isFullScreenPasses = !isFullScreenPasses"
            >{{ isFullScreenPasses ? 'Collapse' : 'See all ' + (studentStats$ | async)?.expired_passes.length + ' passes' }}
            </app-gradient-button>
          </div>
        </app-overview-container>
      </div>
      <div class="block">
        <app-overview-container
          [title]="'Reports'"
          [icon]="'./assets/Report (Navy).svg'">

          <div class="info-cards">
            <div class="report" *ngFor="let report of (studentStats$ | async)?.reports">
              <div class="date">{{ getDate(report.created) }}</div>
              <div class="description">{{ report.message }}</div>
            </div>
          </div>
        </app-overview-container>
      </div>
    </div>
<!--    <div class="feedback-button">-->
<!--      <app-feedback-button></app-feedback-button>-->
<!--    </div>-->
  </div>
</div>
