.wrapper {
  width: 129px;
  height: 24px;
  background-color: #7f879d;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
}
