<div class="from-footer" [style.height]="!showFullFooter ? '43px' : '89px'">
    <div class="footer-from-teacher-text">
      <div class="default-footer" *ngIf="!showFullFooter">
        <div class="default-text">
          Expand Pass Details
        </div>
        <img class="arrow-icon" [src]="'./assets/icon-arrow-open.png' | resolveAsset" (click)="showFullFooter = true">
      </div>
      <div class="new-footer" *ngIf="showFullFooter">
        <div class="top" *ngIf="date">
          {{ date }}
        </div>
        <div class="center">
          <div class="center-text">
            <div class="footer-text" [style.font-weight]="(!fromLocation ? 'bold' : 'normal')">{{ fromLocationText }}</div>
            <img class="footer-icon" [src]="'./assets/Arrows_long_right.png' | resolveAsset">
            <div class="footer-text" [style.font-weight]="(!toLocation && state !== 'from' ? 'bold' : 'normal')">{{ toLocationText }}</div>
          </div>
          <img class="arrow-icon" [src]="'./assets/icon-arrow-close.png' | resolveAsset" (click)="showFullFooter = false">
        </div>
        <div class="bottom" *ngIf="showFullFooter && studentText">
          {{ studentText }}
        </div>
      </div>
    </div>
</div>

