<div class="to-wrapper">
  <div class="to-header">
    <img class="back-button" [src]="'./assets/Back Button (Grey).png' | resolveAsset" (click)="back()">
    <div class="to-header-text">
      <img class="search-icon" [src]="'./assets/Search (Grey).png' | resolveAsset">
      <div class="text">To where?</div>
    </div>
  </div>

  <div class="to-content">
    <div class="pin-collection">
      <mat-grid-list class="grid center" cols="3" rowHeight="75px" gutterSize="10px" [style.width]="'395px'">
        <mat-grid-tile *ngFor="let pinnable of pinnables | async">
          <app-pinnable [valid]="(pinnable.location ? pinnable.location.id !== location.id : true)" [forStaff]="isStaff" [forLater]="!!date" [pinnable]="pinnable" (onSelectEvent)="pinnableSelected($event)"></app-pinnable>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="to-footer" [style.height]="date ? '65px' : '43px'" *ngIf="!isStaff">
    <div class="footer-from-text">
      <div class="date" [style.color]="'#1F195E'" *ngIf="date">{{ date }}</div>
      <div class="center-text">
        <div class="footer-text">{{ location.title }}</div>
        <img class="footer-icon" [src]="'./assets/Arrows_long_right.png' | resolveAsset">
        <div class="footer-text" [style.font-weight]="'bold'">Destination</div>
      </div>
    </div>
  </div>

  <app-teacher-footer [fromLocation]="location" *ngIf="isStaff" [date]="date" [students]="students"></app-teacher-footer>

</div>
