<mat-card class="dialog">
  <mat-card-header style="border-bottom: 1px solid #ccc">
    <div class="flex-center-center py" [style.width]="'100%'">
      <div class="pr mr">
        <img src="assets/google/google_logo.svg" alt="google-icon" width="44" height="44">
      </div>
      <div>
        <p class="card_header">Manage G Suite Integration</p>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-content flex-start-between">
    <div class="card-content_left">
      <p>
        New User Rules
      </p>
      <p>
        If you import or add new user accounts on G Suite, we'll create a profile for them automatically based on the rules set up.
      </p>
    </div>
    <div class="card-content_right">
      <div mat-calendar-body="pb mb">
        <div class="flex-center-center pb mb">
          <div [style.width]="'217px'">
            <app-gradient-button [gradient]="'#022F68, #2F66AB'" [minHeight]="'28px'">
              <span style="font-weight: normal; font-size: 16px">Manually <span style="color: #0C46A2">Sync</span></span>
            </app-gradient-button>
          </div>
        </div>
        <p>
          Update your imported users' details in G Suite - we'll sync these changes for you on our end every 4 hours.
        </p>
      </div>
      <time>
        Last Sync: Today, 9:34 AM
      </time>
    </div>
  </mat-card-content>
</mat-card>
