@import '../../sp-colors';

.wrapper {
  width: 116px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .title {
    color: $navy500;
    font-size: 14px;
    font-weight: 500;
    margin-left: 12px;
  }
}
