.options-wrapper {


  .options-header {
    cursor: pointer;
    .header-text{
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: bold;
      color: #1F195E;
      padding: 10px 0px 10px 0px;
      margin: 0 25px;


      .open-arrow {
        width: 20px;
        height: 20px;
        margin-left: 15px;
      }
    }
  }

  .options-content {
    padding: 10px;
    margin: 0 25px;

    .content-header {
      display: flex;
      align-items: center;

      .text {
        font-size: 14px;
        color: #1F195E;
        font-weight: bold;
      }

      .support-icon {
        width: 20px;
        height: 20px;
        cursor: help;
        margin-left: 7px;
      }
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .now-block {
        width: 400px;
      }

      .future-block {
        width: 400px;
      }

      .unrestricted {
        color: #7F879D;
        font-size: 15px;
      }

      .restriction-toggle {
        margin-top: 20px;

        .title {
          margin-bottom: 10px;
          color: #1d1a5e;
          font-size: 17px;
          font-weight: bold;
        }
      }

      .options {
        padding-top: 10px;
        font-size: 15px;
        .default {
          color: #7F879D;
        }

        .any-teacher {
          color: #7F879D;
        }

        .all-teacher {
          display: flex;
          align-items: center;
          color: #7F879D;
        }

        .certain-teacher {
          .title {
            color: #7F879D;
            margin-bottom: 10px;
          }
        }
      }
    }

    .future-restriction-toggle {
      margin-top: 20px;

      .title {
        margin-bottom: 10px;
        color: #1d1a5e;
        font-size: 17px;
      }
    }
  }
}
