<div class="host">
<!--  <app-ios-calendar (selectedEvent)="test($event)"></app-ios-calendar>-->
<!--  <app-date-time style="border: 1px solid green; border-radius: 14px" [isStaff]="true" [mock]="true"></app-date-time>-->
  <div class="school-signin" *ngIf="true">
    <div [style.margin-right]="'80px'">
      <img [src]="'./assets/School-sign-in.svg'" alt="School-sign-in.svg">
    </div>
    <div [style.width]="'550px'" [style.min-width]="'550px'" [style.height]="'550px'" [style.padding-right]="'100px'">
      <div>
        <div *ngIf="!school" class="school-signin_big-title">
          Sign up your school <br>
          in minutes
        </div>
        <div *ngIf="school" class="school-signin_big-title">
          Let’s get started,<br>
          {{school.structured_formatting.main_text}}
        </div>
        <div class="school-input" *ngIf="!school">
          <div *ngIf="!(pending$ | async)" class="school-input_step-number">
            1
          </div>
          <div *ngIf="(pending$ | async)" class="loading-theme_blue-gray spinner">
            <mat-spinner [diameter]="50" [color]="'accent'"></mat-spinner>
          </div>
          <div class="ds-w-100 ds-ml-15 school-input_field">
            <div>
              <span class="school-input_title">
                Select your school
              </span>
            </div>
            <app-sp-search
              [height]="'40px'"
              [searchTarget]="'schools'"
              [selectedOptions]="[]"
              [chipsMode]="false"
              [focused]="true"
              [role]="'_profile_teacher'"
              [dummyRoleText]="'teachers'"
              [rollUpAfterSelection]="true"
              [cancelButton]="false"
              [placeholder]="'Search schools'"
              (onUpdate)="checkSchool($event)"
            ></app-sp-search>
          </div>
        </div>
        <div class="school-input" [style.opacity]="school ? 1 : .4">
          <div class="school-input_step-number">
            2
          </div>
          <div class="ds-w-100 ds-ml-15 school-input_field" [style.justify-content]="school ? 'center' : 'initial'">
            <div>
              <span class="school-input_title">
                Create your account
              </span>
            </div>
            <div *ngIf="!school" class="ds-mt-15" style="white-space: nowrap">
              This just creates your individual administrator account. We’ll add <br>
              the rest of your school’s accounts through G Suite Sync later.
            </div>
          </div>
        </div>
        <div *ngIf="school" class="ds-flex-center-center ds-flex-column">
          <div class="create-account-form">
            <app-input
              class="ds-mt-10"
              [width]="'183px'"
              [height]="'35px'"
              [formGroup]="schoolForm"
              [controlName]="schoolForm.get('firstName')"
              [input_value]="schoolForm.get('firstName').value"
              [input_label]="'First name'"
            ></app-input>
            <app-input
              class="ds-mt-10"
              [width]="'183px'"
              [height]="'35px'"
              [formGroup]="schoolForm"
              [controlName]="schoolForm.get('lastName')"
              [input_value]="schoolForm.get('lastName').value"
              [input_label]="'Last name'"
            ></app-input>
            <app-input
              class="ds-mt-15"
              [width]="'183px'"
              [height]="'35px'"
              [formGroup]="schoolForm"
              [controlName]="schoolForm.get('schoolEmail')"
              [input_value]="schoolForm.get('schoolEmail').value"
              [input_label]="'School email'"
            ></app-input>
            <app-input
              class="ds-mt-15"
              [width]="'183px'"
              [height]="'35px'"
              [formGroup]="schoolForm"
              [controlName]="schoolForm.get('password')"
              [input_value]="schoolForm.get('password').value"
              [input_label]="'Password'"
            ></app-input>
            <div class="ds-w-100 ds-flex-center-center ds-mt-5">
              <app-gradient-button
                [size]="'small'"
                [gradient]="'#FFFFFF, #00B476'"
                [fontWeight]="'normal'"
                [rightIcon]="'./assets/Chevron Right (White).svg'"
              >
                <span style="font-weight: normal;">
                  Sign up
                </span>
              </app-gradient-button>
            </div>
          </div>
          <div class="ds-flex-center-center ds-my-15" style="color: #E32C66;" *ngIf="showError.error">
            <div style="text-align: center;">
              <span>Oops! Please make sure to you are a G Suite</span><br>
              <span><strong>administrator</strong> to be able to sync users.</span>
            </div>
          </div>
          <div style="text-align: center; color: #ABB4CD; font-size: 13px; max-width: 465px; margin-left: 25px;">
            By proceeding to sign up your school and use SmartPass, you and your school users are agreeing to our
            <a class="ds-link-text" href="https://www.smartpass.app/terms"><strong>Terms of Service</strong></a> and
            <a class="ds-link-text" href="https://www.smartpass.app/privacy"><strong>Privacy Policy</strong></a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
