<div class="host">
<!--  <div style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">-->
<!--    <div style="width: 100px; height: 15px; background-color: red;" contenteditable></div>-->
<!--&lt;!&ndash;    <app-ios-calendar (selectedEvent)="test($event)"></app-ios-calendar>&ndash;&gt;-->
<!--  </div>-->
  <div class="school-signin" *ngIf="true">
    <div [style.margin-right]="'80px'">
      <img [src]="'./assets/School-sign-in.svg'" alt="School-sign-in.svg">
    </div>
    <div [style.width]="'550px'" [style.height]="'550px'" [style.padding-right]="'100px'">
      <div>
        <div *ngIf="!school" class="school-signin_big-title">
          Sign up your school <br>
          in minutes
        </div>
        <div *ngIf="school" class="school-signin_big-title">
          Let’s get started,<br>
          {{school.structured_formatting.main_text}}
        </div>
        <div class="school-input" *ngIf="!school">
          <div *ngIf="!(pending$ | async)" class="school-input_step-number">
            1
          </div>
          <div *ngIf="(pending$ | async)" class="loading-theme_blue-gray spinner">
            <mat-spinner [diameter]="50" [color]="'accent'"></mat-spinner>
          </div>
          <div class="ds-w-100 ds-ml-15 school-input_field">
            <div>
              <span class="school-input_title">
                Select your school
              </span>
            </div>
            <app-sp-search
              [style.transform]="'scale(1.1)'"
              [searchTarget]="'schools'"
              [selectedOptions]="[]"
              [chipsMode]="false"
              [focused]="true"
              [role]="'_profile_teacher'"
              [dummyRoleText]="'teachers'"
              [rollUpAfterSelection]="true"
              [cancelButton]="false"
              [placeholder]="'Search schools'"
              (onUpdate)="checkSchool($event)"
            ></app-sp-search>
          </div>
        </div>
        <div class="school-input" [style.opacity]="school ? 1 : .4">
          <div class="school-input_step-number">
            2
          </div>
          <div class="ds-w-100 ds-ml-15 school-input_field">
            <div>
              <span class="school-input_title">
                Sign up with Google
              </span>
            </div>
            <div class="ds-mt-15" style="white-space: nowrap">
              This just creates your individual administrator account. We’ll add <br>
              the rest of your school’s accounts through G Suite Sync later.
            </div>
          </div>
        </div>
        <div *ngIf="school" class="ds-flex-center-center ds-flex-column">
          <div class="login-button" [style.margin]="'50px auto 100px auto'">
            <div style="border-radius: 6px; box-shadow: 0 0 5px 2px rgba(0, 0, 0, .05)">
              <app-gradient-button
                [size]="'xl'"
                [gradient]="'#FFFFFF, #FFFFFF'"
                [withShadow]="true"
                [cursor]="'pointer'"
                [hoverColor]="'#F1F1F1'"
                [minWidth]="'300px'"
                [minHeight]="'100px'"
                [fontSize]="'22px'"
                (buttonClick)="createSchool()"
                [leftIcon]="(pending$ | async) ? null : './assets/google/google_logo.svg'"
                [textColor]="'#666666'"
                [leftImageWidth]="'40px'"
                [leftImageHeight]="'40px'"
              >
                <div *ngIf="!(pending$ | async)">
                  <span>Sign in with Google</span>
                </div>
                <div style="width: 240px; display: flex; justify-content: center" *ngIf="(pending$ | async)" class="loading-theme_white">
                  <mat-spinner [diameter]="35"></mat-spinner>
                </div>
              </app-gradient-button>
            </div>
          </div>
          <div class="ds-flex-center-center ds-my-15" style="color: #E32C66;" *ngIf="showError.error">
            <div style="text-align: center;">
              <span>Oops! Please make sure to you are a G Suite</span><br>
              <span><strong>administrator</strong> to be able to sync users.</span>
            </div>
          </div>
          <div style="text-align: center; color: #ABB4CD;">
            By proceeding to sign up your school and use SmartPass, you and your school users are agreeing to our
            <a class="ds-link-text" href="https://www.smartpass.app/terms"><strong>Terms of Service</strong></a> and
            <a class="ds-link-text" href="https://www.smartpass.app/privacy"><strong>Privacy Policy</strong></a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
