@import '../../design-system';
@import '../../sp-colors';

:host {
  width: 100vw;
  height: 100vh;
  .host {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    overflow: hidden;
    //align-items: center;

    .moving-tiles {
      position: absolute;
      z-index: 0;
      top: 400px;
      display: flex;
      width: 100%;
      overflow: hidden;
      .frame {
        transform: translateX(0px);
        display: flex;
        animation: moving 25s cubic-bezier(0, 0, 0, 0) infinite;
      }
      @keyframes moving {
        0% {
          transform: translateX(0px);
        }
        100%  {
          transform: translateX(-1364px);
        }
      }
    }
    .background {
      position: absolute;
      z-index: auto;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: contain;
      right: 0;
      top: 0;
    }
    .school-signin {
      //margin-top: 120px;
      width: 100%;
      height: 100%;
      //height: 475px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      color: $blue-gray;
      position: relative;
      z-index: auto;
      .logo {
        @extend .ds-flex-start-end;
        @extend .ds-h-100;
        background-color: #FBFEFF;
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        box-shadow: 0px 0px 45px 55px #FBFEFF;
        margin: 30px 0px 0px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .sides-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        .sides {

        }
      }
      .left-side {
        @extend .ds-h-100;
        @extend .ds-flex-start-start;
        @extend .ds-flex-column;
        min-width: 480px;
        padding-top: 120px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
      }

      .right-side {
        flex: 1 1 auto;
        align-self: center;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        width: 550px;
        min-width: 550px;
        //height: 550px;
        padding-top: 120px;
        padding-right:100px;
        padding-left: 65px;
      }
      &_big-title {
        @extend .ds-flex-start-start;
        @extend .ds-flex-column;
        color: $navy;
        font-size: 55px;
        font-weight: bold;
        white-space: nowrap;
      }
      &_sub-title {
        text-align: left;
      }
      .school-input {
        display: flex;
        justify-content: space-between;
        //margin-top: 50px;
        position: relative;
        .spinner {
          @extend .ds-flex-center-center;
          position: absolute;
          z-index: 10;
          top: 25px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, .5);
        }
        &_field {
          display: flex;
          flex-direction: column;
          min-height: 80px;
        }
        &_title {
          //color: $navy;
          font-size: 15px;
          font-weight: bold;
        }
        .selected-school {
          @extend .ds-flex-center-start;
          width: 276px;
          height: 42px;
          border-radius: 50px;
          background-color: #F7F7F7;
          margin-top: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          img:first-of-type {
            margin: 0px 10px 0px 17px;
          }
        }
      }
      .create-account-form {
        width: 325px;
        height: 475px;
        box-sizing: border-box;
        padding: 35px 25px;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 12px;
        //margin: 20px auto 40px 60px;
        box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .06);
      }
      .links {
        align-self: flex-start;
        text-align: center;
        color: #ABB4CD;
        font-size: 13px;
        max-width: 465px;
        margin-left: 25px;
        position: relative;
        top: -20px;
        position: relative;
        z-index: 1;
      }
    }

    @media all and (max-width: 1366px) {
      .background {
        background-position: 150% 0%;
      }
      .school-signin {
        //justify-content: flex-end;
        //flex-direction: column;
      }
    }
    @media all and (max-width: 1024px) {
      .background {
        display: none;
      }
      .school-signin {
        .logo {
          flex: 0;
          height: auto;
          position: absolute;
          top: 0px;
          left: 0px;
        }
        .sides-container {
          align-items: center;
        }
        .sides {
          flex-direction: column;
        }
        .left-side {
          padding-top: 100px;
          align-items: center;
        }
        .right-side {
          padding-top: 65px;
          padding-right: 65px;
          display: flex;
          justify-content: center;
        }
        &_big-title {
          flex-direction: row;
          font-size: 31px;
          margin-bottom: 10px;
        }
        &_sub-title {
          text-align: center;
        }
        .links {
          top: 45px;
          margin: 0;
          align-self: center;
        }
      }
    }

  }
}
