.settings-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 400px;
    margin: 40px auto 0;
}

.settings-header{
    font-family: 'Helvetica Neue', sans-serif;
    color: #3D396B;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 15px;
}