<div class="settings-wrapper" (scroll)="$event.stopPropagation()"  *ngIf="data || dataSideNav" [style.background-color]="darkTheme.getBackground('high', true)">
  <div class="top-arrow-container"
       appCrossPointerEventTarget
       (pointerClickEvent)="dialogRef.close()"
  >
    <div class="top-arrow" [style.background-color]="darkTheme.getBackground('high', true)"></div>
  </div>
  <div class="title" [ngStyle]="{'color': darkTheme.isEnabled$.value ? '#FFFFFF' : '#1F195E'}">Settings</div>
  <div class="settings-content">
    <div class="profile-switch" *ngIf="kioskMode.currentRoom$ | async">
      <div class="option"
           (mouseenter)="hoveredMasterOption = true"
           (mouseleave)="hoveredMasterOption = false"
           [style.background-color]="hoveredMasterOption ? 'rgb(228, 235, 255)' : 'transparent'"
           appCrossPointerEventTarget
           (pointerClickEvent)="hoveredMasterOption = false; signOutAction()"
           (pointerDownEvent)="hoveredMasterOption = true"
           (pointerCancelEvent)="hoveredMasterOption = false;"

      >
        <img class="switch-icon" [src]="getIcon('Tablet', null,  hoveredMasterOption) | resolveAsset">
        <div class="option-title" [style.color]="getColor(null, hoveredMasterOption)">Exit Kiosk Mode</div>
        <img class="arrow-icon" [src]="getIcon('Chevron Right', null,  hoveredMasterOption) | resolveAsset">
      </div>

      <mat-divider class="divider"></mat-divider>
    </div>

    <div class="profile-switch" *ngIf="isSwitch">
      <div class="option"
           (mouseenter)="hoveredMasterOption = true"
           (mouseleave)="hoveredMasterOption = false"
           [style.background-color]="hoveredMasterOption ? 'rgb(228, 235, 255)' : 'transparent'"
           appCrossPointerEventTarget
           (pointerClickEvent)="hoveredMasterOption = false; switchAction()"
           (pointerDownEvent)="hoveredMasterOption = true"
           (pointerCancelEvent)="hoveredMasterOption = false;"
      >
        <img class="switch-icon" [src]="getIcon('Profile Switch', null,  hoveredMasterOption) | resolveAsset">
        <div class="option-title" [style.color]="getColor(null, hoveredMasterOption)">Admin View</div>
        <img class="arrow-icon" [src]="getIcon('Chevron Right', null,  hoveredMasterOption) | resolveAsset">
      </div>

      <mat-divider class="divider"></mat-divider>
    </div>

    <div class="setting" *ngFor="let setting of settings; let i = index">
      <div *ngIf="!setting.hidden">
        <div class="content"
             appCrossPointerEventTarget
             (pointerClickEvent)="handleAction(setting); hovered = false"
             (pointerDownEvent)="onHover(setting.background)"
             (pointerCancelEvent)="hovered = false;"
             (mouseenter)="onHover(setting.background)"
             (mouseleave)="hovered = false"
             [style.background]="
              hovered && hoveredColor === setting.background
              ?
                i === 2
                  ?
                  (darkTheme.isEnabled$.value
                    ?
                      'rgb(228, 235, 255)' : setting.background)
                        : setting.background: 'none'"
        >
          <img class="setting-icon"
               [title]="setting.tooltip"
               [src]="i === 2
                ? (darkTheme.isEnabled$.value && (hovered && hoveredColor === setting.background)
                  ? './assets/Glasses (Navy).svg'
                    : getIcon(setting.icon, setting, hovered, hoveredColor))
                      : (getIcon(setting.icon, setting, hovered, hoveredColor)) | resolveAsset" alt="SET">
          <div class="setting-title"
               [style.color]="i === 2 ? (darkTheme.isEnabled$.value && (hovered && hoveredColor === setting.background) ? '#1F195E' : getColor(setting, hovered, hoveredColor)) : (getColor(setting, hovered, hoveredColor))"
          > {{setting.title}} </div>
        </div>
        <mat-divider class="divider"
                     [style.border-top-color]="darkTheme.isEnabled$.value ? 'rgba(255, 255, 255, .12)' : 'rgba(0, 0, 0, .12)'"
                     *ngIf="i === 3 || i === 6 || (i === 2 && !!this.kioskMode.currentRoom$.value)">
        </mat-divider>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="sign-out"
         [style.background-color]="hoveredSignout ? 'rgb(228, 235, 255)' : 'transparent'"
         [style.color]="getColor(null, hoveredSignout)"
         (mouseenter)="hoveredSignout = true"
         (mouseleave)="hoveredSignout = false"

         appCrossPointerEventTarget
         (pointerClickEvent)="hoveredSignout = false; signOutAction()"
         (pointerDownEvent)="hoveredSignout = true"
         (pointerCancelEvent)="hoveredSignout = false;"
    >Sign out</div>
    <div class="options" [style.color]="getColor(null, null)">
      <span class="option"
            appCrossPointerEventTarget
            (pointerClickEvent)="openLink('privacy')"
      >Privacy</span>
      <span class="option"
            appCrossPointerEventTarget
            (pointerClickEvent)="openLink('terms')"
      >Terms</span>
    </div>
  </div>
</div>
