
<div class="settings-wrapper">
  <div class="top-arrow-container">
    <div class="top-arrow"></div>
  </div>
  <div class="title">Settings</div>
  <div class="settings-content">
    <div class="profile-switch" *ngIf="isSwitch">
      <div class="option"
           (mouseenter)="hoveredPofile = true"
           (mouseleave)="hoveredPofile = false"
           [style.background-color]="hoveredPofile ? 'rgb(228, 235, 255)' : 'white'"
           (click)="dialogRef.close('switch')"
      >
        <img class="switch-icon" [src]="'./assets/Profile Switch (' + (hoveredPofile ? 'Navy' : 'Blue-Gray') + ').svg'| resolveAsset">
        <div class="option-title" [style.color]="hoveredPofile ? '#1F195E' : '#7F879D'">Administrator View</div>
        <img class="arrow-icon" [src]="'./assets/Chevron Right (' + (hoveredPofile ? 'Navy' : 'Blue-Gray') + ').svg' | resolveAsset">
      </div>
      <div class="option"
           (mouseenter)="hoveredTheme = true"
           (mouseleave)="hoveredTheme = false"
           [style.background-color]="hoveredTheme ? 'rgb(228, 235, 255)' : 'white'"
           (click)="darkTheme.switchTheme()"
      >

        <img class="switch-icon" [src]="'./assets/Moon (' + (hoveredTheme ? 'Navy' : 'Blue-Gray') + ').svg'| resolveAsset">
        <div class="option-title" [style.color]="hoveredTheme ? '#1F195E' : '#7F879D'">Dark Theme</div>

      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="setting"
         *ngFor="let setting of settings; let i = index"
         (click)="dialogRef.close(setting.action)"
    >
      <div class="content"
           (mouseenter)="onHover(setting.color_profile)"
           (mouseleave)="hovered = false"
           [style.background]="hovered && hoveredColor === setting.color_profile ? 'radial-gradient(circle at 73% 71%,' + setting.color_profile + ')' : 'none'"
      >
        <img class="setting-icon"
             [src]="hovered && hoveredColor === setting.color_profile ? setting.hover_icon : setting.icon | resolveAsset" alt="SET">
        <div class="setting-title"
             [style.color]="hovered && hoveredColor === setting.color_profile ? '#EFEFEF' : '#7F879D'"
        > {{setting.title }} </div>
      </div>
      <mat-divider class="divider" *ngIf="i === 2 || i === 5"></mat-divider>
    </div>
  </div>
  <div class="footer">
    <div class="sign-out" (click)="dialogRef.close('signout')">Sign out</div>
    <div class="options">
      <span class="version">Version 1.2</span>
      <span class="privacy ds-small-link-text" (click)="dialogRef.close('privacy')">Privacy & Terms</span>
    </div>
  </div>
</div>
