
<div class="settings-wrapper" *ngIf="data" [style.background-color]="darkTheme.getBackground('low')">
  <div class="top-arrow-container">
    <div class="top-arrow" [style.background-color]="darkTheme.getBackground('low')"></div>
  </div>
  <div class="title" [ngStyle]="{'color': darkTheme.isEnabled$.value ? '#FFFFFF' : '#1F195E'}">Settings</div>
  <div class="settings-content">
    <div class="profile-switch">
      <div class="option"  *ngIf="isSwitch"
           (mouseenter)="hoveredProfile = true"
           (mouseleave)="hoveredProfile = false"
           [style.background-color]="hoveredProfile ? 'rgb(228, 235, 255)' : 'transparent'"
           (click)="dialogRef.close('switch')"
      >
        <img class="switch-icon" [src]="getIcon('Profile Switch', null,  hoveredProfile) | resolveAsset">
        <div class="option-title" [style.color]="getColor(null, hoveredProfile)">Administrator View</div>
        <img class="arrow-icon" [src]="getIcon('Chevron Right', null,  hoveredProfile) | resolveAsset">
      </div>
      <div class="option"
           (mouseenter)="hoveredTheme = true"
           (mouseleave)="hoveredTheme = false"
           [style.background-color]="hoveredTheme ? 'rgb(228, 235, 255)' : 'transparent'"
           (click)="darkTheme.switchTheme(); data.darkBackground = !data.darkBackground"
      >

        <img class="switch-icon" [src]="getIcon('Moon', null, hoveredTheme) | resolveAsset">
        <div class="option-title" [style.color]="getColor(null, hoveredTheme)">
          <span *ngIf="darkTheme.isEnabled$.value; else dark">Light Theme</span>
          <ng-template #dark>
            <span>Dark Theme</span>
          </ng-template>
        </div>

      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="setting"
         *ngFor="let setting of settings; let i = index"
         (click)="dialogRef.close(setting.action)"
    >
      <div class="content"
           (mouseenter)="onHover(setting.color_profile)"
           (mouseleave)="hovered = false"
           [style.background]="hovered && hoveredColor === setting.color_profile ? 'radial-gradient(circle at 73% 71%,' + setting.color_profile + ')' : 'none'"
      >
        <img class="setting-icon"
             [src]="getIcon(setting.icon, setting, hovered, hoveredColor) | resolveAsset" alt="SET">
        <div class="setting-title"
             [style.color]="getColor(setting, hovered, hoveredColor)"
        > {{setting.title }} </div>
      </div>
      <mat-divider class="divider" *ngIf="i === 2 || i === 5"></mat-divider>
    </div>
  </div>
  <div class="footer">
    <div class="sign-out"
         [style.background-color]="hoveredSignout ? 'rgb(228, 235, 255)' : 'transparent'"
         [style.color]="getColor(null, hoveredSignout)"
         (mouseenter)="hoveredSignout = true"
         (mouseleave)="hoveredSignout = false"
         (click)="dialogRef.close('signout')">Sign out</div>
    <div class="options" [style.color]="getColor(null, null)">
      <span class="version">Version 1.2</span>
      <span class="privacy" (click)="dialogRef.close('privacy')">Privacy & Terms</span>
    </div>
  </div>
</div>
