<div class="wrapper">
  <table class="table-wrapper" [style.height]="height">
      <thead>
        <tr class="header">
          <th class="checkbox">
            <mat-checkbox></mat-checkbox>
          </th>
          <th *ngFor="let column of displayedColumns | keyvalue: disableSortColumns">
            <span [innerHTML]="column.value.title"></span>
          </th>
        </tr>
      </thead>

      <tbody>
      <cdk-virtual-scroll-viewport itemSize="33" class="table-viewport">
        <tr *cdkVirtualFor="let row of data | async | keyvalue: disableSortColumns">
          <td class="row-checkbox">
            <mat-checkbox></mat-checkbox>
          </td>
          <td class="row-content" (click)="columnClick(row.value[column.value.field])" *ngFor="let column of displayedColumns | keyvalue: disableSortColumns; let i = index">
            <span *ngIf="column.value.field === 'icon'">
              <div class="pass" [style.background]="getGradient(row.value.gradient_color)" [innerHTML]="generateColumnData(row.value[column.value.field], column.value.field, element)"></div>
            </span>
            <span #element [innerHTML]="generateColumnData(row.value[column.value.field], column.value.field, element)"></span>
          </td>
        </tr>
      </cdk-virtual-scroll-viewport>
      </tbody>

  </table>
</div>
